[2019-04-16 20:35] whedon opened #1 "[PRE REVIEW]: Arfon's test submission"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="http://github.com/arfon/fidgit" target ="_blank">http://github.com/arfon/fidgit</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to jcon @arfon. The jcon editor @arfon, will work with you on this issue to

[2019-04-16 20:35] whedon commented on #1
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@arfon) to find some reviewers for your

[2019-04-16 20:35] whedon commented on #1
[code]

[2019-04-16 20:35] whedon commented on #1
PDF failed to compile for issue #1 with the following error:

   % Total    % Received % Xferd  Average Speed   Time    Time     Time  Current
                                 Dload  Upload   Total   Spent    Left  Speed

  0     0    0     0    0     0      0      0 --:--:-- --:--:-- --:--:--     0
100    13    0    13    0     0     35      0 --:--:-- --:--:-- --:--:--    35
Error producing PDF.

[2019-04-16 20:35] arfon commented on #1
@whedon commands

[2019-04-16 20:35] whedon commented on #1
Here are some things you can ask me to do:

[code]

[2019-04-16 20:36] arfon commented on #1
@whedon list editors

[2019-04-16 20:36] whedon commented on #1
Current editors:

[code]

[2019-04-16 20:39] arfon commented on #1
@whedon list editors

[2019-04-16 20:39] whedon commented on #1
Current editors:

[code]

[2019-04-19 19:05] arfon commented on #1
@whedon commands

[2019-04-19 19:06] arfon commented on #1
@whedon commands

[2019-04-19 19:06] whedon commented on #1
Here are some things you can ask me to do:

[code]

[2019-04-19 19:16] arfon commented on #1
@whedon generate pdf from branch latex

[2019-04-19 19:16] whedon commented on #1
[code]

[2019-04-19 19:16] whedon commented on #1
PDF failed to compile for issue #1 with the following error:

 rm: cannot remove '*.aux': No such file or directory
sh: 1: latexmk: not found
Looks like we failed to compile the PDF

[2019-04-19 19:25] arfon commented on #1
@whedon generate pdf from branch latex

[2019-04-19 19:25] whedon commented on #1
[code]

[2019-04-19 19:25] whedon commented on #1
PDF failed to compile for issue #1 with the following error:

 Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------------
------------
Running 'pdflatex  -recorder  "pap

[2019-04-19 19:31] arfon commented on #1
@whedon generate pdf from branch latex

[2019-04-19 19:31] whedon commented on #1
[code]

[2019-04-20 01:59] arfon commented on #1
@whedon generate pdf from branch latex

[2019-04-20 01:59] whedon commented on #1
[code]

[2019-04-20 02:03] whedon commented on #1
Downloading of the repository for issue #1 failed with the following error:

 Cloning into 'tmp/1'...
warning: redirecting to https://github.com/arfon/fidgit/

[2019-04-20 02:16] arfon commented on #1
@whedon generate pdf from branch latex

[2019-04-20 02:16] whedon commented on #1
[code]

[2019-04-20 02:16] whedon commented on #1
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00001/jcon.00001/10.21105.jcon.00001.pdf)

[2019-04-20 02:17] arfon commented on #1
@whedon commands

[2019-04-20 02:17] whedon commented on #1
Here are some things you can ask me to do:

[code]

[2019-04-20 02:36] arfon commented on #1
@whedon check references

[2019-04-20 02:36] whedon commented on #1
[code]

[2019-04-20 02:42] arfon commented on #1
@whedon check references

[2019-04-20 02:42] whedon commented on #1
[code]

[2019-04-20 02:43] arfon commented on #1
@whedon check references

[2019-04-20 02:44] whedon commented on #1
[code]

[2019-04-20 02:45] arfon commented on #1
@whedon check references

[2019-04-20 02:45] whedon commented on #1
[code]

[2019-04-20 02:54] arfon commented on #1
@whedon check references

[2019-04-20 02:54] whedon commented on #1
[code]

[2019-04-20 02:56] arfon commented on #1
@whedon check references

[2019-04-20 02:56] whedon commented on #1
[code]

[2019-04-20 03:06] arfon commented on #1
@whedon check references

[2019-04-20 03:06] whedon commented on #1
[code]

[2019-04-20 03:20] arfon commented on #1
@whedon check references

[2019-04-20 03:20] whedon commented on #1
[code]

[2019-04-20 03:28] whedon commented on #1
[code]

[2019-04-20 03:31] arfon commented on #1
@whedon generate pdf from branch latex

[2019-04-20 03:31] whedon commented on #1
[code]

[2019-04-20 03:31] whedon commented on #1
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00001/jcon.00001/10.21105.jcon.00001.pdf)

[2019-04-20 03:32] whedon commented on #1
[code]

[2019-04-20 03:44] whedon commented on #1
[code]

[2019-04-21 15:51] vchuravy commented on #1
Whoo!

[2019-04-24 01:14] whedon opened #2 "[PRE REVIEW]: JuliaCon submission"
**Submitting author:** @matbesancon (<a href="http://orcid.org/0000-0002-6284-3033">Mathieu Besançon</a>)
**Repository:** <a href="https://github.com/matbesancon/JuliaConSubmission.jl" target ="_blank">https://github.com/matbesancon/JuliaConSubmission.jl</a>
**Version:** v0.1.0
**Editor:** Pending
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JuliaCon @matbesa

[2019-04-24 01:14] whedon commented on #2
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-04-24 01:14] whedon commented on #2
[code]

[2019-04-24 01:14] whedon commented on #2
PDF failed to compile for issue #2 with the following error:

 /app/vendor/bundle/ruby/2.5.0/bundler/gems/whedon-0a2cd51df451/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.5.0/bundler/gems/whedon-0a2cd51df451/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.5.0/bundler/gems/whedon-0a2cd51df451/

[2019-04-24 01:18] whedon opened #3 "[PRE REVIEW]: Test paper"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="https://github.com/arfon/JuliaConSubmission.jl" target ="_blank">https://github.com/arfon/JuliaConSubmission.jl</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewers:** @arfon

**Author instructions**

Thanks for submitting your paper to JuliaCon @arfon. The JuliaCon editor @arf

[2019-04-24 01:19] whedon commented on #3
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@arfon) to find some reviewers for your

[2019-04-24 01:19] whedon commented on #3
[code]

[2019-04-24 01:19] whedon commented on #3
PDF failed to compile for issue #3 with the following error:

 /app/vendor/bundle/ruby/2.5.0/bundler/gems/whedon-0a2cd51df451/lib/whedon.rb:115:in `check_fields': Paper YAML header is missing expected fields: date (RuntimeError)
	from /app/vendor/bundle/ruby/2.5.0/bundler/gems/whedon-0a2cd51df451/lib/whedon.rb:80:in `initialize'
	from /app/vendor/bundle/ruby/2.5.0/bundler/gems/whedon-0a2cd51df451/

[2019-04-24 01:20] arfon commented on #3
@whedon generate pdf

[2019-04-24 01:20] whedon commented on #3
[code]

[2019-04-24 01:20] whedon commented on #3
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00003/jcon.00003/10.21105.jcon.00003.pdf)

[2019-04-24 01:20] arfon commented on #3
@whedon add @arfon as reviewer

[2019-04-24 01:20] arfon commented on #3
@whedon start review

[2019-04-24 01:22] arfon commented on #3
@whedon commands

[2019-04-24 01:22] whedon commented on #3
Here are some things you can ask me to do:

[code]

[2019-04-24 01:25] arfon commented on #3
@whedon add @arfon as reviewer

[2019-04-24 01:36] arfon commented on #3
@whedon add @arfon as reviewer

[2019-04-24 01:36] whedon commented on #3
OK, @arfon is now a reviewer

[2019-04-24 01:37] arfon commented on #3
@whedon assign @arfon as reviewer

[2019-04-24 01:38] whedon commented on #3
OK, the reviewer is @arfon

[2019-04-24 01:38] arfon commented on #3
@whedon start review

[2019-04-24 01:42] arfon commented on #3
@whedon start review

[2019-04-24 01:42] whedon opened #4 "[REVIEW]: Test paper"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="https://github.com/arfon/JuliaConSubmission.jl" target ="_blank">https://github.com/arfon/JuliaConSubmission.jl</a>
**Version:** v1.0.0
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** Pending

## Status

[![status](https://proceedings.juliacon.org/papers/5c7e6db9a44ec4204ddc

[2019-04-24 01:42] whedon commented on #3
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/4. Feel free to close this issue now!

[2019-04-24 01:42] whedon commented on #4
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you're probably cur

[2019-04-24 01:42] whedon commented on #4
[code]

[2019-04-24 01:43] whedon commented on #4
PDF failed to compile for issue #4 with the following error:

 Can't find any papers to compile :-(

[2019-04-24 01:43] arfon commented on #4
@whedon generate pdf

[2019-04-24 01:43] whedon commented on #4
[code]

[2019-04-24 01:43] whedon commented on #4
PDF failed to compile for issue #4 with the following error:

 Can't find any papers to compile :-(

[2019-04-24 01:47] arfon commented on #4
@whedon generate pdf

[2019-04-24 01:47] whedon commented on #4
[code]

[2019-04-24 01:47] whedon commented on #4
PDF failed to compile for issue #4 with the following error:

 Can't find any papers to compile :-(

[2019-04-24 01:47] arfon commented on #3
@whedon generate pdf

[2019-04-24 01:47] whedon commented on #3
[code]

[2019-04-24 01:48] whedon commented on #3
PDF failed to compile for issue #3 with the following error:

 Can't find any papers to compile :-(

[2019-04-24 01:52] arfon commented on #3
@whedon check references

[2019-04-24 01:52] whedon commented on #3
[code]

[2019-04-24 01:52] whedon commented on #3
[code]

[2019-04-24 01:57] arfon commented on #3
@whedon generate pdf

[2019-04-24 01:57] whedon commented on #3
[code]

[2019-04-24 01:57] whedon commented on #3
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00003/jcon.00003/10.21105.jcon.00003.pdf)

[2019-04-24 01:57] arfon commented on #3
@whedon accept

[2019-04-24 01:57] whedon commented on #3
I can't accept a paper that hasn't been reviewed!

[2019-04-24 01:58] arfon commented on #4
@whedon accept

[2019-04-24 01:58] whedon commented on #4
No archive DOI set. Exiting...

[2019-04-24 01:59] arfon commented on #4
@whedon set 10.5281/zenodo.264912124 as archive

[2019-04-24 01:59] whedon commented on #4
OK. <a href="https://doi.org/10.5281/zenodo.264912124" target="_blank">10.5281/zenodo.264912124</a> is the archive.

[2019-04-24 01:59] arfon commented on #4
@whedon accept

[2019-04-24 01:59] whedon commented on #4
[code]

[2019-04-24 01:59] whedon commented on #4
[code]

[2019-04-24 01:59] whedon commented on #4
Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/1

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/1, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-24 02:43] arfon commented on #4
@whedon accept

[2019-04-24 02:43] whedon commented on #4
[code]

[2019-04-24 02:43] whedon commented on #4
[code]

[2019-04-24 02:43] whedon commented on #4
Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/2

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/2, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-04-24 07:46] matbesancon commented on #2
@whedon generate pdf

[2019-04-24 07:46] whedon commented on #2
[code]

[2019-04-24 07:46] whedon commented on #2
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00002/jcon.00002/10.21105.jcon.00002.pdf)

[2019-04-26 11:23] arfon commented on #4
@whedon  list reviewers

[2019-04-26 11:23] arfon commented on #4
@whedon list reviewers

[2019-04-26 11:23] whedon commented on #4
Here's the current list of reviewers: https://bit.ly/jcon-reviewers

[2019-04-27 12:04] whedon opened #5 "[PRE REVIEW]: Arfon's test submission"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="https://github.com/arfon/JuliaConSubmission.jl" target ="_blank">https://github.com/arfon/JuliaConSubmission.jl</a>
**Editor:** @arfon
**Reviewers:** @arfon

**Author instructions**

Thanks for submitting your paper to JuliaCon @arfon. The JuliaCon editor @arfon, will work with y

[2019-04-27 12:04] whedon commented on #5
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@arfon) to find some reviewers for your

[2019-04-27 12:04] whedon commented on #5
[code]

[2019-04-27 12:04] whedon commented on #5
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00005/jcon.00005/10.21105.jcon.00005.pdf)

[2019-04-27 12:04] whedon opened #6 "[PRE REVIEW]: Arfon's test submission (extended abstract)"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="https://github.com/arfon/JuliaConSubmission.jl" target ="_blank">https://github.com/arfon/JuliaConSubmission.jl</a>
**Editor:** @arfon
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JuliaCon @arfon. The JuliaCon editor @arfon, will work with y

[2019-04-27 12:04] whedon commented on #6
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@arfon) to find some reviewers for your

[2019-04-27 12:04] whedon commented on #6
[code]

[2019-04-27 12:05] whedon commented on #6
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00006/jcon.00006/10.21105.jcon.00006.pdf)

[2019-04-27 12:05] arfon commented on #5
@whedon assign @arfon as reviewer

[2019-04-27 12:05] whedon commented on #5
OK, the reviewer is @arfon

[2019-04-27 12:05] arfon commented on #5
@whedon start review

[2019-04-27 12:05] #5 closed

[2019-04-27 12:05] whedon opened #7 "[REVIEW]: Arfon's test submission"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="https://github.com/arfon/JuliaConSubmission.jl" target ="_blank">https://github.com/arfon/JuliaConSubmission.jl</a>
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** Pending

## Status

[![status](https://submissions.juliacon.org/papers/e9978f2a2fe80874b0689db5fd163011/status.

[2019-04-27 12:05] whedon commented on #5
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/7. Feel free to close this issue now!

[2019-04-27 12:05] whedon commented on #7
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you're probably cur

[2019-04-27 12:05] whedon commented on #7
[code]

[2019-04-27 12:05] whedon commented on #7
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00007/jcon.00007/10.21105.jcon.00007.pdf)

[2019-04-27 12:06] arfon commented on #6
@whedon assign @arfon as reviewer

[2019-04-27 12:06] #6 closed

[2019-04-27 12:06] whedon commented on #6
OK, the reviewer is @arfon

[2019-04-27 12:06] arfon commented on #6
@whedon start review

[2019-04-27 12:06] whedon opened #8 "[REVIEW]: Arfon's test submission (extended abstract)"
**Submitting author:** @arfon (<a href="http://orcid.org/0000-0002-3957-2474">Arfon Smith</a>)
**Repository:** <a href="https://github.com/arfon/JuliaConSubmission.jl" target ="_blank">https://github.com/arfon/JuliaConSubmission.jl</a>
**Editor:** @arfon
**Reviewer:** @arfon
**Archive:** Pending

## Status

[![status](https://submissions.juliacon.org/papers/68826a9a1e21137c7c1a2dd2a27a67fb/status.

[2019-04-27 12:06] whedon commented on #6
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/8. Feel free to close this issue now!

[2019-04-27 12:06] whedon commented on #8
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @arfon it looks like you're currently assigned as the reviewer for this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you're probably cur

[2019-04-27 12:06] whedon commented on #8
[code]

[2019-04-27 12:06] whedon commented on #8
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00008/jcon.00008/10.21105.jcon.00008.pdf)

[2019-06-07 13:48] whedon opened #9 "[PRE REVIEW]: ChipSort: a SIMD and cache-aware sorting module"
**Submitting author:** @nlw0 (<a href="http://orcid.org/0000-0003-0017-5890">Nicolau Werneck</a>)
**Repository:** <a href="https://github.com/nlw0/chipsort-article" target ="_blank">https://github.com/nlw0/chipsort-article</a>
**Editor:** @vchuravy
**Reviewers:** @eschnett

**Author instructions**

Thanks for submitting your paper to JuliaCon @nlw0. The JuliaCon editor @vchuravy, will work with yo

[2019-06-07 13:48] whedon commented on #9
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vchuravy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@vchuravy) to find some reviewers fo

[2019-06-07 13:48] whedon commented on #9
[code]

[2019-06-07 13:48] whedon commented on #9
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00009/jcon.00009/10.21105.jcon.00009.pdf)

[2019-06-07 13:49] whedon opened #10 "[PRE REVIEW]: A general-purpose toolbox for efficient Kronecker-based learning"
**Submitting author:** @michielstock (<a href="http://orcid.org/0000-0003-0903-6061">Michiel Stock</a>)
**Repository:** <a href="https://github.com/MichielStock/JuliaConSubmission.jl" target ="_blank">https://github.com/MichielStock/JuliaConSubmission.jl</a>
**Editor:** @matbesancon
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JuliaCon @michielstock. The Juli

[2019-06-07 13:49] whedon commented on #10
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matbesancon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@matbesancon) to find some review

[2019-06-07 13:49] whedon commented on #10
[code]

[2019-06-07 13:49] whedon commented on #10
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00010/jcon.00010/10.21105.jcon.00010.pdf)

[2019-06-07 13:49] whedon opened #11 "[PRE REVIEW]: "OrthogonalPolynomials.jl: Developing a first package in almost 100 lines of Julia""
**Submitting author:** @miguelraz (<a href="http://orcid.org/0000-0002-9610-3762">Miguel Raz Guzmán Macedo</a>)
**Repository:** <a href="https://github.com/miguelraz/OrthogonalPolynomials.jl" target ="_blank">https://github.com/miguelraz/OrthogonalPolynomials.jl</a>
**Editor:** @vchuravy
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JuliaCon @miguelraz. The Ju

[2019-06-07 13:49] whedon commented on #11
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vchuravy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@vchuravy) to find some reviewers fo

[2019-06-07 13:49] whedon commented on #11
[code]

[2019-06-07 13:49] whedon commented on #11
PDF failed to compile for issue #11 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/11 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-e8270d9fd886/lib/whedon/pr

[2019-06-07 13:50] vchuravy commented on #11
@miguelraz let me know when this is ready for review!

[2019-06-07 14:13] vchuravy commented on #9
@musm would you be willing to review this?

[2019-06-07 14:32] eschnett commented on #9
@vchuravy I'd be happy to review. What is the time line? Do you have a pointer to instructions for reviewers?

[2019-06-07 14:42] vchuravy commented on #9
@whedon commands

[2019-06-07 14:42] whedon commented on #9
Here are some things you can ask me to do:

[code]

[2019-06-07 14:47] vchuravy commented on #9
@whendon assign @eschnett as reviewer

The timeline is until JuliaCon so July 20th, but the earlier the better :)

We have a reviewer guideline at https://proceedings.juliacon.org/guide/reviewers/ and if you have questions both @matbesancon and I are happy to help.

[2019-06-07 15:57] eschnett commented on #9
@whedon add @eschnett as reviewer

[2019-06-07 15:57] whedon commented on #9
I'm sorry @eschnett, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-06-07 16:01] matbesancon commented on #9
@whedon add @eschnett as reviewer

[2019-06-07 16:01] whedon commented on #9
OK, @eschnett is now a reviewer

[2019-06-07 17:17] eschnett commented on #9
@nlw0 In section 3.3 of your manuscript you compare against C++. Please add which compiler version from which vendor you are using, and in particular which libstdc++ you are using (I assume the compiler is less relevant than the standard library).

[2019-06-07 17:19] eschnett commented on #9
@nlw0 Your manuscript is technical in the sense that it assumes that the reader is familiar with SIMD operations and tis benefits and drawbacks. Since the manuscript is also about sorting, that might not be true. You could add a subsection in the beginning describing SIMD, which operations are fast, and which are slow. Alternatively, maybe there is a good SIMD introduction available (online?) to w

[2019-06-07 17:20] eschnett commented on #9
@nlw0 When sorting, one criterion is always whether the sort is stable or not. You don't discuss this. I assume that your sorting implementation is unstable. What would it take to implement a stable sort?

[2019-06-07 17:22] eschnett commented on #9
@nlw0 All examples you show are for 32-bit quantities. What changes for different sizes (e.g. 8 bit, 64 bit, or even 128 bit md5sums)? What would need to change to sort floating point values with their pesky `nan` values? Maybe you want to add a few comments on this in the implementation or benchmark sections.

[2019-06-07 17:25] eschnett commented on #9
@nlw0 You refer to "metaprogramming" in the manuscript, but don't explain the term. You could add a pointer, maybe referring to the respective section in the Julia manual.

[2019-06-07 17:33] eschnett commented on #9
@vchuravy @nlw0 Overall evaluation: **Minor modification request**. I like this manuscript very much, it is very well written, technically thorough, and easy to read for a non-export. I would accept the manuscript as-is (except for the missing information regarding the C++ implementation), but would like @nlw0 to at least comment on my remarks.

[2019-06-08 19:31] nlw0 commented on #9
Thanks a lot, @eschnett. These are all excellent remarks and I'll try to address them as well as I can.

[2019-06-08 21:05] vchuravy commented on #9
Ah I forgot to actually start the review.

@whedon start review

[2019-06-08 21:19] arfon commented on #11
@vchuravy - I updated the URL at the top of the issue to `https://github.com/miguelraz/OrthogonalPolynomials.jl` - Whedon expects a repository address here, not the link to the actual paper location.

[2019-06-08 21:19] arfon commented on #11
@whedon generate pdf

[2019-06-08 21:19] whedon commented on #11
[code]

[2019-06-08 21:19] whedon commented on #11
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00011/jcon.00011/10.21105.jcon.00011.pdf)

[2019-06-08 21:32] vchuravy commented on #9
@whedon start review

[2019-06-08 21:32] whedon opened #12 "[REVIEW]: ChipSort: a SIMD and cache-aware sorting module"
**Submitting author:** @nlw0 (<a href="http://orcid.org/0000-0003-0017-5890">Nicolau Werneck</a>)
**Repository:** <a href="https://github.com/nlw0/chipsort-article" target ="_blank">https://github.com/nlw0/chipsort-article</a>
**Editor:** @vchuravy
**Reviewer:** @eschnett
**Archive:** <a href="https://doi.org/10.5281/zenodo.3254944" target="_blank">10.5281/zenodo.3254944</a>

## Status

[![status]

[2019-06-08 21:32] whedon commented on #9
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/12. Feel free to close this issue now!

[2019-06-08 21:32] whedon commented on #12
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @eschnett it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you're probably currently

[2019-06-08 21:32] whedon commented on #12
[code]

[2019-06-08 21:32] whedon commented on #12
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00012/jcon.00012/10.21105.jcon.00012.pdf)

[2019-06-08 21:36] vchuravy commented on #9
@nlw0 please let us know when you addressed the comments and then we can proceed in #12

[2019-06-08 21:36] #9 closed

[2019-06-09 18:18] eschnett commented on #12
@vchuravy I see that the reviewer checklist has quite a few items ("general checks", "functionality", "documentation") that only make sense for software. So far I am assuming that I am reviewing a paper, not a software. Please clarify

[2019-06-10 17:17] vchuravy commented on #12
Right, the checklist is based on the JOSS criteria and we are still iterating on it.

Our intent is to both review the paper and the software, the paper is the central piece, but we believe that it has to be backed by software that upholds the best practices of open-source and reproducible science.

We probably need to extend the checklist with a stronger focus on the paper part, your review in #9

[2019-06-10 18:08] eschnett commented on #12
@nlw0 In view of @vchuravy's comments regarding the code associated with the paper, I suggest
- add a pointer to the code to the paper, e.g. as reference
- make the code easier to use by registering the package
- add a licence to the code so that others can use it

[2019-06-10 21:53] matbesancon commented on #10
Hi @MichielStock, thanks for submitting. It seems the references are not properly linked in the document

[2019-06-10 21:53] matbesancon commented on #10
the ref.bib file should be modified accordingly

[2019-06-11 13:48] MichielStock commented on #10
Hi @matbesancon, sorry I seem to omit my .bib file. Should now be fine.

Looking at the list, suitable reviewers could be @Kescobo, @jpfairbanks or @mcognetta (though I think anyone in numerics could be suitable).

[2019-06-11 13:50] matbesancon commented on #10
@whedon commands

[2019-06-11 13:50] whedon commented on #10
Here are some things you can ask me to do:

[code]

[2019-06-11 13:50] matbesancon commented on #10
@whedon generate pdf

[2019-06-11 13:50] whedon commented on #10
[code]

[2019-06-11 13:51] whedon commented on #10
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00010/jcon.00010/10.21105.jcon.00010.pdf)

[2019-06-11 13:52] MichielStock commented on #10
Proof looks fine.

[2019-06-11 13:58] matbesancon commented on #10
@christianpeel would you be available to review?

[2019-06-11 13:59] matbesancon commented on #10
@mcognetta would you be available to review this proceeding?

[2019-06-11 15:23] christianpeel commented on #10
@matbesancon Yes, I'm happy to review

[2019-06-11 15:33] mcognetta commented on #10
@matbesancon Yes, I would be happy to. Are there reviewer instructions and a review template?

[2019-06-11 15:48] matbesancon commented on #10
Cool, the review guide is light, located at https://proceedings.juliacon.org/guide/reviewers
Feel free to PR [here](https://github.com/JuliaCon/proceedings.juliacon.org) if you think things are missing. Otherwise we review both the proceeding and the associated software when applying, although more lightly than the Journal of Open-Source software

[2019-06-11 15:49] matbesancon commented on #10
@whedon add @mcognetta as reviewer

[2019-06-11 15:49] whedon commented on #10
OK, @mcognetta is now a reviewer

[2019-06-11 15:52] kescobo commented on #10
Cool! If I'm not needed, I'm going to unfollow this thread. Just tag me if something changes (I'm probably not super appropriate for it though)

[2019-06-11 15:56] matbesancon commented on #10
yes no problem thanks

[2019-06-13 07:57] matbesancon commented on #10
@dmbates would you be available to review this proceeding?

[2019-06-18 16:09] matbesancon commented on #10
@jpfairbanks would you be available to review this proceeding?

[2019-06-18 17:26] christianpeel commented on #10
@matbesancon   Did you miss my comment above saying that I'm willing to review?   It's not a problem with me if you use other reviewers and skip me.

[2019-06-18 17:27] matbesancon commented on #10
@whedon add @christianpeel as reviewer

[2019-06-18 17:27] whedon commented on #10
OK, @christianpeel is now a reviewer

[2019-06-18 17:28] matbesancon commented on #10
@whedon start review

[2019-06-18 17:28] whedon opened #13 "[REVIEW]: A general-purpose toolbox for efficient Kronecker-based learning"
**Submitting author:** @michielstock (<a href="http://orcid.org/0000-0003-0903-6061">Michiel Stock</a>)
**Repository:** <a href="https://github.com/MichielStock/JuliaConSubmission.jl" target ="_blank">https://github.com/MichielStock/JuliaConSubmission.jl</a>
**Editor:** @matbesancon
**Reviewer:** @mcognetta, @christianpeel
**Archive:** Pending

## Status

[![status](https://submissions.juliacon.or

[2019-06-18 17:28] whedon commented on #10
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/13. Feel free to close this issue now!

[2019-06-18 17:28] whedon commented on #13
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mcognetta, @christianpeel it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you're pr

[2019-06-18 17:28] whedon commented on #13
[code]

[2019-06-18 17:28] whedon commented on #13
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00013/jcon.00013/10.21105.jcon.00013.pdf)

[2019-06-22 23:58] nlw0 commented on #12
I believe I have addressed every point from the review. Please let me know if there's anything missing.

[2019-06-23 02:37] eschnett commented on #12
@nlw0 Regarding the comparison to C++: Can you confirm that you used `-O2` and `-march=native` when building the C++ code? (The performance difference is striking.)

[2019-06-23 11:59] nlw0 commented on #12
Eeek! You've finally found it!! Thanks a lot! Sorry for missing that. I'll call it another instance of C++ having inconvenient defaults...

[2019-06-23 11:59] matbesancon commented on #13
@MichielStock could you re-submit with the paper in the Kronecker repo as discussed in the following issue?
https://github.com/MichielStock/Kronecker.jl/issues/3

[2019-06-23 20:03] vchuravy commented on #12
@whedon commands

[2019-06-23 20:04] whedon commented on #12
Here are some things you can ask me to do:

[code]

[2019-06-23 20:04] vchuravy commented on #12
@whedon generate pdf

[2019-06-23 20:04] whedon commented on #12
[code]

[2019-06-23 20:04] whedon commented on #12
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00012/jcon.00012/10.21105.jcon.00012.pdf)

[2019-06-23 20:05] vchuravy commented on #12
@whedon check references

[2019-06-23 20:05] whedon commented on #12
[code]

[2019-06-24 12:14] MichielStock commented on #13
I re-submitted it as requested. Should I withdraw this submission?

[2019-06-24 13:26] eschnett commented on #12
The citation of the Chipsort Github repository should contain either a URL or a DOI. Similarly for
- Julia issue #31442
- Ultra-sort
- Sortingnetworks.jl
- LLVM diff D62272
- Comb sort
- Julia 1.1 documentation
- LLVM diff 3acc4236b871
- Julia-Con keynote address (URL for Youtube?)

[2019-06-24 13:46] eschnett commented on #12
Regarding DOIs: I have recently started using DOIs to take snaphots of codes used in publications. Zenodo.org offers a convenient Github integration. In addition to pointing to the Github repo, Zenodo also hosts a tarball of the code version which is referenced by the DOI. The Journal of Open Source Software actually requires this step. I don't think JuliaCon does, but I still want to suggest it.

[2019-06-24 16:57] matbesancon commented on #13
@vchuravy could you check that the new submission is up? After that we'll close this

[2019-06-24 17:12] whedon opened #14 "[PRE REVIEW]: A general-purpose toolbox for efficient Kronecker-based learning"
**Submitting author:** @michielstock (<a href="http://orcid.org/0000-0003-0903-6061">Michiel Stock</a>)
**Repository:** <a href="https://github.com/michielStock/Kronecker.jl" target ="_blank">https://github.com/michielStock/Kronecker.jl</a>
**Editor:** @matbesancon
**Reviewers:** @christianpeel, @mcognetta

**Author instructions**

Thanks for submitting your paper to JuliaCon @michielstock. The Ju

[2019-06-24 17:12] whedon commented on #14
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matbesancon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@matbesancon) to find some review

[2019-06-24 17:12] whedon commented on #14
[code]

[2019-06-24 17:12] whedon commented on #14
PDF failed to compile for issue #14 with the following error:

 Can't find any papers to compile :-(

[2019-06-24 17:15] MichielStock commented on #14
@whedon commands

[2019-06-24 17:15] whedon commented on #14
Here are some things you can ask me to do:

[code]

[2019-06-24 17:15] MichielStock commented on #14
@whedon generate pdf

[2019-06-24 17:15] whedon commented on #14
[code]

[2019-06-24 17:15] whedon commented on #14
PDF failed to compile for issue #14 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `initialize': No such file or directory @ rb_sysopen - tmp/14/paper/paper.yml (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `open'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:472:in `load_file'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/

[2019-06-24 17:15] matbesancon commented on #14
@whedon add @christianpeel as reviewer

[2019-06-24 17:15] whedon commented on #14
OK, @christianpeel is now a reviewer

[2019-06-24 17:16] matbesancon commented on #14
@whedon add @mcognetta as reviewer

[2019-06-24 17:16] whedon commented on #14
OK, @mcognetta is now a reviewer

[2019-06-24 17:17] matbesancon commented on #14
@whedon start review

[2019-06-24 17:17] whedon opened #15 "[REVIEW]: A general-purpose toolbox for efficient Kronecker-based learning"
**Submitting author:** @michielstock (<a href="http://orcid.org/0000-0003-0903-6061">Michiel Stock</a>)
**Repository:** <a href="https://github.com/michielStock/Kronecker.jl" target ="_blank">https://github.com/michielStock/Kronecker.jl</a>
**Editor:** @matbesancon
**Reviewer:** @christianpeel, @mcognetta
**Archive:** <a href="https://doi.org/10.5281/zenodo.3463941" target="_blank">10.5281/zenodo.

[2019-06-24 17:17] whedon commented on #14
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/15. Feel free to close this issue now!

[2019-06-24 17:17] whedon commented on #15
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @christianpeel, @mcognetta it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you're pr

[2019-06-24 17:17] whedon commented on #15
[code]

[2019-06-24 17:18] #14 closed

[2019-06-24 17:18] whedon commented on #15
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00015/jcon.00015/10.21105.jcon.00015.pdf)

[2019-06-24 17:18] matbesancon commented on #13
closing this one for #15

[2019-06-24 17:19] #13 closed

[2019-06-24 18:50] nlw0 commented on #12
I did use Zenodo to create a link, I learned it from you at SIMD.jl!... You can see it on refs.bib at the bottom. Problem is the style doesn't seem to like urls, either as text or even just a link on the PDF. I'm not sure what to do.

[2019-06-24 19:03] eschnett commented on #12
I see; authors are not supposed to change the bibtex style. Can you try adding a bibtex "note=", and maybe use "\url{...}" in the note? Notes usually show up verbatim.

[2019-06-24 19:43] nlw0 commented on #12
bibtex seems to work by adding a field like   `howpublished = "\url{https://doi.org/10.5281/zenodo.3228848}"`

[2019-06-24 20:13] nlw0 commented on #12
Included urls and fixed listing spacing

[2019-06-24 20:33] eschnett commented on #12
@vchuravy **Recommendation**: Accept as-is.

[2019-06-25 08:20] matbesancon commented on #15
@whedon check references

[2019-06-25 08:20] whedon commented on #15
[code]

[2019-06-25 08:21] whedon commented on #15
[code]

[2019-06-25 14:11] MichielStock commented on #15
Are added to the `ref.bib`, but these don't appear in the paper, as dictated by the style file.

@whedon check references

[2019-06-25 21:50] nlw0 commented on #12
@whedon generate pdf

[2019-06-25 21:51] whedon commented on #12
[code]

[2019-06-25 21:51] whedon commented on #12
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00012/jcon.00012/10.21105.jcon.00012.pdf)

[2019-06-26 15:56] christianpeel commented on #15
@whedon generate pdf

[2019-06-26 15:56] whedon commented on #15
[code]

[2019-06-26 15:56] whedon commented on #15
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00015/jcon.00015/10.21105.jcon.00015.pdf)

[2019-06-26 16:28] christianpeel commented on #15
I recommend that the paper be **accepted as-is**.

[2019-06-29 18:27] mcognetta commented on #15
@whedon commands

[2019-06-29 18:27] whedon commented on #15
Here are some things you can ask me to do:

[code]

[2019-06-29 18:53] mcognetta commented on #15
**Recommendation:** accept with **minor modifications**.

-----------------------------------------------------------------

Minor paper comments:
1. 'vec trick' is two words in one place but one word (hyphenated) in another.
2. In Section 3:

Should be '...make use _of_ the...'

3. The citation for vec trick should be given at the first mention of vec trick (but including it for both is also fine

[2019-06-30 17:10] MichielStock commented on #15
Thank you for all the feedback and suggestions. I updated the code today, providing better integration with the `AbstractArray` interface. I will update the documentation and push to master branch.

[2019-07-04 02:27] whedon opened #16 "[PRE REVIEW]: Locality-Aware Message Passing with ArrayChannels.jl"
**Submitting author:** @rohanmclure (<a href="http://orcid.org/0000-0002-7018-5501">Rohan McLure</a>)
**Repository:** <a href="https://github.com/rohanmclure/ArrayChannels.jl" target ="_blank">https://github.com/rohanmclure/ArrayChannels.jl</a>
**Editor:** @vchuravy
**Reviewers:** @jpsamaroo

**Author instructions**

Thanks for submitting your paper to JuliaCon @rohanmclure. The JuliaCon editor @v

[2019-07-04 02:27] whedon commented on #16
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vchuravy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@vchuravy) to find some reviewers fo

[2019-07-04 02:27] whedon commented on #16
[code]

[2019-07-04 02:27] whedon commented on #16
Failed to discover a valid open source license.

[2019-07-04 02:27] whedon commented on #16
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00016/jcon.00016/10.21105.jcon.00016.pdf)

[2019-07-04 02:27] whedon opened #17 "[PRE REVIEW]: Differential geometric algebra using Leibniz, Grassmann"
**Submitting author:** @chakravala (<a href="http://orcid.org/0000-0002-8006-7816">Michael Reed</a>)
**Repository:** <a href="https://github.com/chakravala/Grassmann.jl" target ="_blank">https://github.com/chakravala/Grassmann.jl</a>
**Editor:** @matbesancon
**Reviewers:** @eschnett, @snoeyink

**Author instructions**

Thanks for submitting your paper to JuliaCon @chakravala. The JuliaCon editor @

[2019-07-04 02:27] whedon commented on #17
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matbesancon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@matbesancon) to find some review

[2019-07-04 02:27] whedon commented on #17
[code]

[2019-07-04 02:27] whedon commented on #17
PDF failed to compile for issue #17 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-04 03:04] rohanmclure commented on #16
@whedon commands

[2019-07-04 03:04] whedon commented on #16
Here are some things you can ask me to do:

[code]

[2019-07-04 03:15] chakravala commented on #17
@eschnett would you be interested in taking a look at this submission?

you might need to use `lualatex` to compile it and also some extra packages

I have already done some Travis CI compile testing using `lualatex` with this configuration:
https://github.com/chakravala/Math-Research-Notes/blob/master/.travis.yml

which automatically generated and uploaded this PDF file on [![DropBox](https://img

[2019-07-04 08:04] matbesancon commented on #17
hi @chakravala, can you include in your repository the required dependencies, it should work all the way with the whedon workflow before reviewers can look at it

[2019-07-04 11:21] eschnett commented on #17
@matbesancon I can review the paper. I'm using the `Grassmann.jl` package myself, but there is no conflict of interest.

[2019-07-04 14:45] matbesancon commented on #17
Thanks!
@whedon add @eschnett as reviewer

[2019-07-04 14:46] matbesancon commented on #17
@whedon add @eschnett as reviewer

[2019-07-04 14:49] matbesancon commented on #17
@whedon commands

[2019-07-04 14:49] whedon commented on #17
Here are some things you can ask me to do:

[code]

[2019-07-04 14:50] matbesancon commented on #17
@whedon add @eschnett as reviewer

[2019-07-04 14:50] whedon commented on #17
OK, @eschnett is now a reviewer

[2019-07-04 14:52] matbesancon commented on #17
@snoeyink would you be interested in reviewing this proceeding?

[2019-07-04 14:55] snoeyink commented on #17
Sure.  Tell me how to go about it, as I have not reviewed for JuliaCon before.
(Though I have for many conferences and journals.)

Jack Snoeyink@cs.unc.edu
Computer Science, UNC Chapel Hill

From: Mathieu Besançon
Sent: Thursday, July 4, 2019 10:52 AM
To: JuliaCon/proceedings-review
Cc: Jack Snoeyink; Mention
Subject: Re: [JuliaCon/proceedings-review] [PRE REVIEW]: Differentialgeometric algebra us

[2019-07-04 14:57] matbesancon commented on #17
great thanks. This issue will be closed with a new one starting for the review. You can discuss and request modifications to the paper and package in the issue or post issues in Grassmann.jl directly.

[2019-07-04 14:57] matbesancon commented on #17
@whedon add @snoeyink as reviewer

[2019-07-04 14:57] whedon commented on #17
OK, @snoeyink is now a reviewer

[2019-07-04 14:57] matbesancon commented on #17
@whedon start review

[2019-07-04 14:57] whedon opened #18 "[REVIEW]: Differential geometric algebra using Leibniz, Grassmann"
**Submitting author:** @chakravala (<a href="http://orcid.org/0000-0002-8006-7816">Michael Reed</a>)
**Repository:** <a href="https://github.com/chakravala/Grassmann.jl" target ="_blank">https://github.com/chakravala/Grassmann.jl</a>
**Editor:** @matbesancon
**Reviewer:** @eschnett, @snoeyink
**Archive:** Pending

## Status

[![status](https://proceedings.juliacon.org/papers/17bff9097fc61aa1fd11ae

[2019-07-04 14:57] whedon commented on #17
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/18. Feel free to close this issue now!

[2019-07-04 14:57] whedon commented on #18
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @eschnett, @snoeyink it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you're probably

[2019-07-04 14:57] whedon commented on #18
[code]

[2019-07-04 14:58] whedon commented on #18
PDF failed to compile for issue #18 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-04 14:58] #17 closed

[2019-07-04 14:59] matbesancon commented on #18
@chakravala there are still issues in the paper folder

[2019-07-04 17:50] eschnett commented on #18
@chakravala I used `lualatex` and `bibtex` to format the paper. There are problems with the references:
- `bibtex` outputs an error message about commas in the author list
- Grassmann didn't publish in 2000
- several references are incomplete, e.g. urls might be missing
- the name "de Rham" appears in lower case; this is probably bibtex's fault that quite eagerly insists that titles should be all

[2019-07-04 17:55] eschnett commented on #18
@chakravala The manuscript itself is very interesting, although I haven't read it in detail yet. However, I notice that it is quite technical and doesn't fit with the target audience at JuliaCon. At least, an introduction to geometric algebra is missing, and a description why Julia is a good implementation language. It seems to me that mentioning the geometric aspects (rotations, reflections) and

[2019-07-04 18:19] chakravala commented on #18
I will have a look at resolving that

The translation from the AMS was published in 2000

I thought there was a limit for 6 pages, so I had to leave out details I would otherwise want to include, can you confirm that the paper can really be longer than 6 pages?

Is it possible to make the paper 1-column, or should I convert to 2-columns?

[2019-07-05 16:19] snoeyink commented on #18
Summary of Comments on grassmann-juliacon-2019.pdf (I'll upload a commented pdf.)
Page: 1

This paper is a description of Grassmann.jl and its supporting packages, which are appear quite impressive and extensive. Unfortunately, it
assumes extensive knowledge of terminology and notation from the reader, without ever defining what that reader should know, whose
notations they should be familiar with

[2019-07-05 16:41] snoeyink commented on #18
I've created an issue and uploaded an annotated pdf in: https://github.com/chakravala/Grassmann.jl/issues/29

This paper is a description of Grassmann.jl and its supporting packages, which are appear quite impressive and extensive. Unfortunately, it
assumes extensive knowledge of terminology and notation from the reader, without ever defining what that reader should know, whose
notations they shou

[2019-07-05 20:34] whedon opened #19 "[PRE REVIEW]: Econometrics.jl"
**Submitting author:** @Nosferican (<a href="http://orcid.org/0000-0002-8406-6175">José Bayoán Santiago Calderón</a>)
**Repository:** <a href="https://github.com/Nosferican/Econometrics.jl" target ="_blank">https://github.com/Nosferican/Econometrics.jl</a>
**Editor:** @matbesancon
**Reviewers:** @cpfiffer, @pkofod

**Author instructions**

Thanks for submitting your paper to JuliaCon @Nosferican.

[2019-07-05 20:34] whedon commented on #19
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matbesancon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@matbesancon) to find some review

[2019-07-05 20:34] whedon commented on #19
[code]

[2019-07-05 20:35] whedon commented on #19
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00019/jcon.00019/10.21105.jcon.00019.pdf)

[2019-07-05 20:35] vchuravy commented on #19
@andreasnoack might be a good candidate as a reviewer

[2019-07-05 20:39] Nosferican commented on #19
@dmbates could be a good candidate reviewer too.

[2019-07-05 20:44] vchuravy commented on #18
Yes a paper can be longer than 6 pages, we do not have an explicit page-limit but we expect most papers to be 6-8 pages, longer if necessary.

[2019-07-05 20:46] vchuravy commented on #12
Thank you.

@arfon this is the first paper ready to be accepted, IIRC you mentioned that you wanted to do it to make sure the pipeline fully works?

[2019-07-05 22:35] vchuravy commented on #16
@jpsamaroo mentioned he might be interested in reviewing.

@rohanmclure do you have any suggestions from your side?

[2019-07-06 04:26] arfon commented on #12
Excellent. Will take a look tomorrow.

[2019-07-06 05:21] rohanmclure commented on #16
Very happy to have @jpsamaroo review the submission. It would be good to hear recommendations on figure formatting. Thanks

[2019-07-06 13:26] vchuravy commented on #16
@whedon add @jpsamaroo as reviewer

[2019-07-06 13:26] whedon commented on #16
OK, @jpsamaroo is now a reviewer

[2019-07-06 13:26] vchuravy commented on #16
@whedon start review

[2019-07-06 13:26] whedon opened #20 "[REVIEW]: Locality-Aware Message Passing with ArrayChannels.jl"
**Submitting author:** @rohanmclure (<a href="http://orcid.org/0000-0002-7018-5501">Rohan McLure</a>)
**Repository:** <a href="https://github.com/rohanmclure/ArrayChannels.jl" target ="_blank">https://github.com/rohanmclure/ArrayChannels.jl</a>
**Editor:** @vchuravy
**Reviewer:** @jpsamaroo
**Archive:** <a href="https://doi.org/10.5281/zenodo.3961608" target="_blank">10.5281/zenodo.3961608</a>

##

[2019-07-06 13:26] whedon commented on #16
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/20. Feel free to close this issue now!

[2019-07-06 13:26] whedon commented on #20
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @jpsamaroo it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you're probably currently

[2019-07-06 13:26] whedon commented on #20
[code]

[2019-07-06 13:27] #16 closed

[2019-07-06 13:27] whedon commented on #20
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00020/jcon.00020/10.21105.jcon.00020.pdf)

[2019-07-07 04:45] rohanmclure commented on #20
Have just updated build instructions, as well as provided a Binder and Dockerfile.

[2019-07-08 10:17] arfon commented on #12
@vchuravy - are you going to have an archive of the code/paper here? There doesn't seem to be one set.

[2019-07-08 16:21] whedon opened #21 "[PRE REVIEW]: Interoperating Deep Learning models with ONNX.jl"
**Submitting author:** @ayush-1506 (<a href="http://orcid.org/0000-0003-3550-691X">Ayush Shridhar</a>)
**Repository:** <a href="https://github.com/FluxML/ONNX.jl" target ="_blank">https://github.com/FluxML/ONNX.jl</a>
**Editor:** @vchuravy
**Reviewers:** @ekinakyurek, @NiklasGustafsson

**Author instructions**

Thanks for submitting your paper to JuliaCon @ayush-1506. The JuliaCon editor @vchuravy

[2019-07-08 16:21] whedon commented on #21
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vchuravy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@vchuravy) to find some reviewers fo

[2019-07-08 16:21] whedon commented on #21
[code]

[2019-07-08 16:21] whedon opened #22 "[PRE REVIEW]: Modia3D: Modeling and Simulation of 3D-Systems in Julia"
**Submitting author:** @MartinOtter (<a href="http://orcid.org/0000-0001-6348-9569">Martin Otter</a>)
**Repository:** <a href="https://github.com/ModiaSim/Modia3D.jl/tree/JuliaCon2019-paper" target ="_blank">https://github.com/ModiaSim/Modia3D.jl/tree/JuliaCon2019-paper</a>
**Editor:** @matbesancon
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JuliaCon @Martin

[2019-07-08 16:21] whedon commented on #22
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matbesancon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@matbesancon) to find some review

[2019-07-08 16:21] whedon commented on #22
[code]

[2019-07-08 16:21] whedon commented on #21
PDF failed to compile for issue #21 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-08 16:21] whedon opened #23 "[PRE REVIEW]: StateSpaceModels.jl: a Julia Package for Time-Series Analysis in a State-Space Framework"
**Submitting author:** @raphaelsaavedra (<a href="http://orcid.org/0000-0003-0095-4114">Raphael Saavedra</a>)
**Repository:** <a href="https://github.com/LAMPSPUC/StateSpaceModels.jl/" target ="_blank">https://github.com/LAMPSPUC/StateSpaceModels.jl/</a>
**Editor:** @matbesancon
**Reviewers:** @dehann, @mschauer

**Author instructions**

Thanks for submitting your paper to JuliaCon @raphaelsaavedr

[2019-07-08 16:21] whedon commented on #22
PDF failed to compile for issue #22 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/22 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon/pr

[2019-07-08 16:21] whedon commented on #23
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matbesancon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@matbesancon) to find some review

[2019-07-08 16:21] whedon commented on #23
[code]

[2019-07-08 16:21] whedon opened #24 "[PRE REVIEW]: HydroPowerModels.jl: A Julia/JuMP Package forHydrothermal Economic Dispatch Optimization"
**Submitting author:** @andrewrosemberg (<a href="http://orcid.org/0000-0002-6880-8845">Andrew Rosemberg</a>)
**Repository:** <a href="https://github.com/andrewrosemberg/HydroPowerModels.jl" target ="_blank">https://github.com/andrewrosemberg/HydroPowerModels.jl</a>
**Editor:** @vchuravy
**Reviewers:** @frapac, @Lukrosz

**Author instructions**

Thanks for submitting your paper to JuliaCon @andrew

[2019-07-08 16:21] whedon commented on #24
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vchuravy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@vchuravy) to find some reviewers fo

[2019-07-08 16:21] whedon commented on #24
[code]

[2019-07-08 16:21] whedon commented on #23
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00023/jcon.00023/10.21105.jcon.00023.pdf)

[2019-07-08 16:21] whedon commented on #24
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00024/jcon.00024/10.21105.jcon.00024.pdf)

[2019-07-08 16:22] whedon opened #25 "[PRE REVIEW]: Probabilistic Biostatistics with Julia"
**Submitting author:** @tszanalytics (<a href="http://orcid.org/0000-0002-2469-1796">Jeffrey A Mills</a>)
**Repository:** <a href="https://github.com/tszanalytics/Juliacon2019/" target ="_blank">https://github.com/tszanalytics/Juliacon2019/</a>
**Editor:** @matbesancon
**Reviewers:** @bkamins, @kescobo

**Author instructions**

Thanks for submitting your paper to JuliaCon @tszanalytics. The JuliaC

[2019-07-08 16:22] whedon commented on #25
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matbesancon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@matbesancon) to find some review

[2019-07-08 16:22] whedon commented on #25
[code]

[2019-07-08 16:22] whedon opened #26 "[PRE REVIEW]: GlobalSearchRegression.jl: Building bridges between Machine Learning and Econometrics in Fat-Data scenarios"
**Submitting author:** @dpanigo (<a href="http://orcid.org/0000-0003-2468-1632">Demian Tupac PANIGO</a>)
**Repository:** <a href="https://github.com/ParallelGSReg/GlobalSearchRegression.jl/tree/master/juliacon2019proceedings" target ="_blank">https://github.com/ParallelGSReg/GlobalSearchRegression.jl/tree/master/juliacon2019proceedings</a>
**Editor:** @vchuravy
**Reviewer:** Pending

**Author inst

[2019-07-08 16:22] whedon commented on #25
PDF failed to compile for issue #25 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/25 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon/pr

[2019-07-08 16:22] whedon commented on #26
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vchuravy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@vchuravy) to find some reviewers fo

[2019-07-08 16:22] whedon commented on #26
[code]

[2019-07-08 16:22] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/26 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon/pr

[2019-07-08 16:27] matbesancon commented on #22
@whedon build pdf from branch JuliaCon2019-paper

[2019-07-08 16:29] matbesancon commented on #22
@whedon generate pdf from branch JuliaCon2019-paper

[2019-07-08 16:29] whedon commented on #22
[code]

[2019-07-08 16:29] whedon commented on #22
PDF failed to compile for issue #22 with the following error:

 sh: 1: cd: can't cd to tmp/22
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/22 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whe

[2019-07-08 16:30] matbesancon commented on #22
@MartinOtter there seems to be a problem with the submission URL, you should put the plain repo URL, and then the branch only to compile

[2019-07-08 16:35] MartinOtter commented on #22
Can you give more detailed instructions what I shall do. The repo URL is "https://github.com/ModiaSim/Modia3D.jl" and the branch is "JuliaCon2019-paper", but I do not see how I can provide this information to your system, because only one URL seems to be possible to define and not two pieces. I also do not see a way that I can change the URL for your system.

[2019-07-08 16:36] dpanigo commented on #26
El lun., 8 jul. 2019 13:22, whedon <notifications@github.com> escribió:

[2019-07-08 17:34] MartinOtter commented on #22
In this list there seems to be no one that has a background in modeling and simulation of 3-dimensional mechanical systems or in games. Searching in the last JuliaCon and in Julia packages:
- Twan Koolen (tkoolen; developer of RigidBodyDynamics.jl)
- Robin Deits (rdeits; presentation at JuliaCon 2018: JuliaRobotics: Making robots walk with Julia, developer of MechanismGeometries.jl)
- Chris Rackau

[2019-07-08 18:55] tszanalytics commented on #25
@whedon commands

[2019-07-08 18:55] whedon commented on #25
Here are some things you can ask me to do:

[code]

[2019-07-08 19:05] tszanalytics commented on #25
@matbesancon  Here's suggestions from the list of potential reviewers (starting at bottom of list) :

dmbates dmbates@gmail.com
kescobo kevbonham@gmail.com
bkamins bkamins@sgh.waw.pl

Also, the paper did not appear to compile due to a missing file.  I will see if I can fix that.
Thanks!

[2019-07-08 19:15] vchuravy commented on #12
Archive being a deposit with Zenodo?

[2019-07-08 19:22] arfon commented on #12
Right.

[2019-07-08 19:38] vchuravy commented on #12
Ah! Yes we should do that. Is there a way to do that automatically or is this something the user needs to do?

[2019-07-08 20:37] matbesancon commented on #23
@mschauer would you like to review this proceeding?

[2019-07-08 20:38] matbesancon commented on #23
@dehann would you like to review this proceeding?

[2019-07-08 21:42] whedon opened #27 "[PRE REVIEW]: RayTracer.jl: A General Purpose Differentiable Renderer"
**Submitting author:** @avik-pal (<a href="http://orcid.org/0000-0002-3938-7375">Avik Pal</a>)
**Repository:** <a href="https://github.com/avik-pal/juliacon-raytracer-paper" target ="_blank">https://github.com/avik-pal/juliacon-raytracer-paper</a>
**Editor:** @matbesancon
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JuliaCon @avik-pal. The JuliaCon editor @ma

[2019-07-08 21:43] whedon commented on #27
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matbesancon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@matbesancon) to find some review

[2019-07-08 21:43] whedon commented on #27
[code]

[2019-07-08 21:43] whedon commented on #27
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00027/jcon.00027/10.21105.jcon.00027.pdf)

[2019-07-08 22:39] ChrisRackauckas commented on #22
What's the time frame on reviews? I don't think I'll be able to do this well before JuliaCon.

[2019-07-08 23:15] dpanigo commented on #26
@matbesancon ... @vchuravy told me that you setpup the Juliacon proceedings template.
I received this issue from your bot (Whedon). It fails to compile our paper in latex.  But there is no problem neither in our computers nor in overleaf.
As mentioned above, I think the problem is with links and subfolders....
Maybe it could be fixed poiting to
https://github.com/ParallelGSReg/GlobalSearchRegressi

[2019-07-09 02:45] eschnett commented on #12
I believe the code is already on Zenodo: <https://doi.org/10.5281/zenodo.3254944>.

The paper lives in a separate repo.

[2019-07-09 05:55] dehann commented on #23
@matbesancon , sure I will review yes -- looks interesting!

[2019-07-09 07:20] matbesancon commented on #25
Thanks @tszanalytics, note that we cannot start the review while the paper doesn't compile.
@bkamins would you be available to review this proceeding?

[2019-07-09 07:21] matbesancon commented on #25
@kescobo would you be available to review?

[2019-07-09 07:23] matbesancon commented on #22
Yeah I was thinking putting you on too many reviews would be very optimistic. A first round of review (for the content, software) would be nice before JuliaCon but the paper itself after JuliaCon is fine, since we aim at end of August

[2019-07-09 07:23] matbesancon commented on #22
@tkoolen would you be available to review this proceeding?

[2019-07-09 07:23] matbesancon commented on #22
@rdeits would you be available to review this proceeding?

[2019-07-09 07:26] matbesancon commented on #23
@whedon add @dehann as reviewer

[2019-07-09 07:26] whedon commented on #23
OK, @dehann is now a reviewer

[2019-07-09 07:33] matbesancon commented on #23
@whedon add @mschauer as reviewer

[2019-07-09 07:34] whedon commented on #23
OK, @mschauer is now a reviewer

[2019-07-09 07:34] matbesancon commented on #23
@whedon start review

[2019-07-09 07:34] whedon opened #28 "[REVIEW]: StateSpaceModels.jl: a Julia Package for Time-Series Analysis in a State-Space Framework"
**Submitting author:** @raphaelsaavedra (<a href="http://orcid.org/0000-0003-0095-4114">Raphael Saavedra</a>)
**Repository:** <a href="https://github.com/LAMPSPUC/StateSpaceModels.jl/" target ="_blank">https://github.com/LAMPSPUC/StateSpaceModels.jl/</a>
**Editor:** @ranjanan
**Reviewer:** @dehann, @mschauer
**Archive:** Pending

## Status

[![status](https://proceedings.juliacon.org/papers/bb5fbb

[2019-07-09 07:34] whedon commented on #23
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/28. Feel free to close this issue now!

[2019-07-09 07:34] whedon commented on #28
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dehann, @mschauer it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you're probably c

[2019-07-09 07:34] whedon commented on #28
[code]

[2019-07-09 07:34] #23 closed

[2019-07-09 07:34] whedon commented on #28
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00028/jcon.00028/10.21105.jcon.00028.pdf)

[2019-07-09 08:06] bkamins commented on #25
@matbesancon - sure - I can help. What would be the process?

[2019-07-09 08:10] matbesancon commented on #25
the review happens in an issue, you provide feedback on the code and paper, can submit issues on the main repo itself, changes can happen gradually. Once the checklist is done and you are satisfied with everything, the review is done

See https://github.com/JuliaCon/proceedings-review/issues/28 for instance

[2019-07-09 08:10] matbesancon commented on #25
@whedon add @bkamins as reviewer

[2019-07-09 08:10] whedon commented on #25
OK, @bkamins is now a reviewer

[2019-07-09 08:15] matbesancon commented on #27
@avik-pal thanks for submitting. Usually JuliaCon submissions are part of a package, could this be in RayTracer.jl?

[2019-07-09 09:51] matbesancon commented on #27
@snoeyink would you be available to review this proceeding?

[2019-07-09 09:55] matbesancon commented on #27
@haampie would you be available to review this proceeding?

[2019-07-09 13:40] avik-pal commented on #27
@matbesancon yes I could add this to RayTracer itself. Would it be fine, if I add it to a branch of RayTracer.jl atleast during the review process and merge it into master if it is accepted?

In that case, should I make a resubmission?

[2019-07-09 13:48] matbesancon commented on #27
yes you can absolutely, can you re-submit with the paper on the main repo in another branch?

[2019-07-09 13:50] matbesancon commented on #19
@andreasnoack @dbmates could you review this proceeding?

[2019-07-09 13:59] matbesancon commented on #19
@aviks would you be willing to review this proceeding?

[2019-07-09 14:02] matbesancon commented on #19
@pkofod would you like to review this?

[2019-07-09 14:05] andrewrosemberg commented on #24
Here's suggestions for potential reviewers familiar with the subjects of optimal power flow and multistage stochastic programming:

- Jose Lara (@jd-lara)
- Bernardo da Costa (@bfpc)
- François Pacaud (@frapac)
- Luiz Carlos da Costa (@lccostajr)

[2019-07-09 14:18] matbesancon commented on #22
@MartinOtter you should re-submit, https://github.com/ModiaSim/Modia3D.jl should be the URL you provide, without more information. Then when compiling, we will specify the branch, as in
`@whedon generate pdf from branch JuliaCon2019-paper`

[2019-07-09 14:20] avik-pal commented on #27
I have resubmitted the paper. The paper is in the `juliacon-paper` branch of RayTracer.jl.

[2019-07-09 14:39] MartinOtter commented on #22
@whedon generate pdf from branch JuliaCon2019-paper

O.k. I submitted the paper [newly](https://submissions.juliacon.org/papers/16d9193656436b4d4f774f73ab34d8c5) with the https://github.com/ModiaSim/Modia3D.jl address
and then withdraw the already submitted paper.

[2019-07-09 14:40] matbesancon commented on #22
wait for it we will start the new review first

[2019-07-09 14:43] MartinOtter commented on #22
Sorry, when I now made things worse. What I did is to submit a new paper with the same title and the corrected URL (https://submissions.juliacon.org/papers/16d9193656436b4d4f774f73ab34d8c5) and then withdraw the previous paper submission (https://submissions.juliacon.org/papers/59d1f667891f69d446cf012c5ec43ffa)

[2019-07-09 14:45] matbesancon commented on #22
@vchuravy can you assign me on the new submission?

[2019-07-09 15:32] snoeyink commented on #27
Yes

Jack Snoeyink, snoeyink@cs.unc.edu
Computer Science, UNC Chapel Hill

From: Mathieu Besançon
Sent: Tuesday, July 9, 2019 5:51 AM
To: JuliaCon/proceedings-review
Cc: Jack Snoeyink; Mention
Subject: Re: [JuliaCon/proceedings-review] [PRE REVIEW]: RayTracer.jl: AGeneral Purpose Differentiable Renderer (#27)

@snoeyink would you be available to review this proceeding?
—
You are receiving this bec

[2019-07-09 15:48] tszanalytics commented on #25
@matbesancon
Hi, sorry I don't know what I need to change to get the paper to compile. I'm unfamiliar with Ruby and latexmk.  Do I need to install these on my local machine or is there a way to compile without doing so, and if so how?  Thanks!

[2019-07-09 15:55] matbesancon commented on #25
The URL you provided is not in the correct format, it should be the main repo, not the path to the paper file

[2019-07-09 16:02] whedon opened #29 "[PRE REVIEW]: SemanticModels.jl: A Julia Package for Scientific Model Augmentation"
**Submitting author:** @mehalter (<a href="http://orcid.org/0000-0002-0484-971X">Micah Halter</a>)
**Repository:** <a href="https://github.com/mehalter/juliacon2019-submission" target ="_blank">https://github.com/mehalter/juliacon2019-submission</a>
**Editor:** @vchuravy
**Reviewers:** @MasonProtter, @ChrisRackauckas

**Author instructions**

Thanks for submitting your paper to JuliaCon @mehalter.

[2019-07-09 16:02] whedon commented on #29
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vchuravy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@vchuravy) to find some reviewers fo

[2019-07-09 16:02] whedon commented on #29
[code]

[2019-07-09 16:02] whedon opened #30 "[PRE REVIEW]: Modia3D: Modeling and Simulation of 3D-Systems in Julia"
**Submitting author:** @MartinOtter (<a href="http://orcid.org/0000-0001-6348-9569">Martin Otter</a>)
**Repository:** <a href="https://github.com/ModiaSim/Modia3D.jl" target ="_blank">https://github.com/ModiaSim/Modia3D.jl</a>
**Editor:** @matbesancon
**Reviewers:** @Datseris

**Author instructions**

Thanks for submitting your paper to JuliaCon @MartinOtter. The JuliaCon editor @matbesancon, will

[2019-07-09 16:02] whedon commented on #29
Failed to discover a valid open source license.

[2019-07-09 16:02] whedon opened #31 "[PRE REVIEW]: RayTracer.jl: A General Purpose Differentiable Renderer"
**Submitting author:** @avik-pal (<a href="http://orcid.org/0000-0002-3938-7375">Avik Pal</a>)
**Repository:** <a href="https://github.com/avik-pal/RayTracer.jl" target ="_blank">https://github.com/avik-pal/RayTracer.jl</a>
**Editor:** @matbesancon
**Reviewers:** @snoeyink, @dourouc05

**Author instructions**

Thanks for submitting your paper to JuliaCon @avik-pal. The JuliaCon editor @matbesancon

[2019-07-09 16:02] whedon commented on #29
PDF failed to compile for issue #29 with the following error:

 ORCID looks to be the wrong length
/app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon.rb:123:in `block in check_orcids': Problem with ORCID (000-0002-0484-971X) for Micah Halter (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon.rb:121:in `each'
	from /app/vendor/bundl

[2019-07-09 16:02] whedon commented on #30
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matbesancon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@matbesancon) to find some review

[2019-07-09 16:02] whedon commented on #30
[code]

[2019-07-09 16:02] whedon commented on #30
PDF failed to compile for issue #30 with the following error:

 Can't find any papers to compile :-(

[2019-07-09 16:02] whedon commented on #31
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matbesancon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for the assigned editor (@matbesancon) to find some review

[2019-07-09 16:02] whedon commented on #31
[code]

[2019-07-09 16:02] whedon commented on #31
PDF failed to compile for issue #31 with the following error:

 Can't find any papers to compile :-(

[2019-07-09 16:03] vchuravy commented on #26
Indeed that seems to be the issue, can you withdraw this submission and resubmit with the correct path?

[2019-07-09 16:03] vchuravy commented on #26
@whedon commands

[2019-07-09 16:03] whedon commented on #26
Here are some things you can ask me to do:

[code]

[2019-07-09 16:03] matbesancon commented on #31
Fixing #27

[2019-07-09 16:04] vchuravy commented on #12
@whedon set 10.5281/zenodo.3254944

[2019-07-09 16:04] matbesancon commented on #31
@whedon add  @snoeyink as reviewer

[2019-07-09 16:04] whedon commented on #31
OK,  @snoeyink is now a reviewer

[2019-07-09 16:04] #27 closed

[2019-07-09 16:06] matbesancon commented on #30
@whedon generate pdf from branch JuliaCon2019-paper

[2019-07-09 16:06] whedon commented on #30
[code]

[2019-07-09 16:06] whedon commented on #30
PDF failed to compile for issue #30 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-09 16:07] matbesancon commented on #30
@MartinOtter see the error message, enumitem.sty required

[2019-07-09 16:08] matbesancon commented on #31
@whedon generate pdf from branch juliacon-paper

[2019-07-09 16:08] whedon commented on #31
[code]

[2019-07-09 16:08] whedon commented on #31
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00031/jcon.00031/10.21105.jcon.00031.pdf)

[2019-07-09 16:10] vchuravy commented on #22
Done

[2019-07-09 16:10] #22 closed

[2019-07-09 16:11] vchuravy commented on #12
@whedon set 10.5281/zenodo.3254944 as archive

[2019-07-09 16:11] whedon commented on #12
OK. <a href="https://doi.org/10.5281/zenodo.3254944" target="_blank">10.5281/zenodo.3254944</a> is the archive.

[2019-07-09 16:16] bkamins commented on #25
@matbesancon: I understand that I wait till the status changes to [REVIEW] and the paper PDF is generated + the list like in #28 is in place. Right?

@tszanalytics: I think it will be easier if I give you the feedback as new issues in https://github.com/tszanalytics/Juliacon2019. OK?
Also can you also please guide me where are the runnable codes for your text, as I could not find them in your repo

[2019-07-09 16:19] matbesancon commented on #25
You can start your review now by posting issues on the main repo yes, but this one will likely be closed since the URL is invalid. Once we have a second reviewer, I'll open the review issue exactly

[2019-07-09 16:20] matbesancon commented on #25
@tszanalytics you should submit with https://github.com/tszanalytics/Juliacon2019 as repository if it is your main repo

[2019-07-09 16:22] matbesancon commented on #15
@MichielStock can you let us know when you have done the changes?

[2019-07-09 16:22] nlw0 commented on #12
Thanks everyone. Is there anything else I can do?

[2019-07-09 16:25] matbesancon commented on #12
@whedon check references

[2019-07-09 16:25] whedon commented on #12
[code]

[2019-07-09 16:25] matbesancon commented on #28
@whedon check references

[2019-07-09 16:25] whedon commented on #28
[code]

[2019-07-09 16:25] kescobo commented on #25
I'd love to review, but I'm fairly strapped for time (and off the grid for a week starting Friday). What's the time frame?

[2019-07-09 16:26] whedon commented on #28
[code]

[2019-07-09 16:34] snoeyink opened #32 "Paper specifications? (a4/letter, page limit)"
I'm trying to find the specifications of page limit and paper size for the proceedings.
One author asked if it was ok to use single column, and another has formatted for A4 paper...
Thanks

[2019-07-09 16:34] whedon commented on #32
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for them to find some reviewers for your submission. This may take anything between a few hours to a couple of wee

[2019-07-09 16:34] whedon commented on #32
[code]

[2019-07-09 16:34] whedon commented on #32
PDF failed to compile for issue #32 with the following error:

 Can't find any papers to compile :-(

[2019-07-09 16:42] matbesancon commented on #32
There is a provided template http://github.com/JuliaCon/JuliaConSubmission.jl which should not be changed.
The page limit is one + references for extended abstracts and around 8 pages (there is no category or such on the issue)

[2019-07-09 16:44] mehalter commented on #29
@whedon commands

[2019-07-09 16:44] whedon commented on #29
Here are some things you can ask me to do:

[code]

[2019-07-09 16:45] arfon commented on #12
@matbesancon looks like I might need to do some debugging here. I’m slammed with work until tomorrow evening but will get to this...

[2019-07-09 16:46] mehalter commented on #29
@whedon generate pdf

[2019-07-09 16:46] whedon commented on #29
[code]

[2019-07-09 16:47] whedon commented on #29
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00029/jcon.00029/10.21105.jcon.00029.pdf)

[2019-07-09 16:47] mehalter commented on #29
@whedon check references

[2019-07-09 16:47] whedon commented on #29
[code]

[2019-07-09 16:47] whedon commented on #29
[code]

[2019-07-09 16:49] matbesancon commented on #12
thanks great, I'll give it another try just in case

[2019-07-09 16:49] matbesancon commented on #12
@whedon check references

[2019-07-09 16:49] whedon commented on #12
[code]

[2019-07-09 17:02] tkoolen commented on #22
Sorry, I'm trying to graduate by the end of the summer so I can't commit to this review.

[2019-07-09 17:04] matbesancon commented on #22
no problem, good luck

[2019-07-09 17:08] snoeyink commented on #32
The template declares letterpaper but sets paperheight and paperwidth of A4 with letter paper size.
\DeclareOption{letterpaper}
   {\setlength\paperheight {11.69in}%
    \setlength\paperwidth  {8.27in}%
    \def\special@paper{8.5in,11in}
	\special{papersize=8.5in,11in}}

I see this evil is inherited from the IJCA template.  For a faq on paper size: https://texfaq.org/FAQ-papergeom

[2019-07-09 17:09] MichielStock commented on #15
I have done the changes and merged them into the `master` branch.

[2019-07-09 17:09] matbesancon commented on #32
yes clearly, we didn't have time to change all the settings, better let them as-is for now :man_shrugging:

[2019-07-09 17:10] matbesancon commented on #25
This would be fine, @bkamins can start the review and you can pick up after you come back

[2019-07-09 17:27] matbesancon commented on #28
@raphaelsaavedra check the references to update above

[2019-07-09 19:09] tszanalytics commented on #25
@whedon generate pdf

[2019-07-09 19:09] whedon commented on #25
[code]

[2019-07-09 19:09] whedon commented on #25
PDF failed to compile for issue #25 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/25 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon/pr

[2019-07-09 19:09] raphaelsaavedra commented on #28
@matbesancon Thanks! I have included the suggested DOIs, except for "A new approach to linear filtering and prediction problems". I included what I believe is the correct DOI, 10.1115/1.3662552. The updated version is already in the master, do I need to make a new release?

[2019-07-09 19:11] matbesancon commented on #28
No I don't think it is necessary now

On Tue, Jul 9, 2019, 21:10 Raphael Saavedra <notifications@github.com>
wrote:

[2019-07-09 19:28] vchuravy commented on #11
@miguelraz just a reminder that you still have this open. The new deadline for all submissions is Aug 31.

[2019-07-09 19:31] matbesancon commented on #25
@whedon generate pdf

[2019-07-09 19:31] whedon commented on #25
[code]

[2019-07-09 19:31] whedon commented on #25
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00025/jcon.00025/10.21105.jcon.00025.pdf)

[2019-07-09 19:32] vchuravy commented on #26
@whedon generate pdf

[2019-07-09 19:32] whedon commented on #26
[code]

[2019-07-09 19:32] matbesancon commented on #25
@whedon add @kescobo as reviewer

[2019-07-09 19:32] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon.rb:123:in `block in check_orcids': Problem with ORCID (0000-0000-0000-0000) for Pablo Glüzmann (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-85c572552d68/lib/whedon.rb:121:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon

[2019-07-09 19:32] whedon commented on #25
OK, @kescobo is now a reviewer

[2019-07-09 19:33] matbesancon commented on #25
@whedon start review

[2019-07-09 19:33] matbesancon commented on #25
@tszanalytics problem fixed :)

[2019-07-09 19:35] matbesancon commented on #25
@whedon start review

[2019-07-09 19:38] tszanalytics commented on #25
@matbesancon  Ok, I withdrew and resubmitted using the URL as suggested.  It compled OK this time, thanks for the help!

@bkamins  Thanks for agreeing to review my paper.  I've removed the additional tex and pdf files from the \paper folder.  I just have code snippets in the paper, but I can post more complete runnable examples of julia code and add the URL to the paper.  I will do so asap.  Let m

[2019-07-09 20:55] bkamins commented on #25
@tszanalytics I asked about the codes, because if you look at https://github.com/JuliaCon/proceedings-review/issues/28 for example there are the following criteria that the paper must meet (I am copying the relevant ones from **General checks**, but please review all of them there to make sure that your submission complies with it):

### General checks

- [ ] **Repository:** Is the source code for

[2019-07-09 20:56] snoeyink commented on #31
This paper introduces a raytracer built in Julia that allows the Zygote Automatic Differentiation tool to compute gradients of parameters.
One can then optimize parameter values for scene understanding or reconstruction.

The examples shown are toy experiments of obtaining camera or light parameters to match a rendered image. They demonstrate that
the combination works, which is good.

I would lik

[2019-07-09 20:59] snoeyink commented on #31
@whedon commands

[2019-07-09 20:59] whedon commented on #31
Here are some things you can ask me to do:

[code]

[2019-07-09 22:32] dpanigo commented on #26
@whedon generate pdf

[2019-07-09 22:32] whedon commented on #26
[code]

[2019-07-09 22:32] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-09 22:42] dpanigo commented on #26
@whedon generate pdf

[2019-07-09 22:43] whedon commented on #26
[code]

[2019-07-09 22:43] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-09 22:59] dpanigo commented on #26
@whedon generate pdf

[2019-07-09 22:59] whedon commented on #26
[code]

[2019-07-09 22:59] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-09 23:05] dpanigo commented on #26
@whedon generate pdf

[2019-07-09 23:05] whedon commented on #26
[code]

[2019-07-09 23:05] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-09 23:43] dpanigo commented on #26
@whedon generate pdf

[2019-07-09 23:43] whedon commented on #26
[code]

[2019-07-09 23:44] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-09 23:46] dpanigo commented on #26
@whedon generate pdf

[2019-07-09 23:46] whedon commented on #26
[code]

[2019-07-09 23:47] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-10 00:09] dpanigo commented on #26
@whedon check references

[2019-07-10 00:09] whedon commented on #26
[code]

[2019-07-10 00:30] dpanigo commented on #26
@whedon generate pdf

[2019-07-10 00:30] whedon commented on #26
[code]

[2019-07-10 00:31] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-10 00:38] dpanigo commented on #26
@matbesancon ... @vchuravy .
Excuse-us for asking you again. We have been trying multiple times. But it still fails to compile. We have had some improvements but, right now, we are stucked with the following reference/citation error (even if it compiles perfectly in Overleaf -Valentin Churavy has been invited as collaborator in our Overleaf directory-.
Thanks in advance.
Demian

Latexmk: List of u

[2019-07-10 05:50] MartinOtter commented on #30
Added the missing file.

[2019-07-10 08:55] matbesancon commented on #30
@whedon generate pdf from branch JuliaCon2019-paper

[2019-07-10 08:55] whedon commented on #30
[code]

[2019-07-10 08:55] whedon commented on #30
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00030/jcon.00030/10.21105.jcon.00030.pdf)

[2019-07-10 08:56] matbesancon commented on #30
@Datseris would you like to review this proceeding?

[2019-07-10 08:59] matbesancon commented on #30
@rdeits would you be available to review this proceeding?

[2019-07-10 11:02] Datseris commented on #30
@matbesancon yes, I accept reviewing this. (but I am letting you know that this will be my first review in JOSS)

[2019-07-10 16:32] vchuravy commented on #26
@dpanigo can you setup the repository to have the directory structures stated in submission requirements? https://proceedings.juliacon.org/guide/authors/

Instead of have a folder `juliacon2019proceedings` please have a folder `paper`. You can do this in a branch.

[2019-07-11 17:27] dpanigo commented on #26
Ok @vchuravy... we will try that change.

[2019-07-11 19:59] avik-pal commented on #31
@whedon generate pdf from branch juliacon-paper

[2019-07-11 19:59] whedon commented on #31
[code]

[2019-07-11 19:59] whedon commented on #31
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00031/jcon.00031/10.21105.jcon.00031.pdf)

[2019-07-11 20:52] dpanigo commented on #26
@whedon generate pdf

[2019-07-11 20:52] whedon commented on #26
[code]

[2019-07-11 20:53] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-11 21:10] arfon commented on #12
Looks like the reference checker is failing on these comments. I've fixed the bibtex in https://github.com/nlw0/chipsort-article/pull/1

[2019-07-11 21:22] arfon commented on #12
@whedon check references

[2019-07-11 21:22] whedon commented on #12
[code]

[2019-07-11 21:23] whedon commented on #12
[code]

[2019-07-11 21:26] arfon commented on #12
@whedon accept

[2019-07-11 21:26] whedon commented on #12
I'm sorry @arfon, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-07-11 21:26] arfon commented on #12
@vchuravy - can you try `@whedon accept`?

[2019-07-11 21:29] matbesancon commented on #30
no problem, this is pretty smooth usually

[2019-07-11 21:29] matbesancon commented on #30
@whedon add @Datseris as reviewer

[2019-07-11 21:30] whedon commented on #30
OK, @Datseris is now a reviewer

[2019-07-11 21:30] dpanigo commented on #26
@whedon generate pdf

[2019-07-11 21:30] whedon commented on #26
[code]

[2019-07-11 21:30] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-11 21:43] dpanigo commented on #26
@whedon generate pdf

[2019-07-11 21:43] whedon commented on #26
[code]

[2019-07-11 21:43] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-11 22:08] dpanigo commented on #26
@whedon generate pdf

[2019-07-11 22:08] whedon commented on #26
[code]

[2019-07-11 22:08] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-11 22:14] dpanigo commented on #26
@whedon generate pdf

[2019-07-11 22:14] whedon commented on #26
[code]

[2019-07-11 22:14] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-11 22:24] dpanigo commented on #26
@whedon generate pdf

[2019-07-11 22:25] whedon commented on #26
[code]

[2019-07-11 22:25] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-11 22:27] dpanigo commented on #26
@whedon generate pdf

[2019-07-11 22:27] whedon commented on #26
[code]

[2019-07-11 22:27] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-11 22:32] dpanigo commented on #26
@whedon compile pdf

[2019-07-11 22:32] dpanigo commented on #26
@whedon generate pdf

[2019-07-11 22:32] whedon commented on #26
[code]

[2019-07-11 22:33] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-11 23:18] dpanigo commented on #26
@whedon generate pdf

[2019-07-11 23:18] whedon commented on #26
[code]

[2019-07-11 23:18] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-12 01:04] dpanigo commented on #26
@whedon generate pdf

[2019-07-12 01:04] whedon commented on #26
[code]

[2019-07-12 01:04] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-12 01:21] dpanigo commented on #26
@whedon generate pdf

[2019-07-12 01:21] whedon commented on #26
[code]

[2019-07-12 01:21] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-12 02:21] nicomzn commented on #26
@whedon generate pdf

[2019-07-12 02:21] whedon commented on #26
[code]

[2019-07-12 02:21] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-12 02:38] nicomzn commented on #26
@whedon commands

[2019-07-12 02:38] whedon commented on #26
Here are some things you can ask me to do:

[code]

[2019-07-12 02:40] nicomzn commented on #26
@whedon generate pdf from /tree/master/paper

[2019-07-12 02:40] whedon commented on #26
[code]

[2019-07-12 02:40] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-12 02:44] nicomzn commented on #26
@whedon check references

[2019-07-12 02:44] whedon commented on #26
[code]

[2019-07-12 03:13] nicomzn commented on #26
@whedon generate pdf

[2019-07-12 03:13] whedon commented on #26
[code]

[2019-07-12 03:13] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-12 03:30] dpanigo commented on #26
@vchuravy  .... apologize for disrupting you again. We know you are very bussy with the conference. We just want to tell you that we move the folder to the appropiate github location but the error remains....
Once again... the paper compiles perfectly in Overleaf (you also have an invitation to see how it work on Overleaf)...
We compared our 4 key files (paper.tex, ref.bib, header.tex and paper.ym

[2019-07-12 07:36] vchuravy commented on #12
@whedon accept

[2019-07-12 07:36] whedon commented on #12
[code]

[2019-07-12 07:55] matbesancon commented on #26
@whedon generate pdf

[2019-07-12 07:55] whedon commented on #26
[code]

[2019-07-12 07:55] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-12 11:41] arfon commented on #12
One more time please @vchuravy :-)

[2019-07-12 12:10] whedon commented on #12
Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/3

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/3, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-07-12 12:15] arfon commented on #12
@vchuravy - I've left a comment on https://github.com/JuliaCon/proceedings-papers/pull/3 that it would be good to address before we register the DOI with Crossref.

[2019-07-12 12:22] whedon commented on #12
[code]

[2019-07-12 12:53] whedon commented on #12
[code]

[2019-07-12 13:25] whedon commented on #12
[code]

[2019-07-13 08:21] whedon opened #33 "[PRE REVIEW]: Probabilistic Biostatistics with Julia"
**Submitting author:** @tszanalytics (<a href="http://orcid.org/0000-0002-2469-1796">Jeffrey A Mills</a>)
**Repository:** <a href="https://github.com/tszanalytics/Juliacon2019" target ="_blank">https://github.com/tszanalytics/Juliacon2019</a>
**Editor:** @matbesancon
**Reviewers:** @bkamins, @kescobo

**Author instructions**

Thanks for submitting your paper to JuliaCon @tszanalytics. The JuliaCon

[2019-07-13 08:21] whedon commented on #33
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matbesancon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently

[2019-07-13 08:21] whedon commented on #33
[code]

[2019-07-13 08:21] whedon opened #34 "[PRE REVIEW]: GlobalSearchRegression.jl: Building bridges between Machine Learning and Econometrics in Fat-Data scenarios"
**Submitting author:** @dpanigo (<a href="http://orcid.org/0000-0003-2468-1632">Demian Tupac PANIGO</a>)
**Repository:** <a href="https://github.com/ParallelGSReg/GlobalSearchRegression.jl" target ="_blank">https://github.com/ParallelGSReg/GlobalSearchRegression.jl</a>
**Editor:** @vchuravy
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JuliaCon @dpanigo. The J

[2019-07-13 08:21] whedon commented on #34
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vchuravy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in

[2019-07-13 08:21] whedon commented on #34
[code]

[2019-07-13 08:21] whedon commented on #34
PDF failed to compile for issue #34 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-13 08:21] whedon commented on #33
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00033/jcon.00033/10.21105.jcon.00033.pdf)

[2019-07-13 13:59] nicomzn commented on #26
@whedon generate pdf

[2019-07-13 13:59] whedon commented on #26
[code]

[2019-07-13 13:59] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-13 14:39] nicomzn commented on #26
@whedon generate pdf

[2019-07-13 14:39] whedon commented on #26
[code]

[2019-07-13 14:39] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-13 18:55] dpanigo commented on #26
@matbesancon ... @vchuravy
After trying many different approaches. The compilation error is still there. Therefore, we will undertake a different perspective with baby-step modifications using your template as starting point. We will need to submit and withdraw the paper many times but using this methodology we expect to discover where the problem is.
Please, excuse-us for using whedon so intensel

[2019-07-13 19:00] dpanigo commented on #26
@whedon generate pdf

[2019-07-13 19:01] whedon commented on #26
[code]

[2019-07-13 19:01] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-13 19:03] dpanigo commented on #26
@whedon commands

[2019-07-13 19:03] whedon commented on #26
Here are some things you can ask me to do:

[code]

[2019-07-13 19:04] dpanigo commented on #26
@whedon generate pdf from branch master

[2019-07-13 19:04] whedon commented on #26
[code]

[2019-07-13 19:04] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-13 19:09] dpanigo commented on #26
@whedon generate  pdf

[2019-07-13 19:12] dpanigo commented on #26
@whedon generate pdf

[2019-07-13 19:12] whedon commented on #26
[code]

[2019-07-13 19:12] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-13 19:17] dpanigo commented on #26
@whedon generate pdf from branch paper

[2019-07-13 19:17] whedon commented on #26
[code]

[2019-07-13 19:18] whedon commented on #26
PDF failed to compile for issue #26 with the following error:

 error: pathspec 'paper' did not match any file(s) known to git.
rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:

[2019-07-14 07:46] whedon commented on #12
[code]

[2019-07-14 16:25] christianpeel commented on #15
I very much like the plot of benchmark times that you added to the Readme.

[2019-07-14 16:34] rohanmclure commented on #20
Sorry about the wait in acting on those issues, I have been in transit. I have addressed the four issues, and will set up CircleCI / Travis soon for CI, but testing documentation has been provided in `README.md`.

The Binder link should now provide a Jupyter notebook with Julia 1.1.0 and Python 3 kernels available.

[2019-07-14 16:39] jpsamaroo commented on #20
Great! Is it possible to create DOI references for the lecture and screencast at the end of the `ref.bib`?

[2019-07-14 19:50] bkamins commented on #25
@matbesancon - I can see that you have started the review, but the "checklist" has not generated yet. Should I wait for it or I have missed something.

@tszanalytics - I can review the paper as is if you prefer not to add working codes to the repository. Please let me know how you see this.

[2019-07-14 20:12] matbesancon commented on #25
thanks for the ping, it hasn't started indeed

[2019-07-14 20:12] matbesancon commented on #25
@whedon start review

[2019-07-14 20:14] matbesancon commented on #25
@whedon commands

[2019-07-14 20:14] whedon commented on #25
Here are some things you can ask me to do:

[code]

[2019-07-14 20:15] matbesancon commented on #25
@whedon start review

[2019-07-14 20:18] matbesancon commented on #25
@arfon not sure why whedon isn't kicking off the review?

[2019-07-15 00:36] arfon commented on #25
@matbesancon - it's showing up as `withdrawn` on the proceedings site. Is this incorrect?

[2019-07-15 04:50] rohanmclure commented on #20
I don't have any way to generate DOI links, however I can provide URLs for each of them.

[2019-07-15 09:06] vchuravy commented on #21
@whedon  commands

[2019-07-15 09:08] vchuravy commented on #24
@jd-lara, @bfpc, @farpac, @lccostajr would you be willing to review this paper?

[2019-07-15 09:12] vchuravy commented on #24
@musm, @bkamins, @dourouc05, @dawbarton, @Lukrosz would you be willing to review this submission?

[2019-07-15 09:13] vchuravy commented on #21
@NiklasGustafsson  would you be interested in reviewing this paper? https://proceedings.juliacon.org/guide/reviewers/

[2019-07-15 09:29] frapac commented on #24
I would be happy to review this paper.

[2019-07-15 09:50] matbesancon commented on #24
@whedon add @frapac as reviewer

[2019-07-15 09:50] Lukrosz commented on #24
Hi, I'd like to review this article as well.

[2019-07-15 09:50] whedon commented on #24
OK, @frapac is now a reviewer

[2019-07-15 09:50] matbesancon commented on #24
@whedon add @Lukrosz as reviewer

[2019-07-15 09:50] whedon commented on #24
OK, @Lukrosz is now a reviewer

[2019-07-15 09:50] matbesancon commented on #24
@whedon start review

[2019-07-15 09:50] whedon opened #35 "[REVIEW]: HydroPowerModels.jl: A Julia/JuMP Package forHydrothermal Economic Dispatch Optimization"
**Submitting author:** @andrewrosemberg (<a href="http://orcid.org/0000-0002-6880-8845">Andrew Rosemberg</a>)
**Repository:** <a href="https://github.com/andrewrosemberg/HydroPowerModels.jl" target ="_blank">https://github.com/andrewrosemberg/HydroPowerModels.jl</a>
**Editor:** @vchuravy
**Reviewer:** @frapac, @Lukrosz
**Archive:** <a href="https://doi.org/10.5281/zenodo.3842130" target="_blank">1

[2019-07-15 09:50] whedon commented on #24
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/35. Feel free to close this issue now!

[2019-07-15 09:50] whedon commented on #35
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @frapac, @Lukrosz it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you're probably cu

[2019-07-15 09:50] whedon commented on #35
[code]

[2019-07-15 09:51] #24 closed

[2019-07-15 09:51] whedon commented on #35
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00035/jcon.00035/10.21105.jcon.00035.pdf)

[2019-07-15 09:55] matbesancon commented on #25
ah point, sorry yup

[2019-07-15 09:56] matbesancon commented on #33
@whedon add @bkamins as reviewer

[2019-07-15 09:56] whedon commented on #33
OK, @bkamins is now a reviewer

[2019-07-15 09:56] matbesancon commented on #33
@whedon add @kescobo as reviewer

[2019-07-15 09:56] whedon commented on #33
OK, @kescobo is now a reviewer

[2019-07-15 09:56] matbesancon commented on #33
@whedon start review

[2019-07-15 09:56] whedon opened #36 "[REVIEW]: Probabilistic Biostatistics with Julia"
**Submitting author:** @tszanalytics (<a href="http://orcid.org/0000-0002-2469-1796">Jeffrey A Mills</a>)
**Repository:** <a href="https://github.com/tszanalytics/Juliacon2019" target ="_blank">https://github.com/tszanalytics/Juliacon2019</a>
**Editor:** @matbesancon
**Reviewer:** @bkamins, @kescobo
**Archive:** Pending

## Status

[![status](https://proceedings.juliacon.org/papers/a0a30e56a0e272f

[2019-07-15 09:56] whedon commented on #33
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/36. Feel free to close this issue now!

[2019-07-15 09:56] whedon commented on #36
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @bkamins, @kescobo it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you're probably c

[2019-07-15 09:56] whedon commented on #36
[code]

[2019-07-15 09:56] #33 closed

[2019-07-15 09:56] #25 closed

[2019-07-15 09:56] whedon commented on #36
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00036/jcon.00036/10.21105.jcon.00036.pdf)

[2019-07-15 09:59] matbesancon commented on #31
@dehann @dourouc05 would you be available to review this proceeding?

[2019-07-15 10:00] matbesancon commented on #28
@whedon check references

[2019-07-15 10:00] whedon commented on #28
[code]

[2019-07-15 10:00] whedon commented on #28
[code]

[2019-07-15 13:00] dourouc05 commented on #31
I would be available, starting from Wednesday! (For the process, shall I put the review here? Or is there a more detailed guide?)

[2019-07-15 13:01] matbesancon commented on #31
@whedon add @dourouc05 as reviewer

[2019-07-15 13:01] whedon commented on #31
OK, @dourouc05 is now a reviewer

[2019-07-15 13:12] matbesancon commented on #31
Yes there is a guide [here](https://proceedings.juliacon.org/guide/reviewers/), the review issue will be opened soon with a checklist

[2019-07-15 13:12] matbesancon commented on #31
@whedon start review

[2019-07-15 13:12] whedon opened #37 "[REVIEW]: RayTracer.jl: A General Purpose Differentiable Renderer"
**Submitting author:** @avik-pal (<a href="http://orcid.org/0000-0002-3938-7375">Avik Pal</a>)
**Repository:** <a href="https://github.com/avik-pal/RayTracer.jl" target ="_blank">https://github.com/avik-pal/RayTracer.jl</a>
**Editor:** @matbesancon
**Reviewer:** @snoeyink, @dourouc05
**Archive:** <a href="https://doi.org/10.5281/zenodo.1442781" target="_blank">10.5281/zenodo.1442781</a>

## Status

[2019-07-15 13:12] whedon commented on #31
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/37. Feel free to close this issue now!

[2019-07-15 13:12] whedon commented on #37
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @snoeyink, @dourouc05 it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you're probabl

[2019-07-15 13:12] whedon commented on #37
[code]

[2019-07-15 13:12] #31 closed

[2019-07-15 13:12] whedon commented on #37
PDF failed to compile for issue #37 with the following error:

 Can't find any papers to compile :-(

[2019-07-15 13:13] matbesancon commented on #37
Comment from the pre-review from @snoeyink
This paper introduces a raytracer built in Julia that allows the Zygote Automatic Differentiation tool to compute gradients of parameters.
One can then optimize parameter values for scene understanding or reconstruction.

The examples shown are toy experiments of obtaining camera or light parameters to match a rendered image. They demonstrate that
the com

[2019-07-15 13:13] matbesancon commented on #37
@whedon generate pdf from branch juliacon-paper

[2019-07-15 13:13] whedon commented on #37
[code]

[2019-07-15 13:13] whedon commented on #37
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00037/jcon.00037/10.21105.jcon.00037.pdf)

[2019-07-15 13:32] jd-lara commented on #24
Yes I can review the paper

[2019-07-15 15:43] dourouc05 commented on #24
If need be, I can also review this submission (not before Wednesday, though).

[2019-07-15 15:51] Nosferican commented on #19
Bump.

[2019-07-15 15:52] matbesancon commented on #24
thanks both, this one already has two reviewers so it will be good to go as-is, don't hesitate to check the ones in pre-review

[2019-07-15 16:04] matbesancon commented on #24
Like this one: https://github.com/JuliaCon/proceedings-review/issues/19

[2019-07-15 17:49] matbesancon commented on #19
@whedon add @cpfiffer as reviewer

[2019-07-15 17:49] whedon commented on #19
OK, @cpfiffer is now a reviewer

[2019-07-15 20:42] frapac commented on #35
@andrewrosemberg Do you mind if I open a PR on HydroPowerModels.jl to comment out your article?

[2019-07-15 20:59] pkofod commented on #19
I'll review it.

[2019-07-15 20:59] matbesancon commented on #19
@whedon add @pkofod as reviewer

[2019-07-15 20:59] whedon commented on #19
OK, @pkofod is now a reviewer

[2019-07-15 21:00] matbesancon commented on #19
@whedon start review

[2019-07-15 21:00] whedon opened #38 "[REVIEW]: Econometrics.jl"
**Submitting author:** @Nosferican (<a href="http://orcid.org/0000-0002-8406-6175">José Bayoán Santiago Calderón</a>)
**Repository:** <a href="https://github.com/Nosferican/Econometrics.jl" target ="_blank">https://github.com/Nosferican/Econometrics.jl</a>
**Editor:** @matbesancon
**Reviewer:** @cpfiffer, @pkofod
**Archive:** <a href="https://doi.org/10.5281/zenodo.3380041" target="_blank">10.5281

[2019-07-15 21:00] whedon commented on #19
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/38. Feel free to close this issue now!

[2019-07-15 21:00] whedon commented on #38
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cpfiffer, @pkofod it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you're probably c

[2019-07-15 21:00] whedon commented on #38
[code]

[2019-07-15 21:00] whedon commented on #38
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00038/jcon.00038/10.21105.jcon.00038.pdf)

[2019-07-15 21:03] andrewrosemberg commented on #35
I don't mind at all. Please feel free to open one!

[2019-07-16 00:26] vchuravy commented on #20
You can deposit them with Zenodo.

[2019-07-16 00:27] #19 closed

[2019-07-17 10:11] Lukrosz commented on #35
Hi @andrewrosemberg,

Here attached is a document with my reviews of your article ([HydroPowerModels.jl_article.pdf](https://github.com/JuliaCon/proceedings-review/files/3401264/HydroPowerModels.jl_article.pdf)). For now, they are mainly focused on the structure and grammatics of the article and details about the model. Later on, I will comment about the package.

Let me know when you have the cha

[2019-07-18 02:01] tszanalytics commented on #36
Just an update:  I am putting together example code to generate all the figures and the table in the paper.  I will post this on the repo soon.  I've add a license.  I have added a table and made some other changes to the paper, and I am still working on editing the paper - I will upload a revised version soon.  I will also add the conference presentation and any related code to the repo once I ha

[2019-07-18 06:55] bkamins commented on #36
Thank you for all this. So probably it is best if we wait for the update before reviewing. Right?
Please let us know when you are done. Thank you.

Some minor points while you update the text are (this is based on just skimming over the paper - I will read it in derail after the final version is uploaded):
* could you please increase the font side a bit in Fig. 1, 3, 4, 5 (to match the font size o

[2019-07-18 14:54] rohanmclure commented on #20
I have the DOI links submitted now, thanks.

[2019-07-18 18:38] tszanalytics commented on #36
Yes, waiting for the update before reviewing makes sense.  I will incorporate all your suggestions above, thanks for these!

[2019-07-19 18:48] jpsamaroo commented on #20
Thanks for that! I'm doing my best to make time to finish up my review of the code functionality/performance and paper content; in the meantime, please check out the following file for my comments on the paper so far: [ArrayChannels-review](https://git.sr.ht/~jpsamaroo/ArrayChannels-review/tree/master/paper.md)

[2019-07-21 17:39] rohanmclure commented on #20
Thanks Julian, appreciate your comments, and will submit another commit acknowledging them tonight.

[2019-07-21 20:20] frapac commented on #35
Hi @andrewrosemberg,
please find [my final review](https://github.com/frapac/HydroPowerModels.jl/blob/fp/review/paper/review.md) of the paper. Let me know if you have any question about it!

[2019-07-21 21:48] andrewrosemberg commented on #35
Hi @frapac and @Lukrosz,
Thank you for your reviews! I just pushed 0a05688489d83478bd03daba1a40e945025fd9c2 changes according to some of the comments of your first reviews.

I will continue working to resolve the remaining points of your comments. Please let me know it you have any questions or additional comments.

[2019-07-22 01:59] rohanmclure commented on #20
Hi Julian, I've responded to your recommendations so far. Thanks!

[2019-07-22 18:29] kescobo commented on #36
Alright - I'm back. Looks like a lot has happened, but we're waiting on some updates before moving forward with review. Is that right?

[2019-07-22 21:53] tszanalytics commented on #36
Yep, working on my presentation right now!  Will update this after the presentation.

[2019-07-22 22:05] cpfiffer commented on #38
[econometrics-jl-comments.pdf](https://github.com/JuliaCon/proceedings-review/files/3419300/econometrics-jl-comments.pdf)

I've uploaded a PDF with some of my comments on the proof. Mostly minor stuff.

The remaining points I have on the review list are

- API documentation. Your docstrings are pretty light in the actual source, and you don't have Documenter.jl set up to publish the docstrings on

[2019-07-23 03:01] lccostajr commented on #24
Hi, unfortunately this message went to Spam folder and I could see it only
now.
I would like to review this paper.

On Mon, 15 Jul 2019 at 06:08, Valentin Churavy <notifications@github.com>
wrote:

[2019-07-23 03:02] Nosferican commented on #38
Thanks for taking time to go over it. I took a brief look at the PDF with the comments and will be making revisions in the next couple days.

I have updated the repository to docstring every functioned and struct defined in the package. Most of the functions lack docstring if those are defined in other packages and their docstring are appropriate.

The public API includes: `EconometricModel`, `abs

[2019-07-23 12:54] cpfiffer commented on #38
For the documentation API I was referring to using Documenter's abiity to export docstrings, not whether or not you have a documentation site. Currently it contains some useful examples examples, but no API library.

Using the [StatsModels](https://juliastats.github.io/StatsModels.jl/stable/api/) site as an example, they have an `api.md` that uses Documenter to render all their docstrings to the w

[2019-07-23 13:15] Nosferican commented on #38
Got it. Thanks for the feedback. I think the public API is stable enough to make it "official" and publish it in the docs now (e.g., the internals of the types). Will do.

[2019-07-23 14:03] snoeyink commented on #37
added comments in [avik-pal/RayTracer.jl#9](https://github.com/avik-pal/RayTracer.jl/issues/9) on latest version, which is an improvement.

[2019-07-24 15:36] bkamins commented on #36
Some small code review comments:
* n your text `Array{Real}` can be probably replaced by `Array{Float64}` and the code shall run faster.
* you define `wt_draws` twice but do not define `wp_draws` below in the code and probably you do not need to call `Array` when you extract values from `ct`

(I can check it if we have reproducible codes)

[2019-07-25 10:13] jpsamaroo commented on #20
`@whedon commands`

[2019-07-25 10:16] jpsamaroo commented on #20
@whedon generate pdf

[2019-07-25 10:16] whedon commented on #20
[code]

[2019-07-25 10:16] whedon commented on #20
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00020/jcon.00020/10.21105.jcon.00020.pdf)

[2019-07-26 13:12] tszanalytics commented on #36
Thanks Bogumil!  I had spotted the wt_draws error but not the Real.  Also, thanks for answering Stefan K's question more clearly than I did at my presentation - I chatted with him later and he said you had explained it to him.

At the airport in Baltimore waiting for my flight right now.  Wish I could have stayed for the hackathon.  Was a fantastic conference.  Hope to chat with you at JuliaCon 20

[2019-07-26 13:39] whedon opened #39 "[PRE REVIEW]: GlobalSearchRegression.jl: Building bridges between Machine Learning and Econometrics for Fat-Data"
**Submitting author:** @nicomzn (<a href="http://orcid.org/0000-0002-4846-7916">Nicolás Monzón</a>)
**Repository:** <a href="https://github.com/ParallelGSReg/GlobalSearchRegression.jl" target ="_blank">https://github.com/ParallelGSReg/GlobalSearchRegression.jl</a>
**Editor:** @vchuravy
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JuliaCon @nicomzn. The JuliaC

[2019-07-26 13:39] whedon opened #40 "[PRE REVIEW]: GlobalSearchRegression.jl: Building bridges between Machine Learning and Econometrics in Fat-Data scenarios"
**Submitting author:** @dpanigo (<a href="http://orcid.org/0000-0003-2468-1632">Demian Tupac PANIGO</a>)
**Repository:** <a href="https://github.com/ParallelGSReg/JuliaCon2019" target ="_blank">https://github.com/ParallelGSReg/JuliaCon2019</a>
**Editor:** @vchuravy
**Reviewers:** @Nosferican, @andreasnoack

**Author instructions**

Thanks for submitting your paper to JuliaCon @dpanigo. **Currently

[2019-07-26 13:39] whedon commented on #39
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vchuravy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in

[2019-07-26 13:39] whedon commented on #39
[code]

[2019-07-26 13:39] whedon commented on #40
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in a `pre-review` state which means we are waiting for an editor to be assigned and for t

[2019-07-26 13:39] whedon commented on #40
[code]

[2019-07-26 13:39] whedon commented on #40
Failed to discover a valid open source license.

[2019-07-26 13:39] whedon commented on #39
PDF failed to compile for issue #39 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 13:39] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 13:39] whedon opened #41 "[PRE REVIEW]: Markov Chain-Monte Carlo Methods for Linear Algebra using Julia v.1.0"
**Submitting author:** @oaefbsc (<a href="http://orcid.org/0000-0003-1451-1285">Oscar Alejandro Esquivel-Flores</a>)
**Repository:** <a href="https://github.com/oaefbsc/Juliacon2019" target ="_blank">https://github.com/oaefbsc/Juliacon2019</a>
**Editor:** @vchuravy
**Reviewers:** @dpsanders, @andreasnoack

**Author instructions**

Thanks for submitting your paper to JuliaCon @oaefbsc. The JuliaCon

[2019-07-26 13:39] whedon commented on #41
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matbesancon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently

[2019-07-26 13:39] whedon commented on #41
[code]

[2019-07-26 13:39] whedon commented on #41
Failed to discover a valid open source license.

[2019-07-26 13:39] whedon commented on #41
PDF failed to compile for issue #41 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon/author.rb:23:in `strip_footnotes': undefined method `[]' for nil:NilClass (NoMethodError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b684e6/lib/whedon/author.rb:13:in `initialize'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-5a9319b

[2019-07-26 14:05] bkamins commented on #36
@tszanalytics - thank you for a very nice presentation (and I did not think that you knew that it was me who made the remark - but it turns out you did 😄).

I am obsessed with the difference in interpretation of hypothesis test results in frequentist and Bayesian inference (and actually I think that Bayesian interpretation is more intuitive for most people) and your work fits perfectly into this p

[2019-07-26 14:40] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 14:40] whedon commented on #40
[code]

[2019-07-26 14:40] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 14:41] nicomzn commented on #40
@whedon command

[2019-07-26 14:42] nicomzn commented on #40
@whedon commands

[2019-07-26 14:42] whedon commented on #40
Here are some things you can ask me to do:

[code]

[2019-07-26 14:45] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 14:45] whedon commented on #40
[code]

[2019-07-26 14:45] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 14:47] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 14:48] whedon commented on #40
[code]

[2019-07-26 14:48] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 14:50] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 14:50] whedon commented on #40
[code]

[2019-07-26 14:50] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 14:52] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 14:52] whedon commented on #40
[code]

[2019-07-26 14:52] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 14:54] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 14:54] whedon commented on #40
[code]

[2019-07-26 14:54] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 14:55] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 14:55] whedon commented on #40
[code]

[2019-07-26 14:55] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 14:57] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 14:58] whedon commented on #40
[code]

[2019-07-26 14:58] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 14:58] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 14:58] whedon commented on #40
[code]

[2019-07-26 14:59] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 14:59] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 14:59] whedon commented on #40
[code]

[2019-07-26 15:00] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 15:00] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:00] whedon commented on #40
[code]

[2019-07-26 15:00] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 15:01] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:01] whedon commented on #40
[code]

[2019-07-26 15:01] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 15:02] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:02] whedon commented on #40
[code]

[2019-07-26 15:02] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 15:03] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:03] whedon commented on #40
[code]

[2019-07-26 15:03] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 15:04] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:04] whedon commented on #40
[code]

[2019-07-26 15:04] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 15:08] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:08] whedon commented on #40
[code]

[2019-07-26 15:08] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 15:09] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:09] whedon commented on #40
[code]

[2019-07-26 15:09] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 15:10] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:10] whedon commented on #40
[code]

[2019-07-26 15:10] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 15:13] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:13] whedon commented on #40
[code]

[2019-07-26 15:13] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 15:17] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:17] whedon commented on #40
[code]

[2019-07-26 15:17] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 15:18] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:18] whedon commented on #40
[code]

[2019-07-26 15:18] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 15:20] tszanalytics commented on #36
@bkamins - Actually I didn't know it was you at the time, I only found out when I chatted with Stefan later.  I wish I had known so I could have chatted with you.  We must get together at the next time.  My flight delayed so more time to work on the proceedings revisions 😄

[2019-07-26 15:23] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:23] whedon commented on #40
[code]

[2019-07-26 15:23] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 15:24] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:24] whedon commented on #40
[code]

[2019-07-26 15:24] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 15:27] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:27] whedon commented on #40
[code]

[2019-07-26 15:27] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 15:27] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:27] whedon commented on #40
[code]

[2019-07-26 15:28] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 15:32] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:32] whedon commented on #40
[code]

[2019-07-26 15:32] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 15:33] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:33] whedon commented on #40
[code]

[2019-07-26 15:33] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 15:38] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:38] whedon commented on #40
[code]

[2019-07-26 15:38] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 15:43] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:43] whedon commented on #40
[code]

[2019-07-26 15:43] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 15:44] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:44] whedon commented on #40
[code]

[2019-07-26 15:44] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 15:44] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:45] whedon commented on #40
[code]

[2019-07-26 15:45] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 15:52] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:52] whedon commented on #40
[code]

[2019-07-26 15:52] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 15:55] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:55] whedon commented on #40
[code]

[2019-07-26 15:55] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 15:56] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:56] whedon commented on #40
[code]

[2019-07-26 15:56] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 15:58] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:58] whedon commented on #40
[code]

[2019-07-26 15:58] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 15:59] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 15:59] whedon commented on #40
[code]

[2019-07-26 15:59] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 16:00] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:00] whedon commented on #40
[code]

[2019-07-26 16:01] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 16:16] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:16] whedon commented on #40
[code]

[2019-07-26 16:17] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 16:18] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:18] whedon commented on #40
[code]

[2019-07-26 16:18] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 16:22] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:22] whedon commented on #40
[code]

[2019-07-26 16:22] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 16:23] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:23] whedon commented on #40
[code]

[2019-07-26 16:23] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 16:25] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:25] whedon commented on #40
[code]

[2019-07-26 16:25] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 16:26] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:26] whedon commented on #40
[code]

[2019-07-26 16:26] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 16:27] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:27] whedon commented on #40
[code]

[2019-07-26 16:27] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 16:28] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:28] whedon commented on #40
[code]

[2019-07-26 16:29] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 16:29] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:30] whedon commented on #40
[code]

[2019-07-26 16:30] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 16:30] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:31] whedon commented on #40
[code]

[2019-07-26 16:31] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 16:32] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:32] whedon commented on #40
[code]

[2019-07-26 16:32] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 16:33] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:33] whedon commented on #40
[code]

[2019-07-26 16:33] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 16:34] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:34] whedon commented on #40
[code]

[2019-07-26 16:34] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 16:35] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:35] whedon commented on #40
[code]

[2019-07-26 16:35] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 16:36] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:36] whedon commented on #40
[code]

[2019-07-26 16:36] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 16:37] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:37] whedon commented on #40
[code]

[2019-07-26 16:37] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 16:38] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:38] whedon commented on #40
[code]

[2019-07-26 16:38] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 16:39] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:39] whedon commented on #40
[code]

[2019-07-26 16:39] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 16:42] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:43] whedon commented on #40
[code]

[2019-07-26 16:43] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 16:48] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:48] whedon commented on #40
[code]

[2019-07-26 16:48] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 16:49] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:49] whedon commented on #40
[code]

[2019-07-26 16:49] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 16:50] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:51] whedon commented on #40
[code]

[2019-07-26 16:51] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 16:53] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:53] whedon commented on #40
[code]

[2019-07-26 16:53] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 16:55] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:55] whedon commented on #40
[code]

[2019-07-26 16:55] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 16:59] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 16:59] whedon commented on #40
[code]

[2019-07-26 16:59] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 17:00] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 17:00] whedon commented on #40
[code]

[2019-07-26 17:00] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 17:03] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 17:03] whedon commented on #40
[code]

[2019-07-26 17:04] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 17:07] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 17:07] whedon commented on #40
[code]

[2019-07-26 17:07] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 17:09] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 17:09] whedon commented on #40
[code]

[2019-07-26 17:09] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 17:11] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 17:11] whedon commented on #40
[code]

[2019-07-26 17:11] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 17:14] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 17:14] whedon commented on #40
[code]

[2019-07-26 17:15] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 17:15] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 17:15] whedon commented on #40
[code]

[2019-07-26 17:16] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 17:16] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 17:16] whedon commented on #40
[code]

[2019-07-26 17:16] whedon commented on #40
PDF failed to compile for issue #40 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-07-26 17:17] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 17:17] whedon commented on #40
[code]

[2019-07-26 17:17] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 17:27] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 17:27] whedon commented on #40
[code]

[2019-07-26 17:27] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 17:33] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 17:33] whedon commented on #40
[code]

[2019-07-26 17:33] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 17:36] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 17:36] whedon commented on #40
[code]

[2019-07-26 17:36] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 19:25] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 19:25] whedon commented on #40
[code]

[2019-07-26 19:25] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-07-26 19:30] nicomzn commented on #40
@whedon generate pdf

[2019-07-26 19:30] whedon commented on #40
[code]

[2019-07-26 19:30] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-08-01 00:52] avik-pal commented on #37
@whedon generate pdf from branch review-updates

[2019-08-01 00:52] whedon commented on #37
[code]

[2019-08-01 00:52] whedon commented on #37
PDF failed to compile for issue #37 with the following error:

 error: pathspec 'review-updates
' did not match any file(s) known to git.
Can't find any papers to compile :-(

[2019-08-01 00:52] avik-pal commented on #37
@whedon generate pdf from branch review_updates

[2019-08-01 00:52] whedon commented on #37
[code]

[2019-08-01 00:53] whedon commented on #37
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00037/jcon.00037/10.21105.jcon.00037.pdf)

[2019-08-02 18:22] jpsamaroo commented on #20
Ok, I've ticked off all the boxes, although I still have a few nitpicks here-and-there for both the paper and the code. I'll point these out with issues on the ArrayChannels.jl repository as I encounter them. Great work with this paper and the resulting code, I look forward to using it :smile:

@vchuravy

[2019-08-03 20:46] pkofod commented on #38
I have a few comments for the paper and repo. Note that I did not check off all boxes as I do not believe everything is totally fulfilled.

**Installation**
There are two boxes that relate to installation: one for the docs and one for the paper. Neither provide instructions about how to actually install the software.

**Statement of need**
The paper does clearly state what the point of the softwar

[2019-08-04 05:40] Nosferican commented on #38
Thanks for the review.

**Paper Limit**
The normal paper is 6-8 pages according to https://github.com/JuliaCon/proceedings.juliacon.org/pull/9#issuecomment-511241172.

**On the issue of DOI for references.**
The DOI are included in the source (see [ref.bib](https://github.com/Nosferican/Econometrics.jl/blob/master/paper/ref.bib#L393)), but the JuliaCon template does not display those (see https://

[2019-08-05 16:21] raphaelsaavedra commented on #28
@matbesancon are we allowed to upload a preprint of the juliacon paper on arxiv using a different template?

[2019-08-05 16:31] matbesancon commented on #28
yes

[2019-08-05 16:31] matbesancon commented on #28
ping @dehann, @mschauer to continue the review

[2019-08-06 00:30] tszanalytics commented on #25
@whedon generate pdf

[2019-08-06 00:30] whedon commented on #25
[code]

[2019-08-06 00:30] whedon commented on #25
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00025/jcon.00025/10.21105.jcon.00025.pdf)

[2019-08-06 01:50] tszanalytics commented on #25
@matbesancon @bkamins @kescobo

Ok, I believe it is ready to move forward with review now.  I've added code to generate the figures, etc. that appear in the paper, as well as code for some of the additional examples in the presentation.  Let me know what else needs to be done and I should be able to complete quickly.

Thanks,
Jeff

[2019-08-06 16:30] matbesancon commented on #41
@oaefbsc can you see what errors here? Also, you should put the code repo instead of a new one

[2019-08-06 16:41] kescobo commented on #25
So why was the issue closed? I'm so confused...

[2019-08-06 18:48] andrewrosemberg commented on #35
Hi @frapac and @Lukrosz,

Once again, thank you for the thoughtful comments and reviews. I just [pushed](https://github.com/andrewrosemberg/HydroPowerModels.jl/commit/10ecf35357637c6a620f0ebcd7b510d75dcbca91) the modifications I was working on based on your first and final reviews.

The remaining enhancements of the package proposed in the issues and reviews (seminal use-case testing, project.toml

[2019-08-06 19:16] bkamins commented on #25
This one should be used: https://github.com/JuliaCon/proceedings-review/issues/36.
@tszanalytics - I am not sure but probably you should re-generate the PDF in #36

[2019-08-06 20:31] matbesancon commented on #25
Indeed that is in #36

[2019-08-07 00:43] tszanalytics commented on #36
@whedon generate pdf

[2019-08-07 00:43] whedon commented on #36
[code]

[2019-08-07 00:43] whedon commented on #36
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00036/jcon.00036/10.21105.jcon.00036.pdf)

[2019-08-07 00:46] tszanalytics commented on #36
@bkamins   Ok, recompiled the pdf here.  Thanks for pointing me in the right direction.

[2019-08-08 12:22] mschauer commented on #28
Nice to meet you. So I should start stating that I share some interest in this topic, see https://github.com/mschauer/Kalman.jl This should be manageable according to PNAS criteria. Actually, my package is somewhat opinionated and small, so you would *expect* a different package to be the go-to package for this topic.

[2019-08-08 12:36] mschauer commented on #28
@whedon commands

[2019-08-08 12:36] whedon commented on #28
Here are some things you can ask me to do:

[code]

[2019-08-08 12:36] mschauer commented on #28
@whedon generate pdf

[2019-08-08 12:36] whedon commented on #28
[code]

[2019-08-08 12:37] whedon commented on #28
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00028/jcon.00028/10.21105.jcon.00028.pdf)

[2019-08-08 18:07] raphaelsaavedra commented on #28
@mschauer thanks for taking your time! I should warn you that we have just released a significant performance update in v0.2.3. From what I've seen in the checklist, you have already installed the package, so you might want to update it :)

[2019-08-10 09:17] bkamins commented on #36
@tszanalytics

I think your work is an interesting case study. Here are my comments to your submission (please treat them as suggestions and decide what you think should be incorporated).

### Formal requirements of the review process (boxes checked-off above)
* **Installation instructions:**: please give information about Julia and package versions used in your work or add Project.toml that speci

[2019-08-11 22:27] bkamins commented on #36
+ some comments to the PDF in the attached file.
[10.21105.jcon.00036.pdf](https://github.com/JuliaCon/proceedings-review/files/3490508/10.21105.jcon.00036.pdf)

[2019-08-13 03:29] Nosferican commented on #38
@cpfiffer & @pkofod I have updated the paper and docs to address the feedback. Thanks!

[2019-08-13 10:29] pkofod commented on #38
@matbesancon can whedon re-compile the pdf ?

[2019-08-13 10:32] matbesancon commented on #38
@whedon build pdf

[2019-08-13 10:32] matbesancon commented on #38
@whedon generate pdf

[2019-08-13 10:32] whedon commented on #38
[code]

[2019-08-13 10:33] whedon commented on #38
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00038/jcon.00038/10.21105.jcon.00038.pdf)

[2019-08-14 01:44] cpfiffer commented on #38
Cool, I'm happy.

[2019-08-14 11:50] pkofod commented on #38
Can you perhaps tell me in what way you addressed the issue of installation instructions @Nosferican ? I can't see any changes to either the readme, docs or paper on installation. Thanks.

[2019-08-14 12:42] Nosferican commented on #38
Absolutely.
- [docs](https://nosferican.github.io/Econometrics.jl/dev/getting_started/#Installation-1) (right now in the dev, but as soon as I tag a new release it will be updated to the stable as well)
- [paper](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00038/jcon.00038/10.21105.jcon.00038.pdf) I added to the conclusion how to obtain the software next to the license information.

-

[2019-08-14 15:24] whedon opened #42 "[PRE REVIEW]: TSML (Time Series Machine Learning)"
**Submitting author:** @ppalmes (<a href="http://orcid.org/0000-0002-3145-6356">Paulito Palmes</a>)
**Repository:** <a href="https://github.com/IBM/TSML.jl" target ="_blank">https://github.com/IBM/TSML.jl/tree/master/paper</a>
**Editor:** @matbesancon
**Reviewers:** @christianpeel, @theogf

**Author instructions**

Thanks for submitting your paper to JuliaCon @ppalmes. The JuliaCon editor @matbesa

[2019-08-14 15:24] whedon commented on #42
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matbesancon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently

[2019-08-14 15:24] whedon commented on #42
[code]

[2019-08-14 15:25] whedon commented on #42
PDF failed to compile for issue #42 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/42 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-80a4e9edb5a6/lib/whedon/pr

[2019-08-14 15:26] vchuravy commented on #40
Is this the correct and up-to-date version?

[2019-08-14 15:27] vchuravy commented on #40
@whedon help

[2019-08-14 15:28] vchuravy commented on #11
@miguelraz are you still interested in submitting this? If not I will withdraw it.

[2019-08-14 15:30] vchuravy commented on #29
@mehalter do you have suggestions for reviewers?

I was about to suggest @jpfairbanks, but he is a co-author.

[2019-08-14 15:30] nicomzn commented on #40
Yes @vchuravy, is the final version

[2019-08-14 15:31] dpanigo commented on #40
Yes Valentin....
It's the final version
https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf

Whedon finally succed to compile it
It's something wrong?

El mié., 14 ago. 2019 a las 12:26, Valentin Churavy (<
notifications@github.com>) escribió:

--
Demian T. Panigo
https://www.researchgate.net/profile/Demian_Panigo
Lic. en Economía, UNLP,
Master en Cs S

[2019-08-14 16:31] pkofod commented on #38
I didnt look at the dev version of the docs, it looks fine.

[2019-08-14 21:15] pkofod commented on #38
@matbesancon I think that's a :+1: from @cpfiffer and I then.

[2019-08-14 21:31] matbesancon commented on #38
Cool thanks all, I'll look at everything tomorrow morning

[2019-08-14 21:34] Nosferican commented on #38
Thanks again for all the good feedback!

[2019-08-16 17:56] Nosferican commented on #38
Let me know if there is anything that needs addressing.

[2019-08-20 08:22] matbesancon commented on #42
Hi @ppalmes, the header.tex file is not supposed to be touched, it's a machine-generated file. Instead, you should fill the information in the `paper.yml` file

[2019-08-20 08:23] matbesancon commented on #41
ping @oaefbsc

[2019-08-20 08:24] matbesancon commented on #37
ping @snoeyink and @dourouc05 :)

[2019-08-20 08:25] matbesancon commented on #36
@tszanalytics did you finish the corrections from @bkamins ?

[2019-08-20 08:27] vchuravy commented on #40
@whedon  commands

[2019-08-20 08:27] matbesancon commented on #38
@whedon list commands

[2019-08-20 08:30] matbesancon commented on #38
@whedon commands

[2019-08-20 08:30] whedon commented on #38
Here are some things you can ask me to do:

[code]

[2019-08-20 08:30] matbesancon commented on #38
@whedon check references

[2019-08-20 08:30] whedon commented on #38
[code]

[2019-08-20 08:31] whedon commented on #38
[code]

[2019-08-20 08:32] matbesancon commented on #18
ping @chakravala, could you make the modifications following the reviewers' comments?

[2019-08-20 08:33] matbesancon commented on #15
ping @mcognetta to continue the review

[2019-08-20 08:34] matbesancon commented on #38
@Nosferican can you check the missing or invalid DOIs above?

[2019-08-20 09:04] vchuravy commented on #40
@whedon commands

[2019-08-20 09:04] whedon commented on #40
Here are some things you can ask me to do:

[code]

[2019-08-20 09:05] vchuravy commented on #40
@whedon assign @vchuravy  as editor

[2019-08-20 09:05] whedon commented on #40
OK, the editor is @vchuravy

[2019-08-20 09:05] vchuravy commented on #40
@dpanigo do you have suggestions for reviewers?

[2019-08-20 11:13] chakravala commented on #18
@matbesancon yes, I will finish it up, I have been traveling for the past month, but just got back and am going to finish this up within the next days.

[2019-08-20 15:08] mcognetta commented on #15
@whedon generate pdf

[2019-08-20 15:08] whedon commented on #15
[code]

[2019-08-20 15:09] whedon commented on #15
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00015/jcon.00015/10.21105.jcon.00015.pdf)

[2019-08-20 16:16] ppalmes commented on #42
Thanks. I'll update based on your comments.

On Tue, Aug 20, 2019 at 9:22 AM Mathieu Besançon <notifications@github.com>
wrote:

--
-----------------------------------------
Paulito P. Palmes, PhD
Research Scientist
IBM Research, Ireland
------------------------------------------

[2019-08-20 20:51] Nosferican commented on #38
@whedon generate pdf

[2019-08-20 20:51] whedon commented on #38
[code]

[2019-08-20 20:51] whedon commented on #38
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00038/jcon.00038/10.21105.jcon.00038.pdf)

[2019-08-20 20:52] Nosferican commented on #38
@whedon check references

[2019-08-20 20:52] whedon commented on #38
[code]

[2019-08-20 20:52] whedon commented on #38
[code]

[2019-08-20 20:56] matbesancon commented on #38
wonderful, I'll have a final read tomorrow

[2019-08-20 21:04] Nosferican commented on #38
Thanks. Also @whedon, you such a good bot.

[2019-08-20 22:46] kescobo commented on #36
I'm a bit confused about whether I'm supposed to be evaluating just the code in the Proceedings repo, `BayesTesting.jl` or both. This review assumes both, please let me know if I'm mistaken.

## Overall

This manuscript presents a justification for and examples of using Bayesian inference in biomedical research, specifically outlining a method using julia to generate "Bayesian p-values" as a bridg

[2019-08-21 06:06] matbesancon commented on #36
Indeed that's both, thanks

On Wed, Aug 21, 2019, 00:46 Kevin Bonham <notifications@github.com> wrote:

[2019-08-21 14:48] matbesancon commented on #38
@Nosferican some remarks:
Page 2:
footnote 1: there is no A and b here, so it may be hard to understand what you mean. Something like: " `\` is a linear solver operator, such that `x = A\b => Ax = b`
Equation 3: I assume `.*` is a broadcasted multiplication operator? It should be specified.

Page 3:
"solving these problemS" (typo)
Equation 11: maybe without using a double letter for a single varia

[2019-08-21 14:52] matbesancon commented on #38
Best practices: you can add a footnote link to the documentation

[2019-08-21 15:00] matbesancon commented on #38
Page 4:

The sentence is confusing, the Julia statistics and data ecosystems enable / provide features for the whole pipeline?

[2019-08-21 15:05] matbesancon commented on #38
Don't forget to properly cite the packages you mention.
This is more of a personal opinion, so you may take it with a grain of salt, but I find the "Design Decisions" section to be a bit informal. I would rephrase the "Should software be dummy-proof?" question for instance

[2019-08-21 23:17] tszanalytics commented on #36
Thanks for the comments all.  I have been a bit busy the last week or so, but now this is top of my list.  I will get to work revising the paper and the code, etc. to address the comments.  Adding a jupyter notebook sounds like a good idea also, so I will have a go at putting one together.

[2019-08-22 19:15] Nosferican commented on #38
Thanks for the feedback. I think I have gone over all the issues. For packages that do not provide any suggested citation such as no Zedeno/article (e.g., StatsModels.jl / DataFrames.jl), any suggestion on how to cite them?

[2019-08-23 01:27] dpanigo commented on #40
Valentin...
Apologies for the delay  I'm in Bolivia, giving some conferences about the
Argentinean collpase (another one).
Yes I Know some qualified econometricians to contact if you want.
Please let me know how to proceed
Thanks a lot
Demian

El mar., 20 ago. 2019 a las 6:05, Valentin Churavy (<
notifications@github.com>) escribió:

--
Demian T. Panigo
https://www.researchgate.net/profile/Demian_

[2019-08-23 09:27] matbesancon commented on #39
@vchuravy should this one be closed?

[2019-08-23 09:30] matbesancon commented on #38
What I usually do is something like:
[code]

Feel free to replace the authors with the maintainers' names

[2019-08-24 15:50] Nosferican commented on #38
@whedon generate pdf

[2019-08-24 15:50] whedon commented on #38
[code]

[2019-08-24 15:50] whedon commented on #38
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00038/jcon.00038/10.21105.jcon.00038.pdf)

[2019-08-24 15:51] Nosferican commented on #38
@whedon check references

[2019-08-24 15:51] whedon commented on #38
[code]

[2019-08-24 15:51] whedon commented on #38
[code]

[2019-08-26 10:13] ppalmes commented on #42
`@whedon commands`

[2019-08-26 10:16] ppalmes commented on #42
@whedon generate pdf

[2019-08-26 10:16] whedon commented on #42
[code]

[2019-08-26 10:16] whedon commented on #42
PDF failed to compile for issue #42 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/42 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-80a4e9edb5a6/lib/whedon/pr

[2019-08-26 10:25] ppalmes commented on #42
hi @matbesancon, i need your help. i would like to move out my paper from repo outside the directory of my TSML package. i'm having issues with *chmod* bug in TSML which I suspect can be caused by having the paper subdirectory. I'd like to move my paper repo into: https://github.com/ppalmes/TSMLJuliaCon2019Paper. Do you know how to change the pointer to update the location?

[2019-08-26 10:27] ppalmes commented on #42
@whedon commands

[2019-08-26 10:27] whedon commented on #42
Here are some things you can ask me to do:

[code]

[2019-08-26 11:56] matbesancon commented on #42
The paper folder should not influence the package at all. And you can change chmod for the files inside. From what I see in the repo:
1. you need to change paper.yml to the corresponding data, you should not use header.tex
2. you should not comment out `%\input{bib.tex}`, this is likely causing the error

[2019-08-26 12:01] matbesancon commented on #38
@Nosferican re-check the comments above, some were not addressed (solving these problemS), and others

[2019-08-26 12:02] matbesancon commented on #38
Also, I think you haven't put the package citations

[2019-08-26 12:05] matbesancon commented on #30
@ChrisRackauckas would you like to review this paper?

[2019-08-26 12:06] matbesancon commented on #30
@MartinOtter sorry about the delay on this paper. @Datseris I will find a second reviewer but you can start reviewing the paper and code already (you can see example checklists on the other issues)

[2019-08-26 12:06] matbesancon commented on #28
ping @dehann, @mschauer to continue the review :)

[2019-08-26 12:07] matbesancon commented on #18
ping @chakravala to continue here

[2019-08-26 12:08] matbesancon commented on #15
@mcognetta how are you doing on the review here?

[2019-08-26 14:27] mschauer commented on #28
Thanks for keeping it up, this is up next.

[2019-08-27 08:42] ppalmes commented on #42
@whedon generate pdf

[2019-08-27 08:43] ppalmes commented on #42
hi @matbesancon, tried to follow your suggestion, still getting some errors.

[2019-08-27 08:48] ppalmes commented on #42
@whedon generate pdf

[2019-08-27 08:51] matbesancon commented on #42
There is a formatting error in your YAML file:
https://github.com/IBM/TSML.jl/pull/86

[2019-08-27 09:08] matbesancon commented on #38
there is a weird effect of two columns almost merging in the middle. @Nosferican do you get the same effect locally?

[2019-08-27 09:23] matbesancon commented on #38
Wonderful that seems fixed

[2019-08-27 13:38] Datseris commented on #30
@matbesancon there is no review issue open on this. Having the checklist is pretty helpful, can you please start the review? In another paper that I reviewed this is how it progressed and a second reviewer was added after I have finished my review.

[2019-08-27 13:40] matbesancon commented on #30
ok yes sure

[2019-08-27 13:40] matbesancon commented on #30
@whedon start review

[2019-08-27 13:40] whedon opened #43 "[REVIEW]: Modia3D: Modeling and Simulation of 3D-Systems in Julia"
**Submitting author:** @MartinOtter (<a href="http://orcid.org/0000-0001-6348-9569">Martin Otter</a>)
**Repository:** <a href="https://github.com/ModiaSim/Modia3D.jl" target ="_blank">https://github.com/ModiaSim/Modia3D.jl</a>
**Editor:** @matbesancon
**Reviewers:** @Datseris, @dawbarton
**Archive:** <a href="https://doi.org/10.5281/zenodo.3978914" target="_blank">10.5281/zenodo.3978914</a>

## St

[2019-08-27 13:42] matbesancon commented on #43
@dawbarton would you be available to review this paper?

[2019-08-27 13:42] matbesancon commented on #43
@whedon generate pdf from branch JuliaCon2019-paper

[2019-08-27 13:44] matbesancon commented on #43
@MartinOtter I think you need `ref.bib` in the paper.yml file

[2019-08-27 14:37] dawbarton commented on #43
Yes, I'd be interested in reviewing this. What is the deadline?

[2019-08-27 14:40] ppalmes commented on #42
@whedon generate pdf

[2019-08-27 14:49] ppalmes commented on #42
@whedon generate pdf

[2019-08-27 14:53] matbesancon commented on #42
@whedon generate pdf

[2019-08-27 14:53] ppalmes commented on #42
@matbesancon, i merged your PR as well as added my orcid. still the same issue.

[2019-08-27 14:54] matbesancon commented on #42
@ppalmes all good now

[2019-08-27 14:55] ppalmes commented on #42
oh wow. thanks. what should i avoid to make sure i won't have this issue?

[2019-08-27 14:55] matbesancon commented on #42
it was in the submission repo, the whole `/tree/master/paper` path was not needed

[2019-08-27 14:56] matbesancon commented on #42
@biona001 would you be available to review this paper?

[2019-08-27 14:57] matbesancon commented on #42
@christianpeel would you be available to review this paper?

[2019-08-27 14:58] ppalmes commented on #42
ah thanks. regarding https://github.com/JuliaLang/Pkg.jl/issues/1313, i hope the paper subdirectory which i added recently did not cause this bug.

[2019-08-27 15:01] matbesancon commented on #38
ok @Nosferican this looks good to me, you can do a last check, the last things:
I would advise releasing a new version, then putting it on Zenodo to get a DOI, the DOI will be attached to the paper

Once this is done, I will set the version, DOI and figure out how to publish

[2019-08-27 15:02] matbesancon commented on #43
The review happens gradually, so you can start and give feedback either in this issue or in the main repo

[2019-08-27 15:03] matbesancon commented on #43
@whedon add @dawbarton as reviewer

[2019-08-27 15:04] matbesancon commented on #37
bump

[2019-08-27 15:43] ppalmes commented on #42
@christianpeel, i think it's ok because the target of the package is for general consumption and high level usage. it's more of combo of package tutorial, demo, and collections of real applications avoiding technical details on ML implementations.

[2019-08-27 20:25] ppalmes commented on #42
@whedon generate pdf

[2019-08-27 20:29] ppalmes commented on #42
@whedon generate pdf

[2019-08-27 21:11] ppalmes commented on #42
hi @matbesancon, you can by the way add me to review papers in machine learning, time series, neural networks, data mining, biomedical engineering, internet of things

[2019-08-28 13:47] matbesancon commented on #38
@whedon set v0.2.2 as version

[2019-08-28 13:47] matbesancon commented on #38
@whedon set 10.5281/zenodo.3380041 as archive

[2019-08-28 13:48] matbesancon commented on #38
@whedon generate pdf

[2019-08-28 13:49] matbesancon commented on #38
@whedon accept

[2019-08-28 13:51] matbesancon commented on #38
that's bizarre. Are you using this `csquotes.sty`?

[2019-08-28 13:55] matbesancon commented on #38
could you add it to the dependencies, it might not be included in the server's build

[2019-08-28 14:02] matbesancon commented on #38
In the `paper` folder, simply add the corresponding `sty` file which should be easy to find online

[2019-08-28 14:19] matbesancon commented on #38
@whedon generate pdf

[2019-08-28 14:49] matbesancon commented on #38
@whedon accept

[2019-08-28 14:52] matbesancon commented on #38
I think csquotes.def and *.cfg are also required, sorry!

[2019-08-28 14:59] matbesancon commented on #38
@whedon accept

[2019-08-28 15:01] matbesancon commented on #38
thank you yes

[2019-08-28 15:50] matbesancon commented on #38
@whedon accept

[2019-08-28 15:52] matbesancon commented on #38
@vchuravy have you had this in other submissions?

[2019-08-30 00:16] mcognetta commented on #15
In light of the revisions, I am changing my recommendation to **accept as-is.**

[2019-09-02 13:52] chakravala commented on #18
is it too late to finish submitting this paper?

the main problem is, with the 2 columns I can't fit my big equations into the page.. is there a way to split an equation across both columns?

[2019-09-02 19:55] whedon opened #44 "[PRE REVIEW]: ∂P: A Differentiable Programming System to Bridge Machine Learning and Scientific Computing"
**Submitting author:** @MikeInnes (<a href="http://orcid.org/0000-0003-0788-0242">Michael Innes</a>)
**Repository:** <a href="https://github.com/MikeInnes/zygote-paper" target ="_blank">https://github.com/MikeInnes/zygote-paper</a>
**Editor:** @vchuravy
**Reviewers:** @tlienart, @jiahao

**Author instructions**

Thanks for submitting your paper to JuliaCon @MikeInnes. The JuliaCon editor @vchuravy

[2019-09-02 19:56] whedon commented on #44
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vchuravy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in

[2019-09-02 19:56] whedon commented on #44
[code]

[2019-09-02 19:56] whedon commented on #44
Failed to discover a valid open source license.

[2019-09-02 19:56] whedon commented on #44
PDF failed to compile for issue #44 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-09-02 19:56] whedon opened #45 "[PRE REVIEW]: Fashionable Modelling With Flux"
**Submitting author:** @dhairyagandhi96 (<a href="http://orcid.org/0000-0002-8549-5270">Dhairya Gandhi</a>)
**Repository:** <a href="https://github.com/dhairyagandhi96/flux-juliacon-paper.git" target ="_blank">https://github.com/dhairyagandhi96/flux-juliacon-paper.git</a>
**Editor:** @vchuravy
**Reviewers:** @denizyuret

**Author instructions**

Thanks for submitting your paper to JuliaCon @dhairy

[2019-09-02 19:56] whedon commented on #45
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vchuravy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in