[2019-09-02 19:56] whedon commented on #45
[code]

[2019-09-02 19:56] whedon opened #46 "[PRE REVIEW]: Circuitscape in Julia: High Performance Connectivity Modelling to Support Conservation Decisions"
**Submitting author:** @ranjanan (<a href="http://orcid.org/0000-0002-4409-3937">Ranjan Anantharaman</a>)
**Repository:** <a href="https://github.com/Circuitscape/Circuitscape.jl" target ="_blank">https://github.com/Circuitscape/Circuitscape.jl</a>
**Editor:** @matbesancon
**Reviewers:** @vlandau

**Author instructions**

Thanks for submitting your paper to JuliaCon @ranjanan. The JuliaCon editor

[2019-09-02 19:56] whedon commented on #45
Failed to discover a valid open source license.

[2019-09-02 19:56] whedon commented on #46
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matbesancon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently

[2019-09-02 19:56] whedon commented on #46
[code]

[2019-09-02 19:56] whedon opened #47 "[PRE REVIEW]: JuliaDB: addressing the two-language problem in analytical databases"
**Submitting author:** @shashi (<a href="http://orcid.org/0000-0001-7100-7419">Shashi Gowda</a>)
**Repository:** <a href="https://github.com/shashi/JuliaDB-JuliaCon2019Proceedings" target ="_blank">https://github.com/shashi/JuliaDB-JuliaCon2019Proceedings</a>
**Editor:** @matbesancon
**Reviewer:** Pending

**Author instructions**

Thanks for submitting your paper to JuliaCon @shashi. The JuliaCon

[2019-09-02 19:56] whedon commented on #47
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matbesancon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently

[2019-09-02 19:56] whedon commented on #47
[code]

[2019-09-02 19:56] whedon opened #48 "[PRE REVIEW]: AbstractLogic.jl A Julia Package for solving Abstract Logic Problems"
**Submitting author:** @econometricsbysimulation (<a href="http://orcid.org/0000-0002-3414-7786">Francis Smart</a>)
**Repository:** <a href="https://github.com/EconometricsBySimulation/AbstractLogic.jl/blob/master/paper/AbstractLogic.md" target ="_blank">https://github.com/EconometricsBySimulation/AbstractLogic.jl/blob/master/paper/AbstractLogic.md</a>
**Editor:** @matbesancon
**Reviewer:** Pendin

[2019-09-02 19:56] whedon commented on #47
Failed to discover a valid open source license.

[2019-09-02 19:56] whedon commented on #46
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00046/jcon.00046/10.21105.jcon.00046.pdf)

[2019-09-02 19:56] whedon commented on #48
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matbesancon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently

[2019-09-02 19:57] whedon commented on #45
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00045/jcon.00045/10.21105.jcon.00045.pdf)

[2019-09-02 19:57] whedon commented on #48
[code]

[2019-09-02 19:57] whedon opened #49 "[PRE REVIEW]: Basic Threading Examples in JuliaLang v1.3"
**Submitting author:** @vtjnash (<a href="http://orcid.org/0000-0002-8991-0523">Jameson Nash</a>)
**Repository:** <a href="https://github.com/vtjnash/JuliaCon2019Threading" target ="_blank">https://github.com/vtjnash/JuliaCon2019Threading</a>
**Editor:** @vchuravy
**Reviewers:** @ArchRobison, @wsmoses

**Author instructions**

Thanks for submitting your paper to JuliaCon @vtjnash. The JuliaCon edi

[2019-09-02 19:57] whedon commented on #49
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vchuravy it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently in

[2019-09-02 19:57] whedon commented on #49
[code]

[2019-09-02 19:57] whedon commented on #48
PDF failed to compile for issue #48 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/48 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon/pr

[2019-09-02 19:57] whedon commented on #47
PDF failed to compile for issue #47 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-09-02 19:57] whedon opened #50 "[PRE REVIEW]: ModelingToolkit.jl: An Intermediate Representation for Scientific Domain-Specific Languages"
**Submitting author:** @HarrisonGrodin (<a href="http://orcid.org/0000-0002-0947-3520">Harrison Grodin</a>)
**Repository:** <a href="https://github.com/JuliaDiffEq/ModelingToolkit.jl" target ="_blank">https://github.com/JuliaDiffEq/ModelingToolkit.jl</a>
**Editor:** @matbesancon
**Reviewers:** @clagms, @jpfairbanks

**Author instructions**

Thanks for submitting your paper to JuliaCon @HarrisonGro

[2019-09-02 19:57] whedon commented on #50
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @matbesancon it looks like you're currently assigned as the editor for this paper :tada:

For a list of things I can do to help you, just type:

[code]

For example, to regenerate the paper pdf after making changes in the paper's md or bib files, type:

[code]

**What happens now?**

This submission is currently

[2019-09-02 19:57] whedon commented on #50
[code]

[2019-09-02 19:57] whedon commented on #49
PDF failed to compile for issue #49 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/49 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon/pr

[2019-09-02 19:57] whedon commented on #50
Failed to discover a valid open source license.

[2019-09-02 19:57] whedon commented on #50
PDF failed to compile for issue #50 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-09-02 20:01] vchuravy commented on #49
@vtjnash please follow the instructions at https://proceedings.juliacon.org/guide/authors/ and setup a Github repository with the paper.

[2019-09-03 08:51] matbesancon commented on #18
no it's fine but it would be nice to finish up soon.

Not sure it's possible, I'll try to find something, in the mean time it would be best to split your equations

[2019-09-03 14:50] matbesancon commented on #43
ping @MartinOtter to get the paper compiling

[2019-09-03 14:52] matbesancon commented on #42
thanks @biona001 and @christianpeel for your answers

[2019-09-03 14:52] matbesancon commented on #42
@MikeInnes would you be able to review this paper?

[2019-09-03 15:05] matbesancon commented on #15
@MichielStock a couple additional comments:
Section 1: "In linear algebra" -> is it necessary, given that the context is operations over matrices?

"gives rises to some elegant mathematics", elegant is a bit odd to see (hard to define). To some properties of interest?

"The elementary functions of `LinearAlgebra`" -> "The elementary functions of the `LinearAlgebra` module from the Julia standard l

[2019-09-03 15:11] matbesancon commented on #42
@whedon add @christianpeel as reviewer

[2019-09-03 15:11] whedon commented on #42
OK, @christianpeel is now a reviewer

[2019-09-03 15:17] MartinOtter commented on #43
The issue has now been corrected and latexmk should generate a pdf file (seems to be that latexmk did not like the option of a \usepackage{siunitx}).

Note, a pdf-version is also available as [https://github.com/ModiaSim/Modia3D.jl/blob/JuliaCon2019-paper/paper.pdf](https://github.com/ModiaSim/Modia3D.jl/blob/JuliaCon2019-paper/paper.pdf).

[2019-09-03 15:33] matbesancon commented on #43
@whedon generate pdf from branch JuliaCon2019-paper

[2019-09-03 15:33] whedon commented on #43
[code]

[2019-09-03 15:33] whedon commented on #43
PDF failed to compile for issue #43 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-09-03 15:34] matbesancon commented on #43
@MartinOtter siunitx.sty seems to be missing, you can use the command i did above to try to compile your paper once it is done

[2019-09-03 15:53] MartinOtter commented on #43
Added siunitx.sty package explicitly

[2019-09-04 00:37] Nosferican commented on #38
Should I try not using `csquotes`?

[2019-09-04 06:17] matbesancon commented on #38
Yes please, I sadly don't have a good explanation here

On Wed, Sep 4, 2019, 02:37 José Bayoán Santiago Calderón <
notifications@github.com> wrote:

[2019-09-04 09:27] ppalmes commented on #42
@whedon generate pdf

[2019-09-04 09:27] whedon commented on #42
[code]

[2019-09-04 09:28] whedon commented on #42
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00042/jcon.00042/10.21105.jcon.00042.pdf)

[2019-09-04 10:33] ppalmes commented on #42
@whedon generate pdf

[2019-09-04 10:33] whedon commented on #42
[code]

[2019-09-04 10:33] whedon commented on #42
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00042/jcon.00042/10.21105.jcon.00042.pdf)

[2019-09-04 10:34] ppalmes commented on #42
@whedon generate pdf

[2019-09-04 10:34] whedon commented on #42
[code]

[2019-09-04 10:35] whedon commented on #42
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00042/jcon.00042/10.21105.jcon.00042.pdf)

[2019-09-04 12:57] ppalmes commented on #42
@matbesancon, hi mat. can you move the repo pointer to https://github.com/ppalmes/TSMLJuliaCon2019Paper instead of the current one? I would like to move it out of my TSML code director to separate the paper edit commits from my code commits. thanks.

[2019-09-04 13:20] matbesancon commented on #42
It's encouraged to have the paper at the same place as the code for people to review.
One thing people have done is:
1. Place the paper in a special `juliacon-paper` branch
2. Remove it from master
3. Build with whedon as `@whedon generate pdf from branch my-branch`

[2019-09-04 13:25] matbesancon commented on #50
Hi @HarrisonGrodin, for the juliacon proceedings we prefer having the paper in the same repo as the code. If you don't want to pollute the repo you can put it in another branch

[2019-09-04 13:38] ppalmes commented on #42
sounds good. yeah, i just want it out from the master branch. i'll make a branch as you suggested. thanks!

[2019-09-04 13:56] matbesancon commented on #47
hi @shashi, could you put the paper directory where the related code is? (if not possible this option is fine)

[2019-09-04 14:50] Nosferican commented on #38
I updated the repo... Maybe try it in half an hour?

[2019-09-04 14:58] matbesancon commented on #38
I'll recompile yes thanks

On Wed, Sep 4, 2019, 16:50 José Bayoán Santiago Calderón <
notifications@github.com> wrote:

[2019-09-04 16:13] ChrisRackauckas commented on #50
Yeah, we can do that.

[2019-09-04 18:09] MichielStock commented on #15
These comments are now done as of d33dc39371e26083b43f955df7855879884e449c

[2019-09-04 19:30] ppalmes commented on #42
@whedon generate pdf from branch juliacon2019-paper

[2019-09-04 19:30] whedon commented on #42
[code]

[2019-09-04 19:31] whedon commented on #42
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00042/jcon.00042/10.21105.jcon.00042.pdf)

[2019-09-04 19:47] Nosferican commented on #38
Should be good now to see if the `accept` complains or not.

[2019-09-04 19:50] matbesancon commented on #38
@whedon accept

On Wed, Sep 4, 2019, 21:47 José Bayoán Santiago Calderón <
notifications@github.com> wrote:

[2019-09-04 19:50] whedon commented on #38
[code]

[2019-09-04 19:51] whedon commented on #38
Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/4

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/4, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-09-05 00:21] mehalter commented on #29
Sorry for the late reply! I don't know if the reviewer has been selected yet, but maybe Chris Rackauckas. His work in partially symbolic computing with Julia fits this project very well.

[2019-09-05 05:23] avik-pal commented on #37
@whedon generate pdf from branch juliacon-paper

[2019-09-05 08:16] matbesancon commented on #37
@whedon generate pdf from branch juliacon-paper

[2019-09-05 08:16] whedon commented on #37
[code]

[2019-09-05 08:16] whedon commented on #37
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00037/jcon.00037/10.21105.jcon.00037.pdf)

[2019-09-05 08:16] matbesancon commented on #37
@avik-pal no idea what happened, whedon was napping

[2019-09-05 12:19] matbesancon commented on #38
@whedon accept deposit=true

[2019-09-05 12:19] whedon commented on #38
I'm sorry @matbesancon, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2019-09-05 12:19] matbesancon commented on #38
@vchuravy woops

[2019-09-05 12:21] matbesancon commented on #50
ping me here with the repo (and branch if not on master) when it's ready to build

[2019-09-05 12:24] matbesancon commented on #48
@EconometricsBySimulation could you follow the template in https://github.com/JuliaCon/JuliaConSubmission.jl

[2019-09-05 12:26] matbesancon commented on #46
@ranjanan hi, the paper is the template we provided

[2019-09-05 12:27] matbesancon commented on #43
@MartinOtter  can you compile the paper when you change something?

[2019-09-05 12:27] matbesancon commented on #43
@whedon generate pdf from branch JuliaCon2019-paper

[2019-09-05 12:27] whedon commented on #43
[code]

[2019-09-05 12:27] whedon commented on #43
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00043/jcon.00043/10.21105.jcon.00043.pdf)

[2019-09-05 12:29] matbesancon commented on #43
@Datseris, @dawbarton I think you can continue the review here

[2019-09-05 12:30] matbesancon commented on #42
@theogf would you be available to review this paper?

[2019-09-05 12:30] MartinOtter commented on #43
Yes:

I clone the branch to a local directory and use the command `latexmk -bibtex -pdf paper.tex` to generate a `paper.pdf` file. I run this on Windows 7, after installing Ruby and latexmk.

[2019-09-05 12:45] matbesancon commented on #15
@whedon generate pdf

[2019-09-05 12:45] whedon commented on #15
[code]

[2019-09-05 12:45] whedon commented on #15
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00015/jcon.00015/10.21105.jcon.00015.pdf)

[2019-09-05 12:52] matbesancon commented on #15
Can you make K = A cross B an equation as to have it all on the same line?

As I understand, there are several `Kronecker` types, should it be pluralized?

The last sentence of section 2 feels like a conclusion and prospect, should it go at the beginning of section 3?

At the end of section 3, could you add some more details on the extensions for high-order Kronecker products? (not a big deal if t

[2019-09-05 12:54] matbesancon commented on #37
ping @snoeyink and @dourouc05 :)

[2019-09-05 12:55] matbesancon commented on #36
ping @tszanalytics, did you have time to work on the corrections?

[2019-09-05 13:04] matbesancon commented on #43
Yes I meant when you push the changes, compile using whedon like I did above to signal that the changes are done

[2019-09-05 13:36] ranjanan commented on #46
@matbesancon oh no, my paper.yml and my paper.tex are updated. I do see that paper.pdf is the template. Do I delete that? Do you know how I can debug this?

[2019-09-05 14:12] matbesancon commented on #46
you can remove the paper.pdf from the template yes.

- You can debug locally using https://proceedings.juliacon.org/guide/authors/
- You can generate the pdf online using the command: `@whedon generate pdf`

[2019-09-05 14:12] matbesancon commented on #46
@whedon generate pdf

[2019-09-05 14:12] whedon commented on #46
[code]

[2019-09-05 14:12] whedon commented on #46
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00046/jcon.00046/10.21105.jcon.00046.pdf)

[2019-09-05 14:15] matbesancon commented on #46
@whedon generate pdf

[2019-09-05 14:15] whedon commented on #46
[code]

[2019-09-05 14:15] whedon commented on #46
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00046/jcon.00046/10.21105.jcon.00046.pdf)

[2019-09-05 14:16] matbesancon commented on #46
@whedon generate pdf from branch master

[2019-09-05 14:16] whedon commented on #46
[code]

[2019-09-05 14:16] whedon commented on #46
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00046/jcon.00046/10.21105.jcon.00046.pdf)

[2019-09-05 14:18] matbesancon commented on #46
@ranjanan yes I think you need to remove from the github repo the pdf

[2019-09-05 14:22] ranjanan commented on #46
@whedon generate pdf

[2019-09-05 14:22] whedon commented on #46
[code]

[2019-09-05 14:23] whedon commented on #46
PDF failed to compile for issue #46 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-09-05 14:24] matbesancon commented on #46
missing dependencies, they should be added to the folder

[2019-09-05 15:23] MichielStock commented on #15
Updated. Also added a section on higher-order Kronecker products, which are now supported.

[2019-09-05 16:27] HarrisonGrodin commented on #50
I've added it to the `paper` branch, in the `paper` directory:
https://github.com/JuliaDiffEq/ModelingToolkit.jl/tree/paper

[2019-09-05 16:30] matbesancon commented on #50
@whedon generate PDF from branch paper

[2019-09-05 16:30] whedon commented on #50
[code]

[2019-09-05 16:31] whedon commented on #50
PDF failed to compile for issue #50 with the following error:

 Can't find any papers to compile :-(

[2019-09-05 16:33] matbesancon commented on #50
@whedon generate pdf from branch paper

[2019-09-05 16:33] whedon commented on #50
[code]

[2019-09-05 16:33] whedon commented on #50
PDF failed to compile for issue #50 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-09-05 18:00] matbesancon commented on #50
@HarrisonGrodin there may be some illegal characters in the bibtex keys?

[2019-09-05 20:39] HarrisonGrodin commented on #50
@whedon generate pdf from branch paper

[2019-09-05 20:39] whedon commented on #50
[code]

[2019-09-05 20:39] whedon commented on #50
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00050/jcon.00050/10.21105.jcon.00050.pdf)

[2019-09-05 21:55] ranjanan commented on #46
@whedon generate pdf

[2019-09-05 21:55] whedon commented on #46
[code]

[2019-09-05 21:56] whedon commented on #46
PDF failed to compile for issue #46 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-09-05 22:11] ranjanan commented on #46
@whedon generate pdf

[2019-09-05 22:11] whedon commented on #46
[code]

[2019-09-05 22:11] whedon commented on #46
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00046/jcon.00046/10.21105.jcon.00046.pdf)

[2019-09-05 22:12] ranjanan commented on #46
@matbesancon I just uploaded a manually generated paper.pdf from overleaf. Would that do?

[2019-09-06 09:25] matbesancon commented on #50
@jpfairbanks would you be available to review this proceeding?

[2019-09-06 09:31] matbesancon commented on #50
@blegat would you be available to review this proceeding?

[2019-09-06 10:14] matbesancon commented on #46
that's not the easiest thing to review, it means the reviewers need to read the PDF and cannot review on the source directly. Can you plase remove the pdf from the `paper` directory, the tex should just work like that

[2019-09-06 10:57] matbesancon commented on #42
@whedon add @theogf as reviewer

[2019-09-06 10:57] whedon commented on #42
OK, @theogf is now a reviewer

[2019-09-06 10:58] matbesancon commented on #42
@whedon start review

[2019-09-06 10:58] whedon opened #51 "[REVIEW]: TSML (Time Series Machine Learning)"
**Submitting author:** @ppalmes (<a href="http://orcid.org/0000-0002-3145-6356">Paulito Palmes</a>)
**Repository:** <a href="https://github.com/IBM/TSML.jl" target ="_blank">https://github.com/IBM/TSML.jl</a>
**Editor:** @matbesancon
**Reviewer:** @christianpeel, @theogf
**Archive:** <a href="https://doi.org/10.5281/zenodo.3980583" target="_blank">10.5281/zenodo.3980583</a>

## Status

[![status](

[2019-09-06 10:58] whedon commented on #42
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/51. Feel free to close this issue now!

[2019-09-06 10:58] whedon commented on #51
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @christianpeel, @theogf it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you're proba

[2019-09-06 10:58] whedon commented on #51
[code]

[2019-09-06 10:58] whedon commented on #51
PDF failed to compile for issue #51 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/51 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon/pr

[2019-09-06 11:02] #42 closed

[2019-09-06 11:04] matbesancon commented on #51
@whedon generate pdf from branch juliacon2019-paper

[2019-09-06 11:04] whedon commented on #51
[code]

[2019-09-06 11:04] whedon commented on #51
PDF failed to compile for issue #51 with the following error:

 sh: 1: cd: can't cd to tmp/51
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/51 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whe

[2019-09-06 11:07] matbesancon commented on #51
@whedon generate pdf from branch juliacon2019-paper

[2019-09-06 11:07] whedon commented on #51
[code]

[2019-09-06 11:07] whedon commented on #51
PDF failed to compile for issue #51 with the following error:

 sh: 1: cd: can't cd to tmp/51
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/51 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whe

[2019-09-06 11:14] matbesancon commented on #51
@ppalmes there is an error in the build, does it work locally?

[2019-09-06 18:21] chakravala commented on #18
unfortunately, the `juliacon` document class does not seem to function properly. in the example document it is claimed that there are `definition, example, remark` environments, however when I try to compile my document they cause compilation errors. is this going to be fixed in the `juliacon` class?

[2019-09-06 19:44] ranjanan commented on #46
I see, alright. I'll keep plugging away at this. @whedon generate pdf

[2019-09-06 19:46] ranjanan commented on #46
@whedon generate pdf

[2019-09-06 19:46] whedon commented on #46
[code]

[2019-09-06 19:46] whedon commented on #46
PDF failed to compile for issue #46 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-09-06 21:02] ranjanan commented on #46
@whedon generate pdf

[2019-09-06 21:02] whedon commented on #46
[code]

[2019-09-06 21:02] whedon commented on #46
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00046/jcon.00046/10.21105.jcon.00046.pdf)

[2019-09-06 21:03] ranjanan commented on #46
@matbesancon it works now

[2019-09-07 12:24] Datseris commented on #43
Hi @matbesancon  and @MartinOtter , I would like to state my first round of review.

The installation of the software proceed as planned, and I can confirm that tests pass on my machine (Windows 10, Julia 1.2). I must disclose that **I will not be testing nor reviewing any of the plotting claims of the software**. This requires you to (1) install a 3rd party software, completely unrelated with the

[2019-09-08 15:58] vchuravy commented on #49
@whedon compile

[2019-09-08 15:58] vchuravy commented on #49
@whedon generate pdf

[2019-09-08 15:58] whedon commented on #49
[code]

[2019-09-08 15:58] whedon commented on #49
PDF failed to compile for issue #49 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-09-09 08:44] matbesancon commented on #18
@chakravala indeed the names of the environments are incorrect, you can check them out in the cls file:

[code]

[2019-09-09 09:15] whedon commented on #49
Failed to discover a valid open source license.

[2019-09-09 15:07] vtjnash commented on #49
@whedon generate pdf

[2019-09-09 15:07] whedon commented on #49
[code]

[2019-09-09 15:07] whedon commented on #49
PDF failed to compile for issue #49 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-09-09 15:25] ppalmes commented on #42
@whedon generate pdf from branch juliacon2019-paper

[2019-09-09 15:26] whedon commented on #42
[code]

[2019-09-09 15:26] vtjnash commented on #49
@whedon generate pdf

[2019-09-09 15:26] whedon commented on #49
[code]

[2019-09-09 15:26] whedon commented on #42
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00042/jcon.00042/10.21105.jcon.00042.pdf)

[2019-09-09 15:26] whedon commented on #49
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00049/jcon.00049/10.21105.jcon.00049.pdf)

[2019-09-09 15:32] vtjnash commented on #49
@whedon generate pdf

[2019-09-09 15:32] whedon commented on #49
[code]

[2019-09-09 15:33] whedon commented on #49
PDF failed to compile for issue #49 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon/author.rb:68:in `block in build_affiliation_string': Problem with affiliations for Jameson Nash, perhaps the affiliations index need quoting? (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon/author.rb:67:in `each'
	f

[2019-09-09 15:58] ppalmes commented on #42
@whedon generate pdf from branch juliacon2019-paper

[2019-09-09 15:58] whedon commented on #42
[code]

[2019-09-09 15:59] whedon commented on #42
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00042/jcon.00042/10.21105.jcon.00042.pdf)

[2019-09-09 17:36] vtjnash commented on #49
@whedon generate pdf

[2019-09-09 17:36] whedon commented on #49
[code]

[2019-09-09 17:36] whedon commented on #49
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00049/jcon.00049/10.21105.jcon.00049.pdf)

[2019-09-11 15:07] oaefbsc commented on #41
Apreciated Mahtie,

I have been a lot of problems, personal and technical, about to solve the
problem with my Juliacon2019 paper.
I would like to kwon if is possible to do somethin about review it and
include in proceedings.

I will appreciate your answer.

Regards,
Oscar Esquivel

El mar., 20 ago. 2019 a las 3:23, Mathieu Besançon (<
notifications@github.com>) escribió:

[2019-09-11 20:27] vchuravy commented on #49
@whedon commands

[2019-09-11 20:27] whedon commented on #49
Here are some things you can ask me to do:

[code]

[2019-09-11 20:29] vchuravy commented on #49
@whedon assign @wsmoses as reviewer

[2019-09-11 20:29] whedon commented on #49
OK, the reviewer is @wsmoses

[2019-09-11 20:33] vtjnash commented on #49
@JeffBezanson @kpamnany

[2019-09-16 10:55] matbesancon commented on #50
ping @jpfairbanks

[2019-09-16 10:56] matbesancon commented on #50
@clagms would you be available to review this proceeding?

[2019-09-17 17:14] Nosferican commented on #38
Bump.

[2019-09-19 11:52] chakravala commented on #18
@matbesancon this is what I needed to change to make it work https://github.com/chakravala/Grassmann.jl/commit/347fb907c0dd289d57c0c1ceb78a31a133be1402

[code]
the `italicenv` stuff didn't work at all

draft is updated, all equations now fit into 4 pages, will post another update soon

[2019-09-19 14:17] matbesancon commented on #51
@whedon generate pdf from branch juliacon2019-paper

[2019-09-19 14:17] whedon commented on #51
[code]

[2019-09-19 14:17] whedon commented on #51
PDF failed to compile for issue #51 with the following error:

 sh: 1: cd: can't cd to tmp/51
/app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/51 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whe

[2019-09-19 14:19] matbesancon commented on #42
@whedon generate pdf from branch juliacon2019-paper

[2019-09-19 14:19] whedon commented on #42
[code]

[2019-09-19 14:19] whedon commented on #42
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00042/jcon.00042/10.21105.jcon.00042.pdf)

[2019-09-19 14:21] matbesancon commented on #51
@whedon generate pdf from branch juliacon2019-paper

[2019-09-19 14:21] whedon commented on #51
[code]

[2019-09-19 14:21] whedon commented on #51
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00051/jcon.00051/10.21105.jcon.00051.pdf)

[2019-09-19 14:22] matbesancon commented on #51
@theogf @christianpeel you can continue the review here

[2019-09-19 14:24] matbesancon commented on #50
@whedon add @clagms as reviewer

[2019-09-19 14:24] whedon commented on #50
OK, @clagms is now a reviewer

[2019-09-19 14:25] matbesancon commented on #47
ping @shashi

[2019-09-19 14:28] matbesancon commented on #46
@ranjanan can you remove the line `\bibliographystyle{apalike}` from your paper? There is already a citing style generated in the bst, you don't need to specify it

[2019-09-19 14:33] matbesancon commented on #43
Having accessible documentation and software that can be used by people other than the main developer(s) is in the criteria for the proceedings.

We are reviewing both, in the end, the proceedings will store the paper and the DOI corresponding to the version of the software

[2019-09-19 14:35] matbesancon commented on #43
@dawbarton you didn't seem to have a checklist so I added it on the first whedon comment

[2019-09-19 14:37] matbesancon commented on #37
@snoeyink, @dourouc05 I think we are almost done here, could we finish this review?

[2019-09-19 14:38] #30 closed

[2019-09-19 14:40] matbesancon commented on #15
Still the code snippet to turn into equation:

[2019-09-19 14:41] MartinOtter commented on #43
We will soon release a new version of Modia3D (latest end of next week) that will contain a cleaned-up version of the code used as basis for the paper and also a cleaned-up version of the documentation.

[2019-09-19 14:45] jpfairbanks commented on #50
Yes

[2019-09-19 14:46] matbesancon commented on #50
@whedon add @jpfairbanks as reviewer

[2019-09-19 14:46] whedon commented on #50
OK, @jpfairbanks is now a reviewer

[2019-09-19 14:48] matbesancon commented on #50
@whedon start review

[2019-09-19 14:48] whedon opened #52 "[REVIEW]: ModelingToolkit.jl: An Intermediate Representation for Scientific Domain-Specific Languages"
**Submitting author:** @HarrisonGrodin (<a href="http://orcid.org/0000-0002-0947-3520">Harrison Grodin</a>)
**Repository:** <a href="https://github.com/JuliaDiffEq/ModelingToolkit.jl" target ="_blank">https://github.com/JuliaDiffEq/ModelingToolkit.jl</a>
**Editor:** @matbesancon
**Reviewer:** @clagms, @jpfairbanks
**Archive:** Pending

## Status

[![status](https://submissions.juliacon.org/papers/

[2019-09-19 14:48] whedon commented on #50
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/52. Feel free to close this issue now!

[2019-09-19 14:48] whedon commented on #52
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @clagms, @jpfairbanks it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you're probabl

[2019-09-19 14:48] whedon commented on #52
[code]

[2019-09-19 14:48] whedon commented on #52
PDF failed to compile for issue #52 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/52 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-61fc68877343/lib/whedon/pr

[2019-09-19 14:55] #50 closed

[2019-09-19 14:55] ranjanan commented on #46
Sure, removed it.

@whedon generate pdf

[2019-09-19 14:56] ranjanan commented on #46
@whedon generate pdf

[2019-09-19 14:56] whedon commented on #46
[code]

[2019-09-19 14:56] whedon commented on #46
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00046/jcon.00046/10.21105.jcon.00046.pdf)

[2019-09-19 14:57] ranjanan commented on #46
This messed up the citations, for some reason. :thinking:

[2019-09-19 15:01] ranjanan commented on #46
@whedon generate pdf

[2019-09-19 15:01] whedon commented on #46
[code]

[2019-09-19 15:01] whedon commented on #46
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00046/jcon.00046/10.21105.jcon.00046.pdf)

[2019-09-19 15:02] ranjanan commented on #46
Ok, looks good to me now.

[2019-09-19 15:07] dourouc05 commented on #37
I did not see that @avik-pal had taken my comments into account... Green light for me!

[2019-09-19 15:14] MichielStock commented on #15
Done in af1d3ced <https://github.com/MichielStock/Kronecker.jl/commit/af1d3cedb2e58902eead8584f3e04e9ddcab5ea1>. Would be nice to wrap this up.

[2019-09-19 15:24] matbesancon commented on #15
@whedon generate pdf

[2019-09-19 15:24] whedon commented on #15
[code]

[2019-09-19 15:24] whedon commented on #15
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00015/jcon.00015/10.21105.jcon.00015.pdf)

[2019-09-19 15:48] matbesancon commented on #43
It would be nice to wrap things up before here then

[2019-09-19 15:50] matbesancon commented on #52
@whedon generate pdf

[2019-09-19 15:50] whedon commented on #52
[code]

[2019-09-19 15:50] whedon commented on #52
PDF failed to compile for issue #52 with the following error:

 Can't find any papers to compile :-(

[2019-09-19 15:51] matbesancon commented on #52
@whedon generate pdf from branch paper

[2019-09-19 15:51] whedon commented on #52
[code]

[2019-09-19 15:51] whedon commented on #52
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00052/jcon.00052/10.21105.jcon.00052.pdf)

[2019-09-19 15:52] matbesancon commented on #52
all good to start the review here

[2019-09-19 18:17] christianpeel commented on #51
I added a minor issue ([DOIs](https://github.com/IBM/TSML.jl/issues/88)) to the TSML repo.

[2019-09-21 03:28] EconometricsBySimulation commented on #48
Hi thank you for following up with me. I have been making revisions but I
still need to put work in to get the paper up to snuff. I finally have some
good tests up and running and the documentation seems to be working though
I am not sure if I will be able to get Travis hosting up and running
without getting a Linux machine configured properly.

Anyways, if you are still willing to consider review

[2019-09-22 19:55] #11 closed

[2019-09-22 19:59] vchuravy commented on #29
@shashi, @ChrisRackauckas, @rdeits, @HarrisonGrodin, @MasonProtter would either one of you be willing and interesting in reviewing this submission?

[2019-09-22 20:00] vchuravy commented on #49
@whedon assign @ArchRobison as reviewer

[2019-09-22 20:00] whedon commented on #49
OK, the reviewer is @ArchRobison

[2019-09-22 20:04] vchuravy commented on #49
@whedon add @wsmoses  as reviewer

[2019-09-22 20:04] whedon commented on #49
OK, @wsmoses  is now a reviewer

[2019-09-22 20:13] ChrisRackauckas commented on #29
Ping me again if it's not sorted out by December.

[2019-09-23 14:10] vchuravy commented on #44
@mikeinnes please make sure that the submission compiles with whedon

[2019-09-23 14:10] vchuravy commented on #44
@whedon add @tlienart as reviewer

[2019-09-23 14:10] whedon commented on #44
OK, @tlienart is now a reviewer

[2019-09-23 15:14] MikeInnes commented on #44
@whedon generate pdf

[2019-09-23 15:14] whedon commented on #44
[code]

[2019-09-23 15:14] whedon commented on #44
PDF failed to compile for issue #44 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-09-23 15:14] MikeInnes commented on #44
@whedon generate pdf

[2019-09-23 15:15] whedon commented on #44
[code]

[2019-09-23 15:15] whedon commented on #44
PDF failed to compile for issue #44 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-09-23 15:16] MikeInnes commented on #44
Sorry, not familiar with Whedon so don't know a more efficient way than just removing packages it doesn't like one by one :)

@whedon generate pdf

[2019-09-23 15:16] MikeInnes commented on #44
@whedon generate pdf

[2019-09-23 15:17] MikeInnes commented on #44
Well, we're using minted for syntax highlighting; should we be doing something different there?

[2019-09-23 15:27] vchuravy commented on #44
Normally you can add the `sty` files you need yourself. But minted requires shelling out to python and I am afraid the environment doesn't support that.
We recommend listings for highlighting.

[2019-09-23 15:41] matbesancon commented on #38
@Nosferican all good here, congratulations, we'll re-bundle and build everything when we have issue one

[2019-09-23 15:43] vchuravy commented on #40
@Nosferican would you be interested in reviewing this?

[2019-09-23 15:45] Nosferican commented on #40
Sure, I saw the presentation at JuliaCon. What's the timeline associated with it?

[2019-09-23 15:46] matbesancon commented on #37
@snoeyink, @dourouc05 still missing some check boxes. If they are considered good, tick them so that we can wrap this up

[2019-09-23 16:58] vchuravy commented on #21
@whedon add @ekinakyurek as reviewer

[2019-09-23 16:58] whedon commented on #21
OK, @ekinakyurek is now a reviewer

[2019-09-23 16:59] vchuravy commented on #21
@ayush-1506 please make sure that your submission compiles with whedon

[2019-09-23 17:01] NiklasGustafsson commented on #21
Sure, I can help review.

[2019-09-23 17:30] vchuravy commented on #21
@whedon add @NiklasGustafsson as reviewer

[2019-09-23 17:30] whedon commented on #21
OK, @NiklasGustafsson is now a reviewer

[2019-09-23 17:33] vchuravy commented on #21
Thank you. As soon as Ayush has fixed the paper I will start the review process.

Take a look at https://proceedings.juliacon.org/guide/reviewers/ in the meanwhile and I am happy to answer questions.

[2019-09-23 17:35] vchuravy commented on #40
@whedon add @Nosferican as reviewer

[2019-09-23 17:35] whedon commented on #40
OK, @Nosferican is now a reviewer

[2019-09-23 17:36] vchuravy commented on #40
I am looking for a second reviewer right now and I am hoping to wrap review up by mid October.

[2019-09-23 17:43] Nosferican commented on #40
@whedon generate pdf

[2019-09-23 17:43] whedon commented on #40
[code]

[2019-09-23 17:44] whedon commented on #40
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00040/jcon.00040/10.21105.jcon.00040.pdf)

[2019-09-23 17:46] #39 closed

[2019-09-23 17:48] vchuravy commented on #41
@oaefbsc please follow the author instructions at https://proceedings.juliacon.org/guide/authors/
Without Whedon being able to compile your submission we are unable to proceed.

[2019-09-23 17:48] vchuravy commented on #41
@whedon generate pdf

[2019-09-23 17:48] whedon commented on #41
[code]

[2019-09-23 17:48] whedon commented on #41
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00041/jcon.00041/10.21105.jcon.00041.pdf)

[2019-09-23 18:56] vchuravy commented on #40
@whedon add @andreasnoack  as reviewer

[2019-09-23 18:56] whedon commented on #40
OK, @andreasnoack  is now a reviewer

[2019-09-23 18:56] vchuravy commented on #40
@whedon start review

[2019-09-23 18:56] whedon opened #53 "[REVIEW]: GlobalSearchRegression.jl: Building bridges between Machine Learning and Econometrics in Fat-Data scenarios"
**Submitting author:** @dpanigo (<a href="http://orcid.org/0000-0003-2468-1632">Demian Tupac PANIGO</a>)
**Repository:** <a href="https://github.com/ParallelGSReg/JuliaCon2019" target ="_blank">https://github.com/ParallelGSReg/JuliaCon2019</a>
**Editor:** @vchuravy
**Reviewer:** @Nosferican, @andreasnoack
**Archive:** <a href="https://doi.org/10.5281/zenodo.3962667" target="_blank">10.5281/zenodo.

[2019-09-23 18:56] whedon commented on #40
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/53. Feel free to close this issue now!

[2019-09-23 18:56] whedon commented on #53
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @Nosferican, @andreasnoack  it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you're p

[2019-09-23 18:56] whedon commented on #53
[code]

[2019-09-23 18:56] #40 closed

[2019-09-23 18:56] whedon commented on #53
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00053/jcon.00053/10.21105.jcon.00053.pdf)

[2019-09-23 19:08] vchuravy commented on #35
@andrewrosemberg, @frapac and @Lukrosz would be good to wrap this up soon.

[2019-09-23 21:08] MasonProtter commented on #29
Yes, I would be interested but I don't know anything about the review process. That is, I need documentation on what is expected of me as a reviewer and what is expected of a high quality submission.

[2019-09-24 02:04] ArchRobison commented on #49
@whedon start review

[2019-09-24 02:04] whedon commented on #49
I'm sorry @ArchRobison, I'm afraid I can't do that. That's something only editors are allowed to do.

[2019-09-24 02:14] ArchRobison commented on #49
I had a few comments,  mostly editorial.  Here's a PDF with my markup [10.21105.jcon.00049.pdf](https://github.com/JuliaCon/proceedings-review/files/3644900/10.21105.jcon.00049.pdf)

[2019-09-24 02:15] ArchRobison commented on #49
I had a few comments.  Here's a copy with my markup.
[10.21105.jcon.00049 - ADR comments.pdf](https://github.com/JuliaCon/proceedings-review/files/3644904/10.21105.jcon.00049.-.ADR.comments.pdf)

[2019-09-24 03:19] vchuravy commented on #49
@whedon start review

[2019-09-24 03:19] whedon opened #54 "[REVIEW]: Basic Threading Examples in JuliaLang v1.3"
**Submitting author:** @vtjnash (<a href="http://orcid.org/0000-0002-8991-0523">Jameson Nash</a>)
**Repository:** <a href="https://github.com/vtjnash/JuliaCon2019Threading" target ="_blank">https://github.com/vtjnash/JuliaCon2019Threading</a>
**Editor:** @vchuravy
**Reviewer:** @ArchRobison, @wsmoses
**Archive:** <a href="https://doi.org/10.5281/zenodo.4480494" target="_blank">10.5281/zenodo.44804

[2019-09-24 03:19] whedon commented on #49
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/54. Feel free to close this issue now!

[2019-09-24 03:19] whedon commented on #54
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ArchRobison, @wsmoses  it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you're proba

[2019-09-24 03:19] whedon commented on #54
[code]

[2019-09-24 03:19] whedon commented on #54
PDF failed to compile for issue #54 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - tmp/54 (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-efe915e61673/lib/whedon/pr

[2019-09-24 03:19] #49 closed

[2019-09-24 03:20] vchuravy commented on #54
X-ref https://github.com/JuliaCon/proceedings-review/issues/49#issuecomment-534358218

[2019-09-24 03:22] vchuravy commented on #54
@whedon generate pdf

[2019-09-24 03:22] whedon commented on #54
[code]

[2019-09-24 03:22] vchuravy commented on #54
@whedon commands

[2019-09-24 03:22] whedon commented on #54
Here are some things you can ask me to do:

[code]

[2019-09-24 03:23] whedon commented on #54
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00054/jcon.00054/10.21105.jcon.00054.pdf)

[2019-09-24 04:46] EconometricsBySimulation commented on #48
Great, thank you. I see there is an option on Overleaf for compiling. I was
concerned that I would not be able to build it on my local machine. I will
try to get it to you by the end of the week.

Kind regards,
Francis

On Mon, Sep 23, 2019 at 11:38 AM Mathieu Besançon <notifications@github.com>
wrote:

--
Francis Smart
--------------------
PhD Candidate- Michigan State University
(563) 223-8108

[2019-09-24 13:38] vchuravy commented on #29
You can find information about the review process at https://proceedings.juliacon.org/guide/reviewers/ and I am also available on Slack for questions.

[2019-09-24 13:45] whedon commented on #45
OK, @denizyuret is now a reviewer

[2019-09-24 15:57] ppalmes commented on #51
hi @matbesancon, in reference to DOI issue raised by @christianpeel , i added \usepackage{doi} but it seems that the bibstyle does not include the url and doi info in the bibliography although ref.bin has doi entries. Is there a command or options in the latex i need to add to include doi in the bibliography entry of final pdf?

[2019-09-24 15:59] Nosferican commented on #51
See https://github.com/JuliaCon/JuliaConSubmission.jl/issues/7#issuecomment-496266177.

[2019-09-24 18:07] shashi commented on #47
Many of the citations it claims to be missing are present in `ref.bib`...

[2019-09-24 18:19] shashi commented on #47
@whedon generate pdf

[2019-09-24 18:19] whedon commented on #47
[code]

[2019-09-24 18:19] whedon commented on #47
PDF failed to compile for issue #47 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-09-24 19:25] vchuravy commented on #47
What happens if you just run `latexmk` on a local copy of the repository?

[2019-09-24 21:03] ppalmes commented on #51
@whedon generate pdf from branch juliacon2019-paper

[2019-09-24 21:03] whedon commented on #51
[code]

[2019-09-24 21:03] whedon commented on #51
PDF failed to compile for issue #51 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-09-24 21:09] ppalmes commented on #51
@whedon generate pdf from branch juliacon2019-paper

[2019-09-24 21:09] whedon commented on #51
[code]

[2019-09-24 21:09] whedon commented on #51
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00051/jcon.00051/10.21105.jcon.00051.pdf)

[2019-09-24 21:13] ppalmes commented on #51
@christianpeel, i added the doi entries but bibtex does not print this out in the final bib entry of pdf as noted in the issue https://github.com/JuliaCon/proceedings-review/issues/51#issuecomment-534626356

[2019-09-24 21:31] christianpeel commented on #51
Thanks for adding the DOIs, which is enough for me. I marked the requirement as satisfied; fixing the .bib format should not be your problem to solve. The same thing came up when I was reviewing Kronecker.jl, and the issue you link shows that others have the problem as well.

I suggest that @matbesancon remove this DOI requirement from all current and future JuliaCon review submissions until a way

[2019-09-25 07:58] matbesancon commented on #51
@whedon check doi

[2019-09-25 07:59] matbesancon commented on #51
@whedon commands

[2019-09-25 07:59] whedon commented on #51
Here are some things you can ask me to do:

[code]

[2019-09-25 07:59] matbesancon commented on #51
@whedon check references

[2019-09-25 07:59] whedon commented on #51
[code]

[2019-09-25 08:00] whedon commented on #51
[code]

[2019-09-25 13:52] MikeInnes commented on #44
@whedon generate pdf

[2019-09-25 13:52] whedon commented on #44
[code]

[2019-09-25 13:52] whedon commented on #44
PDF failed to compile for issue #44 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2019-09-25 13:59] MikeInnes commented on #44
@whedon generate pdf

[2019-09-25 13:59] whedon commented on #44
[code]

[2019-09-25 14:00] whedon commented on #44
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00044/jcon.00044/10.21105.jcon.00044.pdf)

[2019-09-25 14:01] MikeInnes commented on #44
Alright, that was a journey, but we got there.

[2019-09-25 14:45] vchuravy commented on #44
Thanks Mike!

[2019-09-27 17:11] matbesancon commented on #15
Looks good here

[2019-09-27 17:11] matbesancon commented on #15
@whedon accept

[2019-09-27 17:11] whedon commented on #15
No archive DOI set. Exiting...

[2019-09-27 17:13] matbesancon commented on #15
ah right.
@MichielStock the next steps are: archiving the code repo with Zenodo to obtain a DOI, we'll then be able to attach the DOI to the paper

[2019-09-27 18:57] tszanalytics commented on #36
@whedon generate pdf

[2019-09-27 18:57] whedon commented on #36
[code]

[2019-09-27 18:58] whedon commented on #36
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00036/jcon.00036/10.21105.jcon.00036.pdf)

[2019-09-28 08:56] MichielStock commented on #15
Registered to Zenodo and a badge is added to the `readme.md`: [![DOI](https://zenodo.org/badge/160198570.svg)](https://zenodo.org/badge/latestdoi/160198570)

[2019-09-28 14:19] tszanalytics commented on #36
@matbesancon
@bkamins
@kescobo

Thanks everyone for all the great comments and suggestions.  I think the paper is greatly improved as a result.  I believe everything on the github repo is now up to date and all the changes are incorporated there.  Here's a summary of many of the revisions in response to the reviewer suggestions:

•	Changed title.
•	Added email addresses.
•	Put citations before per

[2019-09-28 17:39] kescobo commented on #36
Thanks for edits - I'll take a look first thing next week.

[2019-09-29 14:45] chakravala commented on #18
Hi folks, sorry about being a bit late with my paper.

I have now implemented the finalizing feature for the differential geometric algebra, which will allow me to add more explicit and concrete examples with visualization into the paper.

Please be a little more patient, it should only take about 1 more week to wrap up this review, as it is only a matter of sorting out the some details for the ex

[2019-09-29 18:57] matbesancon commented on #18
I think you can introduce that in the paper and not in the cls file

[2019-09-29 20:21] chakravala commented on #18
No, the cls file had to be edited because otherwise it causes a compilation error, specifically `italicenv` causes the compilation error and must be removed from the cls. I can move the extra definitions to the main paper, but the cls filed needs to have the `italicenv` part removed.

[2019-09-30 00:07] Nosferican commented on #53
@whedon commands

[2019-09-30 00:07] whedon commented on #53
Here are some things you can ask me to do:

[code]

[2019-09-30 00:07] Nosferican commented on #53
@whedon check references

[2019-09-30 00:07] whedon commented on #53
[code]

[2019-09-30 00:07] whedon commented on #53
[code]

[2019-09-30 00:32] Nosferican commented on #53
On the paper,
  - Authorship
    - I believe the name in the authors for the paper would be Demian Panigo rather than Panigo Demian as every other author has first name and then surname.
    - I see that the commit data shows direct contributions to the software for every author except Pablo Gluzmann and Esteban Mocskos. Did these authors contributed made major contributions to the software (even

[2019-09-30 07:41] clagms commented on #52
I cannot find the repository where the *.tex files are. The pdf satisfies this criteria though.

[2019-09-30 07:44] clagms commented on #52
Where is this limit defined? I cannot find the call for papers. Apologies for my ignorance :P

[2019-09-30 07:49] matbesancon commented on #52
It's all on https://proceedings.juliacon.org/, reviewer and author guide. They respect the page limit, which is not too much of a big deal as long as it remains reasonable

[2019-09-30 08:23] ppalmes commented on #51
@christianpeel, @theogf, @matbesancon : is the paper still under review? thanks!

[2019-09-30 08:23] clagms commented on #52
The repository address:
[https://github.com/HarrisonGrodin/JuliaCon2019-Paper](https://github.com/HarrisonGrodin/JuliaCon2019-Paper)
leads to a 404. I've updated the links to
[https://github.com/JuliaDiffEq/ModelingToolkit.jl](https://github.com/JuliaDiffEq/ModelingToolkit.jl)
but I think this was generated from the review process (so the problem is not really solved).

[2019-09-30 08:30] matbesancon commented on #52
Right thanks, I updated the URL in another place where it needed fixing

[2019-09-30 09:53] theogf commented on #51
@ppalmes Hey sorry for the absence, I am rushing a paper deadline till next week and then I will take care of the review :)

[2019-09-30 11:52] ppalmes commented on #51
thanks @theogf for the updates.

[2019-09-30 13:18] ayush-1506 commented on #21
@vchuravy Thanks a lot. I'll be targeting the special edition, not the JuliaCon proceedings, since I wasn't able to make it to JuliaCon this year (I created this PR before knowing that I wasn't going to make it). Should I keep this PR open, or move it to another repository for the special edition?

[2019-09-30 13:54] mschauer commented on #28
Dear authors,

I have some feedback regarding the design. Some of your implementation choices appear not very idiomatic to me, but you might have good reasons for them. On the other hand, this might be helpful feedback otherwise.

Let's start looking at
[code]
The first thing to notice is that you restrict your users basically throughout to `Float64` matrices of type `Array`. What about embedded s

[2019-09-30 15:44] vchuravy commented on #21
@ayush-1506 since you were accepted to JuliaCon, but couldn't make it for unrelated reasons it is up to you if you want to submit this to the proceedings or the special edition. In either case the submission process is the same and I would encourage you to finish it up as soon as possible, since we already have reviewers. Both proceedings and special edition are rolling submission.

[2019-09-30 18:22] ayush-1506 commented on #21
@vchuravy Thanks, will probably finish this up in the upcoming week. I'd prefer submitting to the JuliaCon proceedings in this case.

[2019-09-30 20:24] clagms commented on #52
I attach the pdf with the comments on the text:
[10.21105.jcon.00052_review.pdf](https://github.com/JuliaCon/proceedings-review/files/3673234/10.21105.jcon.00052_review.pdf)

[2019-09-30 20:31] raphaelsaavedra commented on #28
Hello @mschauer, thank you for taking your time to do this review.

Regarding the generality of the `StateSpaceModel` structure, we believe you are absolutely right. The package would certainly benefit from allowing a wider range of types. In fact, we already do this inside the code, as you pointed out. We will try to address this point as soon as possible, as it seems like a simple change, at lea

[2019-10-01 07:51] matbesancon commented on #18
You should not change the cls overall, if the italicenv doesn't work there is an incompatible part in the paper

[2019-10-01 13:53] kescobo commented on #36
@tszanalytics Thanks for the edits. I am largely satisfied with the changes. There are just a few outstanding questions/concerns.

1. I missed this on my first go-through, but it seems like the citation numbers are out of order (eg. Citation 3 comes first, followed by citation 8 etc). I haven't used latex that much, but I thought that citations were put in order automatically. Is something interfe

[2019-10-01 15:29] matbesancon commented on #36
For the second point, if the manuscript is about and uses BayesTesting.jl, it should be reviewed with it. Otherwise if the software is contained in the repo of the paper, it should be as suggested versioned & documented

[2019-10-02 09:51] matbesancon commented on #43
ping @MartinOtter

[2019-10-02 09:56] matbesancon commented on #15
@whedon set doi 10.5281/zenodo.3463941

[2019-10-02 10:03] matbesancon commented on #15
@whedon commands

[2019-10-02 10:03] whedon commented on #15
Here are some things you can ask me to do:

[code]

[2019-10-02 10:04] matbesancon commented on #15
@whedon set 10.5281/zenodo.3463941 as archive

[2019-10-02 10:04] whedon commented on #15
OK. <a href="https://doi.org/10.5281/zenodo.3463941" target="_blank">10.5281/zenodo.3463941</a> is the archive.

[2019-10-02 10:05] matbesancon commented on #15
@whedon set v0.3.0 as version

[2019-10-02 10:05] whedon commented on #15
OK. v0.3.0 is the version.

[2019-10-02 10:07] matbesancon commented on #15
@whedon accept

[2019-10-02 10:07] whedon commented on #15
[code]

[2019-10-02 10:07] whedon commented on #15
[code]

[2019-10-02 10:07] whedon commented on #15
Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/5

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/5, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2019-10-02 10:09] matbesancon commented on #15
@MichielStock all good here, congratulations

[2019-10-02 10:09] matbesancon commented on #15
(we will run all the final accept in batch at the end)

[2019-10-02 10:32] dawbarton commented on #43
Apologies, I'm behind on this. I hope to take a proper look tomorrow.

[2019-10-03 15:12] dawbarton commented on #43
Overall, I think this is a well-written paper of an appropriate standard for publication. As someone with a bit of experience in this field, there is nothing I particularly struggled with.

Similar to Datseris' review my main criticism of the paper is the lack of context. What other rigid body dynamics packages should this be compared with? (Open source or closed source - a few reference points wo

[2019-10-03 15:13] dawbarton commented on #43
I should also note that I have run the examples on Julia 1.3-RC2 (along with the visualisation software) and everything appears to work appropriately.

[2019-10-04 07:20] MartinOtter commented on #43
This version of Modia3D was released on Sept. 28.

[2019-10-04 07:50] matbesancon commented on #43
thanks @dawbarton and @Datseris for the reviews.
@MartinOtter please make the appropriate changes to the paper, we should be finished soon with the review here

[2019-10-04 10:46] MartinOtter commented on #43
In the previous release of Modia3D, contacts had been defined with linear elasticity. In the release from Sept. 28 and in the paper, contact is defined by a new, nonlinear contact law which is an extension/improvement of existing approaches (including Hertz pressure). The details are documented in the largely improved Modia3D documentation ([collision docu](https://modiasim.github.io/Modia3D.jl/la

[2019-10-04 18:42] andrewrosemberg commented on #35
Hi @frapac and @Lukrosz,

Thanks again for the thoughtful comments and reviews.  Do you need any additional information for the remaining points?

Best,
Andrew

[2019-10-04 19:11] tszanalytics commented on #36
1.  I'm not sure about the citations.  It appears to put them in alphabetical order by first author name.  I am using
\bibliographystyle{juliacon}
\bibliography{ref}
as the bibliography style as per instructions, so that must be what is wanted for the proceedings?

2.  My presentation and this paper is not about the package and only uses the package somewhat tangentially.  I presented a preliminar

[2019-10-04 20:54] bkamins commented on #36
Ad. 3 - this is very easy:

1. start a terminal in the directory of your project and run a Julia session
2. switch to package manager mode
3. write `activate .`
4. wtire `add WHATEVER_PACKAGES_YOU_REQUIRE_FOR_THE_CODES_TO_WORK`
5. exit Julia

In the directory of your project you will have the files @kescobo mentions.

[2019-10-04 21:05] frapac commented on #35
Hi @andrewrosemberg . For my part, I think you have addressed all the points that I raised during the review. I am looking forward seeing a clear separation between the optimization pass and the simulation, but this may be a bit premature at the moment. In any case, I would be very interested seeing an open-source package that solves OPF in a multistage stochastic programming setting!

[2019-10-04 22:31] andrewrosemberg commented on #35
Thanks @frapac ! Yes, an pure multistage OPF would be very good, I will look into it!
About the review, I believe all the boxes should be checked in order for it to be over. @vchuravy Please correct me if I am wrong.

[2019-10-05 16:17] kescobo commented on #36
1. I agree. If this is the behavior of the styles provided, leave as is
1. Once (3) is done, Someone should be able to clone this repository, instantiate it, and then run the notebooks. When that's ready, let me know and I'll give it a shot.
1. Follow Bogumił's instructions and you should be good

[2019-10-07 08:56] Lukrosz commented on #35
Hello, @andrewrosemberg. Sorry for my very late respones.
Of my part, I don't have any further comments. I checked all the boxes to continue. with the process.

[2019-10-07 14:32] andrewrosemberg commented on #35
@frapac and @Lukrosz, thanks for all the work and time you dedicated to this! I hope the package will meet your expectations :)

@vchuravy, thanks for the help in the review process! Please let me know if any additional steps are required.

Best,
Andrew

[2019-10-08 13:45] andrewrosemberg commented on #35
@vchuravy, sorry for the subsequent comment, but occurred to me a question:

During the review process I have changed the article. Do we need to recompile de PDF?

[2019-10-14 06:45] AndreaNeumayr commented on #43
@matbesancon
I added all available DOI's for the reference list (ref.bib) in the paper. The JuliaCon proceedings template is not supporting it. There are no DOI's shown. Do you know how to fix that?

[2019-10-14 08:34] matbesancon commented on #43
yes it's a pity but it's not showing it, some others have reported it. @vchuravy should we modify the bibstyle?

[2019-10-14 08:34] matbesancon commented on #43
@whedon check references

[2019-10-14 08:35] whedon commented on #43
[code]

[2019-10-14 08:40] AndreaNeumayr commented on #43
Thank you, for the reply. I'm sorry. I've not updated the references on github so far.

[2019-10-14 08:48] matbesancon commented on #43
ok, please do it ASAP we will try to wrap up this review

[2019-10-16 13:20] matbesancon commented on #36
thanks both for the review @tszanalytics could you confirm us when the changes are made?

[2019-10-16 13:23] matbesancon commented on #51
@ppalmes did you complete and adapt the paper to the review from @theogf ?

[2019-10-16 13:29] ppalmes commented on #51
hi @matbesancon, i have addressed it here: https://github.com/IBM/TSML.jl/issues/91

Most comments and suggestions are more of clarifications.

From the comments and suggestions, the inline documentation is scheduled in the next release but should not affect the paper coverage here.

[2019-10-16 13:29] matbesancon commented on #51
@whedon generate pdf from branch juliacon2019-paper

[2019-10-16 13:29] whedon commented on #51
[code]

[2019-10-16 13:30] whedon commented on #51
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00051/jcon.00051/10.21105.jcon.00051.pdf)

[2019-10-16 14:53] tszanalytics commented on #36
Yes!  Apologies for the delay.  I have been at a conference last week and
headed right back out to another one this week (currently in Chicago) -
everything happens at once!  I should be able to get to this within the
next few days.  Thanks to @bkamins for the clear guidance - it looks very
straightforward with that help.  I will upload the toml files asap.
Thanks for you patience.

Best,
Jeff

On

[2019-10-16 19:29] vchuravy commented on #44
@whedon add @jiahao as reviewer

[2019-10-16 19:29] whedon commented on #44
OK, @jiahao is now a reviewer

[2019-10-16 19:29] vchuravy commented on #44
@whedon start review

[2019-10-16 19:29] whedon opened #55 "[REVIEW]: ∂P: A Differentiable Programming System to Bridge Machine Learning and Scientific Computing"
**Submitting author:** @MikeInnes (<a href="http://orcid.org/0000-0003-0788-0242">Michael Innes</a>)
**Repository:** <a href="https://github.com/MikeInnes/zygote-paper" target ="_blank">https://github.com/MikeInnes/zygote-paper</a>
**Editor:** @vchuravy
**Reviewer:** @tlienart, @jiahao
**Archive:** Pending

## Status

[![status](https://proceedings.juliacon.org/papers/e028589fc895cb2e350586f0f6081

[2019-10-16 19:29] whedon commented on #44
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/55. Feel free to close this issue now!

[2019-10-16 19:29] whedon commented on #55
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @tlienart, @jiahao it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you're probably c

[2019-10-16 19:29] whedon commented on #55
[code]

[2019-10-16 19:29] #44 closed

[2019-10-16 19:29] whedon commented on #55
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00055/jcon.00055/10.21105.jcon.00055.pdf)

[2019-10-16 19:51] tlienart commented on #55
License missing -- https://github.com/MikeInnes/zygote-paper/issues/13

[2019-10-16 21:24] jiahao commented on #55
Disclosing potential COI with one author (CR) - we are writing a manuscript for publication (not submitted yet) - otherwise no other COIs to declare. (The PNAS guidelines make no mention of future co-authorship).

[2019-10-17 18:20] vchuravy commented on #48
@EconometricsBySimulation I have moved this from the proceedings to the planned special issue. This should give you a bit more time to finish up things.

[2019-10-17 18:21] vchuravy commented on #47
@shashi I have moved this from the proceedings to the planned special issue. This should give you a bit more time to finish up things.

[2019-10-17 18:21] vchuravy commented on #45
@whedon start review.

[2019-10-17 18:21] whedon opened #56 "[REVIEW]: Fashionable Modelling With Flux"
**Submitting author:** @dhairyagandhi96 (<a href="http://orcid.org/0000-0002-8549-5270">Dhairya Gandhi</a>)
**Repository:** <a href="https://github.com/dhairyagandhi96/flux-juliacon-paper.git" target ="_blank">https://github.com/dhairyagandhi96/flux-juliacon-paper.git</a>
**Editor:** @carstenbauer
**Reviewer:** @denizyuret
**Archive:** Pending

## Status

[![status](https://proceedings.juliacon.or

[2019-10-17 18:21] whedon commented on #45
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/56. Feel free to close this issue now!

[2019-10-17 18:22] #45 closed

[2019-10-17 18:22] whedon commented on #56
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00056/jcon.00056/10.21105.jcon.00056.pdf)

[2019-10-17 18:24] vchuravy commented on #21
@ayush-1506 I have moved this from the proceedings to the planned special issue. This should give you a bit more time to finish up things.

[2019-10-17 18:25] vchuravy commented on #29
@whedon add @ChrisRackauckas as reviewer

[2019-10-17 18:25] whedon commented on #29
OK, @ChrisRackauckas is now a reviewer

[2019-10-17 18:25] vchuravy commented on #29
@whedon start review

[2019-10-17 18:25] whedon opened #57 "[REVIEW]: SemanticModels.jl: A Julia Package for Scientific Model Augmentation"
**Submitting author:** @mehalter (<a href="http://orcid.org/0000-0002-0484-971X">Micah Halter</a>)
**Repository:** <a href="https://github.com/mehalter/juliacon2019-submission" target ="_blank">https://github.com/mehalter/juliacon2019-submission</a>
**Editor:** @vchuravy
**Reviewer:** @MasonProtter, @ChrisRackauckas
**Archive:** <a href="https://doi.org/10.5281/zenodo.3961696" target="_blank">10.5

[2019-10-17 18:25] whedon commented on #29
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/57. Feel free to close this issue now!

[2019-10-17 18:25] whedon commented on #57
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @MasonProtter, @ChrisRackauckas it looks like you're currently assigned to review this paper :tada:.

**:star: Important :star:**

If you haven't already, you should seriously consider unsubscribing from GitHub notifications for this (https://github.com/JuliaCon/proceedings-review) repository. As a reviewer, you'

[2019-10-17 18:25] #29 closed

[2019-10-17 18:25] whedon commented on #57
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00057/jcon.00057/10.21105.jcon.00057.pdf)

[2019-10-18 16:18] raphaelsaavedra commented on #28
Hello @mschauer,

@guilhermebodin and I have discussed and addressed some of your concerns. We have modified the package to allow any float accuracy within the model definition and the filters (https://github.com/LAMPSPUC/StateSpaceModels.jl/pull/101).

With respect to the online application of the filter, after some discussion we have decided not to implement it in the current form of the package

[2019-10-21 09:54] ppalmes commented on #51
@whedon generate pdf from branch juliacon2019-paper

[2019-10-21 09:54] whedon commented on #51
[code]

[2019-10-21 09:54] whedon commented on #51
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00051/jcon.00051/10.21105.jcon.00051.pdf)

[2019-10-21 10:00] ppalmes commented on #51
Here's a snippet of the added description  in the paper to explain more about Transformers, Filters, Learners, Pipeline, fit and transform:

------------

All major data types in TSML is a subtype of Transformer. There are two major types of transformers, namely: filters for data processing and learners for machine learning. Both transformers implement fit! and transform! multidispatch functions.

[2019-10-21 10:21] matbesancon commented on #51
Thank you for the modifications, I will read the result this afternoon.

[2019-10-21 14:37] mschauer commented on #28
Hi, this is a good change.
Can you relax to `Real` in `struct SquareRootFilter{T <: AbstractFloat}` as `AbstractFloat` is to narrow, e.g. dual numbers are only `Real`? Then you can also remove all `<: AbstractFloat` in function definitions as
[code]
it is enough to contain in one place (the struct itself).
I am looking at the estimation next.

[2019-10-21 17:14] raphaelsaavedra commented on #28
We agree this makes sense and it has been changed in https://github.com/LAMPSPUC/StateSpaceModels.jl/pull/107.

[2019-10-21 17:38] avik-pal commented on #37
Bump.

@matbesancon is there anything I need to do?

[2019-10-21 17:41] dourouc05 commented on #37
@snoeyink still has a few check boxes to tick, I think.

[2019-10-22 13:19] ppalmes commented on #51
hi @matbesancon, anything else i need to do or modify? thanks.

[2019-10-22 13:27] matbesancon commented on #52
ping @HarrisonGrodin can you let us know when you addressed the comments from the review? We should try to finish this soon

[2019-10-22 13:28] matbesancon commented on #43
bump @AndreaNeumayr @MartinOtter we should finish this quickly now to get in the first issue

[2019-10-22 13:29] matbesancon commented on #37
@whedon check references

[2019-10-22 13:29] whedon commented on #37
[code]

[2019-10-22 13:30] matbesancon commented on #37
@whedon check references from branch juliacon-paper

[2019-10-22 13:30] whedon commented on #37
[code]

[2019-10-22 13:30] whedon commented on #37
[code]

[2019-10-22 13:30] matbesancon commented on #37
@avik-pal can you check the DOIs above?

[2019-10-22 13:30] whedon commented on #37
[code]

[2019-10-22 15:49] avik-pal commented on #37
@whedon check references

[2019-10-22 15:49] whedon commented on #37
[code]

[2019-10-22 15:50] whedon commented on #37
[code]

[2019-10-22 15:58] avik-pal commented on #37
@whedon check references

[2019-10-22 15:58] whedon commented on #37
[code]

[2019-10-22 15:59] whedon commented on #37
[code]

[2019-10-22 16:06] avik-pal commented on #37
@matbesancon I am not sure what is the issue here I added the DOIs in the latest commit [f03c297](https://github.com/avik-pal/RayTracer.jl/commit/f03c2974a87f5f05e34c2d8f53f736e5a6bd5d4f)

[2019-10-22 16:07] matbesancon commented on #37
Sometimes it just doesn't pick it up, if you put it it's fine.

On Tue, Oct 22, 2019, 18:06 Avik Pal <notifications@github.com> wrote:

[2019-10-22 19:15] avik-pal commented on #37
@whedon check references

[2019-10-22 19:15] whedon commented on #37
[code]

[2019-10-22 19:15] whedon commented on #37
[code]

[2019-10-22 21:04] ppalmes commented on #51
@whedon generate pdf from branch juliacon2019-paper

[2019-10-22 21:04] whedon commented on #51
[code]

[2019-10-22 21:05] whedon commented on #51
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00051/jcon.00051/10.21105.jcon.00051.pdf)

[2019-10-22 21:09] ppalmes commented on #51
hi @matbesancon, here's the article proof  based on your suggestions.

[2019-10-22 21:09] ppalmes commented on #51
@whedon generate pdf from branch juliacon2019-paper

[2019-10-22 21:09] whedon commented on #51
[code]

[2019-10-22 21:09] whedon commented on #51
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00051/jcon.00051/10.21105.jcon.00051.pdf)

[2019-10-23 04:36] avik-pal commented on #37
@whedon check references

[2019-10-23 04:36] whedon commented on #37
[code]

[2019-10-23 04:36] whedon commented on #37
[code]

[2019-10-23 07:03] matbesancon commented on #37
@whedon check references

[2019-10-23 07:03] whedon commented on #37
[code]

[2019-10-23 07:03] whedon commented on #37
[code]

[2019-10-23 07:04] matbesancon commented on #37
@whedon generate pdf from branch juliacon-paper

[2019-10-23 07:05] whedon commented on #37
[code]

[2019-10-23 07:05] whedon commented on #37
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00037/jcon.00037/10.21105.jcon.00037.pdf)

[2019-10-23 07:53] avik-pal commented on #37
@matbesancon All the changes are in the master branch.
@whedon generate pdf

[2019-10-23 07:53] avik-pal commented on #37
@whedon generate pdf

[2019-10-23 07:53] whedon commented on #37
[code]

[2019-10-23 07:54] whedon commented on #37
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00037/jcon.00037/10.21105.jcon.00037.pdf)

[2019-10-23 08:21] matbesancon commented on #37
A few general comments:
Page 1, col 2, second paragraph, the claims in this paragraph are rather bold. "The AD software present in other languages" do you mean other than Julia or in statically typed languages? I think Tapenade is another reference for C and Fortran code.
Figure 2a, isn't the y-axis the Average time to render per pixel (time for each pixel would not be a scalar but a vector)
The l

[2019-10-23 15:51] avik-pal commented on #37
@matbesancon Thank you for your comments. I have tried to address them in the latest revision. As for `Listing 1 -> Algorithm 1`, this is incorrect, I am referring to the listing on page 2.

[2019-10-23 15:51] avik-pal commented on #37
@whedon generate pdf

[2019-10-23 15:51] whedon commented on #37
[code]

[2019-10-23 15:52] whedon commented on #37
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00037/jcon.00037/10.21105.jcon.00037.pdf)

[2019-10-23 17:53] ppalmes commented on #51
Hi @matbesancon , let me know if the changes are ok.

[2019-10-23 17:58] matbesancon commented on #51
I'll review it tomorrow thanks

On Wed, Oct 23, 2019, 19:53 Paulito Palmes <notifications@github.com> wrote:

[2019-10-24 07:55] MartinOtter commented on #43
I am sorry, we had been very busy. We wil update the paper today or latest tomorrow (DOIs are already updated in the ref.bib file).

[2019-10-24 14:02] AndreaNeumayr commented on #43
@matbesancon We've improved our paper and updated it based on the reviewers comments. We've also improved the documentation of our package and the readme in our latest release of Modia3D v0.4.0.
I'm sorry, it took us a bit longer than expected.

[2019-10-24 14:04] matbesancon commented on #43
Ok thanks @dawbarton @Datseris would you like to have another round of review and see if the last criteria & boxes are checked?

[2019-10-24 14:04] matbesancon commented on #43
@whedon generate pdf from branch JuliaCon2019-paper

[2019-10-24 14:04] whedon commented on #43
[code]

[2019-10-24 14:09] MartinOtter commented on #43
**The Paper was improved based on reviewers comments.**

This is now described better in the introduction to explain the differences to other software and also giving links to the large number of Game engines and multibody programs. This description could still be improved, but then other parts of the paper have to be removed due to the limit of 6 pages.

It was tried to make this more clear. Agai

[2019-10-24 14:12] Datseris commented on #43
Hello,

I've went through the new version of the paper which I consider vastly improved; I accept for publication.

[2019-10-24 15:24] ppalmes commented on #51
@whedon generate pdf from branch juliacon2019-paper

[2019-10-24 15:24] whedon commented on #51
[code]

[2019-10-24 15:24] whedon commented on #51
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00051/jcon.00051/10.21105.jcon.00051.pdf)

[2019-10-24 15:29] ppalmes commented on #51
Hi @matbesancon, I think pluralized is ok because I'm talking about all the filters.

[2019-10-24 15:35] matbesancon commented on #51
ok, this paper looks good, thanks @christianpeel, @theogf!

[2019-10-24 17:08] Nosferican commented on #53
I believe all my comments have been addressed.
- [ ] I will check the performance/benchmark aspect to check that box (on me).
- [ ] For the community guidelines, as GitHub public repository, there is some implied support/contributing guideline / seek support, but would be nice to have something on it... For example,  issue templates / `CONTRIBUTING.md`, etc. (response solicited)

[2019-10-26 12:19] dpanigo commented on #53
Thanks a lot José!

El jue., 24 oct. 2019 a las 14:08, José Bayoán Santiago Calderón (<
notifications@github.com>) escribió:

--
Demian T. Panigo
https://www.researchgate.net/profile/Demian_Panigo
Lic. en Economía, UNLP,
Master en Cs Sociales, UBA,
Doctor en Economía, EHESS-ENS (Paris)
Investigador Independiente del CONICET
Docente investigador de la UNM, la UNQ, la UNDAV y la UNLP.

[2019-10-27 15:27] ayush-1506 commented on #21
@vchuravy Thanks, apologies for the delay. I'm finishing this up at the moment. Could you give me an ETA on the special edition submission?

[2019-10-28 20:03] jpfairbanks commented on #52
@harrisongrodin,
  Sorry for the delay in posting my notes.

I read the paper and think it should be accepted with minor revisions. I agree with most of @clagms comments.

Some broad considerations.

1. Why do scientific programmers use DSLs? I would say something about the difficulty and time consuming nature of correctly implementing scientific models as the complexity of the system grows.
2. Wh

[2019-10-29 15:48] ranjanan commented on #46
@jpfairbanks would you like to review this?

[2019-10-29 16:49] ppalmes commented on #51
@matbesancon, @christianpeel, @theogf

thanks all! highly appreciate the suggestions and corrections.

[2019-10-29 16:56] whedon commented on #51
[code]

[2019-10-29 16:56] whedon commented on #51
PDF failed to compile for issue #51 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-74bc29a6a731/lib/whedon.rb:190:in `block in parse_authors': Author (Paulito Palmes) is missing affiliation (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-74bc29a6a731/lib/whedon.rb:188:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-74bc29a6a73

[2019-10-29 17:57] tszanalytics commented on #36
@matbesancon

Ok, the TOML files and updated versions of the notebooks for Julia 1.2.0 are uploaded, so it all should be in order now.

Again, apologies for the long delay.  I made the mistake of upgrading to julia 1.2 which created some problems with Turing, but everything is sorted now.

Thanks for your patience!
Jeff

[2019-10-29 18:04] matbesancon commented on #36
@whedon generate pdf

[2019-10-29 18:04] whedon commented on #36
[code]

[2019-10-29 18:04] whedon commented on #36
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00036/jcon.00036/10.21105.jcon.00036.pdf)

[2019-10-29 18:05] matbesancon commented on #36
Ping @bkamins @kescobo

[2019-10-29 21:04] matbesancon commented on #51
i think there is an error in the YAML file, the affiliation is broken

[2019-10-29 22:50] ppalmes commented on #51
@whedon generate pdf from branch juliacon2019-paper

[2019-10-29 22:50] whedon commented on #51
[code]

[2019-10-29 22:50] whedon commented on #51
PDF failed to compile for issue #51 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-74bc29a6a731/lib/whedon.rb:190:in `block in parse_authors': Author (Paulito Palmes) is missing affiliation (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-74bc29a6a731/lib/whedon.rb:188:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-74bc29a6a73

[2019-10-29 22:52] ppalmes commented on #51
@matbesancon, i haven't touched or edited paper.yml. my last git commit editing it was Aug 27. I don't know why this error appeared recently when my paper.yml used to work before. The affiliation stub is there.

[2019-10-29 22:57] ppalmes commented on #51
@whedon generate pdf from branch juliacon2019-paper

[2019-10-29 22:57] whedon commented on #51
[code]

[2019-10-29 22:57] whedon commented on #51
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00051/jcon.00051/10.21105.jcon.00051.pdf)

[2019-10-29 22:58] ppalmes commented on #51
@matbesancon , apparently there was changes to the parsing of yml. I added affiliation index which now works but since all of us are in the same company, it doesn't make sense to have this index on in the affiliation.

[2019-10-30 08:36] matbesancon commented on #51
perfect thanks. Yes that's just the way the YAML is parsed, otherwise it adds special cases

[2019-10-31 18:13] chakravala commented on #18
I have committed the final draft for my JuliaCon paper, here is a PDF download of it

[![DropBox](https://img.shields.io/badge/download_PDF-DropBox-blue.svg)](https://www.dropbox.com/sh/tphh6anw0qwija4/AAACiaXig5djrLVAKLPFmGV-a/Geometric-Algebra?preview=grassmann-juliacon-2019.pdf)

[2019-11-01 14:47] denizyuret commented on #56
Some questions:
- [ ] I am not sure what the page limit is. Assuming 8 pages is ok.
- [ ] The repository url points to the paper repo, not Flux.jl. Assuming Flux.jl for other questions.
- [ ] The formatting seems off, lots of space at the bottom of each page, is this normal?

[2019-11-03 09:28] bkamins commented on #36
I have updated the ticks in the original comment of this topic. I think the one minor thing that could be added (it is not blocking) is that README.md in https://github.com/tszanalytics/Juliacon2019 could have a bit more explanation what files constitute what part of the repository and possibly how they are intended to be used (as it contains: presentation, paper, notebooks and Julia files).

[2019-11-04 08:21] ayush-1506 commented on #21
@whedon commands

[2019-11-04 08:21] whedon commented on #21
Here are some things you can ask me to do:

[code]

[2019-11-04 08:21] ayush-1506 commented on #21
@whedon generate pdf

[2019-11-04 08:21] whedon commented on #21
[code]

[2019-11-04 08:21] whedon commented on #21
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00021/jcon.00021/10.21105.jcon.00021.pdf)

[2019-11-04 08:28] ayush-1506 commented on #21
@whedon generate pdf

[2019-11-04 08:28] whedon commented on #21
[code]

[2019-11-04 08:28] whedon commented on #21
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00021/jcon.00021/10.21105.jcon.00021.pdf)

[2019-11-04 08:29] ayush-1506 commented on #21
@NiklasGustafsson Could you please review this?

[2019-11-04 15:54] NiklasGustafsson commented on #21
Will do.

[2019-11-04 16:03] NiklasGustafsson commented on #21
What is the preferred mechanism for providing my feedback?

[2019-11-04 21:11] matbesancon commented on #43
ping @dawbarton for the last checks in the list

[2019-11-04 22:59] dawbarton commented on #43
Done. Looks good to me!

[2019-11-05 06:05] ayush-1506 commented on #21
@NiklasGustafsson I reckon it's best we do this on slack (in case you're on julialang slack), or via mail. Does that sound good?

[2019-11-05 14:49] dhairyagandhi96 commented on #56
Thanks for the review. Following this, we've made some changes to address some of the suggestions.

Re the AlphaGo point; we couldn't converge it for Go.

Per section 3; the GPU functionality, as well as the AD are mature. The acceleration with TPUs, outputting with JS and batching are working prototypes as of now. We plan to expand this functionality in the future.

With regards to Listing 7, it

[2019-11-05 19:27] matbesancon commented on #43
Some quick things:
Table 1: Julia packages of **the** Modia platform.
Page one col 2, "Whereas" is a bit awkward at the beginning of a sentence, prefer a comma with the previous sentence.

flexible setup of games.

Why? The sentence would benefit from a bit more justification and context

[2019-11-05 19:31] matbesancon commented on #43
Page 3 col 2, replace cheap and cheaply with "low-cost", low computational cost or similar

[2019-11-05 19:34] matbesancon commented on #43
Page 4 equation (3)
[code]

Would be worth it to mention the order of magnitude of  the resisual, 0.03m*s^-1 (rounded up) can be considered non-zero in some contexts

[2019-11-05 20:30] NiklasGustafsson commented on #21
I'm not on the JuliaLang Slack channel. You can contact me at niklas.gustafsson@microsoft.com, so I'll have your email address. Once I have that, I will send you some thoughts.

[2019-11-06 15:00] ayush-1506 commented on #21
Ok, I've sent you a mail.

[2019-11-06 15:31] MartinOtter commented on #43
Fixed

Added a reference to section 2. Due to lack of space, did not add more.

For information: Multi-body programs usually have "body" objects and "joints" and then associate attributes with a body (e.g. "markers" on the body or "visual" information representing the body).
Games have "coordinate systems" as main objects and associate attributes with a coordinate system,
such as geometry, visuali

[2019-11-06 15:32] MartinOtter commented on #43
Fixed.

[2019-11-06 15:35] matbesancon commented on #43
@whedon generate pdf from branch JuliaCon2019-paper

[2019-11-06 15:35] whedon commented on #43
[code]

[2019-11-06 15:36] whedon commented on #43
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00043/jcon.00043/10.21105.jcon.00043.pdf)

[2019-11-06 15:36] MartinOtter commented on #43
Made no change due to lack of space. The numbers of these equations have been just visually extracted from the plot window and it is just a sketch to explain the bend in the figure.
The actual numbers with more digits give an exact zero.

[2019-11-06 15:38] MartinOtter commented on #43
Looks fine (just DOIs still missing in the literature section)

[2019-11-06 19:51] ppalmes commented on #51
@matbesancon , when is the expected date of publication? thanks.

[2019-11-06 20:38] matbesancon commented on #51
In a few weeks

[2019-11-06 20:51] matbesancon commented on #18
Hi, the paper really need to be built with the same environment to be accepted for the proceedings of the JuliaCon, it basically ensures the layout and the tooling will work for all papers we publish

[2019-11-07 15:58] matbesancon commented on #37
@avik-pal you have a weird annotation in the abstract, can you try to add the cls to your gitignore and recompile?

[2019-11-07 15:59] matbesancon commented on #37
Algortihm 1, line 10, what is "optimizer" here?

[2019-11-07 16:02] matbesancon commented on #36
Ping @kescobo, there are a few boxes left

[2019-11-07 16:15] kescobo commented on #36
Thanks for the ping. Just cloned and instantiated the repo - looks great! Boxes checked, thanks for your efforts @tszanalytics, and @matbesancon / @bkamins for helping with review :-) 👍

[2019-11-07 16:35] matbesancon commented on #36
awesome, thanks both for the reviews :)

[2019-11-11 20:38] vchuravy commented on #56
@whedon generate pdf

[2019-11-11 20:38] whedon commented on #56
[code]

[2019-11-11 20:39] whedon commented on #56
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00056/jcon.00056/10.21105.jcon.00056.pdf)

[2019-11-11 20:41] vchuravy commented on #53
@andreasnoack gentle reminder, would be good if you could have a look as well.

[2019-11-11 20:52] andreasnoack commented on #53
Sorry. This fell off my radar. I'll get it done.

[2019-11-12 03:38] dpanigo commented on #53
@andreasnoack , @Nosferican:
We are pleased to inform you that a fully functional GUI interface for GlobalSearchRegression.jl is already available at https://github.com/ParallelGSReg/GlobalSearchRegressionGUI.jl.  Documentation is under development but usage is quite simple:

- Installation: pkg> add  GlobalSearchRegressionGUI;

- Loading: julia> using GlobalSearchRegresionGUI;

- Launching: julia

[2019-11-12 13:05] avik-pal commented on #37
@whedon generate pdf

[2019-11-12 13:05] whedon commented on #37
[code]

[2019-11-12 13:06] whedon commented on #37
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00037/jcon.00037/10.21105.jcon.00037.pdf)

[2019-11-12 13:06] avik-pal commented on #37
It refers to the current state of the optimizer. Can be any first order optimizer like Adam, SGD.

[2019-11-12 20:33] matbesancon commented on #37
It should be specified as an input / parameter of the algorithm

[2019-11-13 16:05] avik-pal commented on #37
@whedon generate pdf

[2019-11-13 16:05] whedon commented on #37
[code]

[2019-11-13 16:05] whedon commented on #37
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00037/jcon.00037/10.21105.jcon.00037.pdf)

[2019-11-13 18:48] matbesancon commented on #37
Perfect, it looks good, thanks for all the last edits

[2019-11-13 18:48] matbesancon commented on #37
Thanks again @snoeyink, @dourouc05 for the reviews

[2019-11-27 10:08] ppalmes commented on #51
hi @matbesancon, any news about publication date? thanks!

[2019-11-27 22:50] vtjnash commented on #54
@whedon generate pdf

[2019-11-27 22:50] whedon commented on #54
[code]

[2019-11-27 22:51] whedon commented on #54
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00054/jcon.00054/10.21105.jcon.00054.pdf)

[2019-12-05 15:05] vtjnash commented on #54
@whedon generate pdf

[2019-12-05 15:05] whedon commented on #54
[code]

[2019-12-05 15:05] whedon commented on #54
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00054/jcon.00054/10.21105.jcon.00054.pdf)

[2019-12-11 13:03] avik-pal commented on #37
Hi @matbesancon, is their any expected date for publication?

[2019-12-22 02:40] vtjnash commented on #54
Is there anything else I need to do? I think I've adopted and incorporated all of Arch's feedback and made it better.

[2019-12-22 22:49] ranjanan commented on #46
@vlandau would you be able to review this?

[2019-12-28 02:23] vlandau commented on #46
@ranjanan sure, I would be happy to. I will be out until Jan. 2nd, but after that I can carve out time to review. Sorry for the late reply here.

[2020-01-05 12:37] avik-pal commented on #37
@matbesancon any update on the expected publication date?

[2020-01-06 22:21] matbesancon commented on #37
hi Avik, sorry about that, we are figuring out the last steps of the publication process.
Pinging @vchuravy

[2020-01-18 05:03] Nosferican commented on #38
Any update on the issue 1 timeline?

[2020-01-18 13:35] matbesancon commented on #38
hi, we are figuring out the last steps with pushing out the issue, sorry for the delays (pinging @vchuravy if more information is available)

[2020-02-03 17:10] ranjanan commented on #46
@vlandau bump

[2020-02-03 18:05] vlandau commented on #46
@ranjanan can you let me know what you're looking specifically in a review? Hadn't started since I hadn't heard from you about it after responding. Feel free to follow up on email.

[2020-02-08 20:54] avik-pal commented on #37
@matbesancon @vchuravy Any furthur update on the publication date?

[2020-02-12 21:31] vtjnash commented on #54
Am I supposed to bump this? I'm not really sure what its status is or who it's waiting on.

[2020-02-19 09:05] raphaelsaavedra commented on #28
Hi @matbesancon, I hope you don't mind if I bump this thread since there hasn't been any progress since October.

One of the reviewers hasn't shown up after 8 months, how should we proceed? Is it possible to find another reviewer?

[2020-02-19 23:50] dehann commented on #28
HI Sorry, i have the review just forgot to upload.  My bad sorry.  Will do it as soon as possible

[2020-02-20 00:27] dehann commented on #28
Dear Authors,

i liked the paper as well as the aim of the package.  I understand the package as standardizing linearized state-space models for JuliaLang, and found the structure familiar from existing literature.  I did have a little trouble switching to the nomenclature in the paper, but that is not serious.

Specific comments:
- p1.,right column (r.) second paragraph (g.2), this you can drop o

[2020-02-20 13:40] raphaelsaavedra commented on #28
Hi @dehann, thank you for your feedback.

Please find below my answers to your comments:

* Regarding the notation of the noise matrix: we have tried to adhere as much as possible to the notation of Durbin & Koopman's book, which was our main reference in this work. In this case, `R` is already reserved for the matrix multiplying the measurement errors.
* By "derive" I mean simply "compute". We ha

[2020-02-20 13:40] raphaelsaavedra commented on #28
@whedon generate pdf

[2020-02-20 13:41] whedon commented on #28
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00028/jcon.00028/10.21105.jcon.00028.pdf)

[2020-02-20 13:44] raphaelsaavedra commented on #28
PS: please remember to tick the boxes in the first post according to your impressions :)

[2020-02-20 21:34] dehann commented on #28
Done thanks, one more suggestion is to add links to the demo data in the Docs too (already in Readme).

[2020-02-22 01:56] andrewrosemberg commented on #35
@vchuravy, we have checked all the boxes, are there any further steps for the paper to be accepted?

[2020-02-22 01:59] andrewrosemberg commented on #35
@whedon generate pdf

[2020-02-22 01:59] whedon commented on #35
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00035/jcon.00035/10.21105.jcon.00035.pdf)

[2020-02-25 11:24] raphaelsaavedra commented on #28
@whedon generate pdf

[2020-02-25 11:24] whedon commented on #28
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00028/jcon.00028/10.21105.jcon.00028.pdf)

[2020-02-25 11:25] raphaelsaavedra commented on #28
Thanks for the suggestion. We have added reference [14] to the repo in the Applications section, where we mention that the code and data for examples can be found in the `examples` folder.

[2020-02-28 14:56] AndreaNeumayr commented on #43
@matbesancon
I’m wondering, it seems that the review checklists are fine from both reviewers, but the status is still “under review”.  Do we have to do something?

[2020-03-04 21:41] vlandau commented on #46
@ranjanan just following up here in addition to the email I sent you to mark my review as complete.

[2020-03-24 11:25] Nosferican commented on #38
Any updates on the timeline?

[2020-04-04 19:05] avik-pal commented on #37
@matbesancon Any update on the timeline?

[2020-04-05 09:36] matbesancon commented on #37
sorry for the response delay: @vchuravy is working out the last details for the publication (website etc)

[2020-04-06 18:44] matbesancon commented on #38
sorry about the delay, @vchuravy is working on the website hosting the articles, which is in the last steps to finally have thing working

[2020-04-07 22:10] ranjanan commented on #46
[Anatharaman-et-al-2020-VL-review.pdf](https://github.com/JuliaCon/proceedings-review/files/4447003/Anatharaman-et-al-2020-VL-review.pdf)

[2020-05-24 23:15] andrewrosemberg commented on #35
@vchuravy, I have published the code using zenodo, following the proceedings [docs](https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance), and the DOI associated with the final version of the paper and package is: `10.5281/zenodo.3842130`
The version is `v0.1.0`.
Doi is shown in the [master](https://github.com/andrewrosemberg/HydroPowerModels.jl/tree/master).
Tag

[2020-06-02 05:50] ranjanan commented on #46
@whedon generate pdf

[2020-06-02 05:50] whedon commented on #46
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00046/jcon.00046/10.21105.jcon.00046.pdf)

[2020-06-02 06:01] ranjanan commented on #46
@whedon generate pdf

[2020-06-02 06:01] whedon commented on #46
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00046/jcon.00046/10.21105.jcon.00046.pdf)

[2020-06-02 06:03] ranjanan commented on #46
@matbesancon could you remove reviewers needed here? Also, I have incorporated the reviewers feedback and produced a new proof. If there are no further issues, could you consider accepting this?

[2020-06-08 14:26] matbesancon commented on #46
@whedon start review

[2020-06-08 14:26] whedon commented on #46
It looks like you don't have an editor and reviewer assigned yet so I can't start the review. Try one or more of these commands:

[code]

[2020-06-08 14:27] matbesancon commented on #46
@whedon assign @vlandau as reviewer

[2020-06-08 14:27] whedon commented on #46
OK, @vlandau is now a reviewer

[2020-06-08 14:27] matbesancon commented on #46
@whedon start review

[2020-06-08 14:27] whedon opened #58 "[REVIEW]: Circuitscape in Julia: High Performance Connectivity Modelling to Support Conservation Decisions"
**Submitting author:** @ranjanan (<a href="http://orcid.org/0000-0002-4409-3937">Ranjan Anantharaman</a>)
**Repository:** <a href="https://github.com/Circuitscape/CircuitscapeJuliaPaper" target ="_blank">https://github.com/Circuitscape/CircuitscapeJuliaPaper</a>
**Editor:** @matbesancon
**Reviewer:** @vlandau
**Archive:** <a href="https://doi.org/10.5281/zenodo.3960829" target="_blank">10.5281/zen

[2020-06-08 14:27] #46 closed

[2020-06-08 14:27] whedon commented on #58
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @vlandau it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.th

[2020-06-08 14:28] whedon commented on #58
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00058/jcon.00058/10.21105.jcon.00058.pdf)

[2020-06-08 14:28] whedon commented on #58
[code]

[2020-06-08 14:28] matbesancon commented on #58
@vlandau thanks for the review and sorry for the delay, can you verify that the paper meets the criteria from the list above and check them when it applies?

[2020-06-08 14:30] matbesancon commented on #58
@ranjanan for archiving purposes can you repost the review PDF here?
Also there seems to be some DOI missing, whedon is sometimes incorrect on these so let us know if it doesn't apply

[2020-06-08 15:44] vlandau commented on #58
Hmm, when I click the link to accept the invitation I am getting a 404 error that the page doesn't exist -- I haven't been able to accept an invitation so maybe that's why I'm not seeing how to check the checklist above.

[2020-06-08 15:50] matbesancon commented on #58
@whedon help

[2020-06-08 15:50] whedon commented on #58
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-08 15:50] matbesancon commented on #58
@whedon commands

[2020-06-08 15:50] whedon commented on #58
Here are some things you can ask me to do:

[code]

[2020-06-08 15:51] matbesancon commented on #58
@whedon list reviewers

[2020-06-08 15:51] whedon commented on #58
Here's the current list of reviewers: http://bit.ly/2V9GSFq

[2020-06-08 15:52] matbesancon commented on #58
@whedon re-invite @vlandau as reviewer

[2020-06-08 15:52] whedon commented on #58
The reviewer already has a pending invite.

@vlandau please accept the invite by clicking this link: https://github.com/JuliaCon/proceedings-review/invitations

[2020-06-08 17:14] vchuravy commented on #57
@ChrisRackauckas @MasonProtter are you still willing to perform reviews?

[2020-06-08 17:15] vchuravy commented on #56
@dhairyagandhi96 did you address the review?

[2020-06-08 17:18] vchuravy commented on #55
@MikeInnes have you address the review comments?

[2020-06-08 17:22] vchuravy commented on #52
ping @HarrisonGrodin can you let us know when you addressed the comments from the review?

[2020-06-08 17:24] ChrisRackauckas commented on #52
We're pulling this submission.

[2020-06-08 17:24] #52 closed

[2020-06-08 17:28] matbesancon commented on #43
Very sorry about the delays, this paper looks good to accept

[2020-06-08 17:28] matbesancon commented on #43
@whedon generate pdf from branch JuliaCon2019-paper

[2020-06-08 17:28] whedon commented on #43
[code]

[2020-06-08 17:29] whedon commented on #43
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00043/jcon.00043/10.21105.jcon.00043.pdf)

[2020-06-08 17:29] matbesancon commented on #43
@whedon check refs

[2020-06-08 17:29] whedon commented on #43
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-06-08 17:29] matbesancon commented on #43
@whedon check references

[2020-06-08 17:30] matbesancon commented on #43
@whedon commands

[2020-06-08 17:31] whedon commented on #43
Here are some things you can ask me to do:

[code]

[2020-06-08 17:31] ChrisRackauckas commented on #57
I recently took a pretty deep dive through the package and its documentation. The documentation is extremely thorough, especially things like https://aske.gtri.gatech.edu/docs/latest/examples/html/malaria.html . I have nothing to add and think this can be accepted as is. It might finally make a category theorist out of me.

[2020-06-08 17:31] matbesancon commented on #43
@whedon check references

[2020-06-08 17:32] vchuravy commented on #21
@ayush-1506 @NiklasGustafsson how did the review go?

[2020-06-08 17:32] matbesancon commented on #36
@whedon check references

[2020-06-08 17:32] matbesancon commented on #36
@whedon generate pdf

[2020-06-08 17:32] whedon commented on #36
[code]

[2020-06-08 17:33] whedon commented on #36
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00036/jcon.00036/10.21105.jcon.00036.pdf)

[2020-06-08 17:38] matbesancon commented on #43
@whedon check references

[2020-06-08 17:40] matbesancon commented on #43
So I can't get the DOI verification to work on this paper but it is all good on my side given the reviews and edits made by the authors. Thanks and sorry for the delay

[2020-06-08 17:45] matbesancon commented on #28
Hi @mschauer, we had some delays on the JuliaCon  proceedings handling, would you be ok with continuing this review?

[2020-06-08 17:50] matbesancon commented on #36
@tszanalytics sorry for the huge delay we had on the proceedings. A minor last thing before accepting, could you add the missing DOI pointed above to the references?

[2020-06-08 17:51] vchuravy commented on #57
@ChrisRackauckas good to hear that the package is in a good state. Anuthing about the submitted paper?

[2020-06-08 17:52] vchuravy commented on #51
@whedon check references

[2020-06-08 17:53] vchuravy commented on #38
@whedon check references

[2020-06-08 17:53] vchuravy commented on #20
@whedon check references

[2020-06-08 17:53] whedon commented on #38
[code]

[2020-06-08 17:53] whedon commented on #20
[code]

[2020-06-08 17:54] ChrisRackauckas commented on #57
The paper is mostly good. It should really be citing a lot more of the tools that it's using an some of the category theory background. Maybe a full example that's from scratch and not reading from a file? That's about it.

[2020-06-08 17:54] vchuravy commented on #12
@nlw0 can add the missing DOIs?

[2020-06-08 17:54] vchuravy commented on #57
@whedon check references

[2020-06-08 17:54] ranjanan commented on #58
Almost all the DOIs that whedon complained are missing exist, except for the cholesky factorization citation (https://onlinelibrary.wiley.com/doi/full/10.1002/wics.18) which has a different DOI than the one whedon detected. I'll update the paper with the DOI and generate it here.

[2020-06-08 17:55] whedon commented on #57
[code]

[2020-06-08 18:32] MasonProtter commented on #57
I'm very sorry to say that I forgot about this, my apologies to Valentin and the submission authors.

@vchuravy It appears all the Juliacon related links are currently broken. What is the page limit for the paper? If it's more than a page, I think it'd be good if the paper was expanded a bit, but also this is fine. People can see the every extensive and well written docs / notebooks if they want t

[2020-06-08 19:45] wsmoses commented on #54
@vtjnash Do you need to @sync in the merge sort example before merging or am I missing something.

[2020-06-08 19:59] nlw0 commented on #12
Sure, I pushed a patch already. I could not find a DOI for SICP, though, and the suggested one is actually from a review article.

[2020-06-08 20:38] vtjnash commented on #54
No, that's implied in the `fetch`

[2020-06-08 20:45] wsmoses commented on #54
Ah that makes sense, in any case here's a more full review/set of comments:

This paper presents a mechanism of embedding dynamic task-based parallelism into the Julia language, allowing Julia programs to benefit from parallelism as distinct from existing Julia mechanisms from concurrency. The core of this contribution is a new scheduler with frontend modifications that allow several front-end imp

[2020-06-09 06:28] AndreaNeumayr commented on #43
We discussed about the DOI's already.

Thank you, now worries.

[2020-06-09 06:32] AndreaNeumayr commented on #43
@matbesancon the status is still under review.
Do we still have to do something?

[2020-06-09 06:46] AndreaNeumayr commented on #43
I read the whedon commands. I think the accept and accept deposit=true commands need to be executed. What do you think @matbesancon ?

[2020-06-09 08:11] matbesancon commented on #43
thanks @AndreaNeumayr, the deposit requires an extra step on the side of the infrastructure that is not setup yet, but the paper is accepted as-is and will be archived soon, thanks a lot

[2020-06-11 16:28] matbesancon commented on #58
if I remember correctly it's 8 pages, so this paper is fine

You can verify that references are adequate, disregarding the technical DOI issue, that is, is the paper referencing appropriate references to point the reader where needed

[2020-06-11 16:31] vlandau commented on #58
Okay -- all looks good on my end!

[2020-06-15 06:12] ranjanan commented on #58
@whedon generate pdf

[2020-06-15 06:12] whedon commented on #58
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00058/jcon.00058/10.21105.jcon.00058.pdf)

[2020-06-15 06:13] ranjanan commented on #58
Updated the fautly DOI and generated the paper, like you asked.

[2020-06-17 09:07] matbesancon commented on #58
fine grained -> fine-grained

Over the past decade Circuitscape -> Over the past decade, Circuitscape

Then, in collaboration with Tanmay Mohapatra, it was translated to Python for flexible scripting, platform independence, and released under an open-source license.

in the C programmming language --> 2 Ms

is high performance -> high-performance

our user base, and works well on every platform (c

[2020-06-29 02:47] Nosferican commented on #38
Any word on when issue 1 will be out?

[2020-06-29 18:32] ranjanan commented on #58
@matbesancon I made the changes, but I changed the URL from the original package repo to https://github.com/Circuitscape/CircuitscapeJuliaPaper.

[2020-06-29 21:16] matbesancon commented on #58
@whedon generate pdf

[2020-06-29 21:16] whedon commented on #58
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00058/jcon.00058/10.21105.jcon.00058.pdf)

[2020-06-29 21:17] matbesancon commented on #58
did it work

[2020-06-30 14:57] ranjanan commented on #58
Yes, it worked. I see you edited the original comment. Nice.

[2020-07-06 17:54] ranjanan commented on #58
@matbesancon what's next here?

[2020-07-06 21:23] matbesancon commented on #58
this looks good on my side

[2020-07-06 21:23] matbesancon commented on #58
@whedon check DOI

[2020-07-06 21:23] whedon commented on #58
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-06 21:24] matbesancon commented on #58
@whedon commands

[2020-07-06 21:24] whedon commented on #58
Here are some things you can ask me to do:

[code]

[2020-07-06 21:24] matbesancon commented on #58
@whedon check references

[2020-07-06 21:26] whedon commented on #58
[code]

[2020-07-06 21:27] matbesancon commented on #58
@ranjanan can you check the DOIs above? Whedon is buggy so some of them might be wrong

[2020-07-09 06:24] avik-pal commented on #37
Hi @matbesancon, has there been any update on this?
Thanks,
Avik

[2020-07-23 11:19] arfon commented on #37
@whedon generate pdf

[2020-07-23 11:19] whedon commented on #37
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00037/jcon.00037/10.21105.jcon.00037.pdf)

[2020-07-23 11:19] arfon commented on #37
@whedon accept

[2020-07-23 11:20] whedon commented on #37
I'm sorry @arfon, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-07-23 11:26] vchuravy commented on #37
@whedon accept

[2020-07-23 11:26] whedon commented on #37
No archive DOI set. Exiting...

[2020-07-25 10:38] arfon commented on #12
@whedon check references

[2020-07-25 10:38] whedon commented on #12
[code]

[2020-07-25 15:45] arfon commented on #12
@whedon accept

[2020-07-25 15:45] whedon commented on #12
I'm sorry @arfon, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-07-25 15:45] arfon commented on #12
@whedon list editors

[2020-07-25 15:46] arfon commented on #12
@whedon list editors

[2020-07-25 15:46] whedon commented on #12
Current editors:

[code]

[2020-07-25 15:46] whedon commented on #12
Current editors:

[code]

[2020-07-25 16:33] arfon commented on #12
@whedon list editors

[2020-07-25 20:51] vchuravy commented on #12
@whedon list editors

[2020-07-25 20:51] vchuravy commented on #12
@whedon accept

[2020-07-26 13:01] arfon commented on #12
@whedon list editors

[2020-07-26 13:02] whedon commented on #12
Current editors:

[code]

[2020-07-26 13:02] arfon commented on #12
@whedon list editors

[2020-07-26 13:03] whedon commented on #12
Current editors:

[code]

[2020-07-26 13:03] arfon commented on #12
@whedon accept

[2020-07-26 13:03] whedon commented on #12
[code]

[2020-07-26 13:03] whedon commented on #12
PDF failed to compile for issue #12 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedon.rb:200:in `block in parse_authors': Author (Nicolau Leal Werneck) is missing affiliation (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedon.rb:198:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0

[2020-07-26 13:03] whedon commented on #12
[code]

[2020-07-26 13:06] arfon commented on #12
@nlw0 - could you merge this PR please? https://github.com/nlw0/chipsort-article/pull/2

[2020-07-26 13:11] arfon commented on #58
@whedon accept

[2020-07-26 13:11] whedon commented on #58
No archive DOI set. Exiting...

[2020-07-26 13:12] arfon commented on #38
@whedon accept

[2020-07-26 13:12] whedon commented on #38
[code]

[2020-07-26 13:13] whedon commented on #38
PDF failed to compile for issue #38 with the following error:

 /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedon.rb:200:in `block in parse_authors': Author (José Bayoán Santiago Calderón) is missing affiliation (RuntimeError)
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-446a0298a33b/lib/whedon.rb:198:in `each'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whe

[2020-07-26 13:13] whedon commented on #38
[code]

[2020-07-26 13:14] arfon commented on #38
@Nosferican - could you please merge this PR? https://github.com/Nosferican/Econometrics.jl/pull/49

[2020-07-26 13:30] arfon commented on #12
@whedon accept

[2020-07-26 13:30] whedon commented on #12
[code]

[2020-07-26 13:31] whedon commented on #12
[code]

[2020-07-26 13:31] whedon commented on #12
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/7

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/7, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-26 13:52] arfon commented on #12
@whedon accept

[2020-07-26 13:52] whedon commented on #12
[code]

[2020-07-26 13:53] whedon commented on #12
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/8

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/8, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-26 13:53] whedon commented on #12
[code]

[2020-07-26 14:19] arfon commented on #12
@nlw0 - this paper is very nearly ready. Could you look at fixing up those DOIs that Whedon is complaining about? For example, changing:

`- https://doi.org/10.1137/141000671` to `10.1137/141000671`

[2020-07-26 15:11] arfon commented on #15
@whedon accept

[2020-07-26 15:11] whedon commented on #15
[code]

[2020-07-26 15:11] whedon commented on #15
[code]

[2020-07-26 15:11] whedon commented on #15
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/9

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/9, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-26 15:35] arfon commented on #15
@whedon accept deposit=true

[2020-07-26 15:35] whedon commented on #15
I'm sorry @arfon, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2020-07-26 15:47] nlw0 commented on #12
I think I fixed it. I already looked into the SICP DOI, see above...

[2020-07-26 15:48] nlw0 commented on #12
@whedon check references

[2020-07-26 15:49] whedon commented on #12
[code]

[2020-07-26 16:05] arfon commented on #15
@whedon accept deposit=true

[2020-07-26 16:05] whedon commented on #15
[code]

[2020-07-26 16:05] whedon commented on #15
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JCON!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/JuliaCon/proceedings-papers/pull/10
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jcon.00015](https://doi.org/10.21105/jcon.00015)
2. If everything looks

[2020-07-26 16:05] nlw0 commented on #12
@whedon check references

[2020-07-26 16:06] whedon commented on #12
[code]

[2020-07-26 16:44] arfon commented on #15
@vchuravy @matbesancon - looks like this is mostly working now 😄 so I'm going to close this issue.

[2020-07-26 16:44] #15 closed

[2020-07-26 16:44] whedon commented on #15
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://proceedings.juliacon.org/papers/10.21105/jcon.00015/status.svg)](https://doi.org/10.21105/jcon.00015)

**We need your help!**

JuliaCon Proceeding

[2020-07-26 17:04] arfon commented on #12
@whedon accept

[2020-07-26 17:04] whedon commented on #12
[code]

[2020-07-26 17:04] whedon commented on #12
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/11

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/11, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-26 17:04] whedon commented on #12
[code]

[2020-07-26 17:05] arfon commented on #12
@whedon accept deposit=true

[2020-07-26 17:05] whedon commented on #12
[code]

[2020-07-26 17:06] whedon commented on #12
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JCON!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/JuliaCon/proceedings-papers/pull/12
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jcon.00012](https://doi.org/10.21105/jcon.00012)
2. If everything looks

[2020-07-26 17:08] arfon commented on #12
@vchuravy @matbesancon - this one went through fine with no manual processing on my part.

We need to update the proceedings website to make sure that the branding an content are correct but I think the tooling is mostly in good shape now.

[2020-07-26 19:15] matbesancon commented on #58
hey @ranjanan, can you archive your repo on Zenodo and give me the provided DOI here when done?

[2020-07-26 19:21] matbesancon commented on #38
@whedon accept

[2020-07-26 19:21] whedon commented on #38
[code]

[2020-07-26 19:21] whedon commented on #38
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/13

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/13, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-26 19:22] whedon commented on #38
[code]

[2020-07-26 19:28] matbesancon commented on #38
@whedon accept deposit=true

[2020-07-26 19:28] whedon commented on #38
[code]

[2020-07-26 19:28] whedon commented on #38
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JCON!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/JuliaCon/proceedings-papers/pull/14
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jcon.00038](https://doi.org/10.21105/jcon.00038)
2. If everything looks

[2020-07-26 19:30] matbesancon commented on #51
@whedon check references

[2020-07-26 19:33] ranjanan commented on #58
@matbesancon how do I do that? Can't find Circuitscape.jl on Zenodo...

[2020-07-26 19:35] matbesancon commented on #37
@whodon add doi 10.5281/zenodo.1442781

[2020-07-26 19:36] ranjanan commented on #58
Don't think I ever put it there, now that I think about it

[2020-07-26 19:36] matbesancon commented on #37
@whedon commands

[2020-07-26 19:36] whedon commented on #37
Here are some things you can ask me to do:

[code]

[2020-07-26 19:37] matbesancon commented on #37
@whedon set 10.5281/zenodo.1442781 as archive

[2020-07-26 19:37] whedon commented on #37
OK. <a href="https://doi.org/10.5281/zenodo.1442781" target="_blank">10.5281/zenodo.1442781</a> is the archive.

[2020-07-26 19:37] matbesancon commented on #37
@whedon accept

[2020-07-26 19:37] whedon commented on #37
[code]

[2020-07-26 19:37] whedon commented on #37
[code]

[2020-07-26 19:37] whedon commented on #37
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/15

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/15, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-26 19:45] matbesancon commented on #36
bump :)

[2020-07-26 19:46] matbesancon commented on #36
Also as ultimate step, can you archive the project on Zenodo and let us know the DOI?

[2020-07-26 19:48] matbesancon commented on #37
@avik-pal the missing DOI seems valid, could you add it to the references?

[2020-07-26 19:48] matbesancon commented on #37
@whedon compile pdf

[2020-07-26 19:48] whedon commented on #37
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-26 19:49] matbesancon commented on #37
@whedon generate pdf

[2020-07-26 19:49] whedon commented on #37
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00037/jcon.00037/10.21105.jcon.00037.pdf)

[2020-07-26 19:56] avik-pal commented on #37
@matbesancon I have added the missing DOI

[2020-07-26 19:59] matbesancon commented on #37
wonderful thank you. I still have a tiny bug on our side (a random string appearing), and this will be good

[2020-07-26 20:04] matbesancon commented on #58
if you go on Zenodo, you can link your github, and then register your project, this will allow you to register an archive

[2020-07-26 20:31] ranjanan commented on #58
Yes, here's the release DOI: 10.5281/zenodo.3960829. Should I create a DOI for the paper as well, or will this do?

[2020-07-26 20:33] matbesancon commented on #58
@whedon set10.5281/zenodo.3960829 as archive

[2020-07-26 20:33] whedon commented on #58
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-26 20:33] matbesancon commented on #58
@whedon set 10.5281/zenodo.3960829 as archive

[2020-07-26 20:33] whedon commented on #58
OK. <a href="https://doi.org/10.5281/zenodo.3960829" target="_blank">10.5281/zenodo.3960829</a> is the archive.

[2020-07-26 20:34] matbesancon commented on #58
@whedon generate pdf

[2020-07-26 20:34] whedon commented on #58
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00058/jcon.00058/10.21105.jcon.00058.pdf)

[2020-07-26 20:37] matbesancon commented on #58
@whedon accept

[2020-07-26 20:37] whedon commented on #58
[code]

[2020-07-26 20:37] whedon commented on #58
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/16

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/16, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-26 20:37] whedon commented on #58
[code]

[2020-07-26 20:38] matbesancon commented on #58
@ranjanan can you check the DOIs?

[2020-07-26 20:44] ranjanan commented on #58
All DOIs that whedon is complaining about are valid, except for the "cholesky factorization" one. But I updated the DOI for that reference here: https://github.com/Circuitscape/CircuitscapeJuliaPaper/blob/master/paper/paper.bib#L221. Doesn't look like whedon looks at that field?

[2020-07-27 07:18] matbesancon commented on #58
weird

[2020-07-27 07:18] matbesancon commented on #58
@whedon accept

[2020-07-27 07:18] whedon commented on #58
[code]

[2020-07-27 07:19] whedon commented on #58
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/17

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/17, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-27 07:19] whedon commented on #58
[code]

[2020-07-27 07:20] matbesancon commented on #58
@whedon accept deposit=true

[2020-07-27 07:20] whedon commented on #58
[code]

[2020-07-27 07:21] whedon commented on #58
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JCON!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/JuliaCon/proceedings-papers/pull/18
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jcon.00058](https://doi.org/10.21105/jcon.00058)
2. If everything looks

[2020-07-27 09:14] #58 closed

[2020-07-27 09:14] whedon commented on #58
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://proceedings.juliacon.org/papers/10.21105/jcon.00058/status.svg)](https://doi.org/10.21105/jcon.00058)

**We need your help!**

JuliaCon Proceeding

[2020-07-27 10:05] vchuravy commented on #53
@whedon check doi

[2020-07-27 10:05] whedon commented on #53
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-27 10:05] vchuravy commented on #53
@whedon commands

[2020-07-27 10:05] whedon commented on #53
Here are some things you can ask me to do:

[code]

[2020-07-27 10:06] vchuravy commented on #53
@whedon check references

[2020-07-27 10:06] vchuravy commented on #53
@whedon generate pdf

[2020-07-27 10:07] whedon commented on #53
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00053/jcon.00053/10.21105.jcon.00053.pdf)

[2020-07-27 10:07] vchuravy commented on #35
@whedon set 10.5281/zenodo.3842130 as archive

[2020-07-27 10:07] whedon commented on #35
OK. <a href="https://doi.org/10.5281/zenodo.3842130" target="_blank">10.5281/zenodo.3842130</a> is the archive.

[2020-07-27 10:07] vchuravy commented on #35
@whedon check references

[2020-07-27 10:08] whedon commented on #35
[code]

[2020-07-27 10:09] vchuravy commented on #35
@wheden set v0.1.0 as version

[2020-07-27 10:09] vchuravy commented on #35
@whedon set v0.1.0 as version

[2020-07-27 10:09] whedon commented on #35
OK. v0.1.0 is the version.

[2020-07-27 10:10] vchuravy commented on #35
@andrewrosemberg thank you for your patience can you add the missing DOIs?

[2020-07-27 10:11] vchuravy commented on #53
@dpanigo thank you for your patience. Is there an archival DOI that you would like to associate with the publication?
https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance

[2020-07-27 10:15] vchuravy commented on #20
@whedon check references

[2020-07-27 10:16] whedon commented on #20
[code]

[2020-07-27 10:17] vchuravy commented on #20
@rohanmclure thank you for your patience, can you fix the DOIs? And is there an archival DOI for the associated code that you would like to associate with the publication?
https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance

[2020-07-27 10:19] vchuravy commented on #57
Thank you Mason for your comments.

@mehalter thank you for your patience, can you address the reviewer comments? And is there an archival DOI for the associated code that you would like to associate with the publication?
https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance

[2020-07-27 10:22] vchuravy commented on #54
@whedon check references

[2020-07-27 10:23] whedon commented on #54
[code]

[2020-07-27 10:23] vchuravy commented on #54
Thank you @wsmoses for your review.

@vtjnash thank you for your patience can you address the reviewer comments and is there an archival DOI that you would like to associate with the publication?

[2020-07-27 10:33] vchuravy commented on #43
@AndreaNeumayr thank you for your patience, is there an archival DOI for the code that you would like to add to the paper?

[2020-07-27 11:32] matbesancon commented on #37
@whedon generate pdf

[2020-07-27 11:33] matbesancon commented on #37
(please)

[2020-07-27 11:33] whedon commented on #37
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00037/jcon.00037/10.21105.jcon.00037.pdf)

[2020-07-27 11:36] matbesancon commented on #37
@arfon do you know why this "Proceedings of JuliaCon"  line is appearing below the abstract here?  It might need a build from scratch on the server?

[2020-07-27 11:51] rohanmclure commented on #20
@whedon check references

[2020-07-27 11:51] whedon commented on #20
[code]

[2020-07-27 11:57] rohanmclure commented on #20
@whedon check references

[2020-07-27 11:57] whedon commented on #20
[code]

[2020-07-27 12:18] rohanmclure commented on #20
@whedon set 10.5281/zenodo.3961608 as archive

[2020-07-27 12:18] whedon commented on #20
I'm sorry @rohanmclure, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-07-27 12:19] rohanmclure commented on #20
Oops! That is the DOI for the code archive.

[2020-07-27 12:19] vchuravy commented on #20
@whedon set 10.5281/zenodo.3961608 as archive

[2020-07-27 12:20] whedon commented on #20
OK. <a href="https://doi.org/10.5281/zenodo.3961608" target="_blank">10.5281/zenodo.3961608</a> is the archive.

[2020-07-27 12:20] vchuravy commented on #20
@whedon set 1.0.0 as version

[2020-07-27 12:20] whedon commented on #20
OK. 1.0.0 is the version.

[2020-07-27 12:21] vchuravy commented on #20
@whedon accept

[2020-07-27 12:21] whedon commented on #20
[code]

[2020-07-27 12:21] whedon commented on #20
[code]

[2020-07-27 12:22] whedon commented on #20
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/19

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/19, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-27 13:03] ViralBShah commented on #55
@ChrisRackauckas

[2020-07-27 13:08] vchuravy commented on #20
@whedon accept deposit=true

[2020-07-27 13:08] whedon commented on #20
[code]

[2020-07-27 13:09] whedon commented on #20
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JCON!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/JuliaCon/proceedings-papers/pull/20
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jcon.00020](https://doi.org/10.21105/jcon.00020)
2. If everything looks

[2020-07-27 13:09] vchuravy commented on #55
According to a conversation on Slack this paper has been published elsewhere.

@whedon withdraw

[2020-07-27 13:18] ViralBShah commented on #55
http://ceur-ws.org/Vol-2587/

[2020-07-27 13:29] vchuravy commented on #55
@whedon withdraw

[2020-07-27 13:29] whedon commented on #55
Paper withdrawn.

[2020-07-27 13:29] #55 closed

[2020-07-27 13:29] #20 closed

[2020-07-27 13:29] whedon commented on #20
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://proceedings.juliacon.org/papers/10.21105/jcon.00020/status.svg)](https://doi.org/10.21105/jcon.00020)

**We need your help!**

JuliaCon Proceeding

[2020-07-27 13:36] vchuravy commented on #41
@whedon commands

[2020-07-27 13:36] whedon commented on #41
Here are some things you can ask me to do:

[code]

[2020-07-27 13:36] vchuravy commented on #41
@whedon add @dpsanders as reviewer

[2020-07-27 13:36] whedon commented on #41
OK, @dpsanders is now a reviewer

[2020-07-27 13:39] vchuravy commented on #41
@oaefbsc thank you for your patience. Are you still interested in seeing this submission as part of the JuliaCon proceedings?

[2020-07-27 13:55] vchuravy commented on #41
@whedon set @vchuravy as editor

[2020-07-27 13:55] whedon commented on #41
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-27 13:56] vchuravy commented on #41
@whedon invite @vchuravy as editor

[2020-07-27 13:56] whedon commented on #41
@vchuravy has been invited to edit this submission.

[2020-07-27 13:57] vchuravy commented on #21
@whedon start review

[2020-07-27 14:00] vchuravy commented on #41
@whedon assign @vchuravy as editor

[2020-07-27 14:00] whedon commented on #41
OK, the editor is @vchuravy

[2020-07-27 14:26] arfon commented on #37
@whedon generate pdf

[2020-07-27 14:28] whedon commented on #37
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00037/jcon.00037/10.21105.jcon.00037.pdf)

[2020-07-27 14:30] arfon commented on #37
I just rebooted Whedon (which re-initializes the filesystem) and tried recompiling but the same issue is there....

[2020-07-27 14:31] NiklasGustafsson commented on #21
I forwarded my comments via email back in the winter.

[2020-07-27 14:35] mehalter commented on #57
I have just tagged a new release on SemanticModels to address the notes from @MasonProtter about the test suite, this now works again in Julia v1.0-1.4.2. Julia v1.5.0-beta1 does not work, but the error comes from being unable to precompile Cassette with the new version. Given it is an unreleased version of Julia for now, we are alright with it not working quite yet until Cassette updates their pa

[2020-07-27 14:54] vchuravy commented on #57
Can you create one for SemanticsModels.jl see https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance

[2020-07-27 14:54] vchuravy commented on #21
@whedon commands

[2020-07-27 14:54] whedon commented on #21
Here are some things you can ask me to do:

[code]

[2020-07-27 14:56] vchuravy commented on #21
@whedon start review

[2020-07-27 14:56] mehalter commented on #57
@whedon set 10.5281/zenodo.3961696 as archive

[2020-07-27 14:56] whedon commented on #57
I'm sorry @mehalter, I'm afraid I can't do that. That's something only editors are allowed to do.

[2020-07-27 14:57] vchuravy commented on #21
@NiklasGustafsson thank you for that! I talked to Ayush offline and he will integrate them and then we can move forward.

[2020-07-27 14:57] mehalter commented on #57
ah sorry, also I misunderstood. We do have a DOI for SemanticModels (this is for the new v0.4.0):  10.5281/zenodo.3961696

[2020-07-27 14:57] vchuravy commented on #57
@whedon set 10.5281/zenodo.3961696 as archive

[2020-07-27 14:57] whedon commented on #57
OK. <a href="https://doi.org/10.5281/zenodo.3961696" target="_blank">10.5281/zenodo.3961696</a> is the archive.

[2020-07-27 14:58] vchuravy commented on #57
@whedon set 0.4.0 as version

[2020-07-27 14:58] whedon commented on #57
OK. 0.4.0 is the version.

[2020-07-27 14:58] vchuravy commented on #57
@whedon accept

[2020-07-27 14:58] whedon commented on #57
[code]

[2020-07-27 14:58] whedon commented on #57
[code]

[2020-07-27 14:59] whedon commented on #57
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/21

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/21, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-27 15:00] mehalter commented on #57
The paper PDF looks good. Thanks for your help @vchuravy

[2020-07-27 15:09] vchuravy commented on #48
@EconometricsBySimulation are you still interested in having this appear in the JuliaCon proceedings? If not I will withdraw this submission.

[2020-07-27 15:10] vchuravy commented on #47
@shashi are you still interested in having this appear in the JuliaCon proceedings? If not I will withdraw this submission.

[2020-07-27 15:11] arfon commented on #21
@whedon start review

[2020-07-27 15:11] vchuravy commented on #18
@whedon withdraw

[2020-07-27 15:11] whedon commented on #18
Paper withdrawn.

[2020-07-27 15:11] #18 closed

[2020-07-27 15:11] vchuravy commented on #57
@whedon accept deposit=true

[2020-07-27 15:11] whedon commented on #57
[code]

[2020-07-27 15:11] arfon commented on #21
@whedon start review

[2020-07-27 15:12] whedon commented on #57
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JCON!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/JuliaCon/proceedings-papers/pull/22
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jcon.00057](https://doi.org/10.21105/jcon.00057)
2. If everything looks

[2020-07-27 15:15] vchuravy commented on #52
@whedon withdraw

[2020-07-27 15:15] whedon commented on #52
Paper withdrawn.

[2020-07-27 15:15] #57 closed

[2020-07-27 15:15] whedon commented on #57
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://proceedings.juliacon.org/papers/10.21105/jcon.00057/status.svg)](https://doi.org/10.21105/jcon.00057)

**We need your help!**

JuliaCon Proceeding

[2020-07-27 15:15] mehalter commented on #57
@vchuravy  I just checked the page and the software repository links to the paper repository, could we get that moved to https://github.com/jpfairbanks/SemanticModels.jl

[2020-07-27 15:15] vchuravy commented on #28
@whedon commands

[2020-07-27 15:15] whedon commented on #28
Here are some things you can ask me to do:

[code]

[2020-07-27 15:16] vchuravy commented on #28
@whedon remind @mschauer in 5 days

[2020-07-27 15:16] whedon commented on #28
Reminder set for @mschauer in 5 days

[2020-07-27 15:23] EconometricsBySimulation commented on #48
Oh, yes this would be great. I think it needs work though. When can I get
it to you?

On Mon, Jul 27, 2020, 11:10 AM Valentin Churavy <notifications@github.com>
wrote:

[2020-07-27 15:42] chakravala commented on #18
Why is it being with drawn?

[2020-07-27 15:46] arfon commented on #21
@whedon start review

[2020-07-27 15:46] whedon opened #59 "[REVIEW]: Interoperating Deep Learning models with ONNX.jl"
**Submitting author:** @ayush-1506 (<a href="http://orcid.org/0000-0003-3550-691X">Ayush Shridhar</a>)
**Repository:** <a href="https://github.com/FluxML/ONNX.jl" target ="_blank">https://github.com/FluxML/ONNX.jl</a>
**Version:**
**Editor:** @vchuravy
**Reviewer:** @ekinakyurek, @NiklasGustafsson
**Archive:** Pending

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the

[2020-07-27 15:46] whedon commented on #21
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/59.

[2020-07-27 15:46] #21 closed

[2020-07-27 15:46] whedon commented on #59
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ekinakyurek, @NiklasGustafsson it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog pos

[2020-07-27 15:46] whedon commented on #59
PDF failed to compile for issue #59 with the following error:

 Can't find any papers to compile :-(

[2020-07-27 17:26] vchuravy commented on #18
I withdrew your paper since you did not reply to https://github.com/JuliaCon/proceedings-review/issues/18#issuecomment-550494959 without the paper in the right format it is impossible for us to proceed.

[2020-07-27 17:28] vchuravy commented on #59
@whedon generate pdf

[2020-07-27 17:29] whedon commented on #59
PDF failed to compile for issue #59 with the following error:

 Can't find any papers to compile :-(

[2020-07-27 17:31] vchuravy commented on #59
@ayush-1506 please re-add the paper once you are done with your modifications: https://github.com/FluxML/ONNX.jl/commit/d328243656ab3264b9fd58ce6f5eb0bc3f8b1711

[2020-07-27 17:41] vchuravy commented on #48
As soon as possible please. We are trying to wrap last years edition up.

[2020-07-27 18:40] vchuravy commented on #57
@arfon On we had the case that some folks submitted their papers in independent repositories from the actual software: As an example https://proceedings.juliacon.org/papers/10.21105/jcon.00057 points to https://github.com/mehalter/juliacon2019-submission

Is it possible to add an alias?

[2020-07-27 18:48] dpanigo commented on #53
@vchuravy the archival DOI should link the article with the publication repo itself or with the underlying software (GlobalSearchRegression.jl?)

[2020-07-27 18:49] dpanigo commented on #53
Because the software is on a different repo

[2020-07-27 18:59] vchuravy commented on #41
@whedon add @andreasnoack  as reviewer

[2020-07-27 19:00] whedon commented on #41
OK, @andreasnoack  is now a reviewer

[2020-07-27 19:00] vchuravy commented on #41
@whedon start review

[2020-07-27 19:00] whedon opened #60 "[REVIEW]: Markov Chain-Monte Carlo Methods for Linear Algebra using Julia v.1.0"
**Submitting author:** @oaefbsc (<a href="http://orcid.org/0000-0003-1451-1285">Oscar Alejandro Esquivel-Flores</a>)
**Repository:** <a href="https://github.com/oaefbsc/Juliacon2019" target ="_blank">https://github.com/oaefbsc/Juliacon2019</a>
**Version:**
**Editor:** @vchuravy
**Reviewer:** @dpsanders, @andreasnoack
**Archive:** Pending

## Status

[![status](https://proceedings.juliacon.org/pape

[2020-07-27 19:00] whedon commented on #41
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/60.

[2020-07-27 19:00] #41 closed

[2020-07-27 19:00] whedon commented on #60
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dpsanders, @andreasnoack  it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](ht

[2020-07-27 19:01] whedon commented on #60
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00060/jcon.00060/10.21105.jcon.00060.pdf)

[2020-07-27 19:01] whedon commented on #60
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "Publisher" (NAME) [#<BibTeX::Bibliography data=[27]>, "@", #<BibTeX::Entry >, {:title=>["{Towards Monte Carlo Preconditioning Approach and Hybrid Monte Carlo Algorithms for Matrix Computations}"], :author=>["V. Alexandrov and O. Esquivel-Flores"], :journal=>["Computers and Mathematics with Applications"

[2020-07-27 19:20] vchuravy commented on #53
The underlying software please.

[2020-07-27 19:50] dpanigo commented on #53
Perfect
The DOI is

10.5281/zenodo.3962667

El lun., 27 jul. 2020 a las 16:20, Valentin Churavy (<
notifications@github.com>) escribió:

--
Demian T. Panigo
https://www.researchgate.net/profile/Demian_Panigo
Lic. en Economía, UNLP,
Master en Cs Sociales, UBA,
Doctor en Economía, EHESS-ENS (Paris)
Investigador Independiente del CONICET
Docente investigador de la UNM, la UNQ, la UNDAV y la UNLP.

[2020-07-27 21:52] dpanigo commented on #53
@whedon generate pdf

[2020-07-27 21:52] whedon commented on #53
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00053/jcon.00053/10.21105.jcon.00053.pdf)

[2020-07-28 08:23] matbesancon commented on #37
very odd. The local build is still fine:
![image](https://user-images.githubusercontent.com/7623090/88638892-6418d700-d0bc-11ea-8a83-10d290decd67.png)

[2020-07-28 09:21] vchuravy commented on #53
@whedon set 10.5281/zenodo.3962667 as doi

[2020-07-28 09:21] whedon commented on #53
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-07-28 09:21] vchuravy commented on #53
@whedon set 10.5281/zenodo.3962667 as archive

[2020-07-28 09:21] whedon commented on #53
OK. <a href="https://doi.org/10.5281/zenodo.3962667" target="_blank">10.5281/zenodo.3962667</a> is the archive.

[2020-07-28 09:22] vchuravy commented on #53
@whedon set v1.0.5  as version

[2020-07-28 09:22] whedon commented on #53
OK. v1.0.5  is the version.

[2020-07-28 09:22] vchuravy commented on #53
@whedon accept

[2020-07-28 09:22] whedon commented on #53
[code]

[2020-07-28 09:23] whedon commented on #53
PDF failed to compile for issue #53 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2020-07-28 09:23] whedon commented on #53
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "year" (NAME) [#<BibTeX::Bibliography data=[11]>, "@", #<BibTeX::Entry >, {:author=>["Marinucci, Maximiliano"], :title=>["Automatic prediction and model selection"], :school=>["Facultad de Ciencias Económicas y Empresariales, Universidad Complutense de Madrid"], :type=>["Ph.D. Thesis"]}]

[2020-07-28 09:25] vchuravy commented on #53
@whedon generate pdf

[2020-07-28 09:25] whedon commented on #53
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00053/jcon.00053/10.21105.jcon.00053.pdf)

[2020-07-28 09:27] vchuravy commented on #53
@arfon @matbesancon any idea why the generate pdf succeeds, but the deposit fails?

@dpanigo can you fix https://github.com/JuliaCon/proceedings-review/issues/53#issuecomment-664914256 by adding a date field?

[2020-07-28 09:35] matbesancon commented on #53
I couldn't find anything yet that seems strange

[2020-07-28 11:11] dpanigo commented on #53
@vchuravy the date field was present but I found a missing "comma". Fix-it. Please try again.

[2020-07-28 11:11] dpanigo commented on #53
@whedon generate pdf

[2020-07-28 11:12] whedon commented on #53
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00053/jcon.00053/10.21105.jcon.00053.pdf)

[2020-07-28 11:28] dpanigo commented on #53
@whedon generate pdf

[2020-07-28 11:28] whedon commented on #53
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00053/jcon.00053/10.21105.jcon.00053.pdf)

[2020-07-28 11:36] dpanigo commented on #53
@whedon generate pdf

[2020-07-28 11:36] whedon commented on #53
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00053/jcon.00053/10.21105.jcon.00053.pdf)

[2020-07-28 12:16] dpanigo commented on #53
@whedon generate pdf

[2020-07-28 12:16] whedon commented on #53
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00053/jcon.00053/10.21105.jcon.00053.pdf)

[2020-07-28 12:24] dpanigo commented on #53
@whedon generate pdf

[2020-07-28 12:24] whedon commented on #53
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00053/jcon.00053/10.21105.jcon.00053.pdf)

[2020-07-28 12:28] dpanigo commented on #53
@vchuravy I´ve tried many times and I think the bug is fixed. Otherwise, let me know how to help you. Thanks

[2020-07-28 16:42] vchuravy commented on #53
@whedon accept

[2020-07-28 16:42] whedon commented on #53
[code]

[2020-07-28 16:43] whedon commented on #53
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/23

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/23, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-28 16:44] whedon commented on #53
[code]

[2020-07-28 18:20] vchuravy commented on #53
@dpanigo can you fix the missing and invalid DOIs?

[2020-07-28 20:02] nicomzn commented on #53
@whedon generate pdf

[2020-07-28 20:02] whedon commented on #53
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00053/jcon.00053/10.21105.jcon.00053.pdf)

[2020-07-28 20:05] nicomzn commented on #53
@vchuravy DOIs problem fixed

[2020-07-28 21:06] andrewrosemberg commented on #35
Yess will do that now! Will let you know when its done

[2020-07-28 21:39] andrewrosemberg commented on #35
@whedon check references

[2020-07-28 21:39] whedon commented on #35
[code]

[2020-07-28 21:42] andrewrosemberg commented on #35
@vchuravy Missing DOIs added! sorry for the delay.
The updated version is already in the master, do I need to make a new release?

[2020-07-29 20:13] vchuravy commented on #53
@whedon accept

[2020-07-29 20:13] whedon commented on #53
[code]

[2020-07-29 20:13] whedon commented on #53
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "year" (NAME) [#<BibTeX::Bibliography data=[28]>, "@", #<BibTeX::Entry >, {:title=>["Exploiting coarse-grained task, data, and pipeline parallelism in stream programs"], :author=>["Gordon, Michael I and Thies, William and Amarasinghe, Saman"], :journal=>["ACM SIGARCH Computer Architecture News"], :volume

[2020-07-29 20:14] whedon commented on #53
PDF failed to compile for issue #53 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2020-07-29 20:26] vchuravy commented on #53
@whedon accept

[2020-07-29 20:26] whedon commented on #53
[code]

[2020-07-29 20:26] whedon commented on #53
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "year" (NAME) [#<BibTeX::Bibliography data=[28]>, "@", #<BibTeX::Entry >, {:title=>["Exploiting coarse-grained task, data, and pipeline parallelism in stream programs"], :author=>["Gordon, Michael I and Thies, William and Amarasinghe, Saman"], :journal=>["ACM SIGARCH Computer Architecture News"], :volume

[2020-07-29 20:26] whedon commented on #53
PDF failed to compile for issue #53 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2020-07-29 20:28] vchuravy commented on #53
@dpanigo there still seems to be a missing year in https://github.com/JuliaCon/proceedings-review/issues/53#issuecomment-665908273

[2020-07-29 20:29] nicomzn commented on #53
@vchuravy I'm trying to fix the error

[2020-07-29 20:32] nicomzn commented on #53
@whedon generate pdf

[2020-07-29 20:33] whedon commented on #53
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00053/jcon.00053/10.21105.jcon.00053.pdf)

[2020-07-29 20:49] vchuravy commented on #53
@whedon accept

[2020-07-29 20:49] whedon commented on #53
[code]

[2020-07-29 20:50] whedon commented on #53
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/24

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/24, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-29 20:50] whedon commented on #53
[code]

[2020-07-29 20:51] vchuravy commented on #53
@whedon accept deposit=true

[2020-07-29 20:51] whedon commented on #53
[code]

[2020-07-29 20:52] vchuravy commented on #35
@whedon accept

[2020-07-29 20:52] whedon commented on #35
[code]

[2020-07-29 20:52] whedon commented on #53
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JCON!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/JuliaCon/proceedings-papers/pull/25
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jcon.00053](https://doi.org/10.21105/jcon.00053)
2. If everything looks

[2020-07-29 20:53] whedon commented on #35
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/26

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/26, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-07-29 20:53] whedon commented on #35
[code]

[2020-07-29 22:01] vchuravy commented on #35
@whedon accept deposit=true

[2020-07-29 22:01] whedon commented on #35
[code]

[2020-07-29 22:02] whedon commented on #35
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JCON!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/JuliaCon/proceedings-papers/pull/27
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jcon.00035](https://doi.org/10.21105/jcon.00035)
2. If everything looks

[2020-07-30 00:35] nicomzn commented on #53
@vchuravy when we try to enter https://doi.org/10.21105/jcon.00053, this message results

![image](https://user-images.githubusercontent.com/52471741/88867273-66298580-d1e3-11ea-9330-c8d2c9396d3f.png)

do you have to do something else?

[2020-07-30 00:47] arfon commented on #53
@nicomzn - this should be fixed now. There was a temporary issue with Crossref.

[2020-07-30 02:46] nicomzn commented on #53
@arfon thank you so much, it's ok now.

[2020-07-30 02:50] nicomzn commented on #53
@arfon there is a problem with the first author: It's Demian Panigo, no Panigo Demian, and the citation would be Panigo et al., (2020). Can we fix it modifying the underlying file?

[2020-07-30 06:22] Nosferican commented on #53
I had the same issue for Econometrics.jl as my name shows up as Calderón, José Bayoán Santiago instead of Santiago Calderón, José Bayoán. Ideally that would be fixed by the bib file / metadata using `surname, given name` rather than `first middle last name` and inferring through that heuristic.

[2020-07-30 12:54] nicomzn commented on #53
@Nosferican thanks José. Maybe we could modify the paper.yml file from the repository and run whedon again. Is it possible? @vchuravy

[2020-07-30 13:57] vchuravy commented on #53
@arfon @matbesancon any ideas?

[2020-07-30 14:58] arfon commented on #53
@vchuravy @matbesancon - we probably need some better guidance for authors here? https://github.com/ParallelGSReg/JuliaCon2019/blob/master/paper/paper.yml#L12

[2020-07-30 15:02] nicomzn commented on #53
@arfon it's done.

[2020-07-30 20:56] arfon commented on #53
@nicomzn @Nosferican - both of your papers should be fixed now.

@nicomzn - yours might take a little while to show up as updated on the website (the PDF) as there is caching in place.

[2020-07-31 13:43] nicomzn commented on #53
@arfon @Nosferican Thank you all for the help, the last question: is the headers' date correct? For each documents is "1(1), 2019", maybe it's a bug.

[2020-08-01 15:16] whedon commented on #28
:wave: @mschauer, please update us on how your review is going.

[2020-08-05 22:59] ppalmes commented on #51
@matbesancon, is there any issue left for this paper?

[2020-08-05 23:01] ppalmes commented on #51
@whedon check references from branch juliacon2019-paper

[2020-08-05 23:01] whedon commented on #51
[code]

[2020-08-05 23:02] whedon commented on #51
[code]

[2020-08-05 23:02] ppalmes commented on #51
@vchuravy @matbesancon , the check references failed because you did not include the branch. above results who it passes the test.

[2020-08-06 02:57] chakravala commented on #18
Well, I prepared everything, except that I needed to modify the `cls` file a bit.

What am I supposed to do to address the issue? I submitted everything, the paper compiles fine.

I would like to have this published.

[2020-08-06 03:12] chakravala commented on #18
Would be a bit lame if you cancel my paper, only because you can't be bothered to deal with the 3 lines of code I modified in the template in order to make my paper compile.

[2020-08-07 14:01] arfon commented on #53
Where is the header sorry?

On Fri, Jul 31, 2020 at 09:43, Nicolas Monzon <notifications@github.com>
wrote:

[2020-08-07 15:40] nicomzn commented on #53
![image](https://user-images.githubusercontent.com/52471741/89662817-07cb6980-d8ab-11ea-8b33-52c84672d4eb.png)

@arfon here for example

[2020-08-10 14:37] AndreaNeumayr commented on #43
@vchuravy there's no archival DOI. But is it possible to tag it with the release number of Modia3D? Release v0.4.0 https://github.com/ModiaSim/Modia3D.jl/releases/tag/v0.4.0

[2020-08-10 14:37] ChrisRackauckas commented on #43
Quickly setup a Zenodo?

[2020-08-10 15:50] matbesancon commented on #43
Yes you will need to setup a zenodo and archive the current version, github itself is not an archiving process

[2020-08-11 07:24] arfon commented on #53
Got it, thanks. @matbesancon @vchuravy - these are currently being passed in by the Ruby prep scripts with the paper (e.g. https://github.com/ParallelGSReg/JuliaCon2019/blob/master/paper/prep.rb#L12-L15).

It looks like we can override them with environment variables on the server side if necessary but what's the right thing to do here? This is a 2019 paper published in _2020_. I think the `1(1)`

[2020-08-11 08:28] matbesancon commented on #53
good question. Yes I think we should override this on the server with environment variables

[2020-08-11 14:13] AndreaNeumayr commented on #43
Thanks, Modia3D v0.4.0 has a DOI now: 10.5281/zenodo.3978914

[2020-08-11 14:58] matbesancon commented on #43
@whedon set 10.5281/zenodo.3978914 as archive

[2020-08-11 14:58] whedon commented on #43
OK. <a href="https://doi.org/10.5281/zenodo.3978914" target="_blank">10.5281/zenodo.3978914</a> is the archive.

[2020-08-11 14:59] matbesancon commented on #43
@whedon accept

[2020-08-11 14:59] whedon commented on #43
[code]

[2020-08-11 15:00] whedon commented on #43
PDF failed to compile for issue #43 with the following error:

 Can't find any papers to compile :-(

[2020-08-11 15:00] matbesancon commented on #43
@whedon generate pdf from branch JuliaCon2019-paper

[2020-08-11 15:00] whedon commented on #43
[code]

[2020-08-11 15:01] whedon commented on #43
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00043/jcon.00043/10.21105.jcon.00043.pdf)

[2020-08-11 15:02] matbesancon commented on #43
@whedon accept

[2020-08-11 15:02] whedon commented on #43
[code]

[2020-08-11 15:02] whedon commented on #43
PDF failed to compile for issue #43 with the following error:

 Can't find any papers to compile :-(

[2020-08-11 15:03] matbesancon commented on #43
@whedon accept from branch JuliaCon2019-paper

[2020-08-11 15:03] whedon commented on #43
[code]

[2020-08-11 15:03] whedon commented on #43
PDF failed to compile for issue #43 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2020-08-12 05:02] AndreaNeumayr commented on #43
this looks fine. There are no problems with labels, references, and citations

[2020-08-12 06:21] matbesancon commented on #43
indeed. @arfon do you know what the issue might be here?

[2020-08-12 07:43] matbesancon commented on #51
@whedon generate pdf from branch juliacon2019-paper

[2020-08-12 07:43] whedon commented on #51
[code]

[2020-08-12 07:44] whedon commented on #51
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00051/jcon.00051/10.21105.jcon.00051.pdf)

[2020-08-12 07:45] matbesancon commented on #51
@whedon accept

[2020-08-12 07:45] whedon commented on #51
No archive DOI set. Exiting...

[2020-08-12 07:47] matbesancon commented on #51
@ppalmes can you put the current release of the repo in a zenodo archive (zenodo.org). There is a direct link to Github and it should be quick to set up

[2020-08-12 07:47] ppalmes commented on #51
how should i fix this?

[2020-08-12 07:48] matbesancon commented on #36
bump @tszanalytics

[2020-08-12 07:48] #38 closed

[2020-08-12 07:48] whedon commented on #38
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://proceedings.juliacon.org/papers/10.21105/jcon.00038/status.svg)](https://doi.org/10.21105/jcon.00038)

**We need your help!**

JuliaCon Proceeding

[2020-08-12 07:50] matbesancon commented on #37
@whedon generate pdf

[2020-08-12 07:50] whedon commented on #37
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00037/jcon.00037/10.21105.jcon.00037.pdf)

[2020-08-12 08:10] ppalmes commented on #51
@matbesancon , i cannot find my repo in the list for zenodo to authorize access because my repo is under IBM org and it seems the third party apps are not allowed. is there another way to use zenodo without github hooks? like uploading the repo itself? i'll ask the IBM org admin if they can add zenodo oauth.

[2020-08-12 08:14] ayush-1506 commented on #59
@whedon generate pdf

[2020-08-12 08:15] whedon commented on #59
PDF failed to compile for issue #59 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2020-08-12 08:20] ppalmes commented on #51
can i used the forked version?

[2020-08-12 08:21] matbesancon commented on #51
yes you can also create the zenodo archive from scratch. What must be uploaded is the software package, not the paper

[2020-08-12 08:22] matbesancon commented on #51
you should download the last version of the repo (like the last github release) and upload that to Zenodo

[2020-08-12 08:33] ppalmes commented on #51
@matbesancon, https://zenodo.org/record/3980583#.XzOpGhNKg0o

[2020-08-12 08:39] matbesancon commented on #51
@whedon set 10.5281/zenodo.3980583 as archive

[2020-08-12 08:39] whedon commented on #51
OK. <a href="https://doi.org/10.5281/zenodo.3980583" target="_blank">10.5281/zenodo.3980583</a> is the archive.

[2020-08-12 08:40] matbesancon commented on #51
@whedon accept

[2020-08-12 08:40] whedon commented on #51
[code]

[2020-08-12 08:40] whedon commented on #51
PDF failed to compile for issue #51 with the following error:

 Can't find any papers to compile :-(

[2020-08-12 08:40] matbesancon commented on #51
@whedon generate pdf from branch juliacon2019-paper

[2020-08-12 08:40] whedon commented on #51
[code]

[2020-08-12 08:41] whedon commented on #51
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00051/jcon.00051/10.21105.jcon.00051.pdf)

[2020-08-12 08:41] matbesancon commented on #51
@whedon accept

[2020-08-12 08:41] whedon commented on #51
[code]

[2020-08-12 08:41] whedon commented on #51
PDF failed to compile for issue #51 with the following error:

 Can't find any papers to compile :-(

[2020-08-12 08:42] matbesancon commented on #51
@whedon accept from branch juliacon2019-paper

[2020-08-12 08:42] whedon commented on #51
[code]

[2020-08-12 08:42] whedon commented on #51
[code]

[2020-08-12 08:42] whedon commented on #51
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/28

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/28, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-12 08:43] matbesancon commented on #51
@whedon accept deposit=true from branch juliacon2019-paper

[2020-08-12 08:43] whedon commented on #51
[code]

[2020-08-12 08:44] whedon commented on #51
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JCON!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/JuliaCon/proceedings-papers/pull/29
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jcon.00051](https://doi.org/10.21105/jcon.00051)
2. If everything looks

[2020-08-12 08:46] matbesancon commented on #51
@ppalmes can you verify the final paper above? If ok, I'll close the issue, it is published :)

[2020-08-12 09:25] ayush-1506 commented on #59
@whedon generate pdf

[2020-08-12 09:25] whedon commented on #59
PDF failed to compile for issue #59 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2020-08-12 09:27] ppalmes commented on #51
yeah. it looks good! Thanks!

[2020-08-12 09:43] #51 closed

[2020-08-12 09:43] whedon commented on #51
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://proceedings.juliacon.org/papers/10.21105/jcon.00051/status.svg)](https://doi.org/10.21105/jcon.00051)

**We need your help!**

JuliaCon Proceeding

[2020-08-12 09:45] matbesancon commented on #43
@whedon accept from branch JuliaCon2019-paper

[2020-08-12 09:45] whedon commented on #43
[code]

[2020-08-12 09:45] whedon commented on #43
PDF failed to compile for issue #43 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2020-08-12 10:55] arfon commented on #43
@whedon generate pdf from branch JuliaCon2019-paper

[2020-08-12 10:55] whedon commented on #43
[code]

[2020-08-12 10:55] whedon commented on #43
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00043/jcon.00043/10.21105.jcon.00043.pdf)

[2020-08-12 11:42] arfon commented on #43
@whedon accept from branch JuliaCon2019-paper

[2020-08-12 11:42] whedon commented on #43
[code]

[2020-08-12 11:43] whedon commented on #43
PDF failed to compile for issue #43 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2020-08-12 11:47] arfon commented on #43
@whedon accept from branch JuliaCon2019-paper

[2020-08-12 11:48] whedon commented on #43
[code]

[2020-08-12 11:48] whedon commented on #43
PDF failed to compile for issue #43 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2020-08-12 11:51] arfon commented on #43
@MartinOtter - I think this PR should fix the issue here: https://github.com/ModiaSim/Modia3D.jl/pull/13

[2020-08-12 12:21] arfon commented on #43
@whedon accept from branch JuliaCon2019-paper

[2020-08-12 12:21] whedon commented on #43
[code]

[2020-08-12 12:22] whedon commented on #43
[code]

[2020-08-12 12:22] whedon commented on #43
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/30

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/30, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-08-12 12:54] AndreaNeumayr commented on #43
Great! It worked. Both look good.

[2020-08-12 12:58] matbesancon commented on #43
@whedon accept deposit=true from branch JuliaCon2019-paper

[2020-08-12 12:58] whedon commented on #43
[code]

[2020-08-12 12:58] whedon commented on #43
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JCON!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/JuliaCon/proceedings-papers/pull/31
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jcon.00043](https://doi.org/10.21105/jcon.00043)
2. If everything looks

[2020-08-12 12:59] #43 closed

[2020-08-12 12:59] whedon commented on #43
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://proceedings.juliacon.org/papers/10.21105/jcon.00043/status.svg)](https://doi.org/10.21105/jcon.00043)

**We need your help!**

JuliaCon Proceeding

[2020-08-16 09:20] ayush-1506 commented on #59
@whedon generate pdf

[2020-08-16 09:20] whedon commented on #59
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00059/jcon.00059/10.21105.jcon.00059.pdf)

[2020-08-16 09:26] ayush-1506 commented on #59
@whedon generate pdf

[2020-08-16 09:26] whedon commented on #59
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00059/jcon.00059/10.21105.jcon.00059.pdf)

[2020-08-16 09:27] ayush-1506 commented on #59
@whedon generate pdf

[2020-08-16 09:28] whedon commented on #59
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00059/jcon.00059/10.21105.jcon.00059.pdf)

[2020-08-17 14:31] whedon commented on #59
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-08-17 14:31] vchuravy commented on #59
@whedon commands

[2020-08-17 14:31] whedon commented on #59
Here are some things you can ask me to do:

[code]

[2020-08-17 14:32] whedon commented on #59
[code]

[2020-08-17 14:34] vchuravy commented on #59
@ayush-1506  can you fix the missing DOIs? Also you should include references to projects/papers/work out-side the Julia ecosystem that inspired your work.

[2020-08-17 15:35] ekinakyurek commented on #59
Hi @ayush-1506, I've two comments
-If more space allowed, I would like to see details of ModelProto and GraphProto.
-There are zigzags in Fig1.

[2020-08-17 15:44] matbesancon commented on #18
to come back to the issue of publishing it, we can't let you modify the template, because we only provide it to authors in order to be able to build locally and not rely on pushing changes to a github repo. This means modifying the template creates an out-of-sync with the actual template we used, and we need to keep papers standardized.

The way forward is to take the TeX and CLS template from htt

[2020-08-17 16:27] chakravala commented on #18
Thank you for the response.

It is completely necessary to go over all the definitions in this paper, since some of the definitions are entirely new and have never been published before. So, I literally can't reference other papers for some of these definitions.

I am willing to add 2 more pages to the paper to expand more on what the package is doing. It is now 1 year later, and I have much more

[2020-08-17 16:39] snoeyink commented on #18
While I realize that one can't allow authors to edit latex templates that are used uniformly for all articles, I'll be sad if the resolution is that this does not get published at all.
I've used tex since 1985 and latex since 1990, so I'd be happy to work with you to make something that would compile with the standard template. (I was just contacted as a technical reviewer, and have no pull within

[2020-08-17 16:55] matbesancon commented on #18
Ok I see, in that case, as highlighted before, the novel contributions in differential algebraic geometry are probably more adapted to another paper submitted to a mathematics venue (journal or conference), with this proceeding highlighting more the package.

[2020-08-17 16:58] matbesancon commented on #18
I don't think the solution is to just add more pages, but restructure the current content and focus on what you propose here: possible applications of Grassmann.jl and how to use it with some examples

[2020-08-17 16:59] eschnett commented on #18
Since this paper has been public for more than a year, I would suggest posting a preprint to arxiv.org to make it more official. Many physics, math, and computer science papers are effectively published there before they are submitted to a journal (all my papers are).

As for a description for a Julia package, another venue is JOSS <https://joss.theoj.org>. The publications there are essentially a

[2020-08-17 17:03] matbesancon commented on #18
I agree for the preprint aspect.
Thing to note for JOSS, there will be the same scope issue since JOSS is not meant to publish new contribution in the field of the software library, but review the library itself

[2020-08-17 17:43] chakravala commented on #18
Indeed, I am currently writing a paper to a mathematics journal (Advances in Applied Clifford Algebras), but at the original time of writing of the JuliaCon paper that wasn't the case yet, since I only submitted that abstract recently.

I am also currently submitting a paper to American Institute of Aeronautics and Astronautics on applications of this package.

That's not possible, since I do not

[2020-08-17 17:55] matbesancon commented on #18
As general advice, if you are writing and submitting multiple papers at the same time, having a preprint available (the version of the paper you submitted) is generally a good way to reference some of them in the others. If not arxiv, then a personal website is an okay choice, but an established preprint server will be preferred by most venues.

If you are re-structuring some parts in another arti

[2020-08-17 18:18] eschnett commented on #18
Can you explain? arxiv.org is quite general in accepting authors and submissions.

[2020-08-17 18:24] chakravala commented on #18
Have you tried submitting a paper on arxiv before? I tried it, and found that I can't just make an account and submit things.

[2020-08-17 18:30] ayush-1506 commented on #59
@whedon generate pdf

[2020-08-17 18:30] whedon commented on #59
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00059/jcon.00059/10.21105.jcon.00059.pdf)

[2020-08-17 18:31] ayush-1506 commented on #59
@whedon check references

[2020-08-17 18:32] whedon commented on #59
[code]

[2020-08-17 18:37] ayush-1506 commented on #59
@whedon generate pdf

[2020-08-17 18:37] whedon commented on #59
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00059/jcon.00059/10.21105.jcon.00059.pdf)

[2020-08-17 18:39] ayush-1506 commented on #59
@whedon check references

[2020-08-17 18:39] whedon commented on #59
[code]

[2020-08-17 18:41] ayush-1506 commented on #59
@whedon generate pdf

[2020-08-17 18:42] whedon commented on #59
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00059/jcon.00059/10.21105.jcon.00059.pdf)

[2020-08-17 18:44] ayush-1506 commented on #59
@ekinakyurek Thanks for the review. I've fixed these details.

[2020-08-17 19:12] eschnett commented on #18
Yes, I have; see <http://arxiv.org/a/schnetter_e_1>. I find that arxiv.org works quite well. If there's a specific thing holding you up, then you should email their help desk.

[2020-08-18 11:06] chakravala commented on #18
Honestly, i dont even care about posting my articles on arxiv or some journal, I'm just doing it for fun and couldn't care less how official anyone thinks it is. I have written hundreds of emails criticising univerisities to the point that I will never be able to get a job. I'll think about rewriting this paper, but actually I dont care what anyone out there thinks about my work anymore, you're al

[2020-08-18 19:05] vtjnash commented on #54
@whedon generate pdf

[2020-08-18 19:05] whedon commented on #54
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00054/jcon.00054/10.21105.jcon.00054.pdf)

[2020-08-19 15:39] vchuravy commented on #59
@whedon accept

[2020-08-19 15:39] whedon commented on #59
No archive DOI set. Exiting...

[2020-08-19 17:45] ayush-1506 commented on #59
@vchuravy what's the reason behind this message?

[2020-08-20 01:35] chakravala commented on #18
Apologies if I offended anyone with my last (now deleted) post, it's not directed at anyone specifically, it was just me being abstractly frustrated.

[2020-08-28 09:49] raphaelsaavedra commented on #28
Any updates here? I see the proceedings are already out (https://proceedings.juliacon.org/).

[2020-08-28 15:45] vtjnash commented on #54
I don't have an archival DOI, but don't think it'll be useful for this. I think Kiran and I have improved the paper based on the reviewer's comments.

[2020-09-10 17:48] matbesancon commented on #37
@whedon generate pdf

[2020-09-10 17:48] whedon commented on #37
[ :point_right: Check article proof :page_facing_up: :point_left: ](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00037/jcon.00037/10.21105.jcon.00037.pdf)

[2020-10-09 17:44] avik-pal commented on #37
@whedon generate pdf

[2020-10-09 17:44] whedon commented on #37
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00037/jcon.00037/10.21105.jcon.00037.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00037/jcon.00037/10.21105.jcon.00037.pdf) :page_facing_up: :point_left:

[2020-10-09 18:39] avik-pal commented on #37
@matbesancon Do we know the reason behind the "Proceedings of JuliaCon" appearing below the abstract? Even in my local setup everything seems fine.

[2020-10-09 18:50] avik-pal commented on #37
@whedon generate pdf

[2020-10-09 18:50] whedon commented on #37
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00037/jcon.00037/10.21105.jcon.00037.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00037/jcon.00037/10.21105.jcon.00037.pdf) :page_facing_up: :point_left:

[2020-10-09 18:53] avik-pal commented on #37
@matbesancon It seems fixed now. Somehow the stale paper.pdf file from the repository was not being overwritten and it had the "Proceedings of Juliacon" below the abstract.

[2020-10-10 08:07] arfon commented on #37
Yeah, I meant to update this thread earlier - we made some underlying changes to Whedon this week to improve cache expiration on the service so it's possible that this has also fixed the issue here...

[2020-10-10 08:29] avik-pal commented on #37
@arfon Actually I had to delete the old compiled pdf from the repository for this to work.

[2020-10-10 13:07] matbesancon commented on #37
@whedon accept

[2020-10-10 13:07] whedon commented on #37
[code]

[2020-10-10 13:07] whedon commented on #37
[code]

[2020-10-10 13:07] whedon commented on #37
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/34

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/34, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-10 13:08] matbesancon commented on #37
@avik-pal I think this is the last step before victory :)

[2020-10-10 13:42] avik-pal commented on #37
@whedon check references

[2020-10-10 13:42] whedon commented on #37
[code]

[2020-10-10 13:43] avik-pal commented on #37
@matbesancon Done :smile:

[2020-10-10 14:24] matbesancon commented on #37
@whedon accept

On Sat, Oct 10, 2020, 15:43 Avik Pal <notifications@github.com> wrote:

[2020-10-10 14:24] whedon commented on #37
[code]

[2020-10-10 14:25] whedon commented on #37
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/35

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/35, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2020-10-10 14:25] whedon commented on #37
[code]

[2020-10-10 15:50] matbesancon commented on #37
@whedon accept deposit=true

[2020-10-10 15:51] whedon commented on #37
[code]

[2020-10-10 15:51] whedon commented on #37
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JCON!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/JuliaCon/proceedings-papers/pull/36
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jcon.00037](https://doi.org/10.21105/jcon.00037)
2. If everything looks

[2020-10-10 17:48] dourouc05 commented on #37
@avik-pal Congrats 🎉!

[2020-10-11 08:12] arfon commented on #37
Ahh, good to know!

[2020-10-15 17:25] whedon opened #61 "[PRE REVIEW]: DFTK: A Julian approach for simulating electrons in solids"
**Submitting author:** @mfherbst (<a href="http://orcid.org/0000-0003-0378-7921">Michael F. Herbst</a>)
**Repository:** <a href="https://github.com/mfherbst/juliacon2020-proceedings-dftk.git" target ="_blank">https://github.com/mfherbst/juliacon2020-proceedings-dftk.git</a>
**Version:**
**Editor:** @crstnbr
**Reviewers:** @MasonProtter, @jagot
**Managing EiC:** Valentin Churavy

**Author instructi

[2020-10-15 17:25] whedon commented on #61
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-15 17:25] whedon opened #62 "[PRE REVIEW]: MPI.jl: Julia bindings for the Message Passing Interface"
**Submitting author:** @simonbyrne (<a href="http://orcid.org/0000-0001-8048-6810">Simon Byrne</a>)
**Repository:** <a href="https://github.com/JuliaParallel/MPI.jl" target ="_blank">https://github.com/JuliaParallel/MPI.jl</a>
**Version:**
**Editor:** @crstnbr
**Reviewers:** @dalcinl, @stevengj
**Managing EiC:** Valentin Churavy

**Author instructions**

Thanks for submitting your paper to JCON @s

[2020-10-15 17:25] whedon commented on #61
Failed to discover a `Statement of need` section in paper

[2020-10-15 17:25] whedon commented on #62
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-15 17:25] whedon commented on #61
[code]

[2020-10-15 17:25] whedon commented on #61
[code]

[2020-10-15 17:25] whedon commented on #61
Failed to discover a valid open source license.

[2020-10-15 17:25] whedon opened #63 "[PRE REVIEW]: GeometricFlux.jl: a geometric deep learning library in Julia"
**Submitting author:** @yuehhua (<a href="http://orcid.org/0000-0002-1554-1753">Yueh-Hua Tu</a>)
**Repository:** <a href="https://github.com/yuehhua/GeometricFlux.jl" target ="_blank">https://github.com/yuehhua/GeometricFlux.jl</a>
**Version:**
**Editor:** @ranjanan
**Reviewers:** @DhairyaLGandhi
**Managing EiC:** Valentin Churavy

**Author instructions**

Thanks for submitting your paper to JCON

[2020-10-15 17:25] whedon commented on #63
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-15 17:25] whedon commented on #61
PDF failed to compile for issue #61 with the following error:

 pandoc: /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/resources/jcon/latex.template: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-10-15 17:25] whedon opened #64 "[PRE REVIEW]: Setfield.jl: Changing the immutable"
**Submitting author:** @jw3126 (<a href="http://orcid.org/0000-0002-0980-8239">Jan Weidner</a>)
**Repository:** <a href="https://github.com/jw3126/Setfield.jl" target ="_blank">https://github.com/jw3126/Setfield.jl</a>
**Version:**
**Editor:** @vchuravy
**Reviewer:** Pending
**Managing EiC:** Valentin Churavy

**Author instructions**

Thanks for submitting your paper to JCON @jw3126. **Currently,

[2020-10-15 17:25] whedon commented on #62
[code]

[2020-10-15 17:25] whedon commented on #64
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-15 17:25] whedon opened #65 "[PRE REVIEW]: ExaPF.jl: A Power Flow Solver for GPUs"
**Submitting author:** @michel2323 (<a href="http://orcid.org/0000-0002-4164-027X">Michel Schanen</a>)
**Repository:** <a href="https://github.com/exanauts/JuliaCon2020" target ="_blank">https://github.com/exanauts/JuliaCon2020</a>
**Version:**
**Editor:** @vchuravy
**Reviewers:** @mjamei19
**Managing EiC:** Valentin Churavy

**Author instructions**

Thanks for submitting your paper to JCON @miche

[2020-10-15 17:25] whedon commented on #65
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j