[2020-10-15 17:25] whedon opened #66 "[PRE REVIEW]: Intertwined Economic and Energy Analysis using Julia"
**Submitting author:** @clhughes (<a href="http://orcid.org/0000-0003-1233-3307">Caroline Hughes</a>)
**Repository:** <a href="https://github.com/NREL/SLiDE" target ="_blank">https://github.com/NREL/SLiDE</a>
**Version:**
**Editor:** @matbesancon
**Reviewer:** Pending
**Managing EiC:** Valentin Churavy

**Author instructions**

Thanks for submitting your paper to JCON @clhughes. **Currently, there

[2020-10-15 17:25] whedon commented on #63
Failed to discover a `Statement of need` section in paper

[2020-10-15 17:25] whedon commented on #66
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-15 17:25] whedon commented on #63
[code]

[2020-10-15 17:25] whedon commented on #62
PDF failed to compile for issue #62 with the following error:

 Can't find any papers to compile :-(

[2020-10-15 17:26] whedon opened #67 "[PRE REVIEW]: Causal.jl: A Modeling and Simulation Framework for Causal Models"
**Submitting author:** @zekeriyasari (<a href="http://orcid.org/0000-0003-4070-9666">Zekeriya SARI</a>)
**Repository:** <a href="https://github.com/zekeriyasari/Causal.jl" target ="_blank">https://github.com/zekeriyasari/Causal.jl</a>
**Version:**
**Editor:** @matbesancon
**Reviewers:** @cscherrer, @YingboMa
**Managing EiC:** Valentin Churavy

**Author instructions**

Thanks for submitting your pa

[2020-10-15 17:26] whedon commented on #64
[code]

[2020-10-15 17:26] whedon commented on #67
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2020-10-15 17:26] whedon commented on #63
PDF failed to compile for issue #63 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse': (8eff86218fddbcca409047ad/paper.md): mapping values are not allowed in this context at line 2 column 24 (Psych::SyntaxError)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:377:in `parse_stream'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/psych.rb:325:in `parse'
	from

[2020-10-15 17:26] whedon commented on #64
PDF failed to compile for issue #64 with the following error:

 Can't find any papers to compile :-(

[2020-10-15 17:26] whedon commented on #65
PDF failed to compile for issue #65 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - 32f0c4319339ddc7325f874b (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a6991

[2020-10-15 17:26] whedon commented on #67
[code]

[2020-10-15 17:26] whedon commented on #66
PDF failed to compile for issue #66 with the following error:

 /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `block in find': No such file or directory - 3ed1c49857552798aef2f6cb (Errno::ENOENT)
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `collect!'
	from /app/vendor/ruby-2.4.4/lib/ruby/2.4.0/find.rb:43:in `find'
	from /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a6991

[2020-10-15 17:27] whedon commented on #67
PDF failed to compile for issue #67 with the following error:

 Can't find any papers to compile :-(

[2020-10-15 17:36] simonbyrne commented on #62
@whedon commands

[2020-10-15 17:36] whedon commented on #62
Here are some things you can ask me to do:

[code]

[2020-10-15 17:36] simonbyrne commented on #62
@whedon generate pdf from branch paper

[2020-10-15 17:36] whedon commented on #62
[code]

[2020-10-15 17:36] whedon commented on #62
PDF failed to compile for issue #62 with the following error:

 pandoc: /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/resources/jcon/latex.template: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-10-15 18:52] jw3126 commented on #64
@whedon commands

[2020-10-15 18:52] whedon commented on #64
Here are some things you can ask me to do:

[code]

[2020-10-15 18:52] jw3126 commented on #64
@whedon generate pdf from branch paper

[2020-10-15 18:52] whedon commented on #64
[code]

[2020-10-15 18:52] whedon commented on #64
PDF failed to compile for issue #64 with the following error:

 pandoc: /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/resources/jcon/latex.template: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-10-15 18:55] jw3126 commented on #64
@whedon check references

[2020-10-15 19:01] jw3126 commented on #64
The paper is here: https://github.com/jw3126/Setfield.jl/tree/paper/paper . And I can compile it using https://whedon.theoj.org/ does work. Any ideas?

[2020-10-15 22:27] simonbyrne commented on #62
@whedon check references

[2020-10-15 22:27] simonbyrne commented on #62
@whedon generate pdf from branch paper

[2020-10-15 22:28] whedon commented on #62
[code]

[2020-10-15 22:28] whedon commented on #62
PDF failed to compile for issue #62 with the following error:

 pandoc: /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/resources/jcon/latex.template: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-10-16 07:20] mfherbst commented on #61
@whedon commands

[2020-10-16 07:20] whedon commented on #61
Here are some things you can ask me to do:

[code]

[2020-10-16 07:20] mfherbst commented on #61
@whedon generate pdf

[2020-10-16 07:21] whedon commented on #61
PDF failed to compile for issue #61 with the following error:

 pandoc: /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/resources/jcon/latex.template: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-10-16 07:22] mfherbst commented on #61
Hmm I'm a bit surprised this fails, since it worked fine when I tested it at https://whedon.theoj.org/. Aim I missing something?

[2020-10-17 12:37] matbesancon commented on #62
@simonbyrne you will need a "paper" folder at the top-level in the paper branch, where you can add all the paper-related files

[2020-10-17 12:38] matbesancon commented on #67
@whedon generate pdf from branch juliacon

[2020-10-17 12:38] whedon commented on #67
[code]

[2020-10-17 12:39] whedon commented on #67
PDF failed to compile for issue #67 with the following error:

 Can't find any papers to compile :-(

[2020-10-17 12:39] matbesancon commented on #67
@zekeriyasari you will need to rename the subfolder to "paper"

[2020-10-17 12:41] matbesancon commented on #66
@whedon help generate

[2020-10-17 12:41] whedon commented on #66
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-17 12:41] matbesancon commented on #66
@whedon commands

[2020-10-17 12:41] whedon commented on #66
Here are some things you can ask me to do:

[code]

[2020-10-17 12:42] matbesancon commented on #66
@arfon is there a way to indicate a sub-folder where the paper is located or must it always be "paper"?

[2020-10-17 16:50] zekeriyasari commented on #67
@matbesancon I renamed the subfolder "proceedings" to "paper".

[2020-10-17 16:50] zekeriyasari commented on #67
@whedon generate pdf

[2020-10-17 16:51] whedon commented on #67
PDF failed to compile for issue #67 with the following error:

 Can't find any papers to compile :-(

[2020-10-17 16:57] zekeriyasari commented on #67
@whedon generate pdf

[2020-10-17 16:57] whedon commented on #67
PDF failed to compile for issue #67 with the following error:

 Can't find any papers to compile :-(

[2020-10-17 16:58] zekeriyasari commented on #67
@whedon generate pdf from branch juliacon

[2020-10-17 16:58] whedon commented on #67
[code]

[2020-10-17 16:58] whedon commented on #67
PDF failed to compile for issue #67 with the following error:

 pandoc: /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/resources/jcon/latex.template: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-10-17 17:04] zekeriyasari commented on #67
@whedon generate pdf from branch juliacon

[2020-10-17 17:04] whedon commented on #67
[code]

[2020-10-17 17:04] whedon commented on #67
PDF failed to compile for issue #67 with the following error:

 pandoc: /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/resources/jcon/latex.template: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-10-17 17:29] zekeriyasari commented on #67
@whedon generate pdf from branch juliacon

[2020-10-17 17:29] whedon commented on #67
[code]

[2020-10-17 17:29] whedon commented on #67
PDF failed to compile for issue #67 with the following error:

 pandoc: /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/resources/jcon/latex.template: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-10-17 17:31] zekeriyasari commented on #67
@matbesancon I renamed the subfolder, but could not find out how to resolve the problem.

[2020-10-17 19:25] arfon commented on #66
@matbesancon - the issue here is that the submitted URL can't be cloned by Whedon.

You can't clone this URL:

`https://github.com/NREL/SLiDE/tree/publications/publications/juliacon2020`

...but you can clone this:

`https://github.com/NREL/SLiDE`

So the issue body at the top of this thread needs editing to have the address `https://github.com/NREL/SLiDE` (which I'll do now).

On JOSS, we've rece

[2020-10-17 19:26] arfon commented on #66
@whedon generate pdf from branch publications

[2020-10-17 19:26] whedon commented on #66
[code]

[2020-10-17 19:26] whedon commented on #66
PDF failed to compile for issue #66 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2020-10-17 19:27] arfon commented on #66
☝️ looks like Whedon is at least trying to compile this now...

[2020-10-17 20:15] simonbyrne commented on #62
@whedon generate pdf from branch paper

[2020-10-17 20:15] whedon commented on #62
[code]

[2020-10-17 20:15] whedon commented on #62
PDF failed to compile for issue #62 with the following error:

 pandoc: /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/resources/jcon/latex.template: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-10-17 20:16] simonbyrne commented on #62
@matbesancon I tried that: https://github.com/JuliaParallel/MPI.jl/tree/paper/paper

[2020-10-19 12:15] matbesancon commented on #62
You will need at least the YAML file, see https://github.com/JuliaCon/JuliaConSubmission.jl/tree/master/paper
If you want to build locally you will also need the rest of them

[2020-10-19 12:16] matbesancon commented on #66
Thanks @arfon!

yes that would be great, I hadn't noticed the URL issue.

[2020-10-19 12:17] matbesancon commented on #66
@clhughes it looks like a package is missing. You can download the .sty file and add it to the paper subfolder

[2020-10-19 13:27] matbesancon commented on #67
@whedon generate pdf from branch juliacon

[2020-10-19 13:27] whedon commented on #67
[code]

[2020-10-19 13:27] whedon commented on #67
PDF failed to compile for issue #67 with the following error:

 pandoc: /app/vendor/bundle/ruby/2.4.0/bundler/gems/whedon-d14a699185fb/resources/jcon/latex.template: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2020-10-19 13:35] matbesancon commented on #67
It seems like you modified the template a lot. Could you keep the paper structure as-is? The compilation phase relies on it.
Also, https://github.com/zekeriyasari/Causal.jl/blob/juliacon/paper/paper.yml#L21
it seems like you are using a different file, Ref.bib, and not refs.bib

[2020-10-19 15:46] simonbyrne commented on #62
Ah, I didn't know about these instructions.

[2020-10-19 15:47] simonbyrne commented on #62
Does it have to be .tex file, or can it be a .md file like JOSS?

[2020-10-19 16:54] matbesancon commented on #62
we only have tex

[2020-10-21 14:10] zekeriyasari commented on #67
@whedon generate pdf from branch juliacon

[2020-10-21 14:10] whedon commented on #67
[code]

[2020-10-21 14:23] zekeriyasari commented on #67
@matbesancon I revised the paper files. It has been 13 minutes and no error has been thrown yet. I think the errors are fixed now.

[2020-10-27 18:15] simonbyrne commented on #62
@whedon generate pdf from branch paper

[2020-10-27 18:15] whedon commented on #62
[code]

[2020-10-27 19:01] simonbyrne commented on #62
@whedon ping

[2020-10-27 19:01] whedon commented on #62
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2020-10-27 19:03] simonbyrne commented on #62
@matbesancon is whedon working?

[2020-10-27 19:31] simonbyrne commented on #62
@whedon generate pdf from branch paper

[2020-10-27 19:31] whedon commented on #62
[code]

[2020-10-29 19:27] vtjnash commented on #54
What's next for us?

[2020-11-10 18:32] simonbyrne commented on #62
@whedon generate pdf from branch paper

[2020-11-10 18:32] whedon commented on #62
[code]

[2020-11-12 18:20] simonbyrne commented on #62
@matbesancon @vchuravy any idea why this isn't working?

[2020-12-15 15:27] arfon commented on #57
I've updated this submission to point to https://github.com/jpfairbanks/SemanticModels.jl on the JCON website.

[2021-01-12 14:21] vchuravy commented on #67
@whedon generate pdf from branch juliacon

[2021-01-12 14:21] whedon commented on #67
[code]

[2021-01-14 15:04] vchuravy commented on #61
@whedon generate pdf

[2021-01-14 15:05] vchuravy commented on #62
@whedon generate pdf from branch paper

[2021-01-14 15:05] whedon commented on #62
[code]

[2021-01-14 15:05] whedon commented on #61
PDF failed to compile for issue #61 with the following error:

 pandoc: /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/resources/jcon/latex.template: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2021-01-14 15:05] vchuravy commented on #63
@whedon generate pdf

[2021-01-14 15:05] vchuravy commented on #64
@whedon generate pdf from branch paper

[2021-01-14 15:05] whedon commented on #64
[code]

[2021-01-14 15:06] whedon commented on #63
PDF failed to compile for issue #63 with the following error:

 /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse': (723984a99abcd297015d9618/paper.md): mapping values are not allowed in this context at line 2 column 24 (Psych::SyntaxError)
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:456:in `parse_stream'
	from /app/vendor/ruby-2.6.6/lib/ruby/2.6.0/psych.rb:390:in `parse'
	from

[2021-01-14 15:06] whedon commented on #64
PDF failed to compile for issue #64 with the following error:

 pandoc: /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/resources/jcon/latex.template: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2021-01-14 15:15] vchuravy commented on #67
@whedon commands

[2021-01-14 15:15] whedon commented on #67
Here are some things you can ask me to do:

[code]

[2021-01-14 15:15] vchuravy commented on #67
@whedon assign @matbesancon  as editor

[2021-01-14 15:15] whedon commented on #67
OK, the editor is @matbesancon

[2021-01-14 15:16] vchuravy commented on #66
@whedon assign @matbesancon  as editor

[2021-01-14 15:16] whedon commented on #66
OK, the editor is @matbesancon

[2021-01-14 15:17] vchuravy commented on #65
@whedon assign @vchuravy  as editor

[2021-01-14 15:17] whedon commented on #65
OK, the editor is @vchuravy

[2021-01-14 15:17] matbesancon commented on #66
@whedon generate pdf from branch publications

[2021-01-14 15:18] whedon commented on #66
[code]

[2021-01-14 15:18] whedon commented on #66
PDF failed to compile for issue #66 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2021-01-14 15:20] vchuravy commented on #61
@whedon assign @crstnbr   as editor

[2021-01-14 15:32] #12 closed

[2021-01-14 15:32] whedon commented on #12
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://proceedings.juliacon.org/papers/10.21105/jcon.00012/status.svg)](https://doi.org/10.21105/jcon.00012)

**We need your help!**

JuliaCon Proceeding

[2021-01-14 15:32] #37 closed

[2021-01-14 15:32] whedon commented on #37
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://proceedings.juliacon.org/papers/10.21105/jcon.00037/status.svg)](https://doi.org/10.21105/jcon.00037)

**We need your help!**

JuliaCon Proceeding

[2021-01-14 15:32] #35 closed

[2021-01-14 15:32] whedon commented on #35
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://proceedings.juliacon.org/papers/10.21105/jcon.00035/status.svg)](https://doi.org/10.21105/jcon.00035)

**We need your help!**

JuliaCon Proceeding

[2021-01-14 15:34] vchuravy commented on #36
@tszanalytics bump

[2021-01-14 15:38] vchuravy commented on #53
I think this is okay this is for the 2019 proceedings.

[2021-01-14 15:38] #53 closed

[2021-01-14 15:38] whedon commented on #53
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://proceedings.juliacon.org/papers/10.21105/jcon.00053/status.svg)](https://doi.org/10.21105/jcon.00053)

**We need your help!**

JuliaCon Proceeding

[2021-01-14 15:43] vchuravy commented on #54
@whedon commands

[2021-01-14 15:43] whedon commented on #54
Here are some things you can ask me to do:

[code]

[2021-01-14 15:43] vchuravy commented on #54
@whedon accept

[2021-01-14 15:43] whedon commented on #54
No archive DOI set. Exiting...

[2021-01-14 15:44] vchuravy commented on #54
Can you create one with the example code being used?

[2021-01-14 15:46] matbesancon commented on #28
Hi @raphaelsaavedra, sorry for the delays we experienced

[2021-01-14 15:46] matbesancon commented on #28
@whedon generate pdf

[2021-01-14 15:47] whedon commented on #28
PDF failed to compile for issue #28 with the following error:

 Can't find any papers to compile :-(

[2021-01-14 15:47] ranjanan commented on #56
@DhairyaLGandhi bump

[2021-01-14 15:49] vchuravy commented on #60
@oaefbsc  sorry for all the delays. Are you still interested in seeing this paper published?

[2021-01-14 15:52] vchuravy commented on #64
@whedon assign @vchuravy as editor

[2021-01-14 15:52] whedon commented on #64
OK, the editor is @vchuravy

[2021-01-14 15:53] raphaelsaavedra commented on #28
Hi, since the submission, we have made a significant refactor of the package. As a result, we removed the paper from the master, as it had some outdated API documentation. I could perhaps open a branch using an old version and point whedon to it?

[2021-01-14 15:54] matbesancon commented on #28
Do you have the paper on a special branch? What I would suggest is:
1. get your paper on the repo and compiling
2. if you did some changes, we will run it by reviewers
3. publish
4. profit

[2021-01-14 15:55] matbesancon commented on #28
yes that would work. Also, update the paper to reflect the current package state :)

[2021-01-14 15:56] matbesancon commented on #66
Hi @clhughes, I'm taking over the edition for this proceeding, sorry about the delays we experienced.
Looking at the repo:
https://github.com/NREL/SLiDE/tree/publications/publications/juliacon2020

Could you change the folder of the paper from `/publications/juliacon2020` to `/paper`?

[2021-01-14 15:59] raphaelsaavedra commented on #28
@whedon generate pdf from branch paper

[2021-01-14 15:59] whedon commented on #28
[code]

[2021-01-14 16:00] whedon commented on #28
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00028/jcon.00028/10.21105.jcon.00028.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00028/jcon.00028/10.21105.jcon.00028.pdf) :page_facing_up: :point_left:

[2021-01-14 17:19] mschauer commented on #28
Hi, thank you for pointing out the new version, I can see that the package has been redesigned and matured substantially. Now this is a package I can see having a niche in the ecosystem. I am in particular happy about https://github.com/LAMPSPUC/StateSpaceModels.jl/commit/38685eeb9a714dca52a23a6968ad6f4511804597, the introduction of https://github.com/LAMPSPUC/StateSpaceModels.jl/blob/master/src/s

[2021-01-14 17:23] matbesancon commented on #28
Thanks @mschauer!
@raphaelsaavedra let us know when you went through the round of modifications you wanted

[2021-01-15 07:04] jw3126 commented on #64
Thanks a lot @vchuravy for all your juliacon proceedings work. And especially for looking into this.

[2021-01-16 03:28] oaefbsc commented on #60
Please!!

I would like to see this paper published.

Thanks for working on the article review process.

Regards,
Oscar Esquivel

El El jue, 14 de enero de 2021 a la(s) 9:49, Valentin Churavy <
notifications@github.com> escribió:

[2021-01-18 02:12] yuehhua commented on #63
It seems that I miss some section in my article, right?

Sorry for not found this PR before. Let me fix it, would you please give me some directions?

[2021-01-18 08:49] arfon commented on #37
@whedon list editors

[2021-01-18 08:49] whedon commented on #37
Current editors:

[code]

[2021-01-18 09:05] crstnbr commented on #61
@whedon assign @crstnbr as editor

[2021-01-18 09:05] whedon commented on #61
I'm sorry @crstnbr, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-01-18 14:46] vchuravy commented on #61
@whedon assign @crstnbr as editor

[2021-01-18 14:46] whedon commented on #61
OK, the editor is @crstnbr

[2021-01-18 16:39] crstnbr commented on #62
@whedon assign @crstnbr as editor

[2021-01-18 16:39] whedon commented on #62
OK, the editor is @crstnbr

[2021-01-18 18:22] vchuravy commented on #63
@whedon assign @ranjanan as editor

[2021-01-18 18:22] whedon commented on #63
OK, the editor is @ranjanan

[2021-01-18 19:28] ranjanan commented on #63
@yuehhua No problem. Could you please do the following?

1. Are you using the JuliaCon template here? Refer to https://github.com/JuliaCon/JuliaConSubmission.jl for a template.
2. Do you have any reviewers in mind? If so, you could message them to me privately on the Julia slack and check for availability.

[2021-01-21 01:45] yuehhua commented on #63
@ranjanan

1. No, I don't know there is a template available. Currently, I will modify manuscript using the template.
2. I will send you messages.

[2021-01-26 15:09] crstnbr commented on #62
@whedon generate pdf from branch paper

[2021-01-26 15:09] whedon commented on #62
[code]

[2021-01-27 15:45] matbesancon commented on #67
@whedon generate pdf from branch juliacon

[2021-01-27 15:45] whedon commented on #67
[code]

[2021-01-27 15:47] matbesancon commented on #66
ping @clhughes

[2021-01-27 16:30] matbesancon commented on #67
hi @arfon, I'm not sure what the error can be here

[2021-01-27 16:46] arfon commented on #67
@matbesancon - I think the fact that there is a `paper.md` and `paper.tex` is confusing Whedon. Can you delete the `paper.md` file and try again?

[2021-01-28 09:28] matbesancon commented on #67
Thanks!
@zekeriyasari sorry we experienced some delays on the editorial side, could you update the repo to remove the paper.md and see whether it builds

[2021-01-28 15:01] whedon commented on #67
[code]

[2021-01-28 15:01] whedon commented on #67
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00067/jcon.00067/10.21105.jcon.00067.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00067/jcon.00067/10.21105.jcon.00067.pdf) :page_facing_up: :point_left:

[2021-01-28 15:04] zekeriyasari commented on #67
@matbesancon I removed `paper.md`. Seems like the build is OK.

[2021-01-28 15:04] matbesancon commented on #67
perfect thank you

[2021-01-28 15:04] vchuravy commented on #65
@whedon generate pdf

[2021-01-28 15:05] whedon commented on #65
PDF failed to compile for issue #65 with the following error:

 Can't find any papers to compile :-(

[2021-01-28 15:06] vchuravy commented on #65
@michel2323 are you still interested in submitting?

[2021-01-28 15:13] crstnbr commented on #62
@simonbyrne It seems that the issue is that you have a `paper.md` in your `paper/` directory. This conflicts with the `paper.tex` that we use for the Julia proceedings. Can you remove the `paper.md` file and ask whedon to generate the article proof again?

[2021-01-28 15:14] matbesancon commented on #47
ping @shashi

[2021-01-28 15:22] vchuravy commented on #64
@jw3126 can you take a look at https://juliacon.github.io/proceedings-guide/author/ and https://github.com/JuliaCon/JuliaConSubmission.jl, we currently don't support Markdown submissions can you update the paper branch to be in Latex following the guide/template?

[2021-01-28 15:27] vchuravy commented on #60
@whedon generate pdf

[2021-01-28 15:28] whedon commented on #60
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00060/jcon.00060/10.21105.jcon.00060.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00060/jcon.00060/10.21105.jcon.00060.pdf) :page_facing_up: :point_left:

[2021-01-28 15:29] vchuravy commented on #60
@whedon help

[2021-01-28 15:29] whedon commented on #60
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-01-28 15:29] vchuravy commented on #60
@whedon commands

[2021-01-28 15:29] whedon commented on #60
Here are some things you can ask me to do:

[code]

[2021-01-28 15:31] vchuravy commented on #60
@andreasnoack @dpsanders are you still willing to review this paper?

[2021-01-28 15:33] vchuravy commented on #60
@whedon remind @vchuravy in a week

[2021-01-28 15:33] whedon commented on #60
I don't recognize this description of time 'a' 'week'.

[2021-01-28 15:34] vchuravy commented on #60
@whedon remind @vchuravy in 1 week

[2021-01-28 15:34] whedon commented on #60
Reminder set for @vchuravy in 1 week

[2021-01-28 15:34] vchuravy commented on #54
@whedon remind @vtjnash in 1 week

[2021-01-28 15:34] whedon commented on #54
Reminder set for @vtjnash in 1 week

[2021-01-28 16:14] jw3126 commented on #64
Ah thanks. Yeah I will update

[2021-01-28 16:23] simonbyrne commented on #62
@whedon generate pdf from branch paper

[2021-01-28 16:23] whedon commented on #62
[code]

[2021-01-28 16:24] whedon commented on #62
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00062/jcon.00062/10.21105.jcon.00062.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00062/jcon.00062/10.21105.jcon.00062.pdf) :page_facing_up: :point_left:

[2021-01-28 20:42] vchuravy commented on #65
@michel2323 It's complaining that https://github.com/exanauts/JuliaCon2020 is no longer available.

Can you take a look at https://juliacon.github.io/proceedings-guide/author/ and https://github.com/JuliaCon/JuliaConSubmission.jl
You probably need to re-submit so that we get Whedon happy.

We recommend that you have a paper branch/folder in ExaPF.jl instead of having a separate repository.

[2021-01-28 21:23] michel2323 commented on #65
@whedon generate pdf

[2021-01-28 21:23] whedon commented on #65
PDF failed to compile for issue #65 with the following error:

 pandoc: /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/resources/jcon/latex.template: openBinaryFile: does not exist (No such file or directory)
Looks like we failed to compile the PDF

[2021-01-28 21:34] michel2323 commented on #65
@whedon commands

[2021-01-28 21:34] whedon commented on #65
Here are some things you can ask me to do:

[code]

[2021-01-28 21:54] michel2323 commented on #65
@vchuravy First, the repository was not public. So it was just sitting there. Sorry about that. Second, it's the first time I read these guidelines. I was following the JOSS submission guidelines. Thus we created a pandoc markdown document.

What I will try to do now is to get a tex from our markdown file, put it in the ExaPF.jl repository as described by the guide and clone that in the repository

[2021-01-28 21:58] vchuravy commented on #65
Resubmission should be fairly painless, but whatever works best for you.

Yeah sorry we messed up and accidentally hid the guide for the 2020 conference.

[2021-01-28 23:59] michel2323 commented on #65
@whedon generate pdf from branch paper

[2021-01-28 23:59] whedon commented on #65
[code]

[2021-01-29 00:03] michel2323 commented on #65
@whedon check repository

[2021-01-29 00:04] whedon commented on #65
[code]

[2021-01-29 07:39] crstnbr commented on #65
@michel2323 You need to drop the `paper.md` file for PDF compilation to work. It clashes with the `paper.tex` file.

[2021-01-29 20:01] michel2323 commented on #65
@whedon generate pdf from branch paper

[2021-01-29 20:01] whedon commented on #65
[code]

[2021-01-29 20:01] whedon commented on #65
PDF failed to compile for issue #65 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:147:in `check_fields': Paper YAML header is missing expected fields: keywords (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:89:in `initialize'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a07

[2021-01-29 20:21] michel2323 commented on #65
@whedon generate pdf from branch paper

[2021-01-29 20:21] whedon commented on #65
[code]

[2021-01-29 20:21] whedon commented on #65
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00065/jcon.00065/10.21105.jcon.00065.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00065/jcon.00065/10.21105.jcon.00065.pdf) :page_facing_up: :point_left:

[2021-01-29 20:24] michel2323 commented on #65
@crstnbr Thanks for the help. @vchuravy Here we are! Back then we followed the [JOSS guidelines](https://joss.readthedocs.io/en/latest/submitting.html) when writing the paper. Not sure that is what you expect. Let us know what you think.

[2021-01-29 20:28] vchuravy commented on #65
@whedon check references

[2021-01-29 20:28] whedon commented on #65
[code]

[2021-01-29 20:29] vchuravy commented on #65
I noticed in the draft on page 2 that two references are not converted in Latex form.

@michel2323 Thanks! You can either decide to keep it this way or extend it to a 6-8 papers :)

[2021-01-30 05:22] vtjnash commented on #54
@whedon set 10.5281/zenodo.4480494 as archive
@whedon generate pdf

[2021-01-30 05:22] whedon commented on #54
I'm sorry @vtjnash, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-01-30 08:54] crstnbr commented on #61
Hi @mfherbst, you're confusion about why this isn't working is understandable. Our website apparently contains outdated information which I only now am in the process of fixing.

Anyways, the issue is that in contrast to JOSS we are accepting LaTeX only submissions. So instead of a paper.md etc. you should have a `paper.tex` file. More specifically, check out our new [author's guide](https://julia

[2021-01-30 09:28] crstnbr commented on #62
Great!

@simonbyrne, can you suggest potential reviewers? No need to ping them directly here, plain GitHub handles suffice. I'll contact them in private.

[2021-01-30 16:16] vchuravy commented on #54
@whedon set 10.5281/zenodo.4480494 as archive

[2021-01-30 16:16] whedon commented on #54
OK. <a href="https://doi.org/10.5281/zenodo.4480494" target="_blank">10.5281/zenodo.4480494</a> is the archive.

[2021-01-30 16:16] vchuravy commented on #54
@whedon generate pdf

[2021-01-30 16:16] whedon commented on #54
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00054/jcon.00054/10.21105.jcon.00054.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00054/jcon.00054/10.21105.jcon.00054.pdf) :page_facing_up: :point_left:

[2021-01-30 16:16] vchuravy commented on #54
@whedon check references

[2021-01-30 16:17] whedon commented on #54
[code]

[2021-01-30 16:17] vchuravy commented on #54
@whedon accept

[2021-01-30 16:17] whedon commented on #54
[code]

[2021-01-30 16:17] whedon commented on #54
[code]

[2021-01-30 16:17] whedon commented on #54
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/37

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/37, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-01-30 17:12] mfherbst commented on #61
@crstnbr Thanks for letting me know. I was not aware of this at all, sorry about that. I changed the repo structure as shown in the docs. Hopefully it works now.

[2021-01-30 17:12] mfherbst commented on #61
@whedon generate pdf

[2021-01-30 17:12] whedon commented on #61
PDF failed to compile for issue #61 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2021-01-30 17:14] mfherbst commented on #61
@whedon generate pdf

[2021-01-30 17:14] whedon commented on #61
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00061/jcon.00061/10.21105.jcon.00061.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00061/jcon.00061/10.21105.jcon.00061.pdf) :page_facing_up: :point_left:

[2021-01-30 17:16] mfherbst commented on #61
Hooray :smile:. Let me know if/when there is something else to be done on my end @crstnbr.

[2021-01-30 20:05] vchuravy commented on #54
@whedon accept deposit=true

[2021-01-30 20:05] whedon commented on #54
[code]

[2021-01-30 20:06] whedon commented on #54
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JCON!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/JuliaCon/proceedings-papers/pull/38
1. Wait a couple of minutes to verify that the paper DOI resolves [https://doi.org/10.21105/jcon.00054](https://doi.org/10.21105/jcon.00054)
2. If everything looks

[2021-01-30 20:07] #54 closed

[2021-01-30 20:07] whedon commented on #54
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://proceedings.juliacon.org/papers/10.21105/jcon.00054/status.svg)](https://doi.org/10.21105/jcon.00054)

**We need your help!**

JuliaCon Proceeding

[2021-01-31 14:33] crstnbr commented on #61
@whedon check references

[2021-01-31 14:33] whedon commented on #61
[code]

[2021-01-31 14:39] crstnbr commented on #61
@mfherbst Great to see that compilation worked this time!

Typically our standard for the "extended abstract" papers is one page **excluding** references. Do you think it is possible to slightly extend the current paper in a meaningful way to meet this criterium?

Also it would be great if you could suggest potential referees. Physics + Julia background would be ideal but is no strict requirement.

[2021-01-31 15:14] mfherbst commented on #61
@crstnbr Sure I can extend the paper a little to meet that criterion, but I can't guarantee I get to it within the next two weeks as my schedule is pretty heavy.

Regarding referees in the intersection of quantum physics and Julia, how about: davpoolechem, haampie, jagot, jgreener64, PhilipVinc.

[2021-02-01 23:17] ranjanan commented on #63
@yuehhua bump on reaching out to me privately with names of reviewers and moving the paper to the template.

[2021-02-02 19:23] crstnbr commented on #61
That's perfectly fine, just let whedon recompile the article proof once you've made the changes.

[2021-02-02 23:02] crstnbr commented on #62
@whedon assign @stevengj as reviewer

[2021-02-02 23:02] whedon commented on #62
OK, @stevengj is now a reviewer

[2021-02-03 19:04] ranjanan commented on #63
@whedon commands

[2021-02-03 19:04] whedon commented on #63
Here are some things you can ask me to do:

[code]

[2021-02-03 19:05] ranjanan commented on #63
@yuehhua once you move the paper to template, I can assign the reviewer and we can begin the process.

[2021-02-04 07:16] yuehhua commented on #63
Sure! I am on the way.

[2021-02-04 08:27] crstnbr commented on #62
@whedon assign @dalcinl as reviewer

[2021-02-04 08:27] whedon commented on #62
OK, @dalcinl is now a reviewer

[2021-02-04 08:32] crstnbr commented on #62
@simonbyrne Given that you submitted some time ago (sorry for the delay) do you want to make additional changes to the manuscript or the repo? If not, I would let Whedon close this thread and move us to review stage.

[2021-02-04 12:48] crstnbr commented on #62
@whedon add @stevengj as reviewer

[2021-02-04 12:48] whedon commented on #62
OK, @stevengj is now a reviewer

[2021-02-04 16:17] michel2323 commented on #65
@wheadon generate pdf from branch paper

[2021-02-04 16:24] michel2323 commented on #65
@vchuravy I fixed the references and did a last pass with a few minor beautifications. I added some keywords in `jlcode.sty`. I hope that's okay,

We'd go for short 3 pages and keep it this way.

Wheadon is suspiciously quiet.

[2021-02-04 17:25] crstnbr commented on #65
You shouldn't modify the template files. Only `paper.tex`, `ref.bib`, and `paper.yml`.

It is "whedon" not "wheadon".

[2021-02-04 17:43] michel2323 commented on #65
@whedon generate pdf from branch paper

[2021-02-04 17:43] whedon commented on #65
[code]

[2021-02-04 17:44] whedon commented on #65
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00065/jcon.00065/10.21105.jcon.00065.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00065/jcon.00065/10.21105.jcon.00065.pdf) :page_facing_up: :point_left:

[2021-02-04 17:45] michel2323 commented on #65
@whedon generate pdf from branch paper

[2021-02-04 17:45] whedon commented on #65
[code]

[2021-02-04 17:45] whedon commented on #65
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00065/jcon.00065/10.21105.jcon.00065.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00065/jcon.00065/10.21105.jcon.00065.pdf) :page_facing_up: :point_left:

[2021-02-04 17:48] michel2323 commented on #65
@whedon generate pdf from branch paper

[2021-02-04 17:48] whedon commented on #65
[code]

[2021-02-04 17:48] whedon commented on #65
PDF failed to compile for issue #65 with the following error:

 /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:204:in `block in parse_authors': Author (Michel Schanen) is missing affiliation (RuntimeError)
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a4/lib/whedon.rb:202:in `each'
	from /app/vendor/bundle/ruby/2.6.0/bundler/gems/whedon-92346a0773a

[2021-02-04 17:49] michel2323 commented on #65
@whedon generate pdf from branch paper

[2021-02-04 17:49] whedon commented on #65
[code]

[2021-02-04 17:49] whedon commented on #65
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00065/jcon.00065/10.21105.jcon.00065.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00065/jcon.00065/10.21105.jcon.00065.pdf) :page_facing_up: :point_left:

[2021-02-04 17:50] michel2323 commented on #65
@vchuravy Done.

[2021-02-04 23:22] dpsanders commented on #60
I do not see any code in the repository.

[2021-02-07 11:22] crstnbr commented on #62
@whedon start review

[2021-02-07 11:22] whedon opened #68 "[REVIEW]: MPI.jl: Julia bindings for the Message Passing Interface"
**Submitting author:** @simonbyrne (<a href="http://orcid.org/0000-0001-8048-6810">Simon Byrne</a>)
**Repository:** <a href="https://github.com/JuliaParallel/MPI.jl" target ="_blank">https://github.com/JuliaParallel/MPI.jl</a>
**Version:**
**Editor:** @crstnbr
**Reviewer:** @dalcinl, @stevengj
**Archive:** <a href="https://doi.org/10.5281/zenodo.5063032" target="_blank">10.5281/zenodo.5063032</a>

[2021-02-07 11:22] whedon commented on #62
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/68.

[2021-02-07 11:22] #62 closed

[2021-02-07 11:22] whedon commented on #68
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @dalcinl, @stevengj it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://b

[2021-02-07 11:22] whedon commented on #68
[code]

[2021-02-07 11:23] whedon commented on #68
PDF failed to compile for issue #68 with the following error:

 Can't find any papers to compile :-(

[2021-02-07 11:25] crstnbr commented on #68
@whedon generate pdf from branch paper

[2021-02-07 11:25] whedon commented on #68
[code]

[2021-02-07 11:25] whedon commented on #68
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00068/jcon.00068/10.21105.jcon.00068.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00068/jcon.00068/10.21105.jcon.00068.pdf) :page_facing_up: :point_left:

[2021-02-07 16:40] crstnbr commented on #61
@whedon add @MasonProtter as reviewer

[2021-02-07 16:40] whedon commented on #61
OK, @MasonProtter is now a reviewer

[2021-02-07 20:30] mfherbst commented on #61
@crstnbr @MasonProtter Ready for review on our end!

[2021-02-07 20:30] mfherbst commented on #61
@whedon generate pdf

[2021-02-07 20:31] whedon commented on #61
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00061/jcon.00061/10.21105.jcon.00061.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00061/jcon.00061/10.21105.jcon.00061.pdf) :page_facing_up: :point_left:

[2021-02-07 20:32] mfherbst commented on #61
Ups one second too quick ... git push was not done.

[2021-02-07 20:32] mfherbst commented on #61
@whedon generate pdf

[2021-02-07 20:32] whedon commented on #61
PDF failed to compile for issue #61 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2021-02-07 20:33] mfherbst commented on #61
@whedon generate pdf

[2021-02-07 20:33] whedon commented on #61
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00061/jcon.00061/10.21105.jcon.00061.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00061/jcon.00061/10.21105.jcon.00061.pdf) :page_facing_up: :point_left:

[2021-02-07 20:35] mfherbst commented on #61
@whedon generate pdf

[2021-02-07 20:36] whedon commented on #61
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00061/jcon.00061/10.21105.jcon.00061.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00061/jcon.00061/10.21105.jcon.00061.pdf) :page_facing_up: :point_left:

[2021-02-07 20:36] mfherbst commented on #61
@whedon check references

[2021-02-07 20:37] whedon commented on #61
[code]

[2021-02-07 20:38] mfherbst commented on #61
Interesting ... so whedon sees the new version, because it extracts all the new references, but the PDF it builds is still the version I submitted a few weeks ago. @crstnbr any idea why?

[2021-02-07 20:39] mfherbst commented on #61
What now it got updated ... ok anyway: the PDFs linked by whedon now point to the version we want to submit.

[2021-02-07 20:48] crstnbr commented on #61
I will move things to review stage once I've added a second reviewer.

[2021-02-09 08:35] crstnbr commented on #61
@whedon add @jagot as reviewer

[2021-02-09 08:35] whedon commented on #61
OK, @jagot is now a reviewer

[2021-02-09 08:36] crstnbr commented on #61
@whedon start review

[2021-02-09 08:36] whedon opened #69 "[REVIEW]: DFTK: A Julian approach for simulating electrons in solids"
**Submitting author:** @mfherbst (<a href="http://orcid.org/0000-0003-0378-7921">Michael F. Herbst</a>)
**Repository:** <a href="https://github.com/mfherbst/juliacon2020-proceedings-dftk.git" target ="_blank">https://github.com/mfherbst/juliacon2020-proceedings-dftk.git</a>
**Version:**
**Editor:** @crstnbr
**Reviewer:** @MasonProtter, @jagot
**Archive:** <a href="https://doi.org/10.5281/zenodo.47

[2021-02-09 08:36] whedon commented on #61
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/69.

[2021-02-09 08:36] #61 closed

[2021-02-09 08:36] whedon commented on #69
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @MasonProtter, @jagot it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-02-09 08:37] whedon commented on #69
Failed to discover a `Statement of need` section in paper

[2021-02-09 08:37] whedon commented on #69
[code]

[2021-02-09 08:37] whedon commented on #69
Failed to discover a valid open source license.

[2021-02-09 08:37] whedon commented on #69
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00069/jcon.00069/10.21105.jcon.00069.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00069/jcon.00069/10.21105.jcon.00069.pdf) :page_facing_up: :point_left:

[2021-02-09 08:38] whedon commented on #69
[code]

[2021-02-09 09:02] crstnbr commented on #69
@whedon re-invite @jagot as reviewer

[2021-02-09 09:02] whedon commented on #69
The reviewer already has a pending invite.

@jagot please accept the invite by clicking this link: https://github.com/JuliaCon/proceedings-review/invitations

[2021-02-09 09:03] crstnbr commented on #69
@whedon re-invite @MasonProtter as reviewer

[2021-02-09 09:03] whedon commented on #69
@masonprotter already has access.

[2021-02-09 14:17] yuehhua commented on #63
@whedon generate pdf

[2021-02-09 14:18] whedon commented on #63
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00063/jcon.00063/10.21105.jcon.00063.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00063/jcon.00063/10.21105.jcon.00063.pdf) :page_facing_up: :point_left:

[2021-02-09 16:03] ranjanan commented on #63
@whedon assign @DhairyaLGandhi as reviewer

[2021-02-09 16:03] whedon commented on #63
OK, @DhairyaLGandhi is now a reviewer

[2021-02-09 16:04] ranjanan commented on #63
@whedon start review

[2021-02-09 16:04] whedon opened #70 "[REVIEW]: GeometricFlux.jl: a geometric deep learning library in Julia"
**Submitting author:** @yuehhua (<a href="http://orcid.org/0000-0002-1554-1753">Yueh-Hua Tu</a>)
**Repository:** <a href="https://github.com/yuehhua/GeometricFlux.jl" target ="_blank">https://github.com/yuehhua/GeometricFlux.jl</a>
**Version:**
**Editor:** @ranjanan
**Reviewers:** @jpfairbanks
**Archive:** Pending

## Status

[![status](https://proceedings.juliacon.org/papers/71f2b389ec88ef7107978

[2021-02-09 16:04] whedon commented on #63
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/70.

[2021-02-09 16:04] #63 closed

[2021-02-09 16:04] whedon commented on #70
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @DhairyaLGandhi it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.

[2021-02-09 16:05] whedon commented on #70
Failed to discover a `Statement of need` section in paper

[2021-02-09 16:05] whedon commented on #70
[code]

[2021-02-09 16:05] whedon commented on #70
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00070/jcon.00070/10.21105.jcon.00070.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00070/jcon.00070/10.21105.jcon.00070.pdf) :page_facing_up: :point_left:

[2021-02-09 16:05] whedon commented on #70
[code]

[2021-02-09 16:07] ranjanan commented on #70
@dhairyalgandhi look over JuliaCon guide and start your review.

Just as a first point, @yuehhua, I would improve the quality of plots in the paper. They do not look publication quality.

[2021-02-11 15:13] matbesancon commented on #67
@whedon set editor @matbesancon

[2021-02-11 15:13] whedon commented on #67
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-11 15:14] matbesancon commented on #67
@whedon commands

[2021-02-11 15:14] whedon commented on #67
Here are some things you can ask me to do:

[code]

[2021-02-11 15:14] matbesancon commented on #67
@whedon invite @matbesancon as editor

[2021-02-11 15:18] matbesancon commented on #66
bump

[2021-02-11 15:21] matbesancon commented on #28
I'm adding "author action required" for now

[2021-02-11 15:24] vchuravy commented on #65
Thanks @michel2323  do you have any suggestions for potential reviewers? We can also discuss that privately on slack.

[2021-02-11 15:25] vchuravy commented on #36
@whedon remind @tszanalytics in one week

[2021-02-11 15:25] whedon commented on #36
Reminder set for @tszanalytics in one week

[2021-02-11 15:29] vchuravy commented on #48
@EconometricsBySimulation if you still are interested you are welcome to resubmit once you are happy with what you have.

[2021-02-11 15:29] vchuravy commented on #48
@whedon withdraw

[2021-02-11 15:29] whedon commented on #48
Paper withdrawn.

[2021-02-11 15:29] #48 closed

[2021-02-11 15:35] EconometricsBySimulation commented on #48
Thank you. Sorry for being slow in getting back to you.

I'm a foster parent and COVID has been a challenging season for us.

Kindest regards,
Francis

On Thu, Feb 11, 2021 at 10:30 AM whedon <notifications@github.com> wrote:

--
Francis Smart
--------------------
PhD Candidate- Michigan State University
(563) 223-8108

[2021-02-11 15:35] vchuravy commented on #60
@oaefbsc We will need the code associated with the paper as a deposit with Zenodo, that should include both the source of the package (which @dpsanders is looking for) and the code necessary for reproducing the evaluation.

[2021-02-11 15:40] vchuravy commented on #64
Let me know once you have done that.

[2021-02-11 15:42] matbesancon commented on #67
@whedon invite @cscherrer as reviewer

[2021-02-11 15:42] whedon commented on #67
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-11 15:43] matbesancon commented on #67
@whedon add @cscherrer as reviewer

[2021-02-11 15:43] whedon commented on #67
OK, @cscherrer is now a reviewer

[2021-02-11 15:44] matbesancon commented on #67
@whedon add @YingboMa as reviewer

[2021-02-11 15:44] whedon commented on #67
OK, @YingboMa is now a reviewer

[2021-02-11 15:44] matbesancon commented on #67
@whedon start review

[2021-02-11 15:44] whedon opened #71 "[REVIEW]: Causal.jl: A Modeling and Simulation Framework for Causal Models"
**Submitting author:** @zekeriyasari (<a href="http://orcid.org/0000-0003-4070-9666">Zekeriya SARI</a>)
**Repository:** <a href="https://github.com/zekeriyasari/Causal.jl" target ="_blank">https://github.com/zekeriyasari/Causal.jl</a>
**Version:** v0.3.5
**Reviewer:** @cscherrer, @YingboMa
**Archive:** <a href="https://doi.org/10.5281/zenodo.5759681" target="_blank">10.5281/zenodo.5759681</a>

##

[2021-02-11 15:44] whedon commented on #67
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/71.

[2021-02-11 15:44] #67 closed

[2021-02-11 15:44] whedon commented on #71
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @cscherrer, @YingboMa it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-02-11 15:45] whedon commented on #71
[code]

[2021-02-11 15:45] whedon commented on #71
PDF failed to compile for issue #71 with the following error:

 Can't find any papers to compile :-(

[2021-02-11 15:46] matbesancon commented on #71
@whedon generate pdf from branch juliacon

[2021-02-11 15:46] whedon commented on #71
[code]

[2021-02-11 15:46] whedon commented on #71
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00071/jcon.00071/10.21105.jcon.00071.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00071/jcon.00071/10.21105.jcon.00071.pdf) :page_facing_up: :point_left:

[2021-02-11 15:52] vchuravy commented on #64
@whedon remind @jw3126 in one week

[2021-02-11 15:52] whedon commented on #64
Sorry, I can't set reminders on PRE-REVIEW issues.

[2021-02-11 17:58] YingboMa commented on #71
Links for JuliaCon conflict of interest policy and JuliaCon code of conduct don't seem to work.

[2021-02-11 18:03] matbesancon commented on #71
Sorry yes we are fixing some of the links now

https://juliacon.github.io/proceedings-guide/reviewer/#conflict_of_interest
https://juliacon.github.io/proceedings-guide/reviewer/#code_of_conduct

[2021-02-11 18:15] yuehhua commented on #70
@whedon generate pdf

[2021-02-11 18:15] whedon commented on #70
PDF failed to compile for issue #70 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2021-02-16 09:07] jw3126 commented on #64
@vchuravy I moved the paper to tex. https://github.com/jw3126/Setfield.jl/tree/paper/paper
There is one thing that is not yet ideal. Namely, if I cite a Github repo, the URL does not show up in the references sections. What's the best way to change that?

[2021-02-16 11:24] yuehhua commented on #70
@whedon generate pdf

[2021-02-16 11:24] whedon commented on #70
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00070/jcon.00070/10.21105.jcon.00070.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00070/jcon.00070/10.21105.jcon.00070.pdf) :page_facing_up: :point_left:

[2021-02-16 14:38] yuehhua commented on #70
@whedon generate pdf

[2021-02-16 14:39] whedon commented on #70
PDF failed to compile for issue #70 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2021-02-16 17:07] yuehhua commented on #70
@whedon generate pdf

[2021-02-16 17:08] whedon commented on #70
PDF failed to compile for issue #70 with the following error:

 rm: cannot remove '*.aux': No such file or directory
Latexmk: This is Latexmk, John Collins, 17 Jan. 2018, version: 4.55.
Rule 'pdflatex': Rules & subrules not known to be previously run:
   pdflatex
Rule 'pdflatex': The following rules & subrules became out-of-date:
      'pdflatex'
------------
Run number 1 of rule 'pdflatex'
------

[2021-02-18 15:25] whedon commented on #36
:wave: @tszanalytics, please update us on how things are progressing here (this is an automated reminder).

[2021-02-18 16:41] kescobo commented on #36
Looks like there hasn't been any activity on that account since October of last year, and before that, February. Maybe worth reaching out by email (tszanalytics@gmail.com is what's associated with the account) or through other channels? I found his faculty profile pretty easily but not sure it's kosher to post that here.

[2021-02-18 16:45] matbesancon commented on #36
Indeed no, thanks I'll reach out directly

[2021-02-19 02:30] yuehhua commented on #70
I tried several times compiling pdf but not success.
I just upload my compilation version.

[2021-02-19 02:30] yuehhua commented on #70
@whedon generate pdf

[2021-02-19 02:30] whedon commented on #70
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00070/jcon.00070/10.21105.jcon.00070.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00070/jcon.00070/10.21105.jcon.00070.pdf) :page_facing_up: :point_left:

[2021-02-21 11:22] whedon commented on #68
:wave: @dalcinl, please update us on how your review is going (this is an automated reminder).

[2021-02-21 11:22] whedon commented on #68
:wave: @stevengj, please update us on how your review is going (this is an automated reminder).

[2021-02-21 11:37] dalcinl commented on #68
A few minor comments/requests for the article:

* Section 3.2, about `MPI.jl` automatically building and commiting datatypes. What about user-defined datatypes? Are those supported? Can those be used in communication calls?. Any plan to support that? I think this should be clarified in the text, even if just with a short sentence. `MPI.jl`'s datatype automatism looks even better than `mpi4py`'s, b

[2021-02-23 08:37] whedon commented on #69
:wave: @jagot, please update us on how your review is going (this is an automated reminder).

[2021-02-23 08:37] whedon commented on #69
:wave: @MasonProtter, please update us on how your review is going (this is an automated reminder).

[2021-02-23 16:05] whedon commented on #70
:wave: @DhairyaLGandhi, please update us on how your review is going (this is an automated reminder).

[2021-02-24 19:34] simonbyrne commented on #68
@crstnbr I've included the DOIs in the bib file: any idea why they don't appear?

[2021-02-24 19:50] stevengj commented on #68
Some comments:

• why is mpi4py faster for large generic objects? Is it Python pickle vs Julia Serialization module?

• An important part of MPI is non-blocking communications, but asynchonous I/O is usually handled in julia with tasks or "green threads".  Are there any prospects to combine these? (recently asked on discourse)

• MPI persistent communications are not supported?  any plans?

• In s

[2021-02-24 21:31] dalcinl commented on #68
@stevengj Out of curiosity, could you provide me with a link to that discussion related to combining non-blocking MPI and green threads?

[2021-02-24 21:41] simonbyrne commented on #68
I believe he is referring to this one: https://discourse.julialang.org/t/how-to-combine-mpi-non-blocking-isend-irecv-and-julia-tasks/52524

[2021-02-25 15:14] vchuravy commented on #64
@whedon help

[2021-02-25 15:14] whedon commented on #64
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-02-25 15:14] vchuravy commented on #64
@whedon commands

[2021-02-25 15:14] whedon commented on #64
Here are some things you can ask me to do:

[code]

[2021-02-25 15:15] vchuravy commented on #64
@whedon generate pdf from branch paper

[2021-02-25 15:15] whedon commented on #64
[code]

[2021-02-25 15:15] vchuravy commented on #64
@whedon check references

[2021-02-25 15:15] matbesancon commented on #71
are there any blockers on the review? Links should work now

[2021-02-25 15:16] whedon commented on #64
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00064/jcon.00064/10.21105.jcon.00064.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00064/jcon.00064/10.21105.jcon.00064.pdf) :page_facing_up: :point_left:

[2021-02-25 15:23] vchuravy commented on #64
Either a `@misc` with a `howpublished` or `note`.

[2021-02-25 15:44] whedon commented on #71
:wave: @YingboMa, please update us on how your review is going (this is an automated reminder).

[2021-02-25 15:44] whedon commented on #71
:wave: @cscherrer, please update us on how your review is going (this is an automated reminder).

[2021-02-25 16:30] vchuravy commented on #65
@whedon add @lcw as reviewer

[2021-02-25 16:31] whedon commented on #65
OK, @lcw is now a reviewer

[2021-02-25 17:15] jw3126 commented on #64
@vchuravy thanks, I fixed it.

[2021-02-25 22:45] vchuravy commented on #64
@whedon generate pdf from branch paper

[2021-02-25 22:45] whedon commented on #64
[code]

[2021-02-25 22:45] whedon commented on #64
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00064/jcon.00064/10.21105.jcon.00064.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00064/jcon.00064/10.21105.jcon.00064.pdf) :page_facing_up: :point_left:

[2021-03-01 16:51] whedon commented on #65
OK, @mjamei19 is now a reviewer

[2021-03-01 16:51] vchuravy commented on #65
@whedon start review

[2021-03-01 16:51] whedon opened #72 "[REVIEW]: ExaPF.jl: A Power Flow Solver for GPUs"
**Submitting author:** @michel2323 (<a href="http://orcid.org/0000-0002-4164-027X">Michel Schanen</a>)
**Repository:** <a href="https://github.com/exanauts/JuliaCon2020" target ="_blank">https://github.com/exanauts/JuliaCon2020</a>
**Version:**
**Editor:** @matbesancon
**Reviewers:** @mjamei19, @lcw
**Archive:** Pending

## Status

[![status](https://proceedings.juliacon.org/papers/9e44c5835d87dab

[2021-03-01 16:51] whedon commented on #65
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/72.

[2021-03-01 16:51] #65 closed

[2021-03-01 16:51] whedon commented on #72
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @mjamei19 it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.t

[2021-03-01 16:52] whedon commented on #72
Failed to discover a `Statement of need` section in paper

[2021-03-01 16:52] whedon commented on #72
[code]

[2021-03-01 16:52] whedon commented on #72
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00072/jcon.00072/10.21105.jcon.00072.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00072/jcon.00072/10.21105.jcon.00072.pdf) :page_facing_up: :point_left:

[2021-03-01 16:54] whedon commented on #72
[code]

[2021-03-01 16:56] whedon commented on #68
[code]

[2021-03-01 16:56] whedon commented on #68
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00068/jcon.00068/10.21105.jcon.00068.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00068/jcon.00068/10.21105.jcon.00068.pdf) :page_facing_up: :point_left:

[2021-03-01 18:16] simonbyrne commented on #68
@whedon generate pdf from branch paper

[2021-03-01 18:16] whedon commented on #68
[code]

[2021-03-01 18:17] whedon commented on #68
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00068/jcon.00068/10.21105.jcon.00068.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00068/jcon.00068/10.21105.jcon.00068.pdf) :page_facing_up: :point_left:

[2021-03-01 18:27] simonbyrne commented on #68
Thank you @dalcinl and @stevengj for the feedback. We have addressed the comments as follows:

Yes, this available, we have added a sentence to this effect. (note it is now section 3.3)

Yes, that is exactly the problem. We have expanded the text here, and given examples (HDF5 and PETSc).

Fixed.

We did try disabling the GC, and it didn't have much effect. Instead we benchmarked the serialization

[2021-03-01 19:01] vchuravy commented on #72
@whedon add @lcw as reviewer

[2021-03-01 19:01] whedon commented on #72
OK, @lcw is now a reviewer

[2021-03-02 19:20] simonbyrne commented on #68
@whedon generate pdf from branch paper

[2021-03-02 19:20] whedon commented on #68
[code]

[2021-03-02 19:22] whedon commented on #68
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00068/jcon.00068/10.21105.jcon.00068.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00068/jcon.00068/10.21105.jcon.00068.pdf) :page_facing_up: :point_left:

[2021-03-02 19:22] simonbyrne commented on #68
I also added the doi links to the bibliography

[2021-03-09 20:43] matbesancon commented on #28
ping @raphaelsaavedra it would be good to move on this one

[2021-03-11 07:15] dalcinl commented on #68
@simonbyrne Great job, your clarifications improved the text considerably. A few minor issues remains:
- In the last line of section 3.1 you wrote "shold". I'm not a native English speaker, and after a quick search I found that word is an obsolete preterits of "shall". But even then, it does not look like your sentence is using a past tense. Is this just a typo, and you actually meant "should" ?
-

[2021-03-11 09:16] crstnbr commented on #68
@dalcinl That should be confirmation enough. Thank you for your review!

@stevengj, can you take a look at the updated article proof?

[2021-03-11 16:28] matbesancon commented on #28
Thanks for your answer. As highlighted before, the package is now in a much more interesting and feature-complete state (no pun intended). These changes add value to the proceeding and should be reflected there.

There is no blocking point to finish this within a month, I just wanted to know whether to wait or not, there is substantial work that went in this from different sides and it would be sa

[2021-03-11 17:13] simonbyrne commented on #68
@whedon generate pdf from branch paper

[2021-03-11 17:13] whedon commented on #68
[code]

[2021-03-11 17:13] simonbyrne commented on #68
Thanks @dalcinl, I have made the changes.

[2021-03-11 17:14] whedon commented on #68
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00068/jcon.00068/10.21105.jcon.00068.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00068/jcon.00068/10.21105.jcon.00068.pdf) :page_facing_up: :point_left:

[2021-03-11 21:05] cscherrer commented on #71
Hi, I've annotated the PDF with some feedback here:
[causal-juliacon-annotated.pdf](https://github.com/JuliaCon/proceedings-review/files/6125944/causal-juliacon-annotated.pdf)

Some of this is outside my area of expertise, but I hope the feedback can be helpful in strengthening the paper. Please let me know if any of my handwriting is too messy to read, I can type it out if that's the case :)

[2021-03-12 07:40] zekeriyasari commented on #71
Thank you for your feedback @cscherrer . The feedback will definitely be helpful to improve the paper. I did not have any difficulty with reading your handwriting. All are clear.

[2021-03-13 09:52] jagot commented on #69
@mfherbst I would rewrite

as something like

Also, when I install according to the instructions and try the first tutorial, I get the following warning:
[code]

@MasonProtter Until https://github.com/JuliaMolSim/DFTK.jl/issues/418 is fixed, you have to do a little bit of monkey patching to run the tutorial:
[code]

[2021-03-13 10:34] mfherbst commented on #69
@jagot Thanks for the review ... and yes, sorry about the pymatgen issue. That's the second time such a breaking interface change has caused DFTK to stop working properly unfortunately. That's why long-term we definitely want to get rid of it.

Thanks. That's because we load Plots using `Requires`, so in some sense it is a "fake-warning". It seems to be fixed with https://github.com/JuliaMolSim/DF

[2021-03-13 20:48] mfherbst commented on #69
Both things should be fixed in the (latest) DFTK 0.2.7 by the way.

[2021-03-15 16:52] whedon commented on #72
:wave: @mjamei19, please update us on how your review is going (this is an automated reminder).

[2021-03-21 20:39] matbesancon commented on #28
@whedon assign @ranjanan as editor

[2021-03-25 13:52] crstnbr commented on #69
@MasonProtter Since you haven't commented yet, let me kindly ping you as a reminder :)

[2021-03-25 13:59] ranjanan commented on #56
@DhairyaLGandhi can you confirm you addressed the review?

[2021-03-25 13:59] ranjanan commented on #70
@DhairyaLGandhi could you let us know how your review is going?

[2021-03-25 14:00] DhairyaLGandhi commented on #56
Yes will be finishing this over the next couple days

[2021-03-25 14:13] matbesancon commented on #72
@whedon assign @matbesancon as editor

[2021-03-25 14:14] matbesancon commented on #72
@whedon check references

[2021-03-25 14:16] matbesancon commented on #72
@whedon list commands

[2021-03-25 14:16] whedon commented on #72
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-03-25 14:16] matbesancon commented on #72
@whedon commands

[2021-03-25 14:16] whedon commented on #72
Here are some things you can ask me to do:

[code]

[2021-03-25 14:16] whedon commented on #72
[code]

[2021-03-25 14:39] matbesancon commented on #72
hi @michel2323, it looks like you have some DOIs missing on the paper, could you see if the suggested missing DOIs apply to the references you cite

[2021-03-25 19:40] MasonProtter commented on #69
Hi, sorry about this. I will be able to review next week, I've been unexpectedly busy lately, but mid next week I should have time for this.

[2021-03-29 21:04] lcw commented on #72
# Review

In addition to reading the submitted paper, I checked out the code from
https://github.com/exanauts/ExaPF.jl and tried to run it.

The submitted paper gives a short description of the need for optimal power flow
solvers on the GPU, a detailed description of the technical components (autodiff
and linear solvers), and finishes with a couple performance results.  In all
this is an ambitious

[2021-04-01 10:29] frapac commented on #72
Dear all,

First, we would like to thank the reviewer for his thorough and meaningful review. To our concern, all points raised by the reviewer are relevant.

We are currently addressing the most urgent tasks, as
- improving user friendliness (mostly with the documentation).
- adding encapsulated scripts (with proper Project.toml and Manifest.toml) to reproduce the results presented in the paper.

[2021-04-01 16:41] crstnbr commented on #69
@whedon remind @MasonProtter in 2 weeks

[2021-04-01 16:41] whedon commented on #69
Reminder set for @MasonProtter in 2 weeks

[2021-04-01 20:15] matbesancon commented on #72
Thanks François for the detailed answer. I would be okay with both paths onwards and will leave it to the authors to choose. One thing to note: the conference is continuously publishing the proceedings, so there is no need to choose specifically "publishing in JuliaCon 2020 or 2021". Given that, I don't think it is worth it to withdraw to resubmit, it would be the same thing as resubmitting. So sp

[2021-04-02 20:13] MasonProtter commented on #69
Okay, sorry for all the delays. I really enjoyed reading the paper and exploring the package. This is fantastic work with a slick, powerful user-experience, well written documentation and a ton of features.

A few comments:

When the checklist asks me if the software source code is available at the respository URL, it leads me to https://github.com/mfherbst/juliacon2020-proceedings-dftk rather tha

[2021-04-02 20:24] MasonProtter commented on #69
I should also say, if you know of a good reference which discusses the limitations and domains of applicability of these sorts of methods, and you feel that the comments in reference is straightforwardly applicable to your work, then that would also satisfy me!

[2021-04-06 12:01] mfherbst commented on #69
Thanks for your review and for this guiding question. The problem with answering it, is that it's really tough to do that in just a couple of sentences and at the same time convey a fair picture. We decided to not go into this, simply because this is more of a software paper and not an application paper after all.

But I agree, that we don't really point to any literature answering this question e

[2021-04-06 12:02] mfherbst commented on #69
@whedon generate pdf

[2021-04-06 12:02] whedon commented on #69
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00069/jcon.00069/10.21105.jcon.00069.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00069/jcon.00069/10.21105.jcon.00069.pdf) :page_facing_up: :point_left:

[2021-04-06 12:05] mfherbst commented on #69
With respect to the repo url. I'm not sure there is much I can do, is there? I guess it's because I used a separate repo for the paper.

[2021-04-06 19:57] MasonProtter commented on #69
Yes, this is great.

One other tiny detail: I don't know what the convention is for the JuliaCon proceedings, but in the linked PDF proof, the references are not in the order in which they appear in the paper. I don't have a super strong opinion on it, but it's maybe worth tweaking.

I'm ready to sign off my approval though. :)

[2021-04-07 06:31] mfherbst commented on #69
@MasonProtter Thanks for your feedback :+1:.

I'm not a fan of this either, but it's the same in other JuliaCon papers, so I assume that is the style to be followed.

[2021-04-08 14:17] ranjanan commented on #69
Just to clarify: this is the style of references that we currently use. cc: @vchuravy @matbesancon @crstnbr

[2021-04-08 14:26] ranjanan commented on #70
@DhairyaLGandhi any update on your review?

[2021-04-09 07:52] DhairyaLGandhi commented on #70
Yes sorry about the delay.

[2021-04-09 08:15] DhairyaLGandhi commented on #70
Thanks @yuehhua

Here are some thoughts on the paper that would be good to be addressed

1. Comparison of capabilities with other similar software - there needs to be a more complete feature comparison taking multiple such packages into account
2. The references don't show up correctly
3. The motivation behind the ScatterNNlib package and what it borrows from the graphs ecosystem isnt established

[2021-04-14 18:52] michel2323 commented on #72
@whedon generate pdf from branch paper

[2021-04-14 18:52] whedon commented on #72
[code]

[2021-04-14 18:53] whedon commented on #72
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00072/jcon.00072/10.21105.jcon.00072.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00072/jcon.00072/10.21105.jcon.00072.pdf) :page_facing_up: :point_left:

[2021-04-14 18:54] michel2323 commented on #72
@whedon check references

[2021-04-14 18:54] whedon commented on #72
[code]

[2021-04-22 13:34] crstnbr commented on #69
@mfherbst Since both reviewers signed off their approval, we're almost done here!

The only thing that seems a bit odd to me is that the first heading is "1. Acknowledgments". Can you try to add a heading at the beginning (before the main text), for example "1. Description" or similar, such that acknowledgments becomes the second heading.

(I see that this might push parts of the acknowledgments s

[2021-04-22 13:40] crstnbr commented on #68
@stevengj, to get this over the finish line it'd be great if you could take a (final) look at the updated article proof and finish your review. Thanks in advance!

[2021-04-22 13:42] mfherbst commented on #69
I'm not sure it makes a lot of sense to add such a "fake heading". How about making the Acknowledgements a `\section*` such that the `1. ` is missing? Would that be ok with the Journal style?

[2021-04-22 14:18] matbesancon commented on #71
Hi @zekeriyasari, how are things on your side? Did you make progress on updating the paper after the reviews?

[2021-04-22 14:22] matbesancon commented on #72
there seem to be an issue with the references

[2021-04-22 14:23] matbesancon commented on #72
@whedon generate pdf from branch paper

[2021-04-22 14:23] whedon commented on #72
[code]

[2021-04-22 14:24] whedon commented on #72
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00072/jcon.00072/10.21105.jcon.00072.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00072/jcon.00072/10.21105.jcon.00072.pdf) :page_facing_up: :point_left:

[2021-04-22 14:34] matbesancon commented on #72
@michel2323 you should use the same bibtex structure left as-is: comment out the bibliographystyle and bibliography insertion and uncomment the ones from below

[2021-04-22 14:35] crstnbr commented on #69
Yes, that would work as well! But please also drop the "2." from "2. References". Thanks.

[2021-04-22 14:37] #36 closed

[2021-04-22 14:38] matbesancon commented on #36
Closing this for now since no response from the author. We'll gladly reopen when they contact us. Thanks to the reviewers still for their work on that!

[2021-04-22 15:38] jagot commented on #69
@crstnbr I'm happy 😊

[2021-04-22 16:45] mfherbst commented on #69
@whedon generate pdf

[2021-04-22 16:46] whedon commented on #69
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00069/jcon.00069/10.21105.jcon.00069.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00069/jcon.00069/10.21105.jcon.00069.pdf) :page_facing_up: :point_left:

[2021-04-22 16:48] mfherbst commented on #69
@crstnbr That seems to have worked: Acknowledgements and references without section numbers.

[2021-04-22 20:14] zekeriyasari commented on #71
IHi @matbesancon

I am almost finished with the updates of the review by @cscherrer . Actually, I was hoping to get reviews also by @YingboMa . I wonder what is the deadline for the submission of the updated article?

[2021-04-23 13:16] crstnbr commented on #69
@whedon check references

[2021-04-23 13:17] whedon commented on #69
[code]

[2021-04-23 13:24] crstnbr commented on #69
@mfherbst Can you confirm that 10.1137/20m1332864 is a valid DOI for the "Convergence analysis of direct minimization and self-consistent iterations" reference? (It looks like it.)

If so, please add the doi to the corresponding bib entry. Thanks!

[2021-04-23 13:42] mfherbst commented on #69
@whedon generate pdf

[2021-04-23 13:42] whedon commented on #69
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00069/jcon.00069/10.21105.jcon.00069.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00069/jcon.00069/10.21105.jcon.00069.pdf) :page_facing_up: :point_left:

[2021-04-23 13:43] mfherbst commented on #69
@whedon check references

[2021-04-23 13:43] whedon commented on #69
[code]

[2021-04-23 13:44] mfherbst commented on #69
@crstnbr Fixed :smile:

[2021-04-23 15:00] crstnbr commented on #69
@whedon accept

[2021-04-23 15:00] whedon commented on #69
No archive DOI set. Exiting...

[2021-04-23 15:06] crstnbr commented on #69
@mfherbst Final thing, can you please archive the current state of the DFTK repository, for example using Zenodo and post the associated DOI here (see https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance).

Afterwards I can tell whedon to accept the paper!

[2021-04-23 15:15] mfherbst commented on #69
Well that' done already :smile: ... the most recent commit is a version tag and the zenodo doi is 10.5281/zenodo.4707620.

[2021-04-23 19:13] crstnbr commented on #69
@whedon set 10.5281/zenodo.4707620 as archive

[2021-04-23 19:13] whedon commented on #69
OK. <a href="https://doi.org/10.5281/zenodo.4707620" target="_blank">10.5281/zenodo.4707620</a> is the archive.

[2021-04-23 19:14] crstnbr commented on #69
@whedon accept

[2021-04-23 19:14] whedon commented on #69
[code]

[2021-04-23 19:14] whedon commented on #69
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/39

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/39, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-04-23 19:15] whedon commented on #69
[code]

[2021-04-23 19:51] crstnbr commented on #69
@whedon accept deposit=true

[2021-04-23 19:51] whedon commented on #69
I'm sorry @crstnbr, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-04-23 19:51] crstnbr commented on #69
@vchuravy ^

[2021-04-25 15:18] zekeriyasari commented on #71
Hi @matbesancon

I am finished with the updates. I have just committed the updates to the repository. In the commit is also included a file titled `answers.pdf` that includes the specific answers of questions/comments of the review by @cscherrer.

[2021-05-05 19:16] vchuravy commented on #69
@whedon accept deposit=true

[2021-05-05 19:16] whedon commented on #69
[code]

[2021-05-05 19:18] whedon commented on #69
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JCON!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/JuliaCon/proceedings-papers/pull/40
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jcon.00069](https://doi.org/10.21105/jcon.00069)
2. If everything loo

[2021-05-06 08:28] mfherbst commented on #69
@vchuravy @crstnbr  The doi does not seem to work yet. I suppose that is not intended after this time. Anything I can do about that?

[2021-05-06 14:03] crstnbr commented on #69
@arfon Do you know what's happening here? Is there anything on our side that we can do to fix this?

[2021-05-06 14:06] matbesancon commented on #72
bump

[2021-05-06 14:07] matbesancon commented on #71
@whedon generate pdf from branch juliacon

[2021-05-06 14:07] whedon commented on #71
[code]

[2021-05-06 14:07] whedon commented on #71
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00071/jcon.00071/10.21105.jcon.00071.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00071/jcon.00071/10.21105.jcon.00071.pdf) :page_facing_up: :point_left:

[2021-05-06 14:09] matbesancon commented on #71
@cscherrer let us know if you have comments following the modifications and answers
@YingboMa you can also make your review on the new version posted above

[2021-05-06 14:09] crstnbr commented on #68
@whedon remind @stevengj in 2 weeks

[2021-05-06 14:09] whedon commented on #68
Reminder set for @stevengj in 2 weeks

[2021-05-06 14:13] vchuravy commented on #56
@whedon remind @DhairyaLGandhi in one week.

[2021-05-06 14:28] michel2323 commented on #72
@whedon generate pdf from branch paper

[2021-05-06 14:28] whedon commented on #72
[code]

[2021-05-06 14:29] whedon commented on #72
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00072/jcon.00072/10.21105.jcon.00072.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00072/jcon.00072/10.21105.jcon.00072.pdf) :page_facing_up: :point_left:

[2021-05-07 11:24] arfon commented on #69
Hrm, weird. Let me take a look!

[2021-05-07 11:27] arfon commented on #69
@whedon accept deposit=true

[2021-05-07 11:27] whedon commented on #69
[code]

[2021-05-07 11:36] arfon commented on #69
OK, I think Whedon must have been having a bad day. Things look :+1: to me now. Can you verify?

[2021-05-07 11:37] mfherbst commented on #69
Yes, to me as well, thanks @arfon :+1:.

[2021-05-07 12:34] #69 closed

[2021-05-07 12:42] mfherbst commented on #69
Thanks for the reviews @jagot and @MasonProtter and for the editing @crstnbr !

[2021-05-20 14:09] whedon commented on #68
:wave: @stevengj, please update us on how your review is going (this is an automated reminder).

[2021-05-21 17:05] ranjanan commented on #70
@whedon help

[2021-05-21 17:05] whedon commented on #70
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-05-21 17:06] ranjanan commented on #70
@whedon commands

[2021-05-21 17:06] whedon commented on #70
Here are some things you can ask me to do:

[code]

[2021-05-21 17:06] ranjanan commented on #70
@whedon assign @jpfairbanks as reviewer

[2021-05-21 17:06] whedon commented on #70
OK, @jpfairbanks is now a reviewer

[2021-05-22 16:07] jpfairbanks commented on #70
1. Writing is telegraphic.
2. Introduction does not motivate graph learning or properly contextualize it in the tradition of graph algorithms or graph data mining
3. Benchmarks refer only to the message passing primitives and not to any learning algorithm or accuracy on a dataset.
4. I don't see anything geometric in this paper, there is no implementation of spaces or embedded graphs or anything e

[2021-05-23 00:23] yuehhua commented on #70
If I'd like to revise this work, what should I do next?

[2021-05-23 05:07] ranjanan commented on #70
You’re welcome to just update the latex source with changes or a new paper
from the ground up too. We’ll just use whedon to regenerate your paper
whenever you’re done.

On Sat, 22 May 2021 at 8:24 PM, Yueh-Hua Tu ***@***.***>
wrote:

--
Best,
Ranjan Anantharaman

[2021-06-03 14:08] matbesancon commented on #72
Thanks the reference issue seems fixed now.
@lcw can you confirm the new changes correspond to your previous comments and whether the manuscript is now good on your side?

[2021-06-03 14:09] matbesancon commented on #71
bump

[2021-06-07 22:12] cscherrer commented on #71
Thanks @matbesancon for the bump, and thank you @zekeriyasari for the updates. It's looking good to me!

[2021-06-08 18:54] lcw commented on #72
The authors have addressed many of my issues and I understand that some of the ones I brought up are out of scope.  The readme is greatly improved, however, I am unable to run the examples https://github.com/exanauts/ExaPF.jl#how-to-solve-the-power-flow-of-a-given-matpower-instance and https://github.com/exanauts/ExaPF.jl#how-to-solve-the-optimal-power-flow-in-the-reduced-space without modificatio

[2021-06-08 21:12] YingboMa commented on #71
Sorry for the late reply. I only have a few minor comments on this paper, and overall, I think this paper is really solid. Though, I am not familiar with causal modeling either.

1. Could you write a bit more on the connection between the sampling by the model clock and the time stepping of the differential equation solvers?
2. There are a few times where the space before the open parenthesis is m

[2021-06-17 14:07] matbesancon commented on #71
thanks Yingbo for the review!
@zekeriyasari let us know when you've worked out the changes

[2021-07-01 11:33] crstnbr commented on #68
@stevengj, can I ask you once more to take a final look at this and give your recommendation? Would be great to finish this before JuliaCon 2021.

[2021-07-01 14:22] vchuravy commented on #56
@DhairyaLGandhi  can you add a footnote stating that parts of this paper were presented at the Learningsys workshop?

[2021-07-01 14:22] matbesancon commented on #72
@michel2323 @frapac do you want to address the points above on the examples? Otherwise let us know if you did the changes you wanted

[2021-07-01 14:23] vchuravy commented on #56
@whedon help

[2021-07-01 14:23] whedon commented on #56
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-07-01 14:23] vchuravy commented on #56
@whedon commands

[2021-07-01 14:23] whedon commented on #56
Here are some things you can ask me to do:

[code]

[2021-07-01 14:23] vchuravy commented on #56
@whedon check references

[2021-07-01 14:24] whedon commented on #56
[code]

[2021-07-01 14:25] vchuravy commented on #47
@shashi If you are still interested in publishing this in the JuliaCon proceedings please feel free to resubmit. Since there hasn't been much movement recently I will close this.

[2021-07-01 14:25] #47 closed

[2021-07-01 14:26] vchuravy commented on #56
@whedon check repository

[2021-07-01 14:26] whedon commented on #56
Failed to discover a `Statement of need` section in paper

[2021-07-01 14:26] whedon commented on #56
[code]

[2021-07-02 02:29] stevengj commented on #68
LGTM.

[2021-07-02 20:45] crstnbr commented on #68
@whedon commands

[2021-07-02 20:45] whedon commented on #68
Here are some things you can ask me to do:

[code]

[2021-07-02 20:45] crstnbr commented on #68
@whedon check references

[2021-07-02 20:57] crstnbr commented on #68
@simonbyrne, can you please archive the current state of MPI.jl using Zenodo and post the associated DOI here (see https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance).

[2021-07-04 14:10] zekeriyasari commented on #71
Hi @matbesancon

I am done with the updates. I have just committed the updates to the repository. Similar to the previous case, in the commit is also included a jupyter notebook titled [answers2.ipynb](https://github.com/zekeriyasari/Causal.jl/blob/juliacon/paper/answers2.ipynb) that includes the specific answers of questions/comments of the review by @YingboMa

[2021-07-04 14:14] zekeriyasari commented on #71
@whedon generate pdf from branch juliacon

[2021-07-04 14:14] whedon commented on #71
[code]

[2021-07-04 15:38] matbesancon commented on #71
@whedon generate pdf from branch juliacon

[2021-07-04 15:38] whedon commented on #71
[code]

[2021-07-04 15:43] matbesancon commented on #71
@zekeriyasari were there some changes to come of the files in `paper`? if yes that seems to have caused some error, maybe a file error or something? Otherwise, I'd suggest trying again tomorrow just in case

[2021-07-04 15:53] zekeriyasari commented on #71
@matbesancon I just added two files in `paper` folder: `answers2.ipynb` and `algebraicloop.svg` (this is included in `answers2.ipynb`). Nothing else. And, I can compile `paper.tex` using ` latexmk -bibtex -pdf paper.tex` without a problem.

[2021-07-05 08:51] matbesancon commented on #71
@whedon generate pdf from branch juliacon

[2021-07-05 08:51] whedon commented on #71
[code]

[2021-07-05 10:46] zekeriyasari commented on #71
@whedon generate pdf from branch juliacon

[2021-07-05 10:46] whedon commented on #71
[code]

[2021-07-05 10:54] zekeriyasari commented on #71
Hi, @matbesancon

I deleted all the files related to the answers to the reviewers from `paper` folder. But, still, pdf seems not to be generated. I could not understand what goes wrong. Anything else I can do on my side?

[2021-07-05 15:01] matbesancon commented on #71
no I'm not sure. @arfon do you have an idea what could cause this?

[2021-07-06 11:42] arfon commented on #71
@whedon generate pdf from branch juliacon

[2021-07-06 11:43] whedon commented on #71
[code]

[2021-07-06 11:47] arfon commented on #71
It looks like @whedon was removed from this repo and https://github.com/JuliaCon/proceedings-papers a couple of weeks ago, perhaps when a 2FA requirement was added to the JuliaCon GitHub organization? This means Whedon can no longer push papers to the https://github.com/JuliaCon/proceedings-papers repo.

[2021-07-06 11:56] arfon commented on #71
@whedon generate pdf from branch juliacon

[2021-07-06 11:56] whedon commented on #71
[code]

[2021-07-06 11:58] arfon commented on #71
@whedon generate pdf from branch juliacon

[2021-07-06 11:58] whedon commented on #71
[code]

[2021-07-06 12:00] arfon commented on #71
@whedon generate pdf from branch juliacon

[2021-07-06 12:00] whedon commented on #71
[code]

[2021-07-06 12:05] arfon commented on #71
@whedon generate pdf from branch juliacon

[2021-07-06 12:05] whedon commented on #71
[code]

[2021-07-06 12:05] whedon commented on #71
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00071/jcon.00071/10.21105.jcon.00071.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00071/jcon.00071/10.21105.jcon.00071.pdf) :page_facing_up: :point_left:

[2021-07-06 12:06] arfon commented on #71
@matbesancon – I set up 2FA on Whedon's account. Should be fixed now.

[2021-07-06 12:07] matbesancon commented on #71
perfect thank you!

[2021-07-06 12:11] zekeriyasari commented on #71
@whedon generate pdf from branch juliacon

[2021-07-06 12:11] whedon commented on #71
[code]

[2021-07-06 12:11] whedon commented on #71
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00071/jcon.00071/10.21105.jcon.00071.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00071/jcon.00071/10.21105.jcon.00071.pdf) :page_facing_up: :point_left:

[2021-07-06 12:13] zekeriyasari commented on #71
@matbesancon I added answer files (answers to the reviewers) back to the repo.

[2021-07-06 23:02] simonbyrne commented on #68
@whedon set 10.5281/zenodo.5063032  as archive

[2021-07-06 23:02] whedon commented on #68
I'm sorry @simonbyrne, I'm afraid I can't do that. That's something only editors are allowed to do.

[2021-07-06 23:04] simonbyrne commented on #68
@crstnbr zenodo doi is here: https://zenodo.org/record/5063032

[2021-07-07 08:11] crstnbr commented on #68
@whedon set 10.5281/zenodo.5063032 as archive

[2021-07-07 08:11] whedon commented on #68
OK. <a href="https://doi.org/10.5281/zenodo.5063032" target="_blank">10.5281/zenodo.5063032</a> is the archive.

[2021-07-07 08:11] crstnbr commented on #68
@whedon accept

[2021-07-07 08:11] whedon commented on #68
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-07-07 08:13] crstnbr commented on #68
@whedon recommend-accept

[2021-07-07 08:13] whedon commented on #68
[code]

[2021-07-07 08:13] whedon commented on #68
PDF failed to compile for issue #68 with the following error:
[code]

[2021-07-07 08:14] crstnbr commented on #68
@whedon recommend-accept from branch paper

[2021-07-07 08:14] whedon commented on #68
[code]

[2021-07-07 08:14] whedon commented on #68
[code]

[2021-07-07 08:14] whedon commented on #68
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/41

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/41, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-07 08:15] crstnbr commented on #68
@simonbyrne There seems to be a missing DOI for "Open MPI: Goals, Concept, and Design of a Next Generation MPI Implementation" (see above).

[2021-07-07 15:52] simonbyrne commented on #68
@crstnbr should now be fixed.

[2021-07-07 16:48] crstnbr commented on #68
@whedon check references

[2021-07-07 16:53] crstnbr commented on #68
@whedon recommend-accept from branch paper

[2021-07-07 16:54] whedon commented on #68
[code]

[2021-07-07 16:54] whedon commented on #68
[code]

[2021-07-07 16:54] whedon commented on #68
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/42

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/42, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-07-07 17:00] crstnbr commented on #68
@vchuravy: The proof looks good to me. Please go ahead and `accept deposit=true from branch paper`!

[2021-07-08 09:07] vchuravy commented on #68
Thanks @crstnbr

@whedon accept deposit=true from branch paper

[2021-07-08 11:19] crstnbr commented on #68
Hm, it seems that didn't work @vchuravy. Maybe it needs to be a single line comment?

[2021-07-08 14:14] vchuravy commented on #68
@whedon accept deposit=true from branch paper

[2021-07-08 14:14] whedon commented on #68
[code]

[2021-07-08 14:14] whedon commented on #68
🚨🚨🚨 **THIS IS NOT A DRILL, YOU HAVE JUST ACCEPTED A PAPER INTO JCON!** 🚨🚨🚨

 Here's what you must now do:

0. Check final PDF and Crossref metadata that was deposited :point_right: https://github.com/JuliaCon/proceedings-papers/pull/43
1. Wait a couple of minutes, then verify that the paper DOI resolves [https://doi.org/10.21105/jcon.00068](https://doi.org/10.21105/jcon.00068)
2. If everything loo

[2021-07-08 14:15] #68 closed

[2021-07-08 14:15] whedon commented on #68
:tada::tada::tada: Congratulations on your paper acceptance! :tada::tada::tada:

If you would like to include a link to your paper from your README use the following code snippets:

[code]
This is how it will look in your documentation:

[![DOI](https://proceedings.juliacon.org/papers/10.21105/jcon.00068/status.svg)](https://doi.org/10.21105/jcon.00068)

**We need your help!**

JuliaCon Proceeding

[2021-07-08 18:34] crstnbr commented on #68
Congrats @simonbyrne! And thank you @stevengj and @dalcinl for your reviews!

[2021-07-13 01:29] yuehhua commented on #70
@ranjanan Sorry! I am recently too busy to work on the paper. I'd like to withdraw paper review and revise a new version for later re-submission.
@jpfairbanks Thank you for your comment. It really helps.
Thank you for your time.

[2021-07-15 14:35] ranjanan commented on #70
Thanks for the update @yuehhua .

[2021-07-15 14:36] ranjanan commented on #70
@whedon withdraw

[2021-07-15 14:36] whedon commented on #70
I'm sorry @ranjanan, I'm afraid I can't do that. That's something only editor-in-chiefs are allowed to do.

[2021-07-15 14:36] ranjanan commented on #70
@matbesancon could you withdraw this please? Thank you.

[2021-07-15 14:45] matbesancon commented on #70
@whedon withdraw

[2021-07-15 14:45] whedon commented on #70
Paper withdrawn.

[2021-07-15 14:45] #70 closed

[2021-07-15 14:46] matbesancon commented on #72
bump

[2021-07-16 11:20] frapac commented on #72
Dear Mathieu,
First, I am sorry for the late reply. We are planning to address the two last points raised  by Lucas by the JuliaCon, to get everything working by then. Then, we will update the JuliaCon paper with our latest results, as discussed earlier in this discussion. Would that be ok for you?

[2021-07-16 11:32] matbesancon commented on #72
no problem on my end, let us know when you have made the modifications

[2021-08-24 07:15] whedon opened #73 "[PRE REVIEW]: Running faster scripts with DaemonMode.jl"
**Submitting author:** @dmolina (<a href="http://orcid.org/0000-0002-4175-2204">Daniel Molina Cabrera</a>)
**Repository:** <a href=" https://github.com/dmolina/DaemonMode.jl" target ="_blank"> https://github.com/dmolina/DaemonMode.jl</a>
**Version:**
**Editor:** @ranjanan
**Reviewer:** Pending
**Managing EiC:** Arfon Smith

**Author instructions**

Thanks for submitting your paper to JCON @dmolina

[2021-08-24 07:15] whedon commented on #73
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-24 07:15] whedon opened #74 "[PRE REVIEW]: UnitTestDesign.jl: Combinatorial design for unit tests"
**Submitting author:** @adolgert (<a href="http://orcid.org/0000-0002-6477-7981">Andrew Dolgert</a>)
**Repository:** <a href="https://github.com/adolgert/UnitTestDesign.jl" target ="_blank">https://github.com/adolgert/UnitTestDesign.jl</a>
**Version:**
**Editor:** @matbesancon
**Reviewers:** @odow, @oxinabox
**Managing EiC:** Arfon Smith

**Author instructions**

Thanks for submitting your paper t

[2021-08-24 07:15] whedon commented on #74
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-24 07:15] whedon commented on #73
PDF failed to compile for issue #73 with the following error:
[code]

[2021-08-24 07:15] whedon opened #75 "[PRE REVIEW]: DeconvOptim.jl - Signal Deconvolution with Julia"
**Submitting author:** @roflmaostc (<a href="http://orcid.org/0000-0001-8763-2948">Felix Wechsler</a>)
**Repository:** <a href="https://github.com/roflmaostc/DeconvOptim.jl" target ="_blank">https://github.com/roflmaostc/DeconvOptim.jl</a>
**Version:**
**Editor:** @vchuravy
**Reviewers:** @sloede, @matbesancon
**Managing EiC:** Arfon Smith

**Author instructions**

Thanks for submitting your paper

[2021-08-24 07:15] whedon commented on #75
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-24 07:15] whedon commented on #74
PDF failed to compile for issue #74 with the following error:
[code]

[2021-08-24 07:15] whedon opened #76 "[PRE REVIEW]: Adaptive numerical simulations with Trixi.jl: A case study of Julia for scientific computing"
**Submitting author:** @ranocha (<a href="http://orcid.org/0000-0002-3456-2277">Hendrik Ranocha</a>)
**Repository:** <a href="https://github.com/trixi-framework/paper-2021-juliacon" target ="_blank">https://github.com/trixi-framework/paper-2021-juliacon</a>
**Version:**
**Editor:** @carstenbauer
**Reviewers:** @johnfgibson, @simonbyrne
**Managing EiC:** Arfon Smith

**Author instructions**

Thanks

[2021-08-24 07:15] whedon commented on #76
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-08-24 07:15] whedon commented on #75
Failed to discover a `Statement of need` section in paper

[2021-08-24 07:15] whedon commented on #75
Wordcount for `paper.tex` is 5007

[2021-08-24 07:15] whedon commented on #75
[code]

[2021-08-24 07:15] whedon commented on #75
PDF failed to compile for issue #75 with the following error:
[code]

[2021-08-24 07:15] whedon commented on #76
Failed to discover a `Statement of need` section in paper

[2021-08-24 07:15] whedon commented on #76
Wordcount for `paper.tex` is 6292

[2021-08-24 07:15] whedon commented on #76
[code]

[2021-08-24 07:16] whedon commented on #76
PDF failed to compile for issue #76 with the following error:
[code]

[2021-08-24 07:16] whedon commented on #75
[code]

[2021-08-24 07:16] whedon commented on #76
[code]

[2021-08-24 07:31] ranocha commented on #76
I couldn't find the requirement for a `Statement of need` section in paper in the [author guidelines](https://juliacon.github.io/proceedings-guide/author/) for JuliaCon. It's of course required for JOSS papers. If we need to have this section in our JuliaCon paper, we could basically rename the "Introduction" to "Statement of need".

[2021-08-24 07:32] ranocha commented on #76
The software report is not really helpful since we set up a dedicated repository with reproducibility material for this paper. Our Julia package Trixi.jl is available in [another repository](https://github.com/trixi-framework/Trixi.jl).

[2021-08-24 07:38] ranocha commented on #76
@whedon generate pdf

[2021-08-24 07:38] whedon commented on #76
PDF failed to compile for issue #76 with the following error:
[code]

[2021-08-24 07:41] ranocha commented on #76
We propose Carsten Bauer (`@crstnbr`) as editor.

Possible reviewers are
- Jason Hicken, Rensselaer Polytechnic Institute (`@jehicken`)
- Lucas C. Wilcox, Naval Postgraduate School (`@lcw`)
- David C. Del Rey Fernández, University of Waterloo (`@dcdelrey`)
- Will Pazner, LLNL (`@pazner` )
- Simon Byrne, Caltech (`@simonbyrne`)

[2021-08-24 08:01] roflmaostc commented on #75
Thanks for activating the review!

It looks like that PDF building has failed because of the missing `pgfplots.sty`. Usually, that's included with the normal LaTeX distributions, so I'm not quite sure what's installed on the backend and why that's missing.

[2021-08-24 08:09] carstenbauer commented on #76
It's not required. Just ignore this.

PS: I took the freedom to change `@crstnbr` -> `@carstenbauer`. I recently changed my github handle to something more readable / pronouncable 😄

[2021-08-24 08:46] ranocha commented on #76
@whedon generate pdf

[2021-08-24 08:46] whedon commented on #76
PDF failed to compile for issue #76 with the following error:
[code]

[2021-08-24 08:50] ranocha commented on #76
I can't reproduce the error of whedon locally. Running
[code]
works fine on my system. Is there a way I can help debugging this? Can we look at `paper.log`?

[2021-08-24 09:03] roflmaostc commented on #75
@whedon generate pdf

[2021-08-24 09:03] whedon commented on #75
PDF failed to compile for issue #75 with the following error:
[code]

[2021-08-24 09:05] roflmaostc commented on #75
For potential reviewers, `matbesancon` might be a suitable candidate since his favored topics include Mathematical optimization which we also do here.

[2021-08-24 09:09] ranocha commented on #76
This is the PDF generated on my system: [paper.pdf](https://github.com/JuliaCon/proceedings-review/files/7037984/paper.pdf)

[2021-08-30 16:11] adolgert commented on #74
The paper is in `paper/paper.tex`. I don't see whedon commands to debug this. Would it hurt if I resubmitted the paper? I see that the base github link is for a branch, not the actual base.

[2021-09-01 09:08] ranocha commented on #76
Is the failing PDF build a blocking issue? If so, is there anything I might do to debug it?

[2021-09-01 12:43] vchuravy commented on #76
@whedon assing @carstenbauer as editor

[2021-09-01 12:43] whedon commented on #76
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-01 12:43] vchuravy commented on #76
@whedon commands

[2021-09-01 12:43] whedon commented on #76
Here are some things you can ask me to do:

[code]

[2021-09-01 12:43] vchuravy commented on #76
@whedon assign @carstenbauer  as editor

[2021-09-01 12:44] vchuravy commented on #75
@whedon assign @vchuravy as editor

[2021-09-01 12:44] whedon commented on #75
OK, the editor is @vchuravy

[2021-09-01 12:45] vchuravy commented on #75
@matbesancon would you be interested in reviewing this?

[2021-09-01 12:46] vchuravy commented on #74
@whedon generate pdf

[2021-09-01 12:46] whedon commented on #74
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00074/jcon.00074/10.21105.jcon.00074.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00074/jcon.00074/10.21105.jcon.00074.pdf) :page_facing_up: :point_left:

[2021-09-01 12:47] vchuravy commented on #74
@whedon assign @vchuravy as editor

[2021-09-01 12:47] whedon commented on #74
OK, the editor is @vchuravy

[2021-09-01 12:49] vchuravy commented on #76
@arfon could it be that @carstenbauer username change messed up something in the DB?

[2021-09-01 12:49] vchuravy commented on #73
@whedon assign @ranjanan as editor

[2021-09-01 12:49] whedon commented on #73
OK, the editor is @ranjanan

[2021-09-01 12:50] vchuravy commented on #74
@whedon assign @matbesancon as editor

[2021-09-01 12:50] whedon commented on #74
OK, the editor is @matbesancon

[2021-09-01 12:50] vchuravy commented on #76
@whedon generate pdf

[2021-09-01 12:50] whedon commented on #76
PDF failed to compile for issue #76 with the following error:
[code]

[2021-09-01 13:18] dmolina commented on #73
I am sorry, but I do not know why is said that there is not any paper, because in the paper/ directory there is both a paper.yml and a paper.tex with the Latex of the paper. Please, @ranjanan, could you give more information? I will be glad to fix any possible problem, but I have no information about the error.  Maybe is because I put in Repository github.com/dmolina/DaemonMode.jl instead of https

[2021-09-01 13:48] arfon commented on #76
@whedon list editors

[2021-09-01 13:48] whedon commented on #76
Current editors:

[code]

[2021-09-01 13:48] arfon commented on #76
@whedon assign @carstenbauer as editor

[2021-09-01 13:49] arfon commented on #76
@whedon assign @carstenbauer as editor

[2021-09-01 13:50] sloede commented on #76
I think it was a simple typo:
![image](https://user-images.githubusercontent.com/3637659/131683263-41682b0d-4802-448d-835f-88c7218382d0.png)

Thanks for the assistance everyone! If we only could figure out why `*.aux` needs to be deleted and how to prevent it...

[2021-09-01 13:51] arfon commented on #76
@whedon assign @carstenbauer as editor

[2021-09-01 13:53] arfon commented on #76
@whedon assign @carstenbauer as editor

[2021-09-01 13:53] whedon commented on #76
OK, the editor is @carstenbauer

[2021-09-01 13:54] arfon commented on #76
Yeah, that can confuse Whedon :-)

[2021-09-01 13:54] arfon commented on #76
@whedon generate pdf

[2021-09-01 13:54] whedon commented on #76
PDF failed to compile for issue #76 with the following error:
[code]

[2021-09-01 14:05] arfon commented on #76
@whedon generate pdf

[2021-09-01 14:05] whedon commented on #76
PDF failed to compile for issue #76 with the following error:
[code]

[2021-09-01 14:08] arfon commented on #76
Well, I fixed the first error with https://github.com/openjournals/whedon/commit/c5c16aedb3d6b4377181e859316ed70f1ac0a0b7, but I'm not sure what this new one is about. @matbesancon - the [core code for compiling from TeX](https://github.com/openjournals/whedon/blob/c5c16aedb3d6b4377181e859316ed70f1ac0a0b7/lib/whedon/compilers.rb#L33-L79) hasn't changed for a long time.

I wonder if you could assis

[2021-09-01 14:08] matbesancon commented on #75
yes I'll be able to review it

[2021-09-01 14:14] arfon commented on #76
OK, managed to get an error from the log. Not sure what this means (🤣) but perhaps you all will understand...

[code]

[2021-09-01 14:15] vchuravy commented on #76
Hm... Maybe the best thing for now would be to add a `cat paper.log`? In case of failure?

That looks helpful xD. Can we update the latex installation used?

[2021-09-01 14:16] vchuravy commented on #73
@whedon generate pdf

[2021-09-01 14:16] whedon commented on #73
PDF failed to compile for issue #73 with the following error:
[code]

[2021-09-01 14:43] ranocha commented on #76
@whedon generate pdf

[2021-09-01 14:43] whedon commented on #76
PDF failed to compile for issue #76 with the following error:
[code]

[2021-09-01 14:44] ranocha commented on #76
I tried to manually revert `siunitx.sty` to an older version from 2011 - we still get the error above

[2021-09-01 16:29] ranocha commented on #76
An alternative to updating the LaTeX installation might be to use a bigger set of standard packages including `siunitx.sty` (bundled in standard texlive distributions).

[2021-09-01 16:53] adolgert commented on #74
I'm unsure of protocol here, but thank you for reading!

[2021-09-03 09:15] roflmaostc commented on #75
Anything I can help with to fix the LaTeX errors?
However, similar errors are also in  [the other review](https://github.com/JuliaCon/proceedings-review/issues/76).

[2021-09-06 08:29] sloede commented on #76
@whedon generate pdf

[2021-09-06 08:29] whedon commented on #76
PDF failed to compile for issue #76 with the following error:
[code]

[2021-09-06 09:03] sloede commented on #76
@whedon generate pdf

[2021-09-06 09:03] whedon commented on #76
PDF failed to compile for issue #76 with the following error:
[code]

[2021-09-06 09:07] sloede commented on #76
@whedon generate pdf

[2021-09-06 09:07] whedon commented on #76
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00076/jcon.00076/10.21105.jcon.00076.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00076/jcon.00076/10.21105.jcon.00076.pdf) :page_facing_up: :point_left:

[2021-09-06 09:14] sloede commented on #76
@carstenbauer after playing some TeX-pong with Whedon I finally managed to have it generate the PDF for our submission :tada:

Please let me know if there is anything else you need from us at the moment. A list of potential reviewers was submitted by @ranocha [above](https://github.com/JuliaCon/proceedings-review/issues/76#issuecomment-904402439).

[2021-09-09 10:03] roflmaostc commented on #75
@whedon generate pdf

[2021-09-09 10:03] whedon commented on #75
PDF failed to compile for issue #75 with the following error:
[code]

[2021-09-10 12:14] carstenbauer commented on #76
@whedon add @simonbyrne as reviewer

[2021-09-10 12:14] whedon commented on #76
OK, @simonbyrne is now a reviewer

[2021-09-13 07:25] carstenbauer commented on #76
@whedon add @johnfgibson as reviewer

[2021-09-13 07:25] whedon commented on #76
OK, @johnfgibson is now a reviewer

[2021-09-13 07:27] carstenbauer commented on #76
Hm, seems this didn't work (John isn't listed under Assignees)? Let's try once more.

[2021-09-13 07:27] carstenbauer commented on #76
@whedon add @johnfgibson as reviewer

[2021-09-13 07:27] whedon commented on #76
OK, @johnfgibson is now a reviewer

[2021-09-13 07:31] carstenbauer commented on #76
@whedon list reviewers

[2021-09-13 07:31] whedon commented on #76
Here's the current list of reviewers: http://bit.ly/2V9GSFq

[2021-09-13 07:32] carstenbauer commented on #76
@whedon assign @johnfgibson as reviewer

[2021-09-13 07:32] whedon commented on #76
OK, @johnfgibson is now a reviewer

[2021-09-13 07:32] carstenbauer commented on #76
@whedon add @simonbyrne as reviewer

[2021-09-13 07:32] whedon commented on #76
OK, @simonbyrne is now a reviewer

[2021-09-13 07:33] carstenbauer commented on #76
Alright, John doesn't show up under Assigness but under Reviewers in the topmost post. So things should be fine.

[2021-09-13 07:34] carstenbauer commented on #76
@whedon start review

[2021-09-13 07:34] whedon opened #77 "[REVIEW]: Adaptive numerical simulations with Trixi.jl: A case study of Julia for scientific computing"
**Submitting author:** @ranocha (<a href="http://orcid.org/0000-0002-3456-2277">Hendrik Ranocha</a>)
**Repository:** <a href="https://github.com/trixi-framework/paper-2021-juliacon" target ="_blank">https://github.com/trixi-framework/paper-2021-juliacon</a>
**Version:**
**Editor:** @carstenbauer
**Reviewer:** @johnfgibson, @simonbyrne
**Archive:** <a href="https://doi.org/10.5281/zenodo.5850299" t

[2021-09-13 07:34] whedon commented on #76
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/77.

[2021-09-13 07:34] #76 closed

[2021-09-13 07:34] whedon commented on #77
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @johnfgibson, @simonbyrne it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](htt

[2021-09-13 07:35] whedon commented on #77
Failed to discover a `Statement of need` section in paper

[2021-09-13 07:35] whedon commented on #77
Wordcount for `paper.tex` is 6335

[2021-09-13 07:35] whedon commented on #77
[code]

[2021-09-13 07:35] whedon commented on #77
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00077/jcon.00077/10.21105.jcon.00077.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00077/jcon.00077/10.21105.jcon.00077.pdf) :page_facing_up: :point_left:

[2021-09-13 07:35] whedon commented on #77
[code]

[2021-09-15 07:39] ranocha commented on #77
As mentioned in the pre-review issue #76, the software report is not really helpful since we set up a dedicated repository with reproducibility material for this paper. Our Julia package Trixi.jl is available in [another repository](https://github.com/trixi-framework/Trixi.jl).

[2021-09-15 07:50] matbesancon commented on #75
@roflmaostc it seems it's not included. The easiest solution for now would be to add the sty file in your project paper folder directly

[2021-09-15 08:47] roflmaostc commented on #75
@whedon generate pdf

[2021-09-15 08:48] whedon commented on #75
PDF failed to compile for issue #75 with the following error:
[code]

[2021-09-15 08:55] roflmaostc commented on #75
@whedon generate pdf

[2021-09-15 08:56] whedon commented on #75
PDF failed to compile for issue #75 with the following error:
[code]

[2021-09-15 08:57] roflmaostc commented on #75
I tried to use the same siunitx files as #76 is using but without success...

[2021-09-15 11:21] matbesancon commented on #74
@whedon add @odow as reviewer

[2021-09-15 11:21] whedon commented on #74
OK, @odow is now a reviewer

[2021-09-15 11:41] matbesancon commented on #74
@whedon add @oxinabox as reviewer

[2021-09-15 11:41] whedon commented on #74
OK, @oxinabox is now a reviewer

[2021-09-15 11:41] matbesancon commented on #74
@whedon start review

[2021-09-15 11:41] whedon opened #78 "[REVIEW]: UnitTestDesign.jl: Combinatorial design for unit tests"
**Submitting author:** @adolgert (<a href="http://orcid.org/0000-0002-6477-7981">Andrew Dolgert</a>)
**Repository:** <a href="https://github.com/adolgert/UnitTestDesign.jl" target ="_blank">https://github.com/adolgert/UnitTestDesign.jl</a>
**Version:** v0.3.0
**Reviewer:** @odow, @oxinabox
**Archive:** <a href="https://doi.org/10.5281/zenodo.579923" target="_blank">10.5281/zenodo.579923</a>

## St

[2021-09-15 11:41] whedon commented on #74
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/78.

[2021-09-15 11:41] #74 closed

[2021-09-15 11:41] whedon commented on #78
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @odow, @oxinabox it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog

[2021-09-15 11:42] whedon commented on #78
PDF failed to compile for issue #78 with the following error:
[code]

[2021-09-15 11:44] matbesancon commented on #78
@whedon compile from branch juliacon2021

[2021-09-15 11:44] whedon commented on #78
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-15 11:45] matbesancon commented on #78
@whedon generate pdf from branch juliacon2021

[2021-09-15 11:45] whedon commented on #78
[code]

[2021-09-15 11:45] whedon commented on #78
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00078/jcon.00078/10.21105.jcon.00078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00078/jcon.00078/10.21105.jcon.00078.pdf) :page_facing_up: :point_left:

[2021-09-15 11:46] matbesancon commented on #78
@odow, @oxinabox thanks for accepting to review this paper. This issue is where the main review happens, in particular on the paper content.
More specific issues can be opened on the package repository directly and linked to this one, in particular when linked to the code

[2021-09-15 11:47] matbesancon commented on #78
The checkboxes above are meant to help getting things started but should not be considered exhaustive

[2021-09-16 03:11] whedon opened #79 "[PRE REVIEW]: FourierTools.jl - Working with Fourier Space"
**Submitting author:** @roflmaostc (<a href="http://orcid.org/0000-0001-8763-2948">Felix Wechsler</a>)
**Repository:** <a href="https://github.com/bionanoimaging/FourierTools.jl" target ="_blank">https://github.com/bionanoimaging/FourierTools.jl</a>
**Version:**
**Editor:** @vchuravy
**Reviewer:** Pending
**Managing EiC:** Valentin Churavy

**Author instructions**

Thanks for submitting your paper

[2021-09-16 03:11] whedon commented on #79
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-16 03:11] whedon commented on #79
Failed to discover a `Statement of need` section in paper

[2021-09-16 03:11] whedon commented on #79
Wordcount for `paper.tex` is 4433

[2021-09-16 03:11] whedon commented on #79
[code]

[2021-09-16 03:11] whedon commented on #79
[code]

[2021-09-16 03:11] whedon opened #80 "[PRE REVIEW]: Catwalk.jl: An adaptive dispatch optimizer"
**Submitting author:** @tisztamo (<a href="http://orcid.org/0000-0003-4931-4791">Krisztián Schäffer</a>)
**Repository:** <a href="https://github.com/tisztamo/Catwalk.jl" target ="_blank">https://github.com/tisztamo/Catwalk.jl</a>
**Version:**
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Valentin Churavy

**Author instructions**

Thanks for submitting your paper to JCON @tisztamo. **

[2021-09-16 03:11] whedon commented on #79
PDF failed to compile for issue #79 with the following error:
[code]

[2021-09-16 03:12] whedon commented on #80
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-16 03:12] whedon commented on #80
[code]

[2021-09-16 03:12] whedon opened #81 "[PRE REVIEW]: Testing the Julia SciML ecosystem through Physics-Informed Machine Learning applied to wildfire propagation"
**Submitting author:** @francescocalisto (<a href="http://orcid.org/0000-0003-4026-7239">Francesco Calisto</a>)
**Repository:** <a href="https://github.com/MachineLearningJournalClub/MLJC-UniTo-ProjectX-2020-public.git" target ="_blank">https://github.com/MachineLearningJournalClub/MLJC-UniTo-ProjectX-2020-public.git</a>
**Version:**
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Vale

[2021-09-16 03:12] whedon commented on #80
PDF failed to compile for issue #80 with the following error:
[code]

[2021-09-16 03:12] whedon commented on #81
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-16 03:12] whedon opened #82 "[PRE REVIEW]: MutableArithmetics: An API for mutable operations"
**Submitting author:** @blegat (<a href="http://orcid.org/0000-0002-5921-368X">Benoît Legat</a>)
**Repository:** <a href="https://github.com/jump-dev/MutableArithmetics.jl/" target ="_blank">https://github.com/jump-dev/MutableArithmetics.jl/</a>
**Version:**
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Valentin Churavy

**Author instructions**

Thanks for submitting your paper to JC

[2021-09-16 03:12] whedon commented on #82
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-16 03:12] whedon opened #83 "[PRE REVIEW]: Algorithmic Variants of Nested Sampling"
**Submitting author:** @SaranjeetKaur (<a href="http://orcid.org/0000-0002-7038-1457">Saranjeet Kaur Bhogal</a>)
**Repository:** <a href="https://github.com/TuringLang/NestedSamplers.jl" target ="_blank">https://github.com/TuringLang/NestedSamplers.jl</a>
**Version:**
**Editor:** @carstenbauer
**Reviewer:** Pending
**Managing EiC:** Valentin Churavy

**Author instructions**

Thanks for submitting

[2021-09-16 03:12] whedon commented on #83
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-16 03:13] whedon commented on #81
PDF failed to compile for issue #81 with the following error:
[code]

[2021-09-16 03:13] whedon commented on #81
Failed to discover a `Statement of need` section in paper

[2021-09-16 03:13] whedon commented on #81
Wordcount for `paper.tex` is 4551

[2021-09-16 03:13] whedon commented on #82
Failed to discover a `Statement of need` section in paper

[2021-09-16 03:13] whedon commented on #81
[code]

[2021-09-16 03:13] whedon commented on #82
Wordcount for `paper.tex` is 2993

[2021-09-16 03:13] whedon commented on #82
[code]

[2021-09-16 03:13] whedon commented on #81
[code]

[2021-09-16 03:13] whedon commented on #82
[code]

[2021-09-16 03:13] whedon commented on #82
PDF failed to compile for issue #82 with the following error:
[code]

[2021-09-16 03:13] whedon commented on #83
PDF failed to compile for issue #83 with the following error:
[code]

[2021-09-16 07:24] francescocalisto commented on #81
matbesancon might be an available reviewer, according to the list

[2021-09-16 10:46] tisztamo commented on #80
The paper is in a separate paper branch, as described in the guide: https://juliacon.github.io/proceedings-guide/author/#submission_details

Should I move it to the main branch?

[2021-09-16 21:21] carstenbauer commented on #80
@whedon commands

[2021-09-16 21:21] whedon commented on #80
Here are some things you can ask me to do:

[code]

[2021-09-16 21:22] carstenbauer commented on #80
@whedon generate pdf from branch paper

[2021-09-16 21:22] whedon commented on #80
[code]

[2021-09-16 21:22] whedon commented on #80
PDF failed to compile for issue #80 with the following error:
[code]

[2021-09-17 11:54] tisztamo commented on #80
@whedon generate pdf from branch paper

[2021-09-17 11:54] whedon commented on #80
[code]

[2021-09-17 11:54] whedon commented on #80
PDF failed to compile for issue #80 with the following error:
[code]

[2021-09-17 12:04] tisztamo commented on #80
Thank you, @carstenbauer !

I have fixed some overleaf-related incompatibility and checked locally using a fresh MacTex. It seem to work. Not sure, how I can continue. E.g. Where can I find the logs?

---
My logs:

ko@MacBook-Pro-3 tmp % git clone https://github.com/tisztamo/Catwalk.jl.git
Cloning into 'Catwalk.jl'...
remote: Enumerating objects: 791, done.
remote: Counting objects: 100% (791/791)

[2021-09-21 18:14] blegat commented on #82
@whedon generate pdf

[2021-09-21 18:15] whedon commented on #82
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00082/jcon.00082/10.21105.jcon.00082.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00082/jcon.00082/10.21105.jcon.00082.pdf) :page_facing_up: :point_left:

[2021-09-23 13:50] whedon opened #84 "[PRE REVIEW]: ReactiveMP.jl: A Julia Package for Reactive Message Passing-based Bayesian Inference"
**Submitting author:** @bvdmitri (<a href="http://orcid.org/0000-0001-9655-7986">Dmitry Bagaev</a>)
**Repository:** <a href="https://github.com/biaslab/ReactiveMP.jl" target ="_blank">https://github.com/biaslab/ReactiveMP.jl</a>
**Version:**
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Valentin Churavy

**Author instructions**

Thanks for submitting your paper to JCON @bvdmitri. **C

[2021-09-23 13:50] whedon commented on #84
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-23 13:51] whedon commented on #84
[code]

[2021-09-23 13:51] whedon commented on #84
PDF failed to compile for issue #84 with the following error:
[code]

[2021-09-23 14:02] bvdmitri commented on #84
Paper is located in the different branch: https://github.com/biaslab/ReactiveMP.jl/tree/paper/julia_proceedings_2021

[2021-09-23 14:15] carstenbauer commented on #81
@whedon assign @carstenbauer as editor

[2021-09-23 14:25] matbesancon commented on #84
@whedon assign @matbesancon as editor

[2021-09-23 14:25] whedon commented on #84
OK, the editor is @matbesancon

[2021-09-23 14:27] carstenbauer commented on #83
@whedon assign @carstenbauer as editor

[2021-09-23 14:27] whedon commented on #83
OK, the editor is @carstenbauer

[2021-09-23 14:29] carstenbauer commented on #82
@whedon assign @ranjanan as @editor

[2021-09-23 14:29] whedon commented on #82
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-23 14:29] carstenbauer commented on #80
@whedon assign @ranjanan as @editor

[2021-09-23 14:29] whedon commented on #80
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-23 14:29] carstenbauer commented on #82
@whedon assign @ranjanan as editor

[2021-09-23 14:29] whedon commented on #82
OK, the editor is @ranjanan

[2021-09-23 14:30] carstenbauer commented on #80
@whedon assign @ranjanan as editor

[2021-09-23 14:30] whedon commented on #80
OK, the editor is @ranjanan

[2021-09-23 14:30] carstenbauer commented on #79
@whedon assign @vchuravy as editor

[2021-09-23 14:54] matbesancon commented on #84
@whedon build pdf from branch paper

[2021-09-23 14:54] whedon commented on #84
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-23 14:55] matbesancon commented on #84
@whedon compile pdf from branch paper/julia_proceedings_2021

[2021-09-23 14:55] whedon commented on #84
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-09-23 14:55] matbesancon commented on #84
@whedon generate pdf from branch paper/julia_proceedings_2021

[2021-09-23 14:55] whedon commented on #84
[code]

[2021-09-23 14:55] whedon commented on #84
PDF failed to compile for issue #84 with the following error:
[code]

[2021-09-23 15:17] matbesancon commented on #84
hi @bvdmitri, could you adapt you submission to the template:
https://github.com/JuliaCon/JuliaConSubmission.jl/
there are some important files in the folder that are not in yours, in particular the .latexmkrc file

[2021-09-23 15:51] bvdmitri commented on #84
Dear @matbesancon . Sorry for the inconvenience, I missed that file in the original repository for some reason. I added it now and also adjusted text a bit so it fits in one page with the new header. Should be fine now.

[2021-09-23 15:56] matbesancon commented on #84
@whedon generate pdf from branch paper/julia_proceedings_2021

[2021-09-23 15:56] whedon commented on #84
[code]

[2021-09-23 15:56] whedon commented on #84
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00084/jcon.00084/10.21105.jcon.00084.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00084/jcon.00084/10.21105.jcon.00084.pdf) :page_facing_up: :point_left:

[2021-09-25 10:27] matbesancon commented on #84
perfect it compiles. General remark, the abstract is a bit short and would benefit at least from additional definitions, context, and a section specifically on the package itself

[2021-09-27 07:35] whedon commented on #77
:wave: @simonbyrne, please update us on how your review is going (this is an automated reminder).

[2021-09-27 07:35] whedon commented on #77
:wave: @johnfgibson, please update us on how your review is going (this is an automated reminder).

[2021-09-27 10:57] bvdmitri commented on #84
Dear @matbesancon, I will ask just to be sure. You suggest to change abstract only?

[2021-09-27 12:02] matbesancon commented on #84
these comments are for the whole paper. You submitted it in a short version (extended abstract) which are one page + references, so you still have some place to extend a bit

[2021-09-27 12:22] bvdmitri commented on #84
@matbesancon I thought references have to be on the same page, If I extend my text references go on the page number 2. Is that allowed? If yes, then I would be happy to extend it.

[2021-09-27 12:27] matbesancon commented on #84
yes that's allowed, see https://juliacon.github.io/proceedings-guide/author/

so the references are excluded from the page limit

[2021-09-27 12:28] bvdmitri commented on #84
Oh, I saw that but misread the explanation. My bad, I will change my proposal today or tomorrow and return to you, thanks!

[2021-09-28 09:05] bvdmitri commented on #84
Dear @matbesancon, new version of my proposal is available on the same branch.

[2021-09-28 09:11] matbesancon commented on #84
@whedon generate pdf from branch paper/julia_proceedings_2021

[2021-09-28 09:11] whedon commented on #84
[code]

[2021-09-28 09:11] whedon commented on #84
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00084/jcon.00084/10.21105.jcon.00084.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00084/jcon.00084/10.21105.jcon.00084.pdf) :page_facing_up: :point_left:

[2021-09-28 12:59] matbesancon commented on #84
thank you, we will now find reviewers for this paper

[2021-09-29 11:42] whedon commented on #78
:wave: @odow, please update us on how your review is going (this is an automated reminder).

[2021-09-29 11:42] whedon commented on #78
:wave: @oxinabox, please update us on how your review is going (this is an automated reminder).

[2021-09-30 17:26] whedon opened #85 "[PRE REVIEW]: Computing Reachable Sets of Semi-Discrete Solid Dynamics Equations with ReachabilityAnalysis.jl"
**Submitting author:** @mforets (<a href="http://orcid.org/0000-0002-9831-7801">Marcelo Forets</a>)
**Repository:** <a href="https://github.com/JuliaReach/SetPropagation-FEM-JuliaCon21" target ="_blank">https://github.com/JuliaReach/SetPropagation-FEM-JuliaCon21</a>
**Version:**
**Editor:** @carstenbauer
**Reviewers:** @PetrKryslUCSD, @lmiq
**Managing EiC:** Valentin Churavy

**Author instructions

[2021-09-30 17:26] whedon commented on #85
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-30 17:26] whedon opened #86 "[PRE REVIEW]: LazySets.jl: Scalable Symbolic-Numeric Set Computations"
**Submitting author:** @mforets (<a href="http://orcid.org/0000-0002-9831-7801">Marcelo Forets</a>)
**Repository:** <a href="https://github.com/JuliaReach/LazySets-JuliaCon21" target ="_blank">https://github.com/JuliaReach/LazySets-JuliaCon21</a>
**Version:**
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Valentin Churavy

**Author instructions**

Thanks for submitting your paper to J

[2021-09-30 17:26] whedon commented on #86
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-30 17:26] whedon commented on #85
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "@" (AT) [#<BibTeX::Bibliography data=[8]>, "@", #<BibTeX::Entry >, {:author=>["Colas {Le Guernic} and Antoine Girard"], :title=>["Reachability analysis of linear systems using support functions"], :journal=>["Nonlinear Analysis: Hybrid Systems"], :volume=>["4"], :number=>["2"], :pages=>["250 - 262"], :y

[2021-09-30 17:26] whedon commented on #85
Failed to discover a `Statement of need` section in paper

[2021-09-30 17:26] whedon commented on #85
Wordcount for `paper.tex` is 535

[2021-09-30 17:26] whedon opened #87 "[PRE REVIEW]: CompositionalNetworks.jl: a scaling glass-box neural network to learn combinatorial functions"
**Submitting author:** @azzaare (<a href="http://orcid.org/0000-0002-8800-6356">Jean-François Baffier</a>)
**Repository:** <a href="https://github.com/JuliaConstraints/CompositionalNetworks.jl" target ="_blank">https://github.com/JuliaConstraints/CompositionalNetworks.jl</a>
**Version:**
**Editor:** @matbesancon
**Reviewer:** Pending
**Managing EiC:** Valentin Churavy

**Author instructions**

Tha

[2021-09-30 17:26] whedon commented on #87
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-30 17:26] whedon commented on #85
[code]

[2021-09-30 17:26] whedon commented on #86
Failed to discover a `Statement of need` section in paper

[2021-09-30 17:26] whedon commented on #86
Wordcount for `paper.tex` is 68

[2021-09-30 17:26] whedon commented on #86
[code]

[2021-09-30 17:26] whedon commented on #85
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00085/jcon.00085/10.21105.jcon.00085.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00085/jcon.00085/10.21105.jcon.00085.pdf) :page_facing_up: :point_left:

[2021-09-30 17:26] whedon commented on #86
Failed to discover a valid open source license.

[2021-09-30 17:26] whedon opened #88 "[PRE REVIEW]: Designing Machine Learning Pipeline Toolkit for AutoML Surrogate Modeling Optimization"
**Submitting author:** @ppalmes (<a href="http://orcid.org/0000-0002-3145-6356">Paulito Palmes</a>)
**Repository:** <a href="https://github.com/IBM/AutoMLPipeline.jl" target ="_blank">https://github.com/IBM/AutoMLPipeline.jl</a>
**Version:**
**Editor:** @matbesancon
**Reviewers:** @ablaom
**Managing EiC:** Valentin Churavy

**Author instructions**

Thanks for submitting your paper to JCON @ppalmes

[2021-09-30 17:27] whedon commented on #86
Checking the BibTeX entries failed with the following error:

 Failed to parse BibTeX on value "@" (AT) [#<BibTeX::Bibliography data=[1]>, "@", #<BibTeX::Entry >, {:author=>["Luca Geretti and Julien Alexandre Dit Sandretto and Matthias Althoff and Luis Benet and Alexandre Chapoutot and Xin Chen and Pieter Collins and Marcelo Forets and Daniel Freire and Fabian Immler and Niklas Kochdumper and Davi

[2021-09-30 17:27] whedon commented on #88
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-30 17:27] whedon commented on #86
PDF failed to compile for issue #86 with the following error:
[code]

[2021-09-30 17:27] whedon opened #89 "[PRE REVIEW]: Applied Measure Theory for Probabilistic Modeling"
**Submitting author:** @mschauer (<a href="http://orcid.org/0000-0003-3310-7915">Moritz Schauer</a>)
**Repository:** <a href="https://github.com/cscherrer/MeasureTheory.jl" target ="_blank">https://github.com/cscherrer/MeasureTheory.jl</a>
**Version:**
**Editor:** Pending
**Reviewer:** Pending
**Managing EiC:** Valentin Churavy

**Author instructions**

Thanks for submitting your paper to JCON @ms

[2021-09-30 17:27] whedon commented on #89
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj.org/2020/05/reopening-joss).

For a list of things I can do to help you, j

[2021-09-30 17:27] whedon commented on #87
PDF failed to compile for issue #87 with the following error:
[code]

[2021-09-30 17:27] whedon commented on #89
[code]

[2021-09-30 17:27] whedon commented on #88
PDF failed to compile for issue #88 with the following error:
[code]

[2021-09-30 17:27] whedon commented on #89
PDF failed to compile for issue #89 with the following error:
[code]

[2021-09-30 17:27] whedon commented on #87
[code]

[2021-09-30 17:56] mschauer commented on #89
@whedon generate pdf from branch paper

[2021-09-30 17:56] mschauer commented on #89
@cscherrer

[2021-09-30 18:09] cscherrer commented on #89
@whedon commands

[2021-09-30 18:09] whedon commented on #89
Here are some things you can ask me to do:

[code]

[2021-09-30 18:14] cscherrer commented on #89
@whedon generate pdf from branch paper

[2021-09-30 18:14] whedon commented on #89
[code]

[2021-09-30 18:14] whedon commented on #89
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00089/jcon.00089/10.21105.jcon.00089.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00089/jcon.00089/10.21105.jcon.00089.pdf) :page_facing_up: :point_left:

[2021-09-30 20:03] mforets commented on #85
Here is a list of reviewer suggestions (please note that I haven't contacted any of them directly). The github handle is in parentheses.

- Kristoffer Carlsson (KristofferC)
- Fredrik Ekre (fredrikekre)
- Petr Krysl (PetrKryslUCSD)
- Leandro Martínez (lmiq)
- Helios de Rosario (heliosdrm)
- Axel Larsson (?, see [JuliaCon'21 talk](https://pretalx.com/juliacon2021/talk/WWP7DR/))

[2021-10-04 19:37] mforets commented on #86
@whedon generate pdf

[2021-10-04 19:37] whedon commented on #86
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00086/jcon.00086/10.21105.jcon.00086.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00086/jcon.00086/10.21105.jcon.00086.pdf) :page_facing_up: :point_left:

[2021-10-04 19:49] mforets commented on #86
Here is a list of reviewer suggestions (please note that I haven't contacted any of them directly). The github handle is in parentheses.

- David P. Sanders (dpsanders)
- Luis Benet (lbenet)
- Benoit Legat (blegat)
- Christopher Rackauckas (chrisrackauckas)
- Júlio Hoffimann (juliohm)
- Chelsea Sidrane (chelseas)

[2021-10-04 21:32] ChrisRackauckas commented on #86
Too busy right now 😅

[2021-10-06 19:43] matbesancon commented on #78
bump @odow @oxinabox for the review

[2021-10-06 21:03] ppalmes commented on #88
@whedon commands

[2021-10-06 21:27] ppalmes commented on #88
@whedon generate from branch master

[2021-10-06 21:28] whedon commented on #88
PDF failed to compile for issue #88 with the following error:
[code]

[2021-10-06 23:44] ranjanan commented on #73
@whedon generate pdf from branch master

[2021-10-06 23:44] whedon commented on #73
PDF failed to compile for issue #73 with the following error:
[code]

[2021-10-06 23:48] ranjanan commented on #80
@whedon generate pdf

[2021-10-06 23:49] ranjanan commented on #80
@whedon generate pdf from branch paper

[2021-10-06 23:49] whedon commented on #80
PDF failed to compile for issue #80 with the following error:
[code]

[2021-10-06 23:57] ranjanan commented on #73
@whedon generate pdf

[2021-10-06 23:57] whedon commented on #73
PDF failed to compile for issue #73 with the following error:
[code]

[2021-10-07 00:02] ranjanan commented on #73
@whedon commands

[2021-10-07 00:02] whedon commented on #73
Here are some things you can ask me to do:

[code]

[2021-10-07 00:02] ranjanan commented on #73
@whedon generate pdf

[2021-10-07 00:02] whedon commented on #73
PDF failed to compile for issue #73 with the following error:
[code]

[2021-10-07 01:32] whedon commented on #87
[code]

[2021-10-07 01:33] whedon commented on #87
PDF failed to compile for issue #87 with the following error:
[code]

[2021-10-07 01:43] whedon commented on #87
PDF failed to compile for issue #87 with the following error:
[code]

[2021-10-07 01:47] Azzaare commented on #87
@whedon generate pdf

[2021-10-07 01:47] whedon commented on #87
PDF failed to compile for issue #87 with the following error:
[code]

[2021-10-07 02:07] Azzaare commented on #87
@matbesancon I have tried to solve the building error, but I can't reproduce it on my local machine (in the sense that it build perfectly with `latexmk -bibtex -pdf paper.tex`. And I don't have the access to the log. Any idea of what I should do now?

[2021-10-07 06:59] whedon commented on #80
[code]

[2021-10-07 07:00] tisztamo commented on #80
@ranjanan Thank you, it helped!

[2021-10-07 07:54] whedon commented on #88
[code]

[2021-10-07 07:57] matbesancon commented on #88
seems the error is linked to a missing package now

[2021-10-07 08:10] whedon commented on #88
PDF failed to compile for issue #88 with the following error:
[code]

[2021-10-07 08:18] ppalmes commented on #88
@whedon generate pdf from branch juliacon2021

[2021-10-07 08:19] whedon commented on #88
[code]

[2021-10-07 08:27] whedon commented on #88
PDF failed to compile for issue #88 with the following error:
[code]

[2021-10-07 08:29] whedon commented on #88
PDF failed to compile for issue #88 with the following error:
[code]

[2021-10-07 08:35] ppalmes commented on #88
@whedon generate pdf

[2021-10-07 08:35] whedon commented on #88
PDF failed to compile for issue #88 with the following error:
[code]

[2021-10-07 08:45] whedon commented on #88
PDF failed to compile for issue #88 with the following error:
[code]

[2021-10-07 08:52] whedon commented on #88
PDF failed to compile for issue #88 with the following error:
[code]

[2021-10-07 08:58] whedon commented on #88
PDF failed to compile for issue #88 with the following error:
[code]

[2021-10-07 14:01] whedon opened #90 "[PRE REVIEW]: ProbabilityBoundsAnalysis.jl: theory and algorithms"
**Submitting author:** @AnderGray (<a href="http://orcid.org/0000-0002-1585-0900">Ander Gray</a>)
**Repository:** <a href="https://github.com/AnderGray/ProbabilityBoundsAnalysis.jl" target ="_blank">https://github.com/AnderGray/ProbabilityBoundsAnalysis.jl</a>
**Version:**
**Editor:** @carstenbauer
**Reviewers:** @dpsanders, @baggepinnen
**Managing EiC:** Valentin Churavy

**Author instructions**

[2021-10-07 14:02] whedon commented on #90
PDF failed to compile for issue #90 with the following error:
[code]

[2021-10-07 14:16] whedon commented on #80
[code]

[2021-10-07 14:18] vchuravy commented on #88
@ppalmes you can use https://whedon.theoj.org/ to get access to the logs.

https://whedon.theoj.org/preview?id=1f1442aa9bb8bf86c6350bbb
[code]

[2021-10-07 14:19] whedon commented on #87
OK, the editor is @matbesancon

[2021-10-07 14:27] vchuravy commented on #79
The failure on https://whedon.theoj.org/ is:

[code]

@arfon @matbesancon Could we add a full Latex installation?

[2021-10-07 14:29] ranjanan commented on #80
@tisztamo update https://github.com/tisztamo/Catwalk.jl/blob/paper/paper/paper.yml please.

[2021-10-07 14:31] whedon commented on #90
PDF failed to compile for issue #90 with the following error:
[code]

[2021-10-07 16:24] whedon commented on #90
Here are some things you can ask me to do:

[code]

[2021-10-07 16:27] AnderGray commented on #90
@whedon generate pdf

[2021-10-07 16:45] whedon commented on #90
[code]

[2021-10-07 22:53] whedon commented on #88
PDF failed to compile for issue #88 with the following error:
[code]

[2021-10-08 00:20] ppalmes commented on #88
@whedon generate pdf

[2021-10-08 00:23] ppalmes commented on #88
thanks @ranjanan , that's the fix, a missing .latexmkrc.

[2021-10-08 00:47] Azzaare commented on #87
@whedon generate pdf

[2021-10-08 00:49] Azzaare commented on #87
@whedon generate pdf

[2021-10-08 00:49] whedon commented on #87
PDF failed to compile for issue #87 with the following error:
[code]

[2021-10-08 01:02] Azzaare commented on #87
@matbesancon thanks. It was part of the problem. I also had one incompatible package with the class, but it was not critical, so it is fixed now.

[2021-10-08 06:58] whedon commented on #80
[code]

[2021-10-08 09:36] matbesancon commented on #84
@whedon start review

[2021-10-08 09:36] whedon opened #91 "[REVIEW]: ReactiveMP.jl: A Julia Package for Reactive Message Passing-based Bayesian Inference"
**Submitting author:** @bvdmitri (<a href="http://orcid.org/0000-0001-9655-7986">Dmitry Bagaev</a>)
**Repository:** <a href="https://github.com/biaslab/ReactiveMP.jl" target ="_blank">https://github.com/biaslab/ReactiveMP.jl</a>
**Version:** v1.3.1
**Reviewer:** @ludgerpaehler, @torfjelde
**Archive:** <a href="https://doi.org/10.5281/zenodo.5913617" target="_blank">10.5281/zenodo.5913617</a>

## S

[2021-10-08 09:36] whedon commented on #84
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/91.

[2021-10-08 09:36] whedon commented on #91
PDF failed to compile for issue #91 with the following error:
[code]

[2021-10-08 12:09] matbesancon commented on #88
thanks, we'll look for reviewers

[2021-10-09 03:13] ranjanan commented on #83
@whedon generate pdf from branch juliason2021-proceedings

[2021-10-09 03:13] whedon commented on #83
PDF failed to compile for issue #83 with the following error:
[code]

[2021-10-09 03:13] ranjanan commented on #83
@whedon generate pdf from branch juliacon2021-proceedings

[2021-10-09 03:13] whedon commented on #83
[code]

[2021-10-09 20:00] whedon commented on #90
[code]

[2021-10-09 20:00] whedon commented on #90
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00090/jcon.00090/10.21105.jcon.00090.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00090/jcon.00090/10.21105.jcon.00090.pdf) :page_facing_up: :point_left:

[2021-10-11 01:58] vchuravy commented on #89
@whedon add @ludgerpaehler as reviewer

[2021-10-11 01:58] whedon commented on #89
OK, @ludgerpaehler is now a reviewer

[2021-10-11 16:10] whedon opened #92 "[REVIEW]: Applied Measure Theory for Probabilistic Modeling"
**Submitting author:** @mschauer (<a href="http://orcid.org/0000-0003-3310-7915">Moritz Schauer</a>)
**Repository:** <a href="https://github.com/cscherrer/MeasureTheory.jl" target ="_blank">https://github.com/cscherrer/MeasureTheory.jl</a>
**Version:** v0.16.4
**Reviewer:** @ludgerpaehler, @femtomc
**Archive:** <a href="https://doi.org/10.5281/zenodo.6707122" target="_blank">10.5281/zenodo.6707122

[2021-10-11 16:10] whedon commented on #89
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/92.

[2021-10-15 03:10] ranjanan commented on #82
@whedon assign @tkf as reviewer

[2021-10-15 19:07] whedon commented on #73
PDF failed to compile for issue #73 with the following error:
[code]

[2021-10-15 19:08] dmolina commented on #73
Dear @ranjanan, I have accepted the .latexmk and also I have removed some symbols that seems to give problems in UTF-8. Please, try it again.

[2021-10-15 19:09] ranjanan commented on #73
@whedon generate pdf from branch master

[2021-10-15 19:55] ranjanan commented on #73
I don't have any error messages on my end. I am seeing exactly what you are seeing. Are you able to compile the paper locally, with the instructions on the README: https://github.com/JuliaCon/JuliaConSubmission.jl?

[2021-10-15 19:59] dmolina commented on #73
Thanks you for the quick answer. Yes, however I am going to try some changes (like moving all external files to the same directory instead of test/ directory). I will check also the instructions, I will reply you when I think the error could be fixed (I guess it will be tomorrow of next day) Thanks you for your time.

[2021-10-15 20:01] ranjanan commented on #73
Yes, I would move all external files to the paper directory if any, given [this earlier error](https://github.com/JuliaCon/proceedings-review/issues/73#issuecomment-937338999). And I would compile locally and debug. Thanks again, keep me posted!

[2021-10-16 02:25] ranjanan commented on #82
@whedon start review

[2021-10-16 02:25] whedon opened #93 "[REVIEW]: MutableArithmetics: An API for mutable operations"
**Submitting author:** @blegat (<a href="http://orcid.org/0000-0002-5921-368X">Benoît Legat</a>)
**Repository:** https://github.com/jump-dev/MutableArithmetics.jl/
**Branch with paper.md** (empty if default branch):
**Version:** v1.4.3
**Editor:** @lucaferranti
**Reviewers:** @schillic, @ksil
**Archive:** 10.5281/zenodo.10985724

## Status

[![status](https://proceedings.juliacon.org/papers/776889

[2021-10-16 02:25] whedon commented on #93
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @ksil it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https://blog.joss.theoj

[2021-10-16 02:25] whedon commented on #93
Failed to discover a `Statement of need` section in paper

[2021-10-16 02:25] whedon commented on #93
[code]

[2021-10-16 02:25] whedon commented on #93
Wordcount for `paper.tex` is 2993

[2021-10-16 02:25] whedon commented on #93
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00093/jcon.00093/10.21105.jcon.00093.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00093/jcon.00093/10.21105.jcon.00093.pdf) :page_facing_up: :point_left:

[2021-10-16 02:26] ranjanan commented on #93
@whedon commands

[2021-10-16 02:26] ranjanan commented on #93
@whedon list reviewers

[2021-10-16 02:26] whedon commented on #93
Here's the current list of reviewers: http://bit.ly/2V9GSFq

[2021-10-16 02:27] ranjanan commented on #93
@whedon add @tkf as reviewer

[2021-10-16 02:27] whedon commented on #93
OK, @tkf is now a reviewer

[2021-10-16 02:29] whedon commented on #93
@tkf already has access.

[2021-10-16 08:54] whedon commented on #81
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00081/jcon.00081/10.21105.jcon.00081.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00081/jcon.00081/10.21105.jcon.00081.pdf) :page_facing_up: :point_left:

[2021-10-16 09:55] whedon commented on #81
Here are some things you can ask me to do:

[code]

[2021-10-16 09:56] carstenbauer commented on #81
@whedon add @sloede as reviewer

[2021-10-16 09:56] whedon commented on #81
OK, @sloede is now a reviewer

[2021-10-16 10:00] carstenbauer commented on #81
@francescocalisto While I'm already in the process of looking out for reviewers, can you suggest a few reviewers without conflict of interest from the scientific machine learning community? Could also be someone from a different open source community, e.g. from the Python community.

[2021-10-16 10:21] whedon commented on #83
[code]

[2021-10-16 10:21] whedon commented on #83
PDF failed to compile for issue #83 with the following error:
[code]

[2021-10-16 10:33] carstenbauer commented on #83
@SaranjeetKaur Can you please fix the paper build? I see the same error als whedon (first line) when I try to compile the paper locally:
[code]

[2021-10-16 10:48] SaranjeetKaur commented on #83
Ok, let me check

On Sat, Oct 16, 2021, 16:03 Carsten Bauer ***@***.***> wrote:

[2021-10-16 13:35] ChrisRackauckas commented on #81
Wasn't this published in the AAAI-MLPS 2021 archival proceedings already? https://sites.google.com/view/aaai-mlps/proceedings?authuser=0

[2021-10-16 13:44] francescocalisto commented on #81
I didn't know, sorry! I agree on that. Then I think we can close the issue. Thank you.

[2021-10-16 17:48] whedon commented on #85
OK, @PetrKryslUCSD is now a reviewer

[2021-10-17 21:19] PetrKryslUCSD commented on #85
It seems to me that given this is a contribution to JuliaCon a link to a Julia FEM package should be a priority. Instead of Matlab/Octave...

[2021-10-17 21:25] PetrKryslUCSD opened #94 "FEM sw linkage"
It seems to me that given this is a contribution to JuliaCon a link to a Julia FEM package should be a priority. Instead of Matlab/Octave...

[2021-10-17 21:25] whedon commented on #94
:wave: This repository is only for review issues (`pre-review` and `review`) that have been created by our editorial infrastructure, and this issue appears not to be one of these.

As such, this issue will be closed. If you're opening an issue as part of a review, please open a new issue instead in the software repository associated with the submission that you are reviewing.

Many thanks!

[2021-10-17 21:25] #94 closed

[2021-10-18 07:02] carstenbauer commented on #85
Well, the JuliaCon proceedings pendant of your JOSS link is https://github.com/JuliaCon/proceedings-review/issues. This thread is the Pre-review thread. Once I've found a second reviewer, we can officially move to review stage (this issue will get closed and a new one with `[REVIEW]` will get opened.

[2021-10-21 14:10] vchuravy commented on #81
@whedon withdraw

[2021-10-21 15:19] whedon opened #95 "[REVIEW]: Computing Reachable Sets of Semi-Discrete Solid Dynamics Equations with ReachabilityAnalysis.jl"
**Submitting author:** @mforets (<a href="http://orcid.org/0000-0002-9831-7801">Marcelo Forets</a>)
**Repository:** <a href="https://github.com/JuliaReach/SetPropagation-FEM-JuliaCon21" target ="_blank">https://github.com/JuliaReach/SetPropagation-FEM-JuliaCon21</a>
**Version:**
**Editor:** @carstenbauer
**Reviewer:** @PetrKryslUCSD, @lmiq
**Archive:** <a href="https://doi.org/10.5281/zenodo.66581

[2021-10-21 15:19] whedon commented on #85
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/95.

[2021-10-21 15:19] #85 closed

[2021-10-21 15:20] whedon commented on #95
Failed to discover a `Statement of need` section in paper

[2021-10-21 15:21] carstenbauer commented on #95
@whedon check references

[2021-10-21 16:01] cscherrer commented on #71
Sorry for the delay, looks good to me. Thanks @zekeriyasari for the updates and response :)

[2021-10-22 10:06] whedon opened #96 "[REVIEW]: ProbabilityBoundsAnalysis.jl: theory and algorithms"
**Submitting author:** @AnderGray (<a href="http://orcid.org/0000-0002-1585-0900">Ander Gray</a>)
**Repository:** https://github.com/AnderGray/ProbabilityBoundsAnalysis.jl
**Branch with paper.md** (empty if default branch):
**Version:**
**Editor:** @carstenbauer
**Reviewers:** @dpsanders, @baggepinnen
**Archive:** Pending

## Status

[![status](https://proceedings.juliacon.org/papers/41644cd3e3844

[2021-10-22 10:06] #90 closed, assigned to carstenbauer, dpsanders

[2021-10-27 07:18] whedon opened #97 "[REVIEW]: LazySets.jl: Scalable Symbolic-Numeric Set Computations"
**Submitting author:** @mforets (<a href="http://orcid.org/0000-0002-9831-7801">Marcelo Forets</a>)
**Repository:** <a href="https://github.com/JuliaReach/LazySets-JuliaCon21" target ="_blank">https://github.com/JuliaReach/LazySets-JuliaCon21</a>
**Version:** v1.53.4
**Reviewer:** @gdalle, @blegat
**Archive:** <a href="https://doi.org/10.5281/zenodo.5761068" target="_blank">10.5281/zenodo.5761068<

[2021-10-31 07:39] ranocha commented on #77
Thank you very much for investing your time to help us improving our paper, @simonbyrne. We thought about the location of our paper draft based on the [guide for authors](https://juliacon.github.io/proceedings-guide/author/#submission_details) reproduced below.

![image](https://user-images.githubusercontent.com/12693098/139573155-23cf6396-54da-4589-9091-f2cad3e61949.png)

Since the highlighted no

[2021-11-01 08:16] matbesancon commented on #97
when you do some modifications, you can rerun compilation yourself with `@whedon generate pdf`

[2021-11-01 14:37] mforets commented on #97
@whedon generate pdf

[2021-11-01 14:37] whedon commented on #97
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00097/jcon.00097/10.21105.jcon.00097.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00097/jcon.00097/10.21105.jcon.00097.pdf) :page_facing_up: :point_left:

[2021-11-01 14:38] mforets commented on #97
The statement of need can be found in paragraph 2 of the Introduction (Section 1). We just made a small change describing who the target audience is.

[2021-11-01 14:39] mforets commented on #97
@whedon check references

[2021-11-01 14:40] whedon commented on #97
[code]

[2021-11-01 23:06] blegat commented on #93
Thank you for the review, I have updated the paper using your suggestions.

[2021-11-01 23:06] blegat commented on #93
@whedon generate pdf

[2021-11-01 23:07] whedon commented on #93
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00093/jcon.00093/10.21105.jcon.00093.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00093/jcon.00093/10.21105.jcon.00093.pdf) :page_facing_up: :point_left:

[2021-11-02 19:16] blegat commented on #97
The paper is well written, I would recommend acceptance with minor revision. My comments are the following:

* Page 1 line 13 of right column: "comment" -> "comment**s**"
* "Optimization over a polyhedron corresponds to solving a linear program" -> this assumes that the objective function is linear
* "parameters to represent" should probably be "parameters that represent" or "parameters needed to

[2021-11-03 04:43] ksil commented on #93
"This examples encapsulates" on page 1 should be "This example encapsulates", and "is a the core" should be "is at the core" on page 3. Otherwise, with those changes, everything looks good to me @ranjanan

[2021-11-03 13:09] schillic commented on #97
@blegat Thanks for the thorough reading! We added https://github.com/JuliaReach/LazySets-JuliaCon21/pull/2 to address the review. Feel free to comment there.

[2021-11-03 13:35] blegat commented on #93
Thanks your for noticing this and sorry I missed these in your comments, I just fixed these two typos.

[2021-11-03 13:35] blegat commented on #93
@whedon generate pdf

[2021-11-03 13:36] whedon commented on #93
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00093/jcon.00093/10.21105.jcon.00093.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00093/jcon.00093/10.21105.jcon.00093.pdf) :page_facing_up: :point_left:

[2021-11-03 14:17] schillic commented on #97
@whedon generate pdf

[2021-11-03 14:17] whedon commented on #97
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00097/jcon.00097/10.21105.jcon.00097.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00097/jcon.00097/10.21105.jcon.00097.pdf) :page_facing_up: :point_left:

[2021-11-04 10:30] ppalmes commented on #88
@matbesancon, @ablaom : any update please?

[2021-11-04 15:20] whedon commented on #95
:wave: @lmiq, please update us on how your review is going (this is an automated reminder).

[2021-11-04 15:20] whedon commented on #95
:wave: @PetrKryslUCSD, please update us on how your review is going (this is an automated reminder).

[2021-11-04 16:24] gdalle commented on #97
## General review

This paper introduces a very rich and thoughtfully-crafted package for set representation. The key features of LazySets.jl are clearly stated and illustrated with very visual examples. Its natural syntax, high performance, integration into the Julia ecosystem and extensive documentation are tremendous assets. **I recommend acceptance with minor revision.**

To make the paper eve

[2021-11-04 16:27] gdalle commented on #97
I have put more detailed comments in this issue https://github.com/JuliaReach/LazySets-JuliaCon21/issues/4

[2021-11-04 19:28] ablaom commented on #88
I have now read the manuscript but have not attempted to use the
software.

### Synopsis

A Julia software package called AMLP is described. This software
allows one to combine multiple pre-processing elements (categorical
encoders, dimension reducers, etc) with a supervised learner to
construct a new supervised learner pipeline, with a view to searching for
combinations that maximize a performanc

[2021-11-05 10:07] whedon commented on #96
:wave: @dpsanders, please update us on how your review is going (this is an automated reminder).

[2021-11-05 10:07] whedon commented on #96
:wave: @baggepinnen, please update us on how your review is going (this is an automated reminder).

[2021-11-06 18:14] adolgert commented on #78
This paper might be ready.
- I made modifications to respond to all issues.
- There is a DOI for every reference that has one.
The reviewer comments were all helpful and positive. Thanks to both of you.

[2021-11-08 16:47] AnderGray commented on #96
@whedon generate pdf from branch JuliaConPaper

[2021-11-08 16:47] whedon commented on #96
[code]

[2021-11-08 16:47] whedon commented on #96
PDF failed to compile for issue #96 with the following error:
[code]

[2021-11-08 16:50] AnderGray commented on #96
@dpsanders @baggepinnen, not sure why it's not finding the paper. I changed the title in the header.tex, could this perhaps have led to some issues? Was it ok to change the title?

Otherwise, a pdf of the paper is uploaded to the branch

[2021-11-08 18:41] oxinabox commented on #78
That URL is broken

[2021-11-08 21:26] odow commented on #78
@whedon generate pdf from branch juliacon2021

[2021-11-08 21:26] whedon commented on #78
[code]

[2021-11-08 21:26] whedon commented on #78
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00078/jcon.00078/10.21105.jcon.00078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00078/jcon.00078/10.21105.jcon.00078.pdf) :page_facing_up: :point_left:

[2021-11-08 21:27] odow commented on #78
@whedon generate pdf from branch main

[2021-11-08 21:27] whedon commented on #78
[code]

[2021-11-08 21:27] whedon commented on #78
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00078/jcon.00078/10.21105.jcon.00078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00078/jcon.00078/10.21105.jcon.00078.pdf) :page_facing_up: :point_left:

[2021-11-08 21:34] odow commented on #78
The links are:
https://proceedings.juliacon.org/about#code_of_conduct
https://joss.readthedocs.io/en/latest/reviewer_guidelines.html#joss-conflict-of-interest-policy
but perhaps the COI should be https://proceedings.juliacon.org/about#ethics

[2021-11-09 13:19] mforets commented on #95
Good catch!

Line 6 should be instead `SecondOrderAffineContinuousSystem`. The code to reproduce the pictures is [here](https://github.com/JuliaReach/SetPropagation-FEM-JuliaCon21/blob/main/paper/example/example.jl).

[2021-11-10 07:18] whedon commented on #97
:wave: @blegat, please update us on how your review is going (this is an automated reminder).

[2021-11-10 07:18] whedon commented on #97
:wave: @gdalle, please update us on how your review is going (this is an automated reminder).

[2021-11-10 09:52] gdalle commented on #97
I am waiting on a revised version by @mforets and @schillic to check the remaining boxes

[2021-11-10 11:54] schillic commented on #97
@gdalle: We have started with the revision but are not finished yet. We will let you know.

[2021-11-14 16:14] carstenbauer commented on #77
@simonbyrne @johnfgibson: another kind reminder here. Would be great to get some (initial) feedback soon. Thanks in advance!

[2021-11-14 16:15] carstenbauer commented on #83
@SaranjeetKaur: Is this still on your radar? :)

[2021-11-14 16:15] carstenbauer commented on #96
@whedon generate pdf from branch JuliaConPaper

[2021-11-14 16:15] whedon commented on #96
[code]

[2021-11-14 16:16] whedon commented on #96
PDF failed to compile for issue #96 with the following error:
[code]

[2021-11-14 16:16] carstenbauer commented on #96
@whedon generate pdf

[2021-11-14 16:16] whedon commented on #96
PDF failed to compile for issue #96 with the following error:
[code]

[2021-11-14 16:17] SaranjeetKaur commented on #83
Yes @carstenbauer! Hopefully, I will get back to you by coming weekend.

[2021-11-14 16:25] carstenbauer commented on #96
Perhaps the issue here is that the branch information ("JuliaConPaper") is already part of the repo URL (see OP). @vchuravy, can you drop that part and make the repo here simply point to https://github.com/AnderGray/ProbabilityBoundsAnalysis.jl? (I think I can't do it, right?)

@AnderGray In any case, it is better to not have a `paper.pdf` in the `paper/` folder of the `JuliaConPaper` branch. On t

[2021-11-14 21:38] simonbyrne commented on #77
Apologies, I will get this done ASAP.

[2021-11-15 20:51] mforets commented on #97
@gdalle: we have replied in https://github.com/JuliaReach/LazySets-JuliaCon21/pull/5

[2021-11-16 03:35] torfjelde commented on #91
@matbesancon I can't edit the checklist :confused:

[2021-11-16 08:16] matbesancon commented on #91
I am not sure why this happens, you're the second one to have the issue. In the meantime, the hack @gdalle found was to copy the checklist to their own comment and edit it. Will let you know when we find a fix

[2021-11-16 08:20] matbesancon commented on #91
for the invitation, it should be fine now since you are listed as one of the two reviewers

[2021-11-18 13:51] gdalle commented on #97
@whedon generate pdf

[2021-11-18 13:51] whedon commented on #97
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00097/jcon.00097/10.21105.jcon.00097.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00097/jcon.00097/10.21105.jcon.00097.pdf) :page_facing_up: :point_left:

[2021-11-18 15:19] torfjelde commented on #91
### Conflict of interest
* [ ]  As the reviewer I confirm that I have read the [JuliaCon conflict of interest policy](https://proceedings.juliacon.org/guide/authors#coi) and that there are no conflicts of interest for me to review this work.

### Code of Conduct
* [ ]  I confirm that I read and will adhere to the [JuliaCon code of conduct](https://proceedings.juliacon.org/coc).

### General checks

[2021-11-18 15:39] schillic commented on #97
@whedon generate pdf

[2021-11-18 15:40] whedon commented on #97
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00097/jcon.00097/10.21105.jcon.00097.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00097/jcon.00097/10.21105.jcon.00097.pdf) :page_facing_up: :point_left:

[2021-11-18 15:41] schillic commented on #97
@gdalle: We merged the PR so you can see the new version here.

[2021-11-18 16:59] gdalle commented on #97
Lets try this again then

[2021-11-18 16:59] gdalle commented on #97
@whedon generate pdf

[2021-11-18 17:00] whedon commented on #97
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00097/jcon.00097/10.21105.jcon.00097.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00097/jcon.00097/10.21105.jcon.00097.pdf) :page_facing_up: :point_left:

[2021-11-18 19:25] torfjelde commented on #91
@whedon generate pdf

[2021-11-18 19:26] whedon commented on #91
PDF failed to compile for issue #91 with the following error:
[code]

[2021-11-18 19:28] bvdmitri commented on #91
@whedon generate pdf from branch paper/julia_proceedings_2021

[2021-11-18 19:28] whedon commented on #91
[code]

[2021-11-18 19:28] whedon commented on #91
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00091/jcon.00091/10.21105.jcon.00091.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00091/jcon.00091/10.21105.jcon.00091.pdf) :page_facing_up: :point_left:

[2021-11-18 19:29] torfjelde commented on #91
Ah thanks @bvdmitri ! But yeah, it's the same as the one I've been looking at, so np:)

[2021-11-18 19:30] bvdmitri commented on #91
@torfjelde Ahh, I see, I missed your 'EDIT' comment. Cool!

[2021-11-18 19:32] torfjelde commented on #91
Btw, I opened an issue in the repo regarding the benchmark comparison to Turing.jl. It doesn't make the claims in the paper incorrect (the perf-diff is still an the order of magnitudes on conjugate models), so no worries wrt. the paper submission :+1:

[2021-11-18 19:42] bvdmitri commented on #91
Yes! I saw it and that is very useful! My laptop is in the office - I will definitely rerun these benchmarks tomorrow! I PM'ed you in Julia Slack regarding other models I use for benchmarking (they are not present in the main repository, but in my private one).

[2021-11-19 00:21] torfjelde commented on #91
I've posted my full review above: https://github.com/JuliaCon/proceedings-review/issues/91#issuecomment-972963611.

[2021-11-19 09:56] bvdmitri commented on #91
Dear @torfjelde , first of all thank you for reviewing our work! We appreciate your effort and time you spent on it.
I will just leave here a couple of remarks about your comments in https://github.com/JuliaCon/proceedings-review/issues/91#issuecomment-972963611 .

I do think we can improve both paper content and documentation a bit based on your comments.

This is an indeed quite a statement with

[2021-11-19 13:44] torfjelde commented on #91
Perfect!

Ah I missed the part in the README! And indeed, the statements in the README are exactly what I had in mind! And regarding the paper: as I mentioned above, just a brief sentence or even half a sentence about the restrictions ReactiveMP.jl would make the presentation even better. Something along the lines of "Even though ReactiveMP.jl does not currently have support for _all_ models suppo

[2021-11-23 09:22] bvdmitri commented on #91
@whedon generate pdf from branch paper/julia_proceedings_2021

[2021-11-23 09:22] whedon commented on #91
[code]

[2021-11-23 09:22] whedon commented on #91
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00091/jcon.00091/10.21105.jcon.00091.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00091/jcon.00091/10.21105.jcon.00091.pdf) :page_facing_up: :point_left:

[2021-11-23 09:25] bvdmitri commented on #91
@torfjelde I've update my paper based on your comments, you can quickly see changes here: [commit1](https://github.com/biaslab/ReactiveMP.jl/commit/77c786b982276c112b2ddedc31115948ec5539dd), [commit2](https://github.com/biaslab/ReactiveMP.jl/commit/35b298e25a30f09f0cad551ff99645ee7c740140).

[2021-11-23 13:03] torfjelde commented on #91
@bvdmitri Excellent! Really like the changes you made:)

[2021-11-23 14:07] bvdmitri commented on #91
@matbesancon

Do we have any deadlines for JuliaCon2021 submission process? I would like to submit a full article about `ReactiveMP` (which goes very deep into details about reactive message passing and is very different from this submission) in the JMLR somewhere before January. They do have the following statement in their submission guide:

...
We will also consider concurrent submissions of pa

[2021-11-26 14:30] lmiq commented on #95
Dear authors, my impression about the resume is the following: it is not clear to me how strict are the limitations for the length of the paper, but it seems that you have still space for an additional example. The minimal example provided is too minimal in my opinion. The system of the damped oscillator can be trivially modelled without any package and solved with some integration algorithm from

[2021-11-26 15:34] mforets commented on #95
Dear @lmiq,

Thanks a lot for your feedback!

I like the idea of having another example, although I wouldn't change the current one (see next comment).

@carstenbauer  do you have any comment about how strict is the 1 page limit, given this reviewers' suggestion?

We chose a minimal example on purpose, so that Julia users can see and play with a model that can be defined quite easily in a few LOC.

[2021-11-26 17:15] lmiq commented on #95
Nice, the scope of the package is clearer to me now. Maybe if you can be more explicit (or perhaps didactic is the word), like you did here, in the resume, that would attract the attention of other people besides the ones that already have a clear picture of the problem. The accompanying articles are very interesting, I am not completely sure how self-contained the resume presented here is expecte

[2021-12-02 15:06] ranjanan commented on #80
@aviatesk reminder to submit your review

[2021-12-02 15:07] ranjanan commented on #80
Ah I need to add another review here. My bad.

[2021-12-02 15:11] ranjanan commented on #73
@dmolina would you mind reusing the template again? Just to reflect recent changes. Just to see if we get the same error.

[2021-12-02 15:13] vchuravy commented on #60
@oaefbsc bump we are waiting for you, otherwise this review won't make progress.

[2021-12-02 15:14] matbesancon commented on #97
@mforets let us know when everything is addressed from the reviews on your side

[2021-12-02 15:18] vchuravy commented on #79
@whedon generate pdf

[2021-12-02 15:18] whedon commented on #79
PDF failed to compile for issue #79 with the following error:
[code]

[2021-12-02 15:19] roflmaostc commented on #79
Did you change the `pdflatex` packages of whedon?

[2021-12-02 15:23] matbesancon commented on #71
thanks both for the reviews!
@zekeriyasari can you confirm this is good to go?

[2021-12-02 15:26] vchuravy commented on #79
Ah right, I thought we didn't but we haven't

Depend on https://github.com/openjournals/heroku-buildpack-tex/pull/2

[2021-12-02 15:31] matbesancon commented on #78
Thanks @odow and @oxinabox !
@adolgert can you confirm that everything is good for publication on your side?

[2021-12-02 15:33] aviatesk commented on #80
Ops, I will really review this tomorrow. Sorry for forgetting this at all.

[2021-12-02 15:48] ranjanan commented on #80
No worries @aviatesk

[2021-12-02 15:49] ranjanan commented on #80
@whedon add @roger-luo as reviewer

[2021-12-02 15:49] whedon commented on #80
OK, @roger-luo is now a reviewer

[2021-12-02 15:49] ranjanan commented on #80
@whedon start review

[2021-12-02 15:49] whedon opened #98 "[REVIEW]: Catwalk.jl: An adaptive dispatch optimizer"
**Submitting author:** @tisztamo (<a href="http://orcid.org/0000-0003-4931-4791">Krisztián Schäffer</a>)
**Repository:** <a href="https://github.com/tisztamo/Catwalk.jl" target ="_blank">https://github.com/tisztamo/Catwalk.jl</a>
**Version:** paper_juliacon_21
**Reviewer:** @aviatesk, @roger-luo
**Archive:** <a href="https://doi.org/10.5281/zenodo.6300994" target="_blank">10.5281/zenodo.6300994</a

[2021-12-02 15:49] whedon commented on #80
OK, I've started the review over in https://github.com/JuliaCon/proceedings-review/issues/98.

[2021-12-02 15:49] whedon commented on #98
Hello human, I'm @whedon, a robot that can help you with some common editorial tasks. @aviatesk, @roger-luo it looks like you're currently assigned to review this paper :tada:.

**:warning: JOSS reduced service mode :warning:**

Due to the challenges of the COVID-19 pandemic, JOSS is currently operating in a "reduced service mode". You can read more about what that means in [our blog post](https:/

[2021-12-02 15:49] whedon commented on #98
[code]

[2021-12-02 15:51] ranjanan commented on #98
@whedon generate pdf from branch paper

[2021-12-02 15:51] whedon commented on #98
[code]

[2021-12-02 15:51] whedon commented on #98
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00098/jcon.00098/10.21105.jcon.00098.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00098/jcon.00098/10.21105.jcon.00098.pdf) :page_facing_up: :point_left:

[2021-12-02 15:52] ranjanan commented on #98
@roger-luo and @aviatesk a checklist has been added for each of you. Feel free to leave your reviewer comments here.

[2021-12-02 15:52] roflmaostc commented on #75
Thanks a lot for pushing this forward!

[2021-12-02 16:49] adolgert commented on #78
Yes, the proof looks good to me. Thanks @matbesancon, @odow and @oxinabox. I appreciate your time.

[2021-12-02 19:03] Roger-luo commented on #98
This package looks nice in general to me (I actually tried it when it was first announced in discourse), the interface is simple to use and the performance gain is fantastic. The only thing that is missing is the community guidelines required above, I'd suggest just putting a https://github.com/SciML/ColPrac badge in the README

[2021-12-03 07:14] tisztamo commented on #98
Thank you very much @Roger-luo for the review!

fix of the missing guideline: https://github.com/tisztamo/Catwalk.jl/commit/300518aaa0fed31d7a5f25a2fb5de220eec8a11c

[2021-12-03 12:30] dmolina commented on #73
Dear @ranjanan, I have just update the template, in particular there was several differences in the bibliography template. I have update my version (and check it is running locally).
Please, check it again, and thank you for your work.

[2021-12-03 17:41] ranjanan commented on #73
@whedon generate pdf from branch master

[2021-12-03 17:41] whedon commented on #73
[code]

[2021-12-03 17:41] whedon commented on #73
PDF failed to compile for issue #73 with the following error:
[code]

[2021-12-03 17:41] ranjanan commented on #73
@whedon generate pdf

[2021-12-03 17:41] whedon commented on #73
PDF failed to compile for issue #73 with the following error:
[code]

[2021-12-03 17:57] ranjanan commented on #73
@dmolina can you fix these two lines https://github.com/dmolina/DaemonMode.jl/blob/master/paper/paper.tex#L516 ? Put them in the paper folder and refer to them locally

[2021-12-03 18:30] zekeriyasari commented on #71
Thank you @cscherrer  @YingboMa for all your contributions.
And, @matbesancon that is good to go. :+1: Thank you.

[2021-12-04 12:51] aviatesk commented on #98
I read the article, and here are few feedbacks on details:
- For the sentence "Types injected from dependent packages cannot benefit from the speedup" in `1. Introduction`: Union-splitting is applied for general Julia programs, so it optimizes arbitrary code. So I'd say the reference of `[1]` isn't much appropriate there
  - also, I couldn't find a reachable reference of `[2] Singledispatcharrays.

[2021-12-04 12:59] aviatesk commented on #98
If you like a more complicated story, we can also mention a part of Julia compiler where it does some sort of statical profiling JIT. It actually sorts method table by the runtime counts of dispatch, so Julia runtime actually does something very similar to Catwalk's idea (well, even in that case `isa`-based code generated by Catwalk is far more efficient than the whole method dispatch). So we can

[2021-12-05 09:15] matbesancon commented on #71
@whedon accept

[2021-12-05 09:15] whedon commented on #71
To recommend a paper to be accepted use `@whedon recommend-accept`

[2021-12-05 09:15] matbesancon commented on #71
@whedon recommend-accept

[2021-12-05 09:15] whedon commented on #71
No archive DOI set. Exiting...

[2021-12-05 09:16] matbesancon commented on #71
@whedon commands

[2021-12-05 09:16] whedon commented on #71
Here are some things you can ask me to do:

[code]

[2021-12-05 09:16] matbesancon commented on #71
@whedon check references

[2021-12-05 09:18] matbesancon commented on #71
@whedon check references

[2021-12-05 09:20] matbesancon commented on #71
@whedon accept deposit=true

[2021-12-05 09:20] whedon commented on #71
No archive DOI set. Exiting...

[2021-12-05 09:20] matbesancon commented on #71
@whedon recommend-accept

[2021-12-05 09:20] whedon commented on #71
No archive DOI set. Exiting...

[2021-12-05 09:22] matbesancon commented on #71
@whedon generate pdf from branch juliacon

[2021-12-05 09:22] whedon commented on #71
[code]

[2021-12-05 09:23] whedon commented on #71
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00071/jcon.00071/10.21105.jcon.00071.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00071/jcon.00071/10.21105.jcon.00071.pdf) :page_facing_up: :point_left:

[2021-12-05 09:24] matbesancon commented on #72
bump @michel2323 @frapac

[2021-12-05 09:27] matbesancon commented on #71
@whedon recommend-accept from branch juliacon

[2021-12-05 09:27] whedon commented on #71
No archive DOI set. Exiting...

[2021-12-05 09:30] matbesancon commented on #71
@zekeriyasari can you post the version of the code corresponding to the submission on Zenodo?
Once it's done, can you post the corresponding DOI here?
see https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance

[2021-12-05 09:33] matbesancon commented on #78
@adolgert can you release a new version (I see there are commits since the last once) and archive it on Zenodo? Once it's done, please post here both the new version and the DOI from Zenodo
see https://joss.readthedocs.io/en/latest/editing.html#after-reviewers-recommend-acceptance).

[2021-12-05 09:45] tisztamo commented on #98
Thank you very much for your valuable comments, @aviatesk !

Right, this is not true for union splitting, I have to correct it (true for ManualDispatch.jl).

Still the inability to extend unions is prohibitive in some cases. Your later wording "can only optimize it when all possible types are known AOT" better describes the difference, but the precise meaning of AOT is not exactly clear to me. If

[2021-12-05 10:12] gdalle commented on #97
My second review pass is available here: https://github.com/JuliaReach/LazySets-JuliaCon21/pull/5#issuecomment-986201407

The changes made by the authors significantly improve the clarity of the paper. I still have a handful of very minor formatting issues (see issue link) but I can now recommend **acceptance**

[2021-12-05 11:43] dmolina commented on #73
Sorry for the error. Yes, I have just fixed these lines. Please, try to compile it again.

[2021-12-05 16:12] zekeriyasari commented on #71
@matbesancon Here is the doi:
https://zenodo.org/badge/latestdoi/239842368

[2021-12-05 16:41] ranjanan commented on #73
@whedon generate pdf

[2021-12-05 16:42] whedon commented on #73
PDF failed to compile for issue #73 with the following error:
[code]

[2021-12-05 18:19] aviatesk commented on #98
Yep, I think what you outlined above sounds good as a whole. I actually didn't think about the page limitation at all, so please summarize as you like -- my feedbacks are just suggestions :)

By "AOT", I simply meant when Julia compiler compiles a hot function in question.
There are few cases when it fails to union-split (i.e. optimize abstract callsite):
- when the type in question is an "abstrac

[2021-12-05 20:00] adolgert commented on #78
Got it. The DOI is 10.5281/zenodo.579923. The new version is v0.3.0. (I didn't go for 1.0 because there is an upcoming paper, and I'll make upgrades to the algorithm.)
* Release: https://github.com/adolgert/UnitTestDesign.jl/releases
* Zenodo: https://zenodo.org/record/5759923#.Ya0ZmXuIYRU
I should have enabled zenodo on the repo and then done the release. I went the other way around, which was le

[2021-12-05 20:03] matbesancon commented on #78
@whedon set version v0.3.0

[2021-12-05 20:03] whedon commented on #78
I'm sorry human, I don't understand that. You can see what commands I support by typing:

[code]

[2021-12-05 20:03] matbesancon commented on #78
@whedon commands

[2021-12-05 20:03] whedon commented on #78
Here are some things you can ask me to do:

[code]

[2021-12-05 20:03] matbesancon commented on #78
@whedon set v0.3.0 as version

[2021-12-05 20:03] whedon commented on #78
OK. v0.3.0 is the version.

[2021-12-05 20:04] matbesancon commented on #78
@whedon set 10.5281/zenodo.579923 as archive

[2021-12-05 20:04] whedon commented on #78
OK. <a href="https://doi.org/10.5281/zenodo.579923" target="_blank">10.5281/zenodo.579923</a> is the archive.

[2021-12-05 20:04] matbesancon commented on #78
@whedon recommend-accept

[2021-12-05 20:04] whedon commented on #78
[code]

[2021-12-05 20:04] whedon commented on #78
[code]

[2021-12-05 20:04] whedon commented on #78
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/44

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/44, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]

[2021-12-05 20:05] matbesancon commented on #78
@adolgert can you check the DOIs indicated as missing in your references?

[2021-12-05 20:11] matbesancon commented on #71
@whedon set 10.5281/zenodo.5759681 as archive

[2021-12-05 20:11] whedon commented on #71
OK. <a href="https://doi.org/10.5281/zenodo.5759681" target="_blank">10.5281/zenodo.5759681</a> is the archive.

[2021-12-05 20:11] matbesancon commented on #71
@whedon set v0.3.5 as version

[2021-12-05 20:11] whedon commented on #71
OK. v0.3.5 is the version.

[2021-12-05 20:12] matbesancon commented on #71
@whedon check references

[2021-12-05 20:16] matbesancon commented on #71
@whedon check references

[2021-12-05 20:25] matbesancon commented on #71
@whedon recommend-accept

[2021-12-05 20:25] whedon commented on #71
[code]

[2021-12-05 20:26] whedon commented on #71
PDF failed to compile for issue #71 with the following error:
[code]

[2021-12-05 20:26] matbesancon commented on #71
@whedon check references from branch from branch juliacon

[2021-12-05 20:26] whedon commented on #71
[code]

[2021-12-05 20:27] matbesancon commented on #71
@whedon check references from branch juliacon

[2021-12-05 20:27] whedon commented on #71
[code]

[2021-12-05 20:27] whedon commented on #71
[code]

[2021-12-05 20:28] matbesancon commented on #71
@zekeriyasari can you check the DOIs above?

[2021-12-05 20:54] zekeriyasari commented on #71
@matbesancon The DOIs above are corrected now.

[2021-12-05 20:58] matbesancon commented on #71
@whedon check references from branch juliacon

[2021-12-05 20:59] whedon commented on #71
[code]

[2021-12-05 20:59] whedon commented on #71
[code]

[2021-12-05 21:03] adolgert commented on #78
Darn it. Those weren't on the papers, but they are on the owners' pages. Sorry.

@whedon generate pdf

[2021-12-05 21:03] adolgert commented on #78
@whedon generate pdf

[2021-12-05 21:04] whedon commented on #78
:point_right::page_facing_up: [Download article proof](https://raw.githubusercontent.com/JuliaCon/proceedings-papers/jcon.00078/jcon.00078/10.21105.jcon.00078.pdf) :page_facing_up: [View article proof on GitHub](https://github.com/JuliaCon/proceedings-papers/blob/jcon.00078/jcon.00078/10.21105.jcon.00078.pdf) :page_facing_up: :point_left:

[2021-12-05 21:09] matbesancon commented on #71
@whedon recommend-accept from branch juliacon

[2021-12-05 21:09] whedon commented on #71
[code]

[2021-12-05 21:09] whedon commented on #71
[code]

[2021-12-05 21:09] whedon commented on #71
:wave: @JuliaCon/jcon-eics, this paper is ready to be accepted and published.

 Check final proof :point_right: https://github.com/JuliaCon/proceedings-papers/pull/45

If the paper PDF and Crossref deposit XML look good in https://github.com/JuliaCon/proceedings-papers/pull/45, then you can now move forward with accepting the submission by compiling again with the flag `deposit=true` e.g.
[code]